
.HF01v1-search-links {
	font-size: $ual-persistant-link-font-size;
	ul {
		float: right;
		li {
			list-style-type: none;
			display: inline-block;
			letter-spacing: $ual-persistant-link-line-spacing;
			background: $black;
			padding: 6px 10px 6px 10px;
		}
		li:last-child {
			margin-left: -2px;
		}
	}
	a {
		color: $white;
			padding: 6px 10px 6px 10px;
	}
	.course {
		background-image: url('http://artslondon.github.com/beta.arts/assets/img/icons/course-icon.jpg');
		background-repeat: no-repeat;
		background-position: right;
		padding-right: 30px;
		// margin-right: 10px;
	}
	.search {
		background-image: url('http://artslondon.github.com/beta.arts/assets/img/icons/search-icon.jpg');
		background-repeat: no-repeat;
		background-position: right;
		padding-right: 30px;
		// margin-right: 10px;
	}
}