
//
// Side Nav Mixins
//


// We use this to style the side-nav
@mixin side-nav($divider-color:$side-nav-divider-color, $font-size:$side-nav-font-size, $link-color:$side-nav-link-color) {
  display: block;
  margin: 0;
  padding: $side-nav-padding;
  list-style-type: $side-nav-list-type;
  list-style-position: $side-nav-list-position;

  li {
    margin: $side-nav-list-margin;
    font-size: $font-size;

    a {
      display: block;
      color: $link-color;
    }

    &.active a {
      color: $side-nav-link-color-active;
      font-weight: $side-nav-font-weight;
    }

    &.divider {
      border-top: $side-nav-divider-size $side-nav-divider-style;
      height: 0;
      padding: 0;
      list-style: none;
      border-top-color: $divider-color;
    }
  }
}


@if $include-html-classes {

  /* Side Nav */
  .side-nav { @include side-nav; }

}