//
// UAL Global Variables
//
$ual-base-font-size: 					emCalc(14px) !default;
$ual-persistant-link-font-size: 		emCalc(12px) !default;
$ual-persistant-link-line-spacing: 		emCalc(1.4px) !default;

//
// Typography
//
$text-transform-uppercase: 				uppercase !default;

//
// Colors
//
$black: 								#000;
$white: 								#fff;

//
// Top Bar Variables
//

// Background color for the top bar
$topbar-bg: 							#111 !default;

// Height and margin
$topbar-height: 						45px !default;
$topbar-margin-bottom: 					emCalc(30px) !default;

// Control Input height for top bar
$topbar-input-height: 					2.45em !default;

// Controlling the styles for the title in the top bar
$topbar-title-weight: 					bold !default;
$topbar-title-font-size: 				emCalc(17px) !default;

// Set the link colors and styles for top-level nav
$topbar-link-color: 					#fff !default;
$topbar-link-weight: 					bold !default;
$topbar-link-font-size: 				emCalc(13px) !default;

// Style the top bar dropdown elements
$topbar-dropdown-bg: 					#333 !default;
$topbar-dropdown-link-color: 			#fff !default;
$topbar-dropdown-toggle-size: 			5px !default;
$topbar-dropdown-toggle-color: 			#fff !default;
$topbar-dropdown-toggle-alpha: 			0.5 !default;
$dropdown-label-color: 					#555 !default;

// Top menu icon styles
$topbar-menu-link-transform: 			uppercase !default;
$topbar-menu-link-font-size: 			emCalc(13px) !default;
$topbar-menu-link-weight: 				bold !default;
$topbar-menu-link-color: 				#fff !default;
$topbar-menu-icon-color: 				#fff !default;
$topbar-menu-link-color-toggled: 		#888 !default;
$topbar-menu-icon-color-toggled: 		#888 !default;

// Transitions and breakpoint styles
$topbar-transition-speed: 				300ms !default;
$topbar-breakpoint: 					emCalc(940px) !default; // Change to 9999px for always mobile layout
$topbar-media-query: 					"only screen and (min-width:"#{$topbar-breakpoint}")" !default;

//
// Side Nav Variables
//

// We use this to control padding.
$side-nav-padding:           			emCalc(14px) 0 !default;

// We use these to control list styles.
$side-nav-list-type:         			none !default;
$side-nav-list-position:     			inside !default;
$side-nav-list-margin:       			0 0 emCalc(7px) 0 !default;

// We use these to control link styles.
$side-nav-link-color: 					$primary-color !default;
$side-nav-link-color-active: 			lighten(#000, 30%) !default;
$side-nav-font-size:         			emCalc(14px) !default;
$side-nav-font-weight:       			bold !default;

// We use these to control border styles
$side-nav-divider-size:      			1px !default;
$side-nav-divider-style:     			solid !default;
$side-nav-divider-color:     			darken(#fff, 10%) !default;

//
// Reveal Variables
//

// We use these to control the style of the reveal overlay.
$reveal-overlay-bg:      				rgba(#000, .45) !default;
$reveal-modal-overlay-bg: 				rgba(#fff, .9) !default;
$reveal-overlay-bg-old:  				#000 !default;

// We use these to control the style of the modal itself.
$reveal-modal-bg:        				#fff !default;
$reveal-position-top:    				0px !default;
$reveal-default-width:   				100% !default;
$reveal-modal-padding:   				100px 30px !default;
$reveal-box-shadow:      				none !default;

// We use these to style the reveal close button
$reveal-close-font-size: 				emCalc(22px) !default;
$reveal-close-top:       				emCalc(8px) !default;
$reveal-close-side:      				emCalc(11px) !default;
$reveal-close-color:     				#aaa !default;
$reveal-close-weight:    				bold !default;

// We use these to control the modal border
$reveal-border-style:    				solid !default;
$reveal-border-width:    				0px !default;
$reveal-border-color:    				#fff !default;

//
// Footer Bar Variables
//

// Background color for the footer 
$footer-bg: 							#000 !default;

