!!! 5
//- paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/
//-if lt IE 7
		<html class="no-js lt-ie9 lt-ie8 lt-ie7">
//-if IE 7
		<html class="no-js lt-ie9 lt-ie8">
//-if IE 8
		<html class="no-js lt-ie9">
//- [if gt IE 8] <!

html(class="no-js", lang="en")
		//- <![endif]
		include ../_includes/_layouts/_head
		- var bodyClass = '';
		- var Title = '';
		- var Banner = '';
		block vars
		body(class='#{bodyClass}')
				script.
						Modernizr.Detectizr.detect({detectScreen:false});
				include ../_includes/_layouts/_header

				if  Banner
						include ../_includes/_layouts/_banner

				if  Sidebar
						include ../_includes/_layouts/_sidebar
				else
						block content

				script.
					function injectScriptTag(script_path) {
						var element = document.createElement("script");
						element.src = script_path;
						document.body.appendChild(element);
					}

					function downloadJSAtOnload() {
						injectScriptTag("http://use.resrc.it/");
						injectScriptTag("{{site.url}}/assets/js/script.js");
					}


					if (window.addEventListener)
						window.addEventListener("load", downloadJSAtOnload, false);
					else if (window.attachEvent)
						window.attachEvent("onload", downloadJSAtOnload);
					else window.onload = downloadJSAtOnload;


				include ../_includes/_layouts/_footer





