/* Flexible Slide-to-top Accordion Style*/

.accordion
{
	width:100%;
	min-height:300px;
	margin:20px auto;

	.accordion__item {
		padding: 10px 12px 8px 12px;
		background: $bg_gray;
		cursor:pointer;
		margin-bottom: 3px;

		.accordion__icon {
		float: right;
		background: url('http://vivekarora.com/images/plus.png') center no-repeat;
		padding: 10px;
		margin-top:4px;
		}

		&.open .accordion__icon {
			background: url('http://vivekarora.com/images/minus.png') center no-repeat;
		}

	}
	.accordion__content {
			padding: 18px;
			display:none;

		&:last-child {
			border-bottom: solid 3px $bg-gray;
		}
	}

	h2.accordion__heading {
			padding:0;
			font-size: 24px ;
			line-height: 30px;
	}

}


// Research Profiles Accordion Styles


/*
	 temporarily resize the width of the accordion on this page to content width for desktop
	 we could modify the component globally and add the l-content class to the outer container
*/

.accordion.research-profile{
	 clear: left;

	 @extend %m-all;

	 @include gs-media(t, min-max) {
			@extend %t-all;
	 }

	 @include gs-media(d) {
			@extend %d5-d12--within-d5-d16;
	 }

	 .st-content p,
	 .st-content h3,
	 .st-content h4,
	 .st-content blockquote {
			width: 100%;
	 }

	 .accordion-list-item {
		overflow: hidden;
		background-color: $white;
		border-bottom: 1px dotted black;
		margin-bottom: 1px;
		padding: 0;
		}
		.accordion-list li:first-child {
		border-top: 1px dotted black;
		}

}




