// boxout styles
.boxout {
	@include component-spacing-bottom;
	padding: 24px;

	h2, h3, h4 {
		padding-top: 0;
		padding-left: 0;
	}
	ul, ol {
		padding: 16px;
	}
	li {
		list-style: square;
	}

	@include gs-media(d) {
		@include gs-span(d, 5, 12, (5, 16));
	}

	&.ual-black-bg a, &.dark-gray-bg a  {
		color: $white;
		border-bottom: 1px dotted $light-gray;

		&:hover {
			color: $light-gray;
			border-bottom: 1px dotted $white;
		}
	}

}

.span4-boxout-aside {
		@extend .boxout;
		// @include gs-media(t,min-max) {
		// 		@include gs-span(t,2,7);
		// }

		@include gs-media(d) {
				@include gs-span(d, 13, 16, (5, 16));
		}

	// LCC custom styling for boxout-aside
		.lcc &{

		}

}
