// Normally used as a button class on anchors
.button-link {
	@include font-size(14);
	background-color: $black;
	color: $white;
	padding: rhythm(1, 14px) rhythm(2, 14px);
	border-bottom: 0;
	display:inline-block;
	-webkit-transition-duration: 0.2s;
	-moz-transition-duration: 0.2s;
	transition-duration: 0.2s;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;

	&:hover {
		background-color: $aaa-gray;
		color: $white;
		text-decoration: none;
		cursor: pointer;
		padding: rhythm(1, 14px) rhythm(2, 14px);
		display:inline-block;
		border-bottom: none;

		.csm & {
			background-color: $csm-primary;
			color: $black;
		}
		.lcc & {
			background-color: $lcc-secondary-pink;
			color: $white;
		}
	}

	&.icon {
		padding-top: emCalc(6px);
		padding-bottom: emCalc(6px);
		@include font-size(24);
	}
}

.button {
	text-align: center;
	padding:0;
	border: none;
	line-height: 1.5;
	background-color: $soft-black;
	color: white;
	padding: 20px 40px 20px 40px;

	&:hover {
		padding: 0;
		border: none;
		line-height: 1.5;
		padding: 20px 40px 20px 40px;
		background-color: $aaa-gray;
	}
}

.lcf .view-all {
	text-align: center;
}
