.expandable-content {
	border-top: 1px dotted $aaa-gray;
	border-bottom: 1px dotted $aaa-gray ;
	margin-top: 26px;
	margin-bottom: 18px;
	padding-top: 26px;
	padding-bottom: 26px;

	.show-more, .hide-content {
		float: right; 
		font-family: 'Swiss721BT-Roman';
	}

	.hide-content::after, .show-more::after  {font-family: 'fontello'; }
	
	.hide-content::after { content: ' \e806'; }

	.show-more::after  { content: ' \e803'; }
}

