.news-feed, .events-feed {
	@include component-spacing-bottom;
}

.feed-comp {

	.center-cropped {
		display: block;
		width: 100%;
		height: 100px;
		background-position: center center;
		background-size: cover;
		background-repeat: no-repeat
	}

	.single-feed-container .date,
	.single-feed-container .event-type  {
		 @extend %Swiss721BT-Light;
		 @include padding-leader(1);
		 @include padding-trailer(0);
		 @include gs-media(m) {
				padding-left: 0;
		 }
	}

	.single-feed-container .event-type {
		padding-top: 0;
	}

	// show hover state for links below the image when the image has been hovered over

	.single-feed-container a:hover ~ .title a {
		color: $aaa-gray;
	}

	.l-content & {
		li {
			height: 100px;
		}
		@include gs-media(m,min-max) {
			li:nth-child(4), li:nth-child(5), li:nth-child(6) {
				display: none;
			}
		}
		@include gs-media(t,min-max) {
			.feed-image {
				@include gs-span(t, 2, 3, (2, 7));
			}
			.title {
				@include gs-span(t, 4, 7, (2, 7));
				padding: 12px 12px 12px 0;
			}
			li:nth-child(5), li:nth-child(6) {
				display: none;
			}
		}
		@include gs-media(d,min-max) {
			.feed-image {
				@include gs-span(d, 5, 6, (5, 12));
			}
			.title {
				@include gs-span(d, 7, 12, (5, 12));
				padding: 12px 12px 12px 0;
			}
			li:nth-child(6) {
				display: none;
			}
		}
	}

	.l-content-full-width & {

		@include gs-media(m,min-max) {
			li:nth-child(4), li:nth-child(5), li:nth-child(6) {
				display: none;
			}
		}

		@include gs-media(t,min-max) {
			.center-cropped {
				height: 121px;
			}
			ul {
				border: none;
			}
			li:nth-child(1), li:nth-child(2) {
				min-height: 250px;
				border: 1px solid $light-gray;
				@include gs-span(t, 2, 4, (2, 7));
				.title {
					padding: 12px;
				}
			}
			li:nth-child(2) {
				@include gs-span(t, 5, 7, (2, 7));
				clear: none;
			}
			li:nth-child(3) {
				margin-top: 12px;
			}
			li:nth-child(3), li:nth-child(4) {
				.title {
					padding: 12px;
				}
			}
			li:nth-child(3), li:nth-child(4), li:nth-child(5), li:nth-child(6) {
				border: none;
				border-bottom: 1px solid $light-gray;
				@include gs-span(t, 2, 7, (2, 7));
				.feed-image {
					display: none;
				}
			}
			li:nth-child(5), li:nth-child(6) {
				display: none;
			}
		}

		@include gs-media(d,min-max) {
			.center-cropped {
				height: 200px;
			}
			ul {
				border: none;
			}
			li:nth-child(1), li:nth-child(2) {
				min-height: 280px;
				margin-bottom: 12px;
				.title {
						padding: 12px;
				}
			}
			li:nth-child(1) {
				border: 1px solid $light-gray;
				@include gs-span(d, 5, 10, (5, 16));
			}
			li:nth-child(2) {
				border: 1px solid $light-gray;
				@include gs-span(d, 11, 16, (5, 16));
				clear: none;
			}

			li:nth-child(3), li:nth-child(4), li:nth-child(5), li:nth-child(6) {
				border: none;
				border-bottom: 1px solid $light-gray;
				padding: 12px;
				min-height: 80px; // required in case item titles run onto 2 lines
				.feed-image {
					display: none;
				}
			}

			li:nth-child(3), li:nth-child(5) {
				@include gs-span(d, 5, 10, (5, 16));
			}
			li:nth-child(4), li:nth-child(6) {
				@include gs-span(d, 11, 16, (5, 16));
				clear: none;
			}
		}
	}

	ul {
		margin: 12px 0;
		@extend %Swiss721BT-Bold;
		li {
			clear: both;
			padding: 0;
			margin: 0;
			border-top: 1px solid $light-gray;
			overflow: hidden;
			a {
				border-bottom: none;
				&:hover {
					border-bottom: none;
				}
			}
			@include gs-media(m, min-max) {
				padding: 12px;
				.feed-image {
					display: none;
				}
			}
		}
		@include gs-media(m, min-max) {
			border: none;
			border-bottom: 1px solid $light-gray;
		}
		@include gs-media(t, min-max) {
			border-right: 1px solid $light-gray;
			border-bottom: 1px solid $light-gray;
			border-left: 1px solid $light-gray;
		}
		border-right: 1px solid $light-gray;
		border-bottom: 1px solid $light-gray;
		border-left: 1px solid $light-gray;
	}

	.view-all {
		@include gs-media(m, min-max) {
			padding-left: 12px;
		}
	}
}

.empty-message {
	display: none;
}
