.ual-header {
  @extend .ual-black-bg;

  @include gs-media(d, min-max) {
    height: rhythm(26, 16px);
  }
}

.main-nav-wrapper {
  width: 100%;
  margin: 0 auto;
  position: relative;
  background-color: black;
}
