// image lists with text
.image-list-with-text {

	@include component-spacing-bottom;

	@extend %mobile-padding;

	@include gs-media (m,min-max) {
		// I don't want these to inherit
		figure {
			padding-bottom: rhythm(3, 16px);
		}
	}

	@include gs-media(t,min-max) {
		@extend %t-all;
		figure {
			@include gs-span(t, 2,3, (2,7));
		}
		.text {
			@include gs-span(t, 4,7, (2,7));
		}
	}

	@include gs-media(d) {
		@include gs-span(d, 5, 16, (5, 16));
		figure {
			@include gs-span(d, 5, 8, (5,16));
		}
		.text {
			@include gs-span(d, 9, 16, (5,16));
		}
	}

	.size-h4 {
		padding-top: 2px;
	}

	.lcf .content-wrapper & {
		h3 {
			text-align: left;
			padding-top: 0;
		}
	}

	li {clear: left;  }

}

.image-list-with-text-content {

	@extend .image-list-with-text;

	@include gs-media(d) {
		@include gs-span(d, 5, 12, (5, 16));
		figure {
			@include gs-span(d, 5, 7, (5,12));
		}
		.text {
			@include gs-span(d, 8, 12, (5,12));
		}
	}
}
