// LCF What's On Matrix
.lcf .whats-on-matrix { 

	@include component-spacing-bottom;

	a {
		border-bottom: none;
		display: block;
		padding-bottom: 0;
	}

	p {
		padding-bottom: rhythm(2, 16px);
	}

	h3 {
		padding: 0;
		a {
			@extend %Swiss721BT-Light !optional;
			@include font-size(16);
			color: $white;
		}
	}

	.column {
		@extend %m-all;
	}

	.event-item {
		text-align: center;
		position: relative;
		
		margin-bottom: 6px;
	}

	.event-date {
		@include font-size(20);
		font-family: $lcf-serif-font;
		font-style: italic;
	}

	.hover-layer {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		.inner {
			position: absolute;
			width: 92%;
			height: 80%;
			top: 10%;
			left: 4%;
			border: 1px solid $white; 
			overflow: hidden;
		}
	}

	.hover-contents {
		margin: auto;
		padding: 20px;
	}

	@include gs-media (m,min-max) {
		// I don't want these to inherit
		figure {
			display: none;
		}
		.event-item { 
			height: 140px; 
		}
	}




	@include gs-media (t,min-max) {
		@include gs-span(t, 2, 7);

		.column, .column-large .event-item {
			@extend %t-all;
		}

		.event-item {
			
			@include gs-span(t, 2, 4, (2, 7));
			&:nth-child(2n) {
				@include gs-span(t, 5, 7, (2, 7));
			}

		}

		.hover-layer {
			position: absolute;
			top: 4%;
			left: 3%;
			z-index: 1;
			width: 94%;
			height: 92%;
			.inner {
				border: 1px solid $white; 
				overflow: hidden;
			}
		}

		figure {
			margin-bottom: 0;
			z-index: 0;
		}
		p {
			//padding-bottom: rhythm(3, 16px);
		}

	}

	@include gs-media (d) {
		@include gs-span(d, all);

		.column, .event-item {
			float: left;
		}


		.hover-contents {
			margin: auto;
			padding: 32px;
		}
		





		iframe, img {
			width: 100%;
		}

		a > li {
			@include font-size(24);
			margin-bottom: 1px;
			margin-top: 1px;
			padding: 12px;
			@include adjust-leading-to(4, 24px); 	
		} 

		.column {
			width: 33.3%;
			&.bordered {
				border-right: 2px solid $white;
			}
		}	

		.event-item.bordered {
			border-bottom: 2px solid $white;
		}
	}
}

