// LCF What's On Matrix
.lcf .whats-on-matrix { 

	@include component-spacing-bottom;

	a {
		display: block;
		color: $white;
		h3 {
			@extend %Swiss721BT-Light !optional;
			@include font-size(14);
		}
	}

	p {
		@include font-size(14);
	}

	h3 {
		line-height: 24px;
		padding-top: 0;
	}

	figure {
		overflow: hidden;
	}

	.event-item {
		@extend %m-all;
		text-align: center;
	}

	.event-date {
		@include font-size(20);
		font-family: $lcf-serif-font;
		font-style: italic;
		padding-bottom: rhythm(1, 16px);
	}

	.hover-layer {
		@extend %m-all;
		.inner {
			padding: 12px;
		}
	}

	.hover-contents {
		//margin: auto;
		padding: 20px;
		border: 1px solid $white; 
	}

	@include gs-media (m,min-max) {
		// I don't want these to inherit
		@extend %m-all;

		figure {
			display: none;
		}

	}

	@include gs-media (t,max) {
		// tablet and below
		.event-item {
			margin-bottom: 6px;
		}

	}

	@include gs-media (t,min-max) {
		@include gs-span(t, 2, 7);

		.column, .large .event-item {
			@extend %t-all;
		}

		.event-item {
			width: 50%;
			float: left;
			border-right: 1px solid $white;
			border-left: 1px solid $white;
		}

		.large {
			.event-item {
				border: none;
				position: relative;
			}
			.hover-layer {
				position: absolute;
				top: 0;
				right: 0;
				width: 50%;
				height: 100%;
			}
			figure {
				width: 50%;
			}
			.inner, .hover-contents {
				width: 100%;
				height: 100%;
			}
			h3 {
				margin-bottom: 32px;
			}
		}

		.hover-layer {
			width: 100%;
			.inner {
				overflow: hidden;
			}
		}

		.hover-contents {
			min-height: 148px;
		}

	}

	@include gs-media (d) {
		
		@extend %d-all;

		figure {
			margin-bottom: 0;
			z-index: 0;
		}

		.hover-layer {
			display: none;
			position: absolute;
			top: 5%;
			left: 4%;
			width: 92%;
			height: 90%;
			.inner {
				border: 1px solid $white; 
				padding: 0;
			}
		}

		.hover-contents {
			border: none;
			margin: auto;
			padding: 32px;
		} 

		.column {
			float: left;
			width: 33.3%;
			&.bordered {
				border-right: 2px solid $white;
			}
		}	

		.event-item {
			position: relative;
			margin-bottom: 2px;
			&:hover {
				.hover-layer {
					display: block;
				}
			}
		}

		.large {
			.hover-layer {
				top: 12px;
				height: 95%;
			}
			.hover-contents {
				padding-top: 40%;
			}
		}
	}
}

