.map-block {
	@include gs-media(t,min-max) {
		@include gs-span(t,2,7);
	}
	@include gs-media(d) {
		@include gs-span(d, 5, 16, (5, 16));
		.map {
			width: gs-width(d, 5, 10, (5,16), true);
			@include gs-float(d, left, (5,16));
			padding-top: rhythm(4, 16px);
		}
		.map-info {
			width: gs-width(d, 11, 16, (5,16), true);
			@include gs-float(d, left, (5,16));
			margin-right: 0;
		}
	}
}

// scripted map component styling
.google-map-wrapper .l-content {
	// add margin under the scripted map component
	@include component-spacing-bottom;

}

// Google maps styling overrides
.gmnoprint img {
	max-width: none !important;
}
.gm-style img {
	max-width: none !important;
}


// checkbox styling under map
.college_filters {
	@include margin(12,12,12,12);

	@include gs-media(d) {
		@include margin(12,0,12,0);
	}

	li {
		display: block;
		background-color: $bg-gray;
		@include margin(0,12,12,0);
		padding-bottom: 0;
		width: 100%;

		@include gs-media(t) {
			display: block;
			width: auto;
		}

		@include gs-media(d) {
			width: auto;
			max-width:45%;
			display: inline-block;
		}
	}

	input[type="checkbox"].before-label + label {
		@include padding(10,12,10,10);
		@include margin(0);
		width: 100%;
	}

	input[type="checkbox"].before-label + label:before {
		display: inline-block;
		margin: -2px 6px 0 0;
		vertical-align: middle;
	}


	// dropdowns inside college filters (mobile view)
	.js-dd-menu-list li {
		margin-bottom: 0;
		padding-left: 0;
		input[type="checkbox"].before-label label {
			@include padding(12,6,12,6);
		}

	}

}

// accommodation maps table data styling
ul.accommodation-info {
	li{
		padding-left: 0;
		margin-left: 0;
		list-style-type: none;
	}
}
