.related-content {

	li {
		background: $white;
		padding: 0;
		margin-bottom: 18px;

	}

  li h3 {
    padding: 18px 0 8px;
  }
	figure {
		margin-bottom: 0;
	}
	.text {
		padding: 0 18px;
	}

	@include gs-media(d) {
		li {
			margin-bottom: 0;
		}
		li:hover {
			filter: grayscale(100%);
			-webkit-filter: grayscale(100%);
			-moz-filter: grayscale(100%);
			-ms-filter: grayscale(100%);
			-o-filter: grayscale(100%);
		}
	}

	a, a:hover, a:visited, a:active {
			text-decoration:none;
			color:black;
		}

}
