extends ../../_layout/_base
block vars
	- var bodyClass = "ual";
	- var Title = "Film Strip";
	- var Sidebar = true;
	- var Banner = true;
block content

		.row.carousel-container
			.carousel-body.relative
				h2 Selected research outputs
				.carousel-view-all.t-hide.m-hide
					a(href="#") View all
				.owl-carousel.research-outputs
					.item
						.center-cropped(style='background-image: url(http://ualresearchonline.arts.ac.uk/6135/1.haslightboxThumbnailVersion/Vreeland_after_cover.jpg);')
							//- img.owl-lazy(data-src='http://ualresearchonline.arts.ac.uk/6135/1.haslightboxThumbnailVersion/Vreeland_after_cover.jpg')
						.item-index
						.item-description
							p
								a(href='http://ualresearchonline.arts.ac.uk/6135/') Diana Vreeland after Diana Vreeland (2012)
					.item
						.center-cropped(style='background-image: url(http://ualresearchonline.arts.ac.uk/5707/1.haslightboxThumbnailVersion/clark_dv.jpg);')
							//- img.owl-lazy(data-src='http://ualresearchonline.arts.ac.uk/5707/1.haslightboxThumbnailVersion/clark_dv.jpg')
						.item-index
						.item-description
							p
								a(href='http://ualresearchonline.arts.ac.uk/5707/') Restyling History: Diana Vreeland at the Costume Institute (2011)
					.item
						.center-cropped(style='background-image: url(http://ualresearchonline.arts.ac.uk/5709/1.haslightboxThumbnailVersion/Exhibiting_fashion_cover.jpg);')
							//- img.owl-lazy(data-src='http://ualresearchonline.arts.ac.uk/5709/1.haslightboxThumbnailVersion/Exhibiting_fashion_cover.jpg')
						.item-index
						.item-description
							p
								a(href='http://ualresearchonline.arts.ac.uk/5709/') Exhibiting Fashion: Before and After 1971 (2014)
					.item
						.center-cropped(style='background-image: url(http://ualresearchonline.arts.ac.uk/5616/1.haslightboxThumbnailVersion/Handbags_cover.jpg);')
							//- img.owl-lazy(data-src='http://ualresearchonline.arts.ac.uk/5616/1.haslightboxThumbnailVersion/Handbags_cover.jpg')
						.item-index
						.item-description
							p
								a(href='http://ualresearchonline.arts.ac.uk/5616/') Handbags: the making of a museum (2012)
					.item
						.center-cropped(style='background-image: url(http://app.resrc.it/o=60/http://www.arts.ac.uk/media/arts/research/images/research_outputs_placeholder-final.jpg);')
							//- img.owl-lazy(data-src='http://app.resrc.it/o=60/http://www.arts.ac.uk/media/arts/research/images/research_outputs_placeholder-final.jpg')
						.item-index
						.item-description
							p
								a(href='http://ualresearchonline.arts.ac.uk/3330/') Simone Handbag Museum (2012)
					.item
						.center-cropped(style='background-image: url(http://ualresearchonline.arts.ac.uk/5514/1.haslightboxThumbnailVersion/judith_clark_Chloe%2DAttitudes%2D470x352.jpg);')
							//- img.owl-lazy(data-src='http://ualresearchonline.arts.ac.uk/5514/1.haslightboxThumbnailVersion/judith_clark_Chloe%2DAttitudes%2D470x352.jpg')
						.item-index
						.item-description
							p
								a(href='http://ualresearchonline.arts.ac.uk/5514/') Chloé. Attitudes (2012)
					.item
						.center-cropped(style='background-image: url(http://ualresearchonline.arts.ac.uk/3328/6.haslightboxThumbnailVersion/plain.jpg);')
							//- img.owl-lazy(data-src='http://ualresearchonline.arts.ac.uk/3328/6.haslightboxThumbnailVersion/plain.jpg')
						.item-index
						.item-description
							p
								a(href='http://ualresearchonline.arts.ac.uk/3328/') The concise dictionary of dress (2010)
					.item
						.center-cropped(style='background-image: url(http://app.resrc.it/o=60/http://www.arts.ac.uk/media/arts/research/images/research_outputs_placeholder-final.jpg);')
							//- img.owl-lazy(data-src='http://app.resrc.it/o=60/http://www.arts.ac.uk/media/arts/research/images/research_outputs_placeholder-final.jpg')
						.item-index
						.item-description
							p
								a(href='http://ualresearchonline.arts.ac.uk/4918/') One Object: Multiple Interpretations (2008)
					.item
						.center-cropped(style='background-image: url(http://ualresearchonline.arts.ac.uk/1705/22.haslightboxThumbnailVersion/Dai_Rees_Carapace021.jpg);')
							//- img.owl-lazy(data-src='http://ualresearchonline.arts.ac.uk/1705/22.haslightboxThumbnailVersion/Dai_Rees_Carapace021.jpg')
						.item-index
						.item-description
							p
								a(href='http://ualresearchonline.arts.ac.uk/1705/') Carapace (2006)
					.item
						.center-cropped(style='background-image: url(http://ualresearchonline.arts.ac.uk/1724/10.haslightboxThumbnailVersion/Alchemy_Yemen_installation2.jpg);')
							//- img.owl-lazy(data-src='http://ualresearchonline.arts.ac.uk/1724/10.haslightboxThumbnailVersion/Alchemy_Yemen_installation2.jpg')
						.item-index
						.item-description
							p
								a(href='http://ualresearchonline.arts.ac.uk/1724/') Alchemy: Contemporary British Jewellery Design (2007)
			p
				a.button-link(title="View all outputs in UAL Research Online", href="http://ualresearchonline.arts.ac.uk/view/creators/Clark=3AJudith=3A=3A.html") View all outputs in UAL Research Online
