body {
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
	-webkit-font-smoothing: antialiased;
	// @include column-grid-background();
	margin: 0 12px;
}

header,
footer {
	clear: both;
}

footer {
	background: $grayLightTint;
}

.container, .row {
	width: 100%;
}

#test {
	
}
// DEMO MENU
.demo_menu {
	background: $black;
	line-height: $gridGutterWidth;
	li {
		display: inline;
		a {
			color: $white;
			text-decoration: none;
		}
	}
}

// GRID OVERLAY
.gridoverlay {
	position: absolute;
	top: 2px;
	right: 2px; 
}


.gridoverlayoff {
	position: absolute;
	top: 6px;
	right: 48px;
	font-size: 10px;
	font-weight: bold;
	a {
		text-decoration: none;
		color: $white;
	}
}


// TEMPLATE 1
.feature_content {
	width: 100%;
	clear: both;
}

// TEMPLATE 2 & TEMPLATE 3
.main_content {
	// padding-left: 216px;
}

.news_feed,
.events_feed,
.related_content {
	// padding-left: 216px;
	clear: left;
}

// SPAN COLUMNS OPTIONS
.span1 		{ @include width(1); height: 48px; }
.span2 		{ @include width(2); height: 120px; }
.span3 		{ @include width(3); height: 192px; }
.span4 		{ @include width(4); height: 264px; }
.span5 		{ @include width(5); height: 336px; }
.span6 		{ @include width(6); height: 408px; }
.span7 		{ @include width(7); height: 480px; }
.span8 		{ @include width(8); height: 552px; }
.span9 		{ @include width(9); height: 624px; }
.span10 	{ @include width(10); height: 696px; }

// OFFSET COLUMN OPTIONS
.offset1 	{ @include offset($gridColumnWidth, $gridGutterWidth, 1); }
.offset2   	{ @include offset($gridColumnWidth, $gridGutterWidth, 2); }
.offset3   	{ @include offset($gridColumnWidth, $gridGutterWidth, 3); }
.offset4   	{ @include offset($gridColumnWidth, $gridGutterWidth, 4); }
.offset5   	{ @include offset($gridColumnWidth, $gridGutterWidth, 5); }
.offset6   	{ @include offset($gridColumnWidth, $gridGutterWidth, 6); }
.offset7   	{ @include offset($gridColumnWidth, $gridGutterWidth, 7); }
.offset8   	{ @include offset($gridColumnWidth, $gridGutterWidth, 8); }
.offset9   	{ @include offset($gridColumnWidth, $gridGutterWidth, 9); }
.offset10  	{ @include offset($gridColumnWidth, $gridGutterWidth, 10); }
.offset11  	{ @include offset($gridColumnWidth, $gridGutterWidth, 11); }
.offset12   { @include offset($gridColumnWidth, $gridGutterWidth, 12); }
.offset13   { @include offset($gridColumnWidth, $gridGutterWidth, 13); }
.offset14   { @include offset($gridColumnWidth, $gridGutterWidth, 14); }
.offset15   { @include offset($gridColumnWidth, $gridGutterWidth, 15); }
.offset16   { @include offset($gridColumnWidth, $gridGutterWidth, 16); }

// VARIABLES --- // FOR DEMO PURPOSES ONLY
.red {
	background: $red;
}
.purple {
	background: $purple;
}
.green {
	background: $green;	
}
.orange {
	background: $orange;	
}
.grey {
	background: $gray;
}
