// Table of Contents

// See mark-down file for how to use compass' rhythm and trailer/leader functions or check the compass documentation
// As a rule of thumb, don't nest further than 3 levels deep
// -------------------------------------------------------------

// This is a good example!
// .styleguide-format {
//   border: 1px solid #0f0;
//   color: #000;
//   background: rgba(0,0,0,0.5);
// }

// ::Global Media Queries


// Eg for 960px
@include gs-media(d, min-max) {


}

// Eg for 600px
@include gs-media(t, min-max) {


}



// Eg for 320px
@include gs-media(m, min-max) {


}

@media all and (device-width: 768px) and (device-height: 1024px) and (orientation:landscape) {
  .ipad-landscape { color: blue; } /* your css rules for ipad landscape */
      width: 95%;
}


// Print styles
@media print {
  body {
    // Smaller type for printing. Save a tree
    font-size: percentage(10 / 16);
    @include adjust-leading-to(2);
  }
}


// IOS specifics 
@media screen and (max-width: 769px) {  // Absolute measure here, as we're talking about devices, not screen size
  -webkit-text-size-adjust:none;    // Stop iPhone/iPad from scaling text

}


