extends ../../_layout/_base
block vars
	- var bodyClass = "lcf";
	- var Title = "lcf-careers-feed";
	- var Sidebar = true;
	- var Banner = true;
block content


.row
	.l-content-full-width
		h2 Latest Jobs
		.table-container
			table.data-table
				tbody
					tr.head
						td Title
						td Location
						td Salary
						td Closing date
					tr
						td
					  		a(href='http://my.lcffirstmove.co.uk/jobs/1293') Product Development 
						td East London
						td Travel and Expenses
						td 10 Dec
					tr
						td
					  		a(href='http://my.lcffirstmove.co.uk/jobs/1312') House of Holland - DESIGN STUDIO INTERNSHIP
						td Greater London
						td Travel and Expenses
						td 10 Dec
					tr
						td
					  		a(href='http://my.lcffirstmove.co.uk/jobs/1313') House of Holland TEXTILE INTERNSHIP 
						td Greater London
						td Travel and Expenses
						td 10 Dec
					tr
						td
					  		a(href='http://my.lcffirstmove.co.uk/jobs/1322') Studio Assistant - WESTCOTT DESIGN
						td Greater London
						td Travel and Expenses
						td 10 Dec
					tr
						td
					  		a(href='http://my.lcffirstmove.co.uk/jobs/1325') SALES/MARKETING INTERN Roksanda Ilincic 
						td Greater London
						td Travel and Expenses
						td 10 Dec
					tr
						td
					  		a(href='http://my.lcffirstmove.co.uk/jobs/1355') ERDEM Sampling Intern 
						td Greater London
						td Travel and Expenses
						td 10 Dec
					tr
						td
					  		a(href='http://my.lcffirstmove.co.uk/jobs/1361') Costume Assistant Intern
						td Greater London
						td Negotiable
						td 10 Dec
					tr
						td
					  		a(href='http://my.lcffirstmove.co.uk/jobs/1376') Antipodium Studio Assistant Internship
						td Greater London
						td Travel and Expenses
						td 10 Dec
					tr
						td
					  		a(href='http://my.lcffirstmove.co.uk/jobs/1377') Studio Assistant Percival
						td Greater London
						td Travel and Expenses
						td 10 Dec
					tr
						td
					  		a(href='http://my.lcffirstmove.co.uk/jobs/1383') Production Intern - Aitor Throup
						td Greater London
						td Travel and Expenses
						td 10 Dec
