<div id="mega-menu-nav-links" class='new-main-menu-v2' role='navigation'>
  <div class="top-bar-v2">        
    <ul>
      <li><a data-item="ual" href="{{ site.url }}/style-guide/ual/" title="">Uni Arts London</a>
      <div class="menu"></div></li>
      <li><a data-item="ccw" href="{{ site.url }}/style-guide/ccw/" title="">Camberwell, Chelsea &amp; Wimbledon</a>
      <div class="menu"></div></li>
      <li><a data-item="csm" href="{{ site.url }}/style-guide/csm/" title="">Central Saint Martins</a>
      <div class="menu"></div></li>
      <li><a data-item="lcc" href="{{ site.url }}/style-guide/lcc/" title="">London College of Communication</a>
      <div class="menu"></div></li>
      <li><a  data-item="lcf" href="{{ site.url }}/style-guide/lcf/" title="">London College of Fashion</a>
      <div class="menu"></div></li>
      <li><a href="#" id="main-menu-btn" class="menu menu-button-toggle-v2"><span id="menu-icon-indicator" class="ual-white">≡</span> Menu</a></li>
      <li><a data-item="course-finder" href="#" class="course-v2">Course Finder</a></li>
      <li class="search-buttons-separator"><a data-item="search" href="#" class="search-v2"></a></li>
    </ul>
  </div>
</div>

<div id="mobile-course-finder" class="d-hide hide cf clear-both pad-top-4x full-width dark-gray-bg">
  <div class="wrapper">
    <form>
      <input class="course-finder-txt-input pull-left" type="text" required placeholder="search courses">
    </form>
    <div class="pull-right mobile-go-search-btn"> 
      <a class="button-link no-border" >Go test</a>
    </div>
  </div>
</div>

<div id="mobile-search" class="d-hide hide cf clear-both pad-top-4x full-width dark-gray-bg">
  <div class="wrapper">
    <form>
      <input class="site-search-input pull-left" type="text" required placeholder="mobile search">
    </form>
    <div class="pull-right mobile-go-search-btn"> 
      <a class="button-link no-border" >Go test</a>
    </div>
  </div>
</div>

<div id ="new-menu" class="row dark-gray-bg">    
  <div id="desktop-menu-wrap" class="content-wrapper"> 
    <div class="submenu">
      <div data-menu="ual" class="region">
        <h2><a href="{{ site.url }}/style-guide/ual/">Uni Arts London</a><span class="d-hide ui-icons-transparent-plus menu-open-closed-icon" >&nbsp;</span></h2>
<!--         <div class="sub-inner-menu">      
          <ul class="subnav-1 region">
            <li><a href='{{ site.url }}/style-guide/ual/' title='Visit UAL style guide'>Style guide for UAL</a></li>
          </ul>
        </div>
        <div class="feature-image m-hide t-hide" >
          <figure>
            <img src="http://placehold.it/300x200&text=4+cols" alt="Image Alt">
          </figure>
        </div> -->
      </div>

      <div data-menu="ccw" class="region">
        <h2><a href="{{ site.url }}/style-guide/ccw/">Camberwell, Chelsea &amp; Wimbledon</a><span class="d-hide ui-icons-transparent-plus menu-open-closed-icon" >&nbsp;</span></h2>
<!--         <div class="sub-inner-menu">      
          <ul class="subnav-1 region">
            <li><a href='{{ site.url }}/style-guide/ccw/' title='Visit CCW style guide'>Style guide for CCW</a></li>
          </ul>
        </div>
        <div class="feature-image m-hide t-hide" >
          <figure>
            <img src="http://placehold.it/300x200&text=4+cols" alt="Image Alt">
          </figure>
        </div> -->
      </div>

      <div data-menu="csm" class="region">
        <h2><a href="{{ site.url }}/style-guide/csm/">Central Saint Martins</a><span class="d-hide ui-icons-transparent-plus menu-open-closed-icon" >&nbsp;</span></h2>
<!--         <div class="sub-inner-menu">      
          <ul class="subnav-1 region">
            <li><a href='{{ site.url }}/style-guide/csm/' title='Visit CSM style guide'>Style guide for CSM</a></li>
          </ul>
        </div>
        <div class="feature-image m-hide t-hide" >
          <figure>
            <img src="http://placehold.it/300x200&text=4+cols" alt="Image Alt">
          </figure>
        </div> -->
      </div>

      <div data-menu="lcc" class="region">
        <h2><a href="{{ site.url }}/style-guide/lcc/">London of Communication</a><span class="d-hide ui-icons-transparent-plus menu-open-closed-icon" >&nbsp;</span></h2>
<!--         <div class="sub-inner-menu">      
          <ul class="subnav-1 region">
            <li><a href='{{ site.url }}/style-guide/lcc/' title='Visit LCC style guide'>Style guide for LCC</a></li>
          </ul>
        </div>
        <div class="feature-image m-hide t-hide" >
          <figure>
            <img src="http://placehold.it/300x200&text=4+cols" alt="Image Alt">
          </figure>
        </div> -->
      </div>

      <div data-menu="lcf" class="region">
        <h2><a href="{{ site.url }}/style-guide/lcf/">London of Fashion</a><span class="d-hide ui-icons-transparent-plus menu-open-closed-icon" >&nbsp;</span></h2>
<!--         <div class="sub-inner-menu">      
          <ul class="subnav-1 region">
            <li><a href='{{ site.url }}/style-guide/lcf/' title='Visit LCC style guide'>Style guide for LCF</a></li>
          </ul>
        </div>
        <div class="feature-image m-hide t-hide" >
          <figure>
            <img src="http://placehold.it/300x200&text=4+cols" alt="Image Alt">
          </figure>
        </div> -->
      </div>

      <div data-menu="search" class="row region m-hide t-hide">
        <div class="pad-top-8x full-width">
          <form>
            <input class="site-search-input pull-left" type="text" required placeholder="Enter your search here">
          </form>
          <div class="pull-right">
          <!-- Desktop -->
            <a class="button-link no-border">Go</a>
          </div>
        </div>
      </div>

      <div data-menu="course-finder" class="row region m-hide t-hide">
        <div class="pad-top-8x full-width">
          <form>
            <input class="course-finder-txt-input pull-left" type="text" required placeholder="Search for a course here">
          </form>
          <!-- Desktop -->
          <div class="pull-right"> 
            <a class="button-link no-border">Go</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
