extends ../../_layout/_base
block vars
	- var bodyClass = "ual";
	- var Title = "Styleguide";
	- var Sidebar = true;
	- var Banner = true;
block content

	//- text block
	include ../../_includes/comps-jade/_text-block

	//- text block with aside
	include ../../_includes/comps-jade/_text-block-aside

	//- media block
	include ../../_includes/comps-jade/_media-block

	//- media block with aside
	include ../../_includes/comps-jade/_media-block-aside

	//- media block with big image
	include ../../_includes/comps-jade/_media-block-big-img

	//- expandable content
	include ../../_includes/comps-jade/_expandable-content

	//- accordion
	include ../../_includes/comps-jade/_accordion

	//- boxout
	include ../../_includes/comps-jade/_boxout

	//- content gallery
	include ../../_includes/comps-jade/_content-gallery-4

	//- blocks content 2
	include ../../_includes/comps-jade/_blocks-2

	//- blocks content 3
	include ../../_includes/comps-jade/_blocks-3

	//- blocks content 4
	include ../../_includes/comps-jade/_blocks-4


//- Media block
//- Text block (with aside)
//- Expandable Content
//- Accordions
//- Boxouts

//- Content Gallery/Lightbox
//- Blocks (2, 3 4-ups)
