@import "neat/neat-helpers";

$grid-columns: 16; 
$max-width: em(1280); 

// Define your breakpoints
$desktop: new-breakpoint(min-width 960px 16);
$tablet: new-breakpoint(max-width 959px 12);
$mobile: new-breakpoint(max-width 599px 4);