@import "compass/reset";

// grid
@import 'bourbon/bourbon',
		'breakpoints',
		'neat/neat';

// mixins & variables
@import 'globals/mixins',
		'globals/variables';

// layouts
@import 'globals/layouts',
		'globals/blocks';

// menu
@import 'globals/push-menu';

// // fonts
// @import '../font-face/brandon-text',
// 		'../font-face/bureau-grot',
// 		'../font-face/alternate-gothic',
// 		'../font-face/swiss-721',
// 		'../font-face/fontello-embedded';


// fonts
@import '../font-face/leviathan';

// content objects
@import 'globals/fonts',
		'globals/helpers',
		'globals/typography',
		'globals/sidebar',
		'globals/form',
		'globals/tables';

// plugins
@import 'plugins/accordion';



// code for demos
@import 'globals/code';



// some basic styles
html, body {
	overflow-y: scroll;
	overflow-x: hidden;
}

* {
	@include box-sizing;
}

body {
	overflow-x: hidden;
	-webkit-font-smoothing: antialiased;
}
