// 9 column grid
@import "susy";

// A Fluid Grid based on 960gs
$total-columns: 	9;
$column-width: 		70px;
$gutter-width: 		20px;

// Make it fluid!
$container-style: fluid;

$width: cols !default;

@for $i from 1 through 9 {
  .#{$width}#{$i}
    { @include span-columns($i,9); }
}

.fluid-container { 
	@include container; 
	// background: green; 
	padding: 0; 
	margin: 0; 
}
.fluid-row {
	@include clearfix;
	margin-bottom: $gutter-width;
}

.omega {
	@include omega();
}


@media (max-width: 480px) {
	
}
