body {
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
	-webkit-font-smoothing: antialiased;
	// @include column-grid-background();
	// margin: 10px;

}

// GRID OVERLAY
.gridoverlay {
	position: absolute;
	top: 2px;
	right: 2px; 
}


.gridoverlayoff {
	position: absolute;
	top: 6px;
	right: 48px;
	font-size: 10px;
	font-weight: bold;
	a {
		text-decoration: none;
		color: $white;
	}
}


.clearfix {
	@include clearfix;
}


