.fixed {
	width: 250px;
	float: left;
	margin: 0 20px 20px 0;
}

.span {
	background: #000;
	height: 70px;
	color: #fff;
		.span {
		background: #404040;
			.span {
			background: #404040;
				.span {
				background: #606060;
					.span {
					background: #808080;
				}
			}
		}
	}
}

.rowbg {
	background: #ff0;
	height: auto;
	.rowbg {
		background: #0f0;
		margin-bottom: 20px;
		.rowbg {
			background: #00f;
			margin-bottom: 20px;
			.rowbg {
				background: #ff0;
			}
		}
	}
}