
// @font-face {
//     font-family: 'swis721_btroman';
//     src: url('../fonts/test01-webfont.eot');
//     src: url('../fonts/test01-webfont.eot?#iefix') format('embedded-opentype'),
//          url('../fonts/test01-webfont.woff') format('woff'),
//          url('../fonts/test01-webfont.ttf') format('truetype'),
//          url('../fonts/test01-webfont.svg#swis721_btroman') format('svg');
//     font-weight: normal;
//     font-style: normal;

// }
// .font-test {
// 	font-family: swis721_btroman, Helvetica, Arial, sans-serif;
// }


@font-face {  
  font-family: " myFontS ";  
  src: url( http://artslondon.github.com/beta/assets/fonts/test01-webfont.eot ); /* IE */  
  src: local(" swis721_btroman "), url( http://artslondon.github.com/beta/assets/fonts/test01-webfont.ttf ) format("truetype"); /* non-IE */  
}  

 
/* THEN use like you would any other font */  
.HelveticaFont { font-family: Helvetica; }  
.HelveticaNeueFont { font-family: "Helvetica Neue"; }  
.HelveticaNeueLightFont { font-family: "HelveticaNeue-Light"; }
.SwissFont { font-family:" myFontS "; }  
 