// CODE EXAMPLE


.HF05v1-PersistentLinks {
	overflow:hidden;

	/* TEST */
	font-size: 14px;
	float: right;
  
	ul {
		float: right;
		text-align: right;
		li {
			display: inline;
		}
	}
	
	li + li:before {
		content: " . ";
		padding: 0 5px;
	}
}

