// <div class="HF04v1-SearchBar-Default">
//     <form method="get" action="http://www.arts.ac./site-search" accept-charset="utf-8"
//     id="block-search-form" role="search">
//         <div>
//             <input type="hidden" name="go" value="toolbar">
//             <input type="hidden" name="uri" value="/">
//             <label for="block-search-q" class="block-hide">
//                 Search the site
//             </label>
//             <input id="blq-search-q" type="text" name="q" value="" maxlength="128"
//             placeholder="Search the site" autocomplete="off">
//             <button id="blq-search-btn" type="submit">
//                 <span>
//                     <img src="http://static.bbci.co.uk/frameworks/barlesque/2.25.0/desktop/3.5/img/blq-search_grey_alpha.png"
//                     width="13" height="13" alt="Search">
//                 </span>
//             </button>
//         </div>
//     </form>
// </div>

.HF04v1-SearchBar-Default {
    width: 186px;
    float: right;
    display: block;
    height: 24px;;
}