// <nav class="HF01v1-MainMenu span12">
//   <ul>
//     <li><a href="#" title="Visit Course finder">Course finder</a></li>
//     <li><a href="#" title="Visit Colleges">Colleges</a></li>
//     <li><a href="#" title="Visit Studying at UAL">Studying at UAL</a></li>
//     <li><a href="#" title="Visit Student careers">Student careers</a></li>
//     <li><a href="#" title="Visit Alumni &amp; Friends">Alumni &amp; Friends</a></li>
//     <li><a href="#" title="Visit Business &amp; Innovation">Business &amp; Innovation</a></li>
//     <li><a href="#" title="About UAL">About UAL</a></li>
//   </ul>
// </nav>

.HF01v1-MainMenu {
  overflow:hidden;
      float:right;
      width:840px;
      margin-right:24px;
  
  ul {
    float:right;
  }
  li {
  display:inline;
  line-height: 30px;
    a {
      text-decoration: none;
      color:$black;
    }
  }
  li + li:before{
    content: " | ";
    padding: 0 10px;
  }
}

