// CODE EXAMPLE


.HF04v1-SearchBar-Default {
	overflow:hidden;
  
	ul {
		float: right;
		text-align: right;
		li {
			display: inline;
		}
	}
	
	li + li:before {
		content: " . ";
		padding: 0 5px;
	}
}