//
// Responsive: Large desktop and up
// --------------------------------------------------


@media (min-width: 1200px) {

  // Fixed grid
  @include grid-core($gridColumnWidth1200, $gridGutterWidth1200);

  // Fluid grid
  @include grid-fluid($fluidGridColumnWidth1200, $fluidGridGutterWidth1200);

  // Input grid
  @include grid-input($gridColumnWidth1200, $gridGutterWidth1200);

  // Thumbnails
  .thumbnails {
    margin-left: -$gridGutterWidth1200;
  }
  .thumbnails > li {
    margin-left: $gridGutterWidth1200;
  }
  .row-fluid .thumbnails {
    margin-left: 0;
  }

  .row {
    margin-bottom: 15px;
  }
  .row-margin {
    margin-bottom: 30px;
  }

  // 
  .h1 {
    height: 70px; // 1
  }
  .h2 {
    height: 170px; // 2
  }
  .h3 {
    height: 270px; // 3
  }
  .h4 {
    height: 370px; // 4
  }
  .h5 {
    height: 470px; // 5
  }
  .h6 {
    height: 570px; // 6
  }
  .h7 {
    height: 670px; // 7
  }
  .h8 {
    height: 770px; // 8
  }
  .h9 {
    height: 870px; // 9
  }
  .h10 {
    height: 970px; // 10
  }
  .h11 {
    height: 1070px; // 11
  }
  .h12 {
    height: 1170px; // 12
  }

}
