// Variables.scss
// Variables to customize the look and feel of Bootstrap
// -----------------------------------------------------


// University Colors
$university-slate-blue: #222222;
$university-slate-light: #222(lighten);
$university-slate-blue-light: #417C86;
$university-grey:#d1d7da;
$university-slate-grey:#bcb6af;

// New Branding Colors

$university-brand-grey: rgb(81, 81, 81);

$university-purple: rgb(121,37,117);

// Central Saint martins

$central-saint-martins-red: #EF4135;
$central-saint-martins-red-light:#ffcccc ;

// Chelsea College

$chelsea-college-orange: #ff7800;
$chelsea-college-orange-light:#fce3d0 ;

//Camberwell College

$camberwell-college-blue:#3771d3 ;
$camberwell-college-blue-light:#ceddf4 ;

// London College of Fashion

$fashion-college-purple:#c51b8a ;
$fashion-college-purple-light:#efcae4 ;

// London College of Commuications

$london-college-communications-green:#4fad26 ;
$london-college-communications-green-light:#daedd1 ;

// Wimbledon College

$wimbledon-college-gold:#ce8e00 ;
$wimbledon-college-gold-light:#eadec5 ;


// GLOBAL VALUES
// --------------------------------------------------

// Grays
$black:                 #000;
$grayDarker:            #222;
$grayDark:              #333;
$gray:                  #666;
$grayLight:             #999;
$grayLighter:           #C9C9C9;
$grayLightTint:			    #E9E9E9;
$white:                 #fff;

// Accent colors
$blue:                  #049cdb;
$blueDark:              #0064cd;
$green:                 #46a546;
$red:                   #9d261d;
$yellow:                #ffc40d;
$orange:                #f89406;
$pink:                  #c3325f;
$purple:                #7a43b6;

// Typography
$baseFontSize:          14px;
$subBaseFontSize:		$baseFontSize - 2;
$superBaseFontSize:		$baseFontSize + 2;
$baseFontFamily:        'Helvetica Neue', Helvetica, Arial, sans-serif;
$baseLineHeight:        20px;
$textColor:             $gray;

// Links
$linkColor:             $black;
$linkColorHover:        darken($linkColor, 15%);

// Buttons
$primaryButtonBackground:    $grayDark;
$primaryButtonBackgroundHighlight:     spin($primaryButtonBackground, 20%);


// VARIABLES
// ---------
$hrColor: 							#E5E5E5;

// COMPONENT VARIABLES
// --------------------------------------------------

// Z-index master list
// Used for a bird's eye view of components dependent on the z-axis
// Try to avoid customizing these :)
$zindexDropdown:        1000;
$zindexPopover:         1010;
$zindexTooltip:         1020;
$zindexFixedNavbar:     1030;
$zindexModalBackdrop:   1040;
$zindexModal:           1050;

// Input placeholder text color
$placeholderText:        $university-slate-blue;

// Navbar
$navbarHeight:                    40px;
$navbarBackground:                $university-slate-blue;
$navbarBackgroundHighlight:       lighten($university-slate-blue, 10%);

$navbarText:                      $white;
$navbarLinkColor:                 $white;
$navbarLinkColorHover:            $white;

// Form states and alerts
$warningText:             #c09853;
$warningBackground:       #fcf8e3;
$warningBorder:           darken(adjust-hue($warningBackground, -10), 3%);

$errorText:               #b94a48;
$errorBackground:         #f2dede;
$errorBorder:             darken(adjust-hue($errorBackground, -10), 3%);

$successText:             #468847;
$successBackground:       #dff0d8;
$successBorder:           darken(adjust-hue($successBackground, -10), 5%);

$infoText:                #3a87ad;
$infoBackground:          #d9edf7;
$infoBorder:              darken(adjust-hue($infoBackground, -10), 7%);



// GRID Configuration
// --------------------------------------------------

$font-size: 16px; 		// Your base font-size in pixels
$em: $font-size / 1em;	// Shorthand for outputting ems

$gridColumnWidth: 48px;	// The column-width of your grid in pixels
$gridGutterWidth: 24px;	// The gutter-width of your grid in pixels

$gridColumns: 10;
$gridRowWidth: ($gridColumns * $gridColumnWidth) + ($gridGutterWidth * ($gridColumns - 1));

  $cols1: (1 * ($gridColumnWidth + $gridGutterWidth) - $gridGutterWidth) / $em; // 48
  $cols2: (2 * ($gridColumnWidth + $gridGutterWidth) - $gridGutterWidth) / $em; // 120
  $cols3: (3 * ($gridColumnWidth + $gridGutterWidth) - $gridGutterWidth) / $em; // 192
  $cols4: (4 * ($gridColumnWidth + $gridGutterWidth) - $gridGutterWidth) / $em; // 264
  $cols5: (5 * ($gridColumnWidth + $gridGutterWidth) - $gridGutterWidth) / $em; // 336
  $cols6: (6 * ($gridColumnWidth + $gridGutterWidth) - $gridGutterWidth) / $em; // 408
  $cols7: (7 * ($gridColumnWidth + $gridGutterWidth) - $gridGutterWidth) / $em; // 480
  $cols8: (8 * ($gridColumnWidth + $gridGutterWidth) - $gridGutterWidth) / $em; // 552
  $cols9: (9 * ($gridColumnWidth + $gridGutterWidth) - $gridGutterWidth) / $em; // 624
  $cols10: (10 * ($gridColumnWidth + $gridGutterWidth) - $gridGutterWidth) / $em; // 696
  $cols11: (11 * ($gridColumnWidth + $gridGutterWidth) - $gridGutterWidth) / $em; // 768
  $cols12: (12 * ($gridColumnWidth + $gridGutterWidth) - $gridGutterWidth) / $em; // 840
  $cols13: (13 * ($gridColumnWidth + $gridGutterWidth) - $gridGutterWidth) / $em; // 912
  $cols14: (14 * ($gridColumnWidth + $gridGutterWidth) - $gridGutterWidth) / $em; // 984
  $cols15: (15 * ($gridColumnWidth + $gridGutterWidth) - $gridGutterWidth) / $em; // 1056
  $cols16: (16 * ($gridColumnWidth + $gridGutterWidth) - $gridGutterWidth) / $em; // 1128
  $cols17: (17 * ($gridColumnWidth + $gridGutterWidth) - $gridGutterWidth) / $em;
  $cols18: (18 * ($gridColumnWidth + $gridGutterWidth) - $gridGutterWidth) / $em; 
  $cols19: (19 * ($gridColumnWidth + $gridGutterWidth) - $gridGutterWidth) / $em; 
  $cols20: (20 * ($gridColumnWidth + $gridGutterWidth) - $gridGutterWidth) / $em; 
  $cols21: (21 * ($gridColumnWidth + $gridGutterWidth) - $gridGutterWidth) / $em; 
  $cols22: (22 * ($gridColumnWidth + $gridGutterWidth) - $gridGutterWidth) / $em; 
  $cols23: (23 * ($gridColumnWidth + $gridGutterWidth) - $gridGutterWidth) / $em; 
  $cols24: (24 * ($gridColumnWidth + $gridGutterWidth) - $gridGutterWidth) / $em; 
  $cols25: (25 * ($gridColumnWidth + $gridGutterWidth) - $gridGutterWidth) / $em; 
  $cols26: (26 * ($gridColumnWidth + $gridGutterWidth) - $gridGutterWidth) / $em; 
  $cols27: (27 * ($gridColumnWidth + $gridGutterWidth) - $gridGutterWidth) / $em; 
  $cols28: (28 * ($gridColumnWidth + $gridGutterWidth) - $gridGutterWidth) / $em; 
  $cols29: (29 * ($gridColumnWidth + $gridGutterWidth) - $gridGutterWidth) / $em; 
  $cols30: (30 * ($gridColumnWidth + $gridGutterWidth) - $gridGutterWidth) / $em; 
  $cols31: (31 * ($gridColumnWidth + $gridGutterWidth) - $gridGutterWidth) / $em; 
  $cols32: (32 * ($gridColumnWidth + $gridGutterWidth) - $gridGutterWidth) / $em; 
  $cols33: (33 * ($gridColumnWidth + $gridGutterWidth) - $gridGutterWidth) / $em; 
  $cols34: (34 * ($gridColumnWidth + $gridGutterWidth) - $gridGutterWidth) / $em;
  $cols35: (35 * ($gridColumnWidth + $gridGutterWidth) - $gridGutterWidth) / $em; 
  $cols36: (36 * ($gridColumnWidth + $gridGutterWidth) - $gridGutterWidth) / $em;  

// GRID OVERLAY
// --------------------------------------------------
// $grid-background-column-color: rgba(100, 100, 225, 0.25);
// $grid-background-gutter-color: rgba(0, 0, 0, 0);
// $grid-background-total-columns: 30;
// $grid-background-column-width: 10px;
// $grid-background-gutter-width: 10px; 
// $grid-background-offset: 10px;




