//
// Footer Variables
//

// Background color for the footer 
$footer-bg: #000 !default;


footer {
	padding: 20px 0;
	color: $white;
	a {
		color: $white;
		&:hover {
			color: $white;
			border-bottom: 1px solid $white;
		}
	}

	.footer-logo {
	}

	.footer-ual-links-social {
		margin: 0;
		padding: 0;
		ul {
			text-transform: $text-transform-uppercase;
			font-weight: bold;
			font-size: emCalc(12px);
			li {
				list-style-type: none;
				display: inline-block;
				margin-right: 40px;
			}
		}
	}

	.footer-ual-links-defualt {
		ul {
			font-size: emCalc(11px);
			li {
				list-style-type: none;
				display: inline-block;
				margin-right: 20px;
			}
			li:first-child {
				margin-right: 40px;
			}
		}
	}
	.footer-ual-links-social, .footer-ual-links-defualt {
		li:last-child {
			margin-right: 0;
		}
	}
}



