// Uses variables from _header-global-nav.scss

.topMenu, .pageMenu {
	ul {
		margin-bottom: 0;
	}
 	ul li {
	    & > a {
			display: block;
			width: 100%;
			color: $topbar-dropdown-link-color;
			padding: 6px 0;
			padding-#{$default-float}: $topbar-height / 3;
			font-size: $topbar-link-font-size;
			font-weight: $topbar-link-weight;
			background: $topbar-dropdown-bg;
			text-transform: $topbar-menu-link-transform;
			&:hover { 
				background: darken($topbar-dropdown-bg, 3%); 
			}
		}
	}
}