//
// UAL Global Variables
$ual-base-font-size: emCalc(14px) !default;
$ual-persistant-link-font-size: emCalc(12px) !default;
$ual-persistant-link-line-spacing: emCalc(1.4px) !default;

//
// Typography
$text-transform-uppercase: uppercase !default;

//
// Colors
$black: #000;
$white: #fff;
