<!-- Map Heading -->
<div class="row">
	<div class="l-content block">
		<h2>UAL College Locations </h2>
		<p>Intro text for the map goes here</p>
	</div>
</div>

<div class="row google-map-wrapper">
    <div class="l-content-full-width">

        <div style="height: 480px;" class="row map google-map">
            <script>
            /*
             * An object containing various map config properties.
             * Zoom = zoom level
             * initLat = initial latitude for the map center
             * initLng = initial latitude for the map center
             * Note we can set a sensible default for the center e.g. London,
             * which can be overridden if required
             */
            var mapConfig = {
                zoom: 11,
                initLat: 51.508515,
                initLng: -0.125487201149,
            };


            /* custom map marker icons */

            var map_markers_json = [{
                    markerName: "infoMarker",
                    url: "http://d27lwoqz7s24cy.cloudfront.net/assets/img/maps/info-marker.png",
                    scaledSize_x: 24,
                    scaledSize_y: 24,
                    origin_x: 0,
                    origin_y: 0,
                    anchor_x: 12,
                    anchor_y: 24
                }, {
                    markerName: "accomMarker",
                    url: "http://d27lwoqz7s24cy.cloudfront.net/assets/img/maps/accom-marker.png",
                    scaledSize_x: 24,
                    scaledSize_y: 24,
                    origin_x: 0,
                    origin_y: 0,
                    anchor_x: 12,
                    anchor_y: 24
                }, {
                    markerName: "collegeMarker",
                    url: "http://d27lwoqz7s24cy.cloudfront.net/assets/img/maps/ual-college-marker.png",
                    scaledSize_x: 24,
                    scaledSize_y: 24,
                    origin_x: 0,
                    origin_y: 0,
                    anchor_x: 12,
                    anchor_y: 24
                }, {
                    markerName: "default_UAL",
                    url: "http://d27lwoqz7s24cy.cloudfront.net/assets/img/maps/default-marker.png",
                    scaledSize_x: 24,
                    scaledSize_y: 24,
                    origin_x: 0,
                    origin_y: 0,
                    anchor_x: 12,
                    anchor_y: 24
                }

            ];


            /* A list of markers populated by data in marker content nodes sourced from a remote section using a navigation tag */
            var maps_json = [

                // gets markers from inside the same section of content


                // gets college map markers from University of the Arts London » Map Markers » Colleges section in t4

                {
                    "lat": 51.474193,
                    "lng": -0.081135,
                    "name": "Camberwell College of Arts",
                    "content": "45-65 Peckham Rd, London SE5 8UF<br><br>&raquo;<a href=\'SiteManager?ctfn=publish&amp;fnno=30&amp;chid=18&amp;lang=en&amp;sid=35288\' title=\'Read more\' />Read more</a>",
                    "marker": "collegeMarker"
                },

                {
                    "lat": 51.490309,
                    "lng": -0.128449,
                    "name": "Chelsea College of Arts",
                    "content": "16 John Islip St, London SW1P 4JU<br><br>&raquo;<a href=\'SiteManager?ctfn=publish&amp;fnno=30&amp;chid=18&amp;lang=en&amp;sid=35290\' title=\'Read more\' />Read more</a>",
                    "marker": "collegeMarker"
                },

                {
                    "lat": 51.535538,
                    "lng": -0.125121,
                    "name": "Central Saint Martins",
                    "content": "Granary Building, 1 Granary Square, London N1C 4AA<br><br>&raquo;<a href=\'SiteManager?ctfn=publish&amp;fnno=30&amp;chid=18&amp;lang=en&amp;sid=35289\' title=\'Read more\' />Read more</a>",
                    "marker": "collegeMarker"
                },

                {
                    "lat": 51.49457,
                    "lng": -0.101627,
                    "name": "London College of Communication",
                    "content": "London, Elephant &amp; Castle, Greater London SE1 6SB<br><br>&raquo;<a href=\'SiteManager?ctfn=publish&amp;fnno=30&amp;chid=18&amp;lang=en&amp;sid=35291\' title=\'Read more\' />Read more</a>",
                    "marker": "collegeMarker"
                },

                {
                    "lat": 51.523417,
                    "lng": -0.095783,
                    "name": "London College of Fashion at Golden Lane",
                    "content": "Golden Lane, London EC1Y 0UU<br><br>&raquo;<a href=\'SiteManager?ctfn=publish&amp;fnno=30&amp;chid=18&amp;lang=en&amp;sid=35292\' title=\'Read more\' />Read more</a>",
                    "marker": "collegeMarker"
                },

                {
                    "lat": 51.515687,
                    "lng": -0.143341,
                    "name": "London College of Fashion at John Princess St",
                    "content": "20 John Prince's St, London W1G 0BJ, UK<br><br>&raquo;<a href=\'SiteManager?ctfn=publish&amp;fnno=30&amp;chid=18&amp;lang=en&amp;sid=35292\' title=\'Read more\' />Read more</a>",
                    "marker": "collegeMarker"
                },

                {
                    "lat": 51.49457,
                    "lng": -0.101627,
                    "name": "London College of Communication",
                    "content": "London, Elephant &amp; Castle, Greater London SE1 6SB<br><br>&raquo;<a href=\'SiteManager?ctfn=publish&amp;fnno=30&amp;chid=18&amp;lang=en&amp;sid=35291\' title=\'Read more\' />Read more</a>",
                    "marker": "collegeMarker"
                },

                {
                    "lat": 51.503721,
                    "lng": -0.228086,
                    "name": "London College of Fashion at Lime Grove",
                    "content": "40 Lime Grove, White City, London W12 8EA, UK<br><br>&raquo;<a href=\'SiteManager?ctfn=publish&amp;fnno=30&amp;chid=18&amp;lang=en&amp;sid=35292\' title=\'Read more\' />Read more</a>",
                    "marker": "collegeMarker"
                },

                {
                    "lat": 51.52516,
                    "lng": -0.079974,
                    "name": "London College of Fashion at Curtain Rd",
                    "content": "Shoreditch, London EC2A 3AA, UK<br><br>&raquo;<a href=\'SiteManager?ctfn=publish&amp;fnno=30&amp;chid=18&amp;lang=en&amp;sid=35292\' title=\'Read more\' />Read more</a>",
                    "marker": "collegeMarker"
                },

                {
                    "lat": 51.51773,
                    "lng": -0.116646,
                    "name": "London College of Fashion at High Holborn",
                    "content": "272 High Holborn, London WC1V 7EY, UK<br><br>&raquo;<a href=\'SiteManager?ctfn=publish&amp;fnno=30&amp;chid=18&amp;lang=en&amp;sid=35292\' title=\'Read more\' />Read more</a>",
                    "marker": "collegeMarker"
                },

                {
                    "lat": 51.540824,
                    "lng": -0.054772,
                    "name": "London College of Fashion at Mare St",
                    "content": "182 Mare St, University of the Arts London, London E8, UK<br><br>&raquo;<a href=\'SiteManager?ctfn=publish&amp;fnno=30&amp;chid=18&amp;lang=en&amp;sid=35292\' title=\'Read more\' />Read more</a>",
                    "marker": "collegeMarker"
                },

                {
                    "lat": 51.413287,
                    "lng": -0.21164,
                    "name": "Wimbledon College of Arts",
                    "content": "Merton Hall Road,&nbsp;London, SW19 3QA, UK<br><br>&raquo;<a href=\'SiteManager?ctfn=publish&amp;fnno=30&amp;chid=18&amp;lang=en&amp;sid=35293\' title=\'Read more\' />Read more</a>",
                    "marker": "collegeMarker"
                },



            ];
            </script>
            <div id="map-canvas" style="width:100%; height:100%" data-transit-layer="false" data-bicycling-layer="false" data-college_checkboxes="true">
            </div>
        </div>
        <!-- to remove -->
    </div>
    <!-- output aside content if aside content field is not empty in t4 -->
    <!-- </div> -->
    <!-- re-added -->

    <!-- output link to view fullscreen map below the map -->

</div>
