extends ../../_layout/_base
block vars
	- var bodyClass = "lcc";
	- var Title = "lcc-lightbox";
	- var Sidebar = false;
	- var Banner = true;
block content
	.panel.bg-gray-bg
		.content-wrapper
			.row
				.content
					.row
						.__gallery.four-up.js-lightbox
							h2 Gallery
							ul
								li(style='min-height: 155px;')
									a.no-border(href='http://app.resrc.it/s=w930/o=60/http://www.arts.ac.uk/media/arts/colleges/lcc/courses/undergraduate/ba-animation/images/Cream-of-the-crop_showreel_still_2013_1860px.jpg', title='')
										figure
											img.resrc(data-src='http://app.resrc.it/C=SQ/C=W75P,H75P,XOF50,YOF20/S=W300/http://www.arts.ac.uk/media/arts/colleges/lcc/courses/undergraduate/ba-animation/images/Cream-of-the-crop_showreel_still_2013_1860px.jpg', alt='', data-resrc-width='155', src='http://app.resrc.it/c=sq/c=w75p,h75p,xof50,yof20/s=w160,pd1/http://www.arts.ac.uk/media/arts/colleges/lcc/courses/undergraduate/ba-animation/images/Cream-of-the-crop_showreel_still_2013_1860px.jpg')
								li(style='min-height: 155px;')
									a.no-border(href='http://app.resrc.it/s=w930/o=60/http://www.arts.ac.uk/media/arts/colleges/lcc/courses/undergraduate/ba-animation/images/Showreel_still1_2013_1860px.jpg', title=' ')
										figure
											img.resrc(data-src='http://app.resrc.it/C=SQ/C=W75P,H75P,XOF50,YOF20/S=W300/http://www.arts.ac.uk/media/arts/colleges/lcc/courses/undergraduate/ba-animation/images/Showreel_still1_2013_1860px.jpg', alt='', data-resrc-width='155', src='http://app.resrc.it/c=sq/c=w75p,h75p,xof50,yof20/s=w160,pd1/http://www.arts.ac.uk/media/arts/colleges/lcc/courses/undergraduate/ba-animation/images/Showreel_still1_2013_1860px.jpg')
								li(style='min-height: 155px;')
									a.no-border(href='http://app.resrc.it/s=w930/o=60/http://www.arts.ac.uk/media/arts/colleges/lcc/courses/undergraduate/ba-animation/images/Showreel_still2_2013_1860px.jpg', title='')
										figure
											img.resrc(data-src='http://app.resrc.it/C=SQ/C=W75P,H75P,XOF50,YOF20/S=W300/http://www.arts.ac.uk/media/arts/colleges/lcc/courses/undergraduate/ba-animation/images/Showreel_still2_2013_1860px.jpg', alt='', data-resrc-width='155', src='http://app.resrc.it/c=sq/c=w75p,h75p,xof50,yof20/s=w160,pd1/http://www.arts.ac.uk/media/arts/colleges/lcc/courses/undergraduate/ba-animation/images/Showreel_still2_2013_1860px.jpg')
								li(style='min-height: 155px;')
									a.no-border(href='http://app.resrc.it/s=w930/o=60/http://www.arts.ac.uk/media/arts/colleges/lcc/courses/undergraduate/ba-animation/images/Flytrap_showreel_still_2013_930px.jpg', title='')
										figure
											img.resrc(data-src='http://app.resrc.it/C=SQ/C=W75P,H75P,XOF50,YOF20/S=W300/http://www.arts.ac.uk/media/arts/colleges/lcc/courses/undergraduate/ba-animation/images/Flytrap_showreel_still_2013_930px.jpg', alt='', data-resrc-width='155', src='http://app.resrc.it/c=sq/c=w75p,h75p,xof50,yof20/s=w160,pd1/http://www.arts.ac.uk/media/arts/colleges/lcc/courses/undergraduate/ba-animation/images/Flytrap_showreel_still_2013_930px.jpg')
