---
layout: style.tpl
title: Blocks
last-updated: August 04, 2013
class-home: docs
breadcrumb: Blocks
breadcrumb-link: /blocks/
---

<div class="content-wrapper">
	<div class="row">
		<div role="navigation" class="sidebar">
			<ul>
        <li><a href="#bookmark" title="">Link</a></li>
			</ul>
    </div> <!-- end sidebar -->
		<div role="main" class="content">

			{% include components/_text-block.html %} <!-- standard text block -->
			{% include components/_text-block-with-aside.html %} <!-- standard text block with aside -->

			{% include components/_media-block.html %} <!-- standard media block --> 
			{% include components/_media-block-with-aside.html %} <!-- standard media block with aside -->
			{% include components/_media-block-2-up.html %} <!-- 2 up media block and -->
			{% include components/_media-block-3-up.html %} <!-- 3 up media block -->
			{% include components/_media-block-4-up.html %} <!-- 4 up media block -->

			{% include components/_boxout.html %}	<!-- boxout block -->

		</div> <!-- end main-content -->
	</div> <!-- end row -->
</div> <!-- end content-wrapper -->			


