/**
 * Entypo
 *
 * http://www.entypo.com/
 *
 */

@include font-face("entypo", 
    font-files(
        "media/beta/beta-assets/fonts/entypo.ttf", 
        "media/beta/beta-assets/fonts/entypo.otf", 
        "media/beta/beta-assets/fonts/entypo.eot" , 
        "media/beta/beta-assets/fonts/entypo.woff"
    ));


@include font-face("entypo-social", 
    font-files(
        "media/beta/beta-assets/fonts/entypo-social.ttf", 
        "media/beta/beta-assets/fonts/entypo-social.svg" , 
        "media/beta/beta-assets/fonts/entypo-social.eot" , 
        "media/beta/beta-assets/fonts/entypo-social.woff"
    ));

%icon { font-family: "entypo"; }
%icon-social { font-family: "entypo-social"; }

li.download {
padding-left: 0px;
margin-left: 0px;
list-style-type: none;
}


.download:before {
    font-family: "entypo";
    font-size: 36px;
    content: "📄";
    vertical-align: middle;
    padding-right: rhythm(1, 16px);
}

.external:after {
    font-family: "entypo";
    font-size: 36px;
    content: "";
    vertical-align: middle;
    padding-left: 6px;
}



