/**
 * Swiss 721
 *
 * This is the specific font face that is being used for the University of the Arts London
 *
 */

/**
 * ^h1 ^h2
 */
@include font-face("Swiss721BT-Light", 
    font-files(
        "swiss-light.woff",
        "swiss-light.ttf",
        "swiss-light.eot?#iefix"
    ));

// Swiss Roman

@include font-face("Swiss721BT-Roman", 
    font-files(
        "swiss-roman.woff",
        "swiss-roman.ttf",
        "swiss-roman.eot",
        "swiss-roman.eot?#iefix"
    ));
    
// Swiss Italic

@include font-face("Swiss721BT-Italic", 
    font-files(
        "swiss-italic.woff",
        "swiss-italic.ttf",
        "swiss-italic.eot",
        "swiss-italic.eot?#iefix"
    ));

// Swiss Bold

@include font-face("Swiss721BT-Bold", 
    font-files(
        "swiss-bold.woff",
        "swiss-bold.ttf",
        "swiss-bold.eot",
        "swiss-bold.eot?#iefix"
    ));

// Swiss Black

@include font-face("Swiss721BT-Black", 
    font-files(
        "swiss-black.woff",
        "swiss-black.ttf",
        "swiss-black.eot",
        "swiss-black.eot?#iefix"
    ));

// Swiss Medium

@include font-face("Swiss721BT-Medium", 
    font-files(
        "swiss-medium.eot",
        "swiss-medium.eot?#iefix",
        "swiss-medium.woff",
        "swiss-medium.ttf"
    ));

%Swiss721BT-Light { font-family: Swiss721BT-Light; }
%Swiss721BT-Light-important { font-family: Swiss721BT-Light !important; }
%Swiss721BT-Roman { font-family: Swiss721BT-Roman; }
%Swiss721BT-Italic { font-family: Swiss721BT-Italic; }
%Swiss721BT-Bold { font-family: Swiss721BT-Bold; }
%Swiss721BT-Bold-important { font-family: Swiss721BT-Bold !important; }
%Swiss721BT-Black { font-family: Swiss721BT-Black; }
%Swiss721BT-Medium { font-family: Swiss721BT-Medium; }
 
// Copyright

/* @license
 * MyFonts Webfont Build ID 2590056, 2013-06-27T08:49:50-0400
 * 
 * The fonts listed in this notice are subject to the End User License
 * Agreement(s) entered into by the website owner. All other parties are 
 * explicitly restricted from using the Licensed ../fonts(s).
 * 
 * You may obtain a valid license at the URLs below.
 * 
 * Webfont: Swiss 721 Light by Bitstream
 * URL: http://www.myfonts.com/fonts/bitstream/swiss-721/light/
 * Copyright: Copyright 1990-2003 Bitstream Inc. All rights reserved.
 * 
 * Webfont: Swiss 721 by Bitstream
 * URL: http://www.myfonts.com/fonts/bitstream/swiss-721/swiss-721/
 * Copyright: Copyright 1990-2003 Bitstream Inc. All rights reserved.
 * 
 * Webfont: Swiss 721 Italic by Bitstream
 * URL: http://www.myfonts.com/fonts/bitstream/swiss-721/italic/
 * Copyright: Copyright 1990-2003 Bitstream Inc. All rights reserved.
 * 
 * Webfont: Swiss 721 Bold by Bitstream
 * URL: http://www.myfonts.com/fonts/bitstream/swiss-721/bold/
 * Copyright: Copyright 1990-2003 Bitstream Inc. All rights reserved.
 * 
 * Webfont: Swiss 721 Black by Bitstream
 * URL: http://www.myfonts.com/fonts/bitstream/swiss-721/black/
 * Copyright: Copyright 1990-2003 Bitstream Inc. All rights reserved.
 * 
 * Webfont: Swiss 721 Medium by Bitstream
 * URL: http://www.myfonts.com/fonts/bitstream/swiss-721/medium/
 * Copyright: Copyright 1990-2003 Bitstream Inc. All rights reserved.
 * 
 * Webfont: Brandon Text Bold by HVD Fonts
 * URL: http://www.myfonts.com/fonts/hvdfonts/brandon-text/bold/
 * Copyright: Copyright (c) 2012 by Hannes von Doehren. All rights reserved.
 * 
 * Webfont: Brandon Text Regular by HVD Fonts
 * URL: http://www.myfonts.com/fonts/hvdfonts/brandon-text/regular/
 * Copyright: Copyright (c) 2012 by Hannes von Doehren. All rights reserved.
 * 
 * 
 * License: http://www.myfonts.com/viewlicense?type=web&buildid=2590056
 * 
 * © 2013 MyFonts Inc
*/