
.industry-links {
    li {
        h2, ul {
            padding: 18px 0;
        }
    }
}

.il-list {
    list-style: none !important;
    display: inline-block;
    li, li:nth-child(2n) {
        list-style: none;
        padding: 0;
        display: block;
        float: left;
        margin: 0;
        width: 100%;
    }
}

.text-only {
    li {
        p {
            padding: 0 0 24px 0;
        }
    }
}

.stories {
    li {
        h3 {
            padding: 18px 0;
        }
    }
}


// ul.il-no-bullet > {
//     list-style: none !important;
//     padding: 0;
//     li {
//         list-style: none;
//         padding: 0;
//         color: red;
//     }
// }

