extends ../../_layout/_base
block vars
	- var bodyClass = "ual";
	- var Title = "media-block-two-up";
	- var Sidebar = true;
	- var Banner = true;
block content
	.row
		.l-content.block.__media.two-up
				h2 Teaching Staff
				ul
					li
						figure.feature
							a(href='/lcc/people/school-of-design-teaching-staff/', title='')
								img.resrc(data-src='http://app.resrc.it/o=60/http://www.arts.ac.uk/media/arts/colleges/lcc/images/people/Ben_Stopher_photo_by_Alys_Tomlinson-2UP.jpg', alt='', data-resrc-width='519', src='http://app.resrc.it/s=w520,pd1/o=60/http://www.arts.ac.uk/media/arts/colleges/lcc/images/people/Ben_Stopher_photo_by_Alys_Tomlinson-2UP.jpg')
							.credits Image by Alys Tomlinson
						h3
							a(href='/lcc/people/school-of-design-teaching-staff/', title='School of Design') School of Design
						p
							| The School of Design’s rich heritage, combined with a commitment to be at the forefront of industry developments, is what gives our programmes their world class reputation.
					li
						figure.feature
							a(href='/lcc/people/school-of-media-teaching-staff/', title='')
								img.resrc(data-src='http://app.resrc.it/o=60/http://www.arts.ac.uk/media/arts/colleges/lcc/images/people/Jo_Hodges_2UP_1112X696.jpg', alt='', data-resrc-width='519', src='http://app.resrc.it/s=w520,pd1/o=60/http://www.arts.ac.uk/media/arts/colleges/lcc/images/people/Jo_Hodges_2UP_1112X696.jpg')
							.credits Image by Alys Tomlinson
						h3
							a(href='/lcc/people/school-of-media-teaching-staff/', title='School of Media') School of Media
						p
							| The School of Media is one of the largest providers of practice-based media education and related subjects in the UK and is the home to world class research in sound arts, photography and film.
					// end image-block
