---
layout: main.tpl
college: ual
section: single-course
title: BA (Hons) Fashion Design Technology, Womenswear
template: true
---

<div class="content-wrapper">
	<div class="row">
		<nav class="sidebar">
			<ul>
				<li>BA (Hons) Painting</li>
				<li><a href="/colleges/camberwell/courses/undergraduate/ba-sculpture/">BA (Hons) Sculpture</a></li>
				<li><a href="/colleges/camberwell/courses/undergraduate/ba-hons-illustration/">BA (Hons) Illustration</a></li>
			</ul>
		</nav>
		<div role="main" class="main-content">
			<div class="row">
				<div class="text-block">
					<p class="leader">Wimbledon BA Fine Art Painting graduates are a prominent force in the international art world. Driven to forge new possibilities through the material of paint and its relationship to other media, they are characterised by their inventiveness, ambition and professionalism.</p>
				</div>
			</div>

			{% include components/_boxout.html %}
      
      <!--
      <div class="row slider-container">

        <div id="gallery-1" class="royalSlider rsDefault visibleNearby">
            <a class="rsImg" href="http://placehold.it/310x465" data-rsw="310" data-rsh="465">Still Life: Vase with Twelve Sunflowers<span>Vincent van Gogh</span></a>
            <a class="rsImg" href="http://placehold.it/400x465" data-rsw="400" data-rsh="465">Mona Lisa<span>Leonardo da Vinci</span></a>
            <a class="rsImg" href="http://placehold.it/310x465" data-rsw="310" data-rsh="465">American Gothic<span>Grant DeVolson Wood</span></a>
            <a class="rsImg" href="http://placehold.it/310x465" data-rsw="310" data-rsh="465">The Night Watch<span>Rembrandt</span></a>
            <a class="rsImg" href="http://placehold.it/640x360" data-rsw="640" data-rsh="360" data-rsvideo="http://www.youtube.com/watch?v=HFbHRWwyihE">The Starry Night (with video)<span>Vincent van Gogh</span></a>
            <a class="rsImg" href="http://placehold.it/310x465" data-rsw="310" data-rsh="465">Girl with a Pearl Earring<span>Johannes Vermeer</span></a>
            <a class="rsImg" href="http://placehold.it/310x465" data-rsw="310" data-rsh="465">Card Players<span>Paul Cezanne</span></a>
            <a class="rsImg" href="http://placehold.it/310x465" data-rsw="310" data-rsh="465">Reply of the Zaporozhian Cossacks<span>Ilya Repin</span></a>
            <a class="rsImg" href="http://placehold.it/310x465" data-rsw="310" data-rsh="465">Chesmabattle<span>Ivan Aivazovsky</span></a>
            <a class="rsImg" href="http://placehold.it/310x465" data-rsw="310" data-rsh="465">The Kiss<span>Gustav Klimt</span></a>
            <a class="rsImg" href="http://placehold.it/310x465" data-rsw="310" data-rsh="465">Morning in a Pine Forest<span>Ivan Shishkin</span></a>
        </div>  
      </div>
      -->

      <div class="row slider-container">
        <div id="content-slider-1" class="royalSlider contentSlider rsDefault">
          
            <img class="rsImg" src="http://placehold.it/930x465&text=SLIDER IMAGE 1 SPAN 12" title="University of the Arts London" alt="">
            <img class="rsImg" src="http://placehold.it/310x465&text=SLIDER IMAGE 2 PORTRAIT" title="London College of Fashion" alt="">
            <img class="rsImg" src="http://placehold.it/930x465" data-rsvideo="http://www.youtube.com/watch?v=HFbHRWwyihE" />
            <a class="rsImg" href="http://placehold.it/310x465" data-rsw="310" data-rsh="465">Girl with a Pearl Earring<span>Johannes Vermeer</span></a>


        </div>
      </div>

      <!--
      <div class="row">
        <div class="bxslider-content-carousel">
          <h2>Carousel showing 3 slides (move one at a time)</h2>

          <div class="bx-wrapper">
            <div class="bx-viewport">
              <ul class="slider" data-slider-item-width="310" data-slider-item-margin="10" data-slider-min-slides="3"> 
                <li class="slide"><img src="{{ site.url }}/assets/img/carousel-imgs/square_slide_1.jpg">
                  <p>This is some text <a href="">for this slide</a></p></li>
                <li class="slide"><img src="{{ site.url }}/assets/img/carousel-imgs/square_slide_2.jpg">
                  <p>This is some text <a href="">for this slide</a></p></li>
                <li class="slide"><img src="{{ site.url }}/assets/img/carousel-imgs/square_slide_3.jpg">
                  <p>This is some text <a href="">for this slide</a></p></li>
                <li class="slide"><img src="{{ site.url }}/assets/img/carousel-imgs/square_slide_4.jpg">
                  <p>This is some text <a href="">for this slide</a></p></li>
                <li class="slide"><img src="{{ site.url }}/assets/img/carousel-imgs/square_slide_1.jpg">
                  <p>This is some text <a href="">for this slide</a></p></li>
                <li class="slide"><img src="{{ site.url }}/assets/img/carousel-imgs/square_slide_2.jpg">
                  <p>This is some text <a href="">for this slide</a></p></li>
                <li class="slide"><img src="{{ site.url }}/assets/img/carousel-imgs/square_slide_3.jpg">
                  <p>This is some text <a href="">for this slide</a></p></li>
                <li class="slide"><img src="{{ site.url }}/assets/img/carousel-imgs/square_slide_4.jpg">
                  <p>This is some text <a href="">for this slide</a></p></li>
              </ul>
            </div>
          </div>

        </div>
      </div>
    -->

		</div><!-- .main-content -->	
	</div><!-- .row -->
</div><!-- .content-wrapper -->

<!-- accordion -->
<div class="panel bg-gray-bg">
	<div class="content-wrapper">
		{% include components/_accordion.html %}
	</div>
</div>

<div class="content-wrapper">
  <div class="row">
  	<div class="main-content">
        
  	</div><!-- .content-wrapper -->
  </div><!-- .row -->
</div><!-- .content-wrapper -->


<div class="panel bg-gray-bg">
  <div class="content-wrapper">
    <div class="row">
      <div class="four-up-content-gallery panelled">
        <h2>Four up content gallery (with optional title links)</h2>
        <ul>
          <li><a class="no-border" href="" title=""><img class="m-hide" src="http://placehold.it/320x320&text=Hall image" alt=""></a>
            <h3><a href="" title="">Hall name</a></h3></li>
          <li><a class="no-border" href="" title=""><img class="m-hide" src="http://placehold.it/320x320&text=Hall image" alt=""></a>
            <h3><a href="" title="">Hall name</a></h3></li>
          <li><a class="no-border" href="" title=""><img class="m-hide" src="http://placehold.it/320x320&text=Hall image" alt=""></a>
            <h3><a href="" title="">Hall name</a></h3></li>
          <li><a class="no-border" href="" title=""><img class="m-hide" src="http://placehold.it/320x320&text=Hall image" alt=""></a>
            <h3><a href="" title="">Hall name</a></h3></li>
          <li><a class="no-border" href="" title=""><img class="m-hide" src="http://placehold.it/320x320&text=Hall image" alt=""></a>
            <h3><a href="" title="">Hall name</a></h3></li>
          <li><a class="no-border" href="" title=""><img class="m-hide" src="http://placehold.it/320x320&text=Hall image" alt=""></a>
            <h3><a href="" title="">Hall name</a></h3></li>
          <li><a class="no-border" href="" title=""><img class="m-hide" src="http://placehold.it/320x320&text=Hall image" alt=""></a>
            <h3><a href="" title="">Hall name</a></h3></li>
          <li><a class="no-border" href="" title=""><img class="m-hide" src="http://placehold.it/320x320&text=Hall image" alt=""></a>
            <h3><a href="" title="">Hall name</a></h3></li>
          <li><a class="no-border" href="" title=""><img class="m-hide" src="http://placehold.it/320x320&text=Hall image" alt=""></a>
            <h3><a href="" title="">Hall name</a></h3></li>
          <li><a class="no-border" href="" title=""><img class="m-hide" src="http://placehold.it/320x320&text=Hall image" alt=""></a>
            <h3><a href="" title="">Hall name</a></h3></li>
          <li><a class="no-border" href="" title=""><img class="m-hide" src="http://placehold.it/320x320&text=Hall image" alt=""></a>
            <h3><a href="" title="">Hall name</a></h3></li>
          <li><a class="no-border" href="" title=""><img class="m-hide" src="http://placehold.it/320x320&text=Hall image" alt=""></a>
            <h3><a href="" title="">Hall name</a></h3></li>
        </ul>
      </div>
    </div>
  </div>
</div>
  <!-- image gallery 
<div class="panel dark-gray-bg">
  <div class="content-wrapper">
    {% include components/_gallery-lightbox-three-up.html %}
  </div>
</div>
-->
<div class="panel dark-gray-bg">
  <div class="content-wrapper">
    {% include components/_gallery-lightbox-showtime.html %}
  </div>
</div>

  <section id="course-meta" class="row">
  	<div class="content-wrapper">
  		<div class="d5-d10 buffer-top buffer-plus">
  			<h2>Course Downloads</h2> 
  			<ul>
  				<li class="download"><a href="#">Foundation application form (PDF - 273KB)</a></li>
  				<li class="download"><a href="#">Foundation application form (PDF - 273KB)</a></li>
  				<li class="download"><a href="#">Foundation application form (PDF - 273KB)</a></li>
  			</ul>
  		</div>
  		<div class="d11-d14 buffer-top-plus">
  			<!-- navigation object : KIS Widget -->

  			<iframe id="unistats-widget-frame" title="Unistats KIS Widget" src="http://stg.unistats.eduserv.org.uk/Widget.aspx?i=10007162&amp;c=10167&amp;o=vertical" scrolling="no" style="overflow: hidden; border: 0px none transparent; width: 200px; height: 470px;"></iframe>

  		</div>
  </section><!-- .row -->

<!-- related content -->
<div class="panel bg-gray-bg">
  <div class="content-wrapper">
    {% include components/_related-content.html %}  
  </div>
</div>