---
layout: main.tpl
college: ual
section: single-course
title: BA (Hons) Fashion Design Technology, Womenswear
template: true
---

<div class="content-wrapper">
	<div class="row">
		<nav class="sidebar">
			<ul>
				<li>BA (Hons) Painting</li>
				<li><a href="/colleges/camberwell/courses/undergraduate/ba-sculpture/">BA (Hons) Sculpture</a></li>
				<li><a href="/colleges/camberwell/courses/undergraduate/ba-hons-illustration/">BA (Hons) Illustration</a></li>
			</ul>
		</nav>
		<div role="main" class="main-content">
			<div class="row">
				<div class="text-block">
					<p class="leader">Wimbledon BA Fine Art Painting graduates are a prominent force in the international art world. Driven to forge new possibilities through the material of paint and its relationship to other media, they are characterised by their inventiveness, ambition and professionalism.</p>
				</div>
			</div>
			
			{% include components/_boxout.html %}

			{% include components/_slider-12.html %}

		</div><!-- .main-content -->	
	</div><!-- .content-wrapper -->
</div><!-- .row -->

<!-- accordion -->
<div class="panel bg-gray-bg">
	<div class="content-wrapper">
		{% include components/_accordion.html %}
	</div>
</div>

<section id="course-news" class="row">
	<div class="content-wrapper">
		<div class="d5-d16 clearfix buffer-top">
			<h2>A Feed With Images</h2>
			<ul>
				<li class="row media-block border-dot">
					<figure class="d5-d8">
					<a href="#" title="Link title">
					   <img src="http://placehold.it/380x304" alt="Image Alt">
					</a>
					</figure>
					<div class="media-body d9-d16">
						<h4><a href="#">LCC Undergraduate Summer Open Day</a></h4>
						<p>Camberwell College of Arts BA Photography lecturer Bernd Behr is one of four artists chosen to represent Taiwan at the 2013 Venice Biennale.</p>
						<p class="media-meta"><a href="#">View information</a></p>
					</div>
				</li><!-- .media-block -->
				<li class="row media-block heading-bottom border-dot">
					<figure class="d5-d8">
					<a href="#" title="Link title">
					   <img src="http://placehold.it/380x304" alt="Image Alt">
					</a>
					</figure>
					<div class="media-body d9-d16">
						<h4 class="media-heading-bottom"><a href="#">LCC Undergraduate Summer Open Day</a></h4>
						<p>Camberwell College of Arts BA Photography lecturer Bernd Behr is one of four artists chosen to represent Taiwan at the 2013 Venice Biennale.</p>
						<p class="media-meta">16 July 2013</p>
					</div>
				</li><!-- .media-block -->
				<li class="row media-block heading-bottom border-dot">
					<figure class="d5-d8">
					<a href="#" title="Link title">
					   <img src="http://placehold.it/380x304" alt="Image Alt">
					</a>
					</figure>
					<div class="media-body d9-d16">
						<h4 class="media-heading-bottom"><a href="#">LCC Undergraduate Summer Open Day</a></h4>
						<p>Camberwell College of Arts BA Photography lecturer Bernd Behr is one of four artists chosen to represent Taiwan at the 2013 Venice Biennale.</p>
						<p class="media-meta"><a href="#">View information</a></p>
					</div>
				</li><!-- .media-block -->
			</ul>
		</div>
	</div><!-- .content-wrapper -->
</section><!-- .row -->

<section id="course-people" class="row bg-gray-bg">
	<div class="content-wrapper">
		<div class="d5-d16 clearfix buffer-top buffer-plus">
			<h2>Staff, Students and Alumni</h2> 
			<ul class="blocks four-up">
            <li>
                <div class="media-block region heading-bottom">
                  <figure>
                  	<a href="#" title="Link title">
          				<img src="http://placehold.it/210x210" alt="Image Alt">
          			</a>
                  </figure>
                  <div class="media-body">
                        <h4 class="media-heading-bottom">Course tutor: Valerie Mace</h4>
                        <p>Curabitur blandit tempus porttitor. Donec sed odio dui. Nullam id dolor id nibh ultricies vehicula ut id elit. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor.
                        </p>
                  </div>
               </div>
            </li>
            <li>
                <div class="media-block region heading-bottom">
                  <figure>
                  	<a href="#" title="Link title">
          					<img src="http://placehold.it/210x210" alt="Image Alt">
          				</a>
                  </figure>
                  <div class="media-body">
                        <h4 class="media-heading-bottom">Course tutor: Valerie Mace</h4>
                        <p>Curabitur blandit tempus porttitor. Donec sed odio dui. Nullam id dolor id nibh ultricies vehicula ut id elit. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor.</p>
                  </div>
               </div>
            </li>            
            <li>
                <div class="media-block region heading-bottom">
                  <figure>
                  	<a href="#" title="Link title">
          					<img src="http://placehold.it/210x210" alt="Image Alt">
          				</a>
                  </figure>
                  <div class="media-body">
                        <h4 class="media-heading-bottom">Course tutor: Valerie Mace</h4>
                        <p>Curabitur blandit tempus porttitor. Donec sed odio dui. Nullam id dolor id nibh ultricies vehicula ut id elit. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor.</p>
                  </div>
               </div>
            </li>
            <li>
                <div class="media-block region heading-bottom">
                  <figure>
                  	<a href="#" title="Link title">
          					<img src="http://placehold.it/210x210" alt="Image Alt">
          				</a>
                  </figure>
                  <div class="media-body">
                        <h4 class="media-heading-bottom">Course tutor: Valerie Mace</h4>
                        <p>Curabitur blandit tempus porttitor. Donec sed odio dui. Nullam id dolor id nibh ultricies vehicula ut id elit. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor.</p>
                  </div>
               </div>
            </li>
        </ul>

		</div>
	</div><!-- .content-wrapper -->
</section><!-- .row -->

<section id="course-gallery" class="row soft-black-bg">
	<div class="content-wrapper">
		<div class="d5-d16 clearfix buffer-top buffer">
			<h2>Course Gallery</h2>
			<ul class="blocks three-up lightbox">
            <li>
                <div class="media-block region heading-bottom">
                  <figure>
                  	<a href="{{ site.url }}/assets/img/lightbox/img1_768.jpg" title="Link title">
          				<img src="{{ site.url }}/assets/img/lightbox/img1_290.jpg" alt="Image Alt">
          			</a>
                  </figure>
               </div>
            </li>
            <li>
                <div class="media-block region heading-bottom">
                  <figure>
                  	<a href="{{ site.url }}/assets/img/lightbox/img2_768.jpg" title="Link title">
          				<img src="{{ site.url }}/assets/img/lightbox/img2_290.jpg" alt="Image Alt">
          			</a>
                  </figure>
               </div>
            </li>            
            <li>
                <div class="media-block region heading-bottom">
                  <figure>
                  	<a href="{{ site.url }}/assets/img/lightbox/img3_768.jpg" title="Link title">
          					<img src="{{ site.url }}/assets/img/lightbox/img3_290.jpg" alt="Image Alt">
          				</a>
                  </figure>
                </div>
            </li>
            <li>
                <div class="media-block region heading-bottom">
                  <figure>
                  	<a href="{{ site.url }}/assets/img/lightbox/img4_768.jpg" title="Link title">
          					<img src="{{ site.url }}/assets/img/lightbox/img4_290.jpg" alt="Image Alt">
          				</a>
                  </figure>
               </div>
            </li>
        </ul>
		</div>
	</div><!-- .content-wrapper -->
</section><!-- .row -->

<section id="course-meta" class="row">
	<div class="content-wrapper">
		<div class="d5-d10 buffer-top buffer-plus">
			<h2>Course Downloads</h2> 
			<ul>
				<li class="download"><a href="#">Foundation application form (PDF - 273KB)</a></li>
				<li class="download"><a href="#">Foundation application form (PDF - 273KB)</a></li>
				<li class="download"><a href="#">Foundation application form (PDF - 273KB)</a></li>
			</ul>
		</div>
		<div class="d11-d14 buffer-top-plus">
			<!-- navigation object : KIS Widget -->

			<iframe id="unistats-widget-frame" title="Unistats KIS Widget" src="http://stg.unistats.eduserv.org.uk/Widget.aspx?i=10007162&amp;c=10167&amp;o=vertical" scrolling="no" style="overflow: hidden; border: 0px none transparent; width: 200px; height: 470px;"></iframe>

		</div>
</section><!-- .row -->

</div><!-- .content-wrapper -->

