footer.college-footer.row
  .footer-wrapper
    .footer-block.left
      h3.size-h2 Contact Us
      // see http://html5doctor.com/microformats/
      ul.vcard
        li.no-bullet
          a.fn.org.url(href='/lcc/', title='Contact information for London College of Communication')
            span.organization-name London College of Communication
        li
          span.adr
            span.street-address Elephant & Castle
            | ,
            span.region London
            span.postal-code SE1 6SB
            br
        li
          span.tel
            | Telephone:
            span.value +44 (0)20 7514 6500
        li
          a(href='mailto:info@lcc.arts.ac.uk') info@lcc.arts.ac.uk
        li
          a(href='/lcc/about-lcc/contact-us/') Contact Us
    .footer-block.middle
      h3.size-h2 Course guide
      p
        | Download a copy of our
        a(href='/media/arts/colleges/lcc/documents/LCC_poster1m3_-25June2013-FINAL.pdf') LCC Course Guide 2013/14 (PDF 294KB)
        br
        br
        br
    .footer-block.right
      h3.size-h2 Connect
      ul.icons.no-bullet
        li
          a.facebook(href='http://www.facebook.com/londoncollegeofcommunication')
            span.icon-facebook-circled
        li
          a.twitter(href='http://twitter.com/LCCLondon')
            span.icon-gplus-white
        li
          a.youtube(href='http://www.youtube.com/artslondonlcc')
            span.icon-instagram-white
  a.back-to-top(href='#')
    span ↑
    | back to top
