footer.college-footer.row
  .footer-wrapper
    .footer-block.left
      h3.size-h2 Contact Us
      // see http://html5doctor.com/microformats/
      ul.vcard
        li.no-bullet
          a.fn.org.url(href='/lcc/', title='Contact information for London College of Communication')
            span.organization-name London College of Communication
        li
          span.adr
            span.street-address Elephant & Castle
            | ,
            span.region London
            span.postal-code SE1 6SB
            br
        li
          span.tel
            | Telephone:
            span.value +44 (0)20 7514 6500
        li
          a(href='mailto:info@lcc.arts.ac.uk') info@lcc.arts.ac.uk
        li
          a(href='/lcc/about-lcc/contact-us/') Contact Us
    .footer-block.middle
      h3.size-h2 Course guide
      p
        | Download a copy of our
        a(href='/media/arts/colleges/lcc/documents/LCC_poster1m3_-25June2013-FINAL.pdf') LCC Course Guide 2013/14 (PDF 294KB)
        br
        br
        br
    .footer-block.right
      h3.size-h2 Connect
      ul.icons.no-bullet
        li
          a.facebook(href='http://www.facebook.com/londoncollegeofcommunication')
            span.icon-facebook-circled
        li
          a.twitter(href='http://twitter.com/LCCLondon')
            span.icon-twitter-circled
        li
          a.youtube(href='http://www.youtube.com/artslondonlcc')
            span.icon-youtube
// navigation object : Main Footer Include
// start footer
footer.global-footer.row
  .footer-wrapper
    .row
      .footer-links
        ul.footer-col-1
          li
            a(href='/accessibility/') Accessibility
          li
            a(href='/about-ual/strategy-governance/public-information/freedom-of-information/') Freedom of Information
          li
            a(href='/privacy-and-cookies/') Privacy & Cookies
          li
            a(href='/disclaimer/') Disclaimer
        ul.footer-col-2
          li
            a(href='/about-ual/strategy-governance/public-information/charitable-status/') Charitable Status
          li
            a(href='/about-ual/support-our-creative-future/') Give to UAL
          li
            a(href='/about-ual/work-at-ual/') Work at UAL
          li
            a(href='/feedback-form/') Feedback
        ul.footer-col-3
          li
            a(href='http://showtime.arts.ac.uk/') Showtime
          li
            a(href='http://my.arts.ac.uk/') MyArts Staff
          li
            a(href='http://my.arts.ac.uk/student/') MyArts Student
          li
            a(href='http://www.suarts.org/') Students' Union
        ul.social-links
          h3 Connect with UAL:
          li
            a(href='https://twitter.com/UniArtsLondon', title='UAL on Twitter')
              span.footer-ico.icon-twitter
          li
            a(href='https://www.facebook.com/UniversityoftheArtsLondon', title='UAL on Facebook')
              span.footer-ico.icon-facebook
          li
            a(href='http://www.youtube.com/user/universityartslondon', title='UAL on YouTube')
              span.footer-ico.icon-youtube
          // <li><a href="#" title="UAL on Flickr"><span class="footer-ico icon-flickr"></span></a></li>
      .row
        .copyright
          p © 2014 University of the Arts London All Rights Reserved
  a.back-to-top(href='#')
    span ↑
    | back to top
