footer.college-footer.row
  .footer-wrapper
    .footer-block.left
      h3.size-h2 Contact
      // see http://html5doctor.com/microformats/
      ul.vcard
        li.no-bullet
          a.fn.org.url(href='/wimbledon/', title='Contact information for Wimbledon College of Arts')
            span.organization-name Wimbledon College of Arts
        li
          span.adr
            span.street-address Merton Hall Road
            | ,
            span.region London
            span.postal-code SW19 3QA
            br
        li
          span.tel
            | Telephone:
            span.value +44 (0)20 7514 9641
        li
          a(href='mailto:info@wimbledon.arts.ac.uk') info@wimbledon.arts.ac.uk
    .footer-block.middle
      h3.size-h2 Order a prospectus
      p
        span Camberwell, Chelsea and Wimbledon 
        span 2014 - 15
        | prospectus
      ul.no-bullet
        li
          a(href='/media/arts/colleges/wimbledon/documents/Camberwell-Chelsea-Wimbledon-2014-15-prospectus.pdf') Download [PDF, 69.8 MB]
        li
          a(href='https://artslondon.wufoo.com/forms/q7x3q7', title='Request a prospectus') Request a hard copy
      p
        span Camberwell, Chelsea and Wimbledon short course brochure
      ul.no-bullet
        li
          a(href='/media/arts/colleges/wimbledon/documents/Camberwell-Chelsea-Wimbledon-Short-Course-brochure-2013-2014.pdf') Download [PDF, 4.9 MB]
        li
          a(href='https://artslondon.wufoo.eu/forms/ccw-short-course-brochure', title='Request a short course brochure') Request a hard copy
    .footer-block.right
      h3.size-h2 Follow
      ul.icons.no-bullet
        li
          a.facebook(href='https://www.facebook.com/WimbledonUAL')
            span.icon-facebook-circled
        li
          a.twitter(href='https://twitter.com/WimbledonUAL')
            span.icon-twitter-circled
        li
          a.flickr(href='http://www.flickr.com/photos/wimbledon-ual/')
            span.icon-flickr-circled
