.icon-ual-camberwell {
	background-image: url('png/ual-camberwell.png');
	background-repeat: no-repeat;
}
.icon-ual-chelsea {
	background-image: url('png/ual-chelsea.png');
	background-repeat: no-repeat;
}
.icon-ual-csm {
	background-image: url('png/ual-csm.png');
	background-repeat: no-repeat;
}
.icon-ual-lcc {
	background-image: url('png/ual-lcc.png');
	background-repeat: no-repeat;
}
.icon-ual-lcf {
	background-image: url('png/ual-lcf.png');
	background-repeat: no-repeat;
}
.icon-ual-mobile {
	background-image: url('png/ual-mobile.png');
	background-repeat: no-repeat;
}
.icon-ual-wimbledon {
	background-image: url('png/ual-wimbledon.png');
	background-repeat: no-repeat;
}
.icon-ual {
	background-image: url('png/ual.png');
	background-repeat: no-repeat;
}
