.logo-ual-camberwell {
	background-image: url('http://dcdgag63wc396.cloudfront.net/assets/img/ual-camberwell.png');
	background-repeat: no-repeat;
}
.logo-ual-chelsea {
	background-image: url('http://dcdgag63wc396.cloudfront.net/assets/img/ual-chelsea.png');
	background-repeat: no-repeat;
}
.logo-ual-csm {
	background-image: url('http://dcdgag63wc396.cloudfront.net/assets/img/ual-csm.png');
	background-repeat: no-repeat;
}
.logo-ual-lcc {
	background-image: url('http://dcdgag63wc396.cloudfront.net/assets/img/ual-lcc.png');
	background-repeat: no-repeat;
}
.logo-ual-lcf {
	background-image: url('http://dcdgag63wc396.cloudfront.net/assets/img/ual-lcf.png');
	background-repeat: no-repeat;
}
.logo-ual-mobile {
	background-image: url('http://dcdgag63wc396.cloudfront.net/assets/img/ual-mobile.png');
	background-repeat: no-repeat;
}
.logo-ual-wimbledon {
	background-image: url('http://dcdgag63wc396.cloudfront.net/assets/img/ual-wimbledon.png');
	background-repeat: no-repeat;
}
.logo-ual {
	background-image: url('http://dcdgag63wc396.cloudfront.net/assets/img/ual.png');
	background-repeat: no-repeat;
}
