- var Title = '';
block vars
.header-panel.bg-gray-bg
  .header-wrapper
    .row
      // navigation object : Breadcrumbs
      .breadcrumbs
        a(href='/') University of the Arts London
        a(href='/#{Title}/', style='display: none;') #{Title}
      #skip-to-here.page-title
        h1
          // navigation object : Section name
          | #{Title}
