div.content-wrapper
  div.row
    nav.sidebar(role='navigation')
      ul
        li.menu-heading In this section
        li
          a(href='#') Sub Menu
        li
          a(href='#') Links 
        li
          a(href='#') Here
        li
          a(href='#') Here
        li
          a(href='#') and Here
    
    div.content(role='main')
        block content