div.content-wrapper
  div.row
    nav.sidebar(role='navigation')
      ul
        li.menu-heading In this section
        li
          a(href='#') Prototype one
        li
          a(href='#') Prototype two
        li
          a(href='#') Prototype three
        li
          a(href='#') Prototype four
        li
          a(href='#') Prototype five

    div.content(role='main')
        block content






//- //- Sidebar - courses / in this section, dropdown style
//- div.content-wrapper
//-   div.row
//-     nav.sidebar(role='navigation')
//-       .dd-menu.siblings
//-         .js-dd-menu.dd-menu-heading
//-           h3.dd-menu-title In this section
//-           .dd-menu-arrow
//-             span.js-dd-menu-icon.icon.icon-down-open-big
//-         ul.js-dd-menu-list
//-           li
//-             a(href='/lcc/courses/short-courses/browse-short-courses/lcc-short-courses/adobe-creative-suite-and-apple-software/3ds-max-visual-effects-animation/') 3ds Max Visual Effects Animation
//-           li
//-             a(href='/lcc/courses/short-courses/browse-short-courses/lcc-short-courses/adobe-creative-suite-and-apple-software/new-features-in-dreamweaver-and-flash/') Adobe CS6 - Introduction to new features in Dreamweaver and Flash
//-           li
//-             a(href='/lcc/courses/short-courses/browse-short-courses/lcc-short-courses/adobe-creative-suite-and-apple-software/photoshop-for-graphic-designers-intermediate/') Adobe Photoshop for Graphic Designers and Illustrators (Intermediate Level)
//-           li
//-             a(href='/lcc/courses/short-courses/browse-short-courses/lcc-short-courses/adobe-creative-suite-and-apple-software/photoshop-for-photographers-intermediate/') Adobe Photoshop for Photographers (Intermediate)

//-     div.content(role='main')
//-         block content






