div.content-wrapper
  div.row
    nav.sidebar(role='navigation')
      ul
        li.menu-heading In this section
        li
          a(href='#') Prototype one
        li
          a(href='#') Prototype two
        li
          a(href='#') Prototype three
        li
          a(href='#') Prototype four
        li
          a(href='#') Prototype five

    div.content(role='main')
        block content
