<div class="wrapper m-hide t-hide">
<nav class="college-link-menu row">
  <ul>
    <li><a href="/">UAL</a></li>
      <li><a href="{{ site.url }}/beta/content/colleges/camberwell/">Camberwell</a></li>
      <li><a href="{{ site.url }}/beta/content/colleges/csm/">CSM</a></li>
      <li><a href="{{ site.url }}/beta/content/colleges/chelsea/">Chelsea</a></li>
      <li><a href="{{ site.url }}/beta/content/colleges/lcc/">LCC</a></li>
      <li><a href="{{ site.url }}/beta/content/colleges/lcf/">LCF</a></li>
      <li><a href="{{ site.url }}/beta/content/colleges/wimbledon/">Wimbledon</a></li>
  </ul>
</nav>
</div>