<footer class="college-footer row soft-black-bg">
	<div class="content-wrapper">
		<div class="flex-block left">
				<h3><span class="bordered">Follow Us</span></h3>
					<ul class="icons no-bullet">
						<li><a class="btn icon-email social" href="#">Email us</a></li>
						<li><a class="btn icon-twitter twitter" href="#">Follow us on Twitter</a></li>
						<li><a class="btn icon-facebook facebook" href="#">Find us on Facebook</a></li>
					</ul>
		</div>
		<div class="flex-block middle">
				<h3>Get a Prospectus</h3>
					<p>The Camberwell, Chelsea and Wimbledon (CCW) 2013-14 prospectus</p>
						<ul>
							<li class="download"><a href="#">Download the PDF (25.7MB)</a></li>
							<li class="paper"><a href="#">Request a hard copy</a></li>
						</ul>
		</div>
		<div class="flex-block right">
				<h3>Contact Us</h3>
					<!-- see http://html5doctor.com/microformats/ -->
					<p>20 John Prince's Street, London W1G 0BJ</p>
					<p>View map</p>
					<p class="vcard">
					<a class="fn org url" href="http://www.w3.org/Consortium/contact-keio" title="Contact Information for W3C/Keio"><span class="organization-name">W3C</span>/<span class="organization-unit">Keio</span></a><br>
					<span class="adr"><a class="extended-address" href="http://www.keio.ac.jp/english/about_keio/campus_info/sfc1.html">Keio University Shonan Fujisawa Campus</a><br>
					<span class="street-address">5322 Endo</span>, <span class="locality">Fujisawa city</span>,<br>
					<span class="region">Kanagawa prefecture</span> <span class="postal-code">252-8520</span> <b class="country">Japan</b><br>
					<span class="tel">Telephone: <span class="value">+81-466-49-1170</span></span><br>
					<span class="tel"><span class="type">Fax</span>: <span class="value">+81-466-49-1171</span></span></span>
					</p>
		</div>
	</div>
</footer>
