<div id="footer-journeys-panel" class="footer-journeys-panel">
	<div class="content-wrapper">
		<div class="row">
			<ul class="footer-journeys">
				<li>
					<h3>Funding Opportunities</h3>
					<ul class="journey-breadcrumb">
						<li><a href="#">Research Degrees</a></li>
						<li><a href="#">How To Apply</a></li>
						<li><a href="#">Tuition Fees &amp; Funding</a></li>
						<li><a href="#">Funding Opportunities</a></li>
					</ul>
				</li>
				<li>
					<h3>Current Project</h3>
					<ul class="journey-breadcrumb">
						<li><a href="#">Library Learning &amp; Teaching</a></li>
						<li><a href="#">Library Learning some more</a></li>
						<li><a href="#">Collecitons &amp; Archives</a></li>
						<li><a href="#">Current Projects</a></li>
					</ul>
				</li>
				<li>
					<h3>University Blogs</h3>
					<ul class="journey-breadcrumb">
						<li><a href="#">About Us</a></li>
						<li><a href="#">Showcase</a></li>
						<li><a href="#">Tuition Fees &amp; Funding</a></li>
						<li><a href="#">University Blogs</a></li>
						
					</ul>
				</li>
				<li>
					<h3>Funding Opportunities</h3>
					<ul class="journey-breadcrumb">
						<li><a href="#">Research Degress</a></li>
						<li><a href="#">How To Apply</a></li>
						<li><a href="#">Tuition Fees &amp; More Funding</a></li>
						<li><a href="#">Funding Opportunities</a></li>
					</ul>
				</li>
			</ul>
		</div>
	</div>
</div>