<div class="wrapper">
  <div class="row">  
      <div class="ual-banner-menu pad-top-2x ">
        <div class="logo">
            <img alt='' class='d-hide' src='{{ site.url }}/assets/img/ual-logo-small.png'>
            <img alt='' class='m-hide t-hide' src='{{ site.url }}/assets/img/logos/ual-logo.png'>
        </div> 
      <div class="cta d8-d16">
      <div style="float:right;">        
        <a href="#" class="course">Course Finder</a>
        <a href="#" class="search">Search</a>   
        <a href="#" id="main-menu-btn" class="d-hide menu menu-button-toggle"><span id="menu-icon-indicator" class="ual-white">≡</span> Menu</a>
      </div>
      </div>   
    </div>
  </div>
</div>