<script type="text/javascript">

  // accordion
  $(function() {
    $('#st-accordion').accordion();
  });

  //bxslider
  $('.bxslider').bxSlider({
    mode: 'horizontal',
    captions: true
  });

  $(document).ready(function(){
    $('.slider1').bxSlider({
      slideWidth: 293,
      minSlides: 1,
      maxSlides: 4,
      // moveSlides: 1,
      slideMargin: 1
      // pagerType: 'short'
    });
  });

$(document).ready(function(){
  $(".expanded-content").hide();
  $("#hide").click(function(){
    // $(".expanded-content").hide();
    $(".expanded-content").slideUp("fast");
    $("#show").show();
  });
  $("#show").click(function(){
    // $(".expanded-content").show();
    $(".expanded-content").slideDown("fast");
    $("#show").hide();
  });
});


</script>