<!-- offcanvas slide down global navigation for mobile -->
<nav id="topMenu" class="topMenu" role="navigation">
    <ul>
        <li><a href="">Colleges</a></li>
        <li><a href="">Studying at UAL</a></li>
        <li><a href="">Student Jobs &amp; Careers</a></li>
        <li><a href="">Alumni &amp; Friends</a></li>
        <li><a href="">Research</a></li>
        <li><a href="">Business &amp; Innovation</a></li>
        <li><a href="">About UAL</a></li>
    </ul>
</nav>

<p class="show-for-small">
    <a class="menu-button small button" id="menuButton" href="#menu">Global</a> 
    <a class="menu-button small button" href="#bottomMenu">Bottom Nav</a> 
</p>

{% include search/_course_search.html %}
{% include search/_search.html %}

<!-- main navigation -->
<div class="row hide-for-small">
    <nav class="search-bar">
        <section class="search-bar-section">
            <!-- Right Nav Section -->
            <ul class="right">
                <li><span><a href="" title="">Course Finder</a> <a href="#" class="toggle-nav">+</a></span></li>
                <li><a href="" title="">Search</a></li>
            </ul>      
        </section>
    </nav>
</div>

<div id="course-finder">
    <div class="row">
        <div class="large-10 columns">
            <h4>Course Finder</h4>
        </div>
        <div class="large-6 columns">
            <div class="right links">
                <a href="#" title="">Short Courses</a>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="large-16 columns" id="services">
            <p>Test stuff</p>
        </div>
    </div>    
</div>

<!-- <div class="row">
    <div class="large-16 columns">
        <nav class="HF01v1-search-links">
            <ul>
                <li><a href="" title="" class="course" data-reveal-id="courseSearch">Course Finder</a></li>
                <li><a href="" title="" class="search" data-reveal-id="siteSearch">Search</a></li>
            </ul>
        </nav>
    </div>
</div> -->

<div class="row">
	<div class="large-4 columns logo">
		<!-- add logo -->
		{% include logos/lcc.logo.html %}
	</div>
	<div class="large-12 columns">
        <div class="row">
            <div class="large-16 columns">
                <nav class="HF01v1-persistant-links">
                    <ul class="group" id="colleges">
                        <li class="current_page_item"><a href="{{ site.url }}">UAL</a></li>
                        <li><a href="{{ site.url }}colleges/camberwell/" title="">Camberwell</a></li>
                        <li><a href="{{ site.url }}colleges/csm/" title="">CSM</a></li>
                        <li><a href="{{ site.url }}colleges/chelsea/" title="">Chelsea</a></li>
                        <li><a href="{{ site.url }}colleges/lcc/" title="">LCC</a></li>
                        <li><a href="{{ site.url }}colleges/lcf/" title="">LCF</a></li>
                        <li><a href="{{ site.url }}colleges/wimbledon/" title="">Wimbledon</a></li>
                    </ul>
                </nav>
            </div>
        </div>
	</div>
</div>

<!-- main navigation -->
<div class="contain-to-grid hide-for-small">
    <nav class="top-bar">

        <section class="top-bar-section">
            <!-- Left Nav Section -->
            <ul class="left">
                <li class="has-dropdown"><a href="" title="">Colleges</a>
                    <ul class="dropdown">
                        <li><a href="" title="">Camberwell College of Arts</a></li>
                        <li><a href="" title="">Central Saint Martins College of Arts and Design</a></li>
                        <li><a href="" title="">Chelsea College of Art and Design</a></li>
                        <li><a href="" title="">London College of Communication</a></li>
                        <li><a href="" title="">London College of Fashion</a></li>
                        <li><a href="" title="">Wimbledon College of Art</a></li>
                    </ul>
                </li>
                <li class="has-dropdown"><a href="" title="">Studying at UAL</a>
                    <ul class="dropdown">
                        <li><a href="" title="">Why UAL</a></li>
                        <li><a href="" title="">Open days</a></li>
                        <li><a href="" title="">Fees and funding</a></li>
                        <li><a href="" title="">Student support</a></li>
                        <li><a href="" title="">Applying and enrolling</a></li>
                        <li><a href="" title="">International</a></li>
                        <li><a href="" title="">Library</a></li>
                        <li><a href="" title="">Learning and teaching</a></li>
                        <li><a href="" title="">Accommodation</a></li>
                        <li><a href="" title="">Student union</a></li>
                        <li><a href="" title="">Facilities</a></li>
                        <li><a href="" title="">Widening participation</a></li>
                    </ul>
                </li>
                <li class="has-dropdown"><a href="" title="">Student Jobs &amp; Careers</a>
                    <ul class="dropdown">
                        <li><a href="" title="">SPARE</a></li>
                    </ul>
                </li>
                <li class="has-dropdown"><a href="" title="">Alumni &amp; Friends</a>
                    <ul class="dropdown">
                        <li><a href="" title="">Alumni Benefits</a></li>
                        <li><a href="" title="">Inspiring Alumni</a></li>
                        <li><a href="" title="">Give and Support</a></li>
                        <li><a href="" title="">Register your details</a></li>
                        <li><a href="" title="">Stay Connected</a></li>
                        <li><a href="" title="">Contact Us</a></li>
                    </ul>
                </li>
                <li class="has-dropdown"><a href="" title="">Research</a>
                    <ul class="dropdown">
                        <li><a href="" title="">Research Environment</a></li>
                        <li><a href="" title="">Research Degrees</a></li>
                        <li><a href="" title="">Research Staff</a></li>
                    </ul>
                </li>
                <li class="has-dropdown"><a href="" title="">Business &amp; Innovation</a>
                    <ul class="dropdown">
                        <li><a href="" title="">SPARE</a></li>
                    </ul>
                </li>
                <li class="has-dropdown"><a href="" title="">About UAL</a>
                    <ul class="dropdown last">
                        <li><a href="" title="">News</a></li>
                        <li><a href="" title="">Events Calendar</a></li>
                        <li><a href="" title="">Our History</a></li>
                        <li><a href="" title="">Invest in the Future</a></li>
                        <li><a href="" title="">Press Office</a></li>
                        <li><a href="" title="">Charitable Status</a></li>
                        <li><a href="" title="">Governance and Policy</a></li>
                        <li><a href="" title="">Administrative</a></li>
                        <li><a href="" title="">Staff Directory</a></li>
                        <li><a href="" title="">Contact UAL</a></li>
                    </ul>
                </li>
            </ul>
        </section>
    </nav>
</div>

