<div class="row">
	<div class="large-12 columns">
		{% include logos/ual.logo.blackbg.html %}
		<nav>
			<ul>
				<li><a href="">Showtime</a></li>
				<li><a href="">Myarts</a></li>
				<li><a href="">UAL Edit</a></li>
				<li><a href="">Flickr</a></li>
				<li><a href="">Facebook</a></li>
				<li><a href="">Twitter</a></li>
				<li><a href="">YoutTube</a></li>
			</ul>
		</nav>
	</div>
</div>

<div class="row">
	<div class="large-12 columns">
		<nav>
			<ul>
				<li><a href="">&copy; University of the Arts London All Rights Reserved</a></li>
				<li><a href="">Accessibility</a></li>
				<li><a href="">Cookies</a></li>
				<li><a href="">Privacy policy</a></li>
			</ul>
		</nav>
	</div>
</div>
