<footer class='footer row panel'>
  <div class="content-wrapper">
    <div class="row">
      <div class='footer-links'>
        <ul class='primary-links'>
          <li>
            <a href='#'>Showtime</a>
          </li>
          <li>
            <a href='#'>My.Arts</a>
          </li>
          <li>
            <a href='#'>UAL Edit</a>
          </li>
          <li>
            <a href='#'>Flickr</a>
          </li>
          <li>
            <a href='#'>Facebook</a>
          </li>
          <li>
            <a href='#'>Twitter</a>
          </li>
          <li>
            <a href='#'>YouTube</a>
          </li>
          <li>
            <a id="footer-btn-explore" href='#'>Explore</a>
          </li>
        </ul>

        <ul class='secondary-links'>
          <li>
            <a href='#'>Sitemap</a>
          </li>

          <li>
            <a href='#'>Freedom of Information</a>
          </li>
          <li>
            <a href='#'>Accessibility</a>
          </li>
          <li>
            <a href='#'>Privacy Policy</a>
          </li>
          <li>
            <a href='#'>Cookies</a>
          </li>
          <li>
            <a href='#'>Disclaimer</a>
          </li>
          <li>
            <a href='#'>Charitable Status</a>
          </li>
          <li>
            <a href='#'>Donate</a>
          </li>
          <li>
            <a href='#'>Contact</a>
          </li>
        </ul>
      </div>
      
      <div class='copyright'>
        <p>&copy; 2012 University of the Arts London All Rights Reserved</p>
      </div>
    </div>
  </div>

  <a href="#" class="back-to-top"><span>&uarr;</span> back to top</a>
</footer>

<footer class="row">
    <div class="content-wrapper">
        <!-- debug -->
        <ul>
          <li>Channel base uri:</li>
          <li>Channel base description:  This channel is used to publish the BETA UAL Website.</li>
          <li>Channel base id:  18</li>
          <li>Channel base name:  Beta UAL Website</li>
          <li>Page created : Wed 12 Jun 2013 03:03:20</li>
          <li>Page modified : Mon 17 Jun 2013 05:38:13</li>
          <li> Section id :
          <!-- navigation object : Section id -->
        35297 </li>
      </ul>
        <!-- end debug -->
    </div>
</footer>