<div class="row">
	<div class="large-1 columns">
		<div class="footer-logo">
			{% include logos/ual.logo.footer.blackbg.html %}
		</div>
	</div>
	<div class="large-15 columns">
		<nav class="footer-ual-links-social">
			<ul>
				<li><a href="">Showtime</a></li>
				<li><a href="">Myarts</a></li>
				<li><a href="">UAL Edit</a></li>
				<li><a href="">Flickr</a></li>
				<li><a href="">Facebook</a></li>
				<li><a href="">Twitter</a></li>
				<li><a href="">YoutTube</a></li>
			</ul>
		</nav>
	</div>
</div>

<div class="row">
	<div class="large-16 columns">
		<nav class="footer-ual-links-defualt"> 
			<ul>
				<li><a href="">&copy; University of the Arts London All Rights Reserved</a></li>
				<li><a href="">Accessibility</a></li>
				<li><a href="">Cookies</a></li>
				<li><a href="">Privacy policy</a></li>
			</ul>
		</nav>
	</div>
</div>
