<script type="text/javascript">

  // accordion
  $(function() {
    $('#st-accordion').accordion();
  });

  //bxslider
  $('.bxslider').bxSlider({
    mode: 'horizontal',
    captions: true
  });

  $(document).ready(function(){
    $('.four-up-square').bxSlider({
      slideWidth: 293,
      minSlides: 1,
      maxSlides: 4,
      // moveSlides: 1,
      slideMargin: 1
      // pagerType: 'short'
    });
  });

$(document).ready(function(){


 // show/hide the relevant buttons for browsers that have JS enabled
  $(".expanded-content").hide();
  $(".show-more").show();
  
  // handle "Show More" button click
  $(".show-more").click(function(e){
      e.preventDefault();  
      
      var _clicked = $(this);
    
      /*if ( $(".hide-content").length > 0 ) {
          // close all other currently expanded blocks
          $(".expanded-content").each(function() {
            $(this).hide();
          });   
      }*/
    
      var parent = _clicked.closest(".expandable-content-block"); 
      $(".expanded-content",parent).slideDown(); 
      _clicked.hide();

      });

      // handle "Show Less" button click
      $(".hide-content").click(function(e){
      e.preventDefault();  
      
      var _clicked = $(this);
      var parent = _clicked.closest(".expandable-content-block"); 
      $(".expanded-content",parent).hide();
      $(parent).find(".show-more").show();
      });
  });

</script>