<div class='main-menu cf is-hidden-mobile' role='navigation'>
    <form action='/' class='search-mobile d-hide t-hide'>
        <div class='search'>
            <input class='input-medium' placeholder='Search Site' type='text'>
        </div>
        <div class='search'>
            <input class='input-medium' placeholder='Find Courses' type='text'>
        </div>
    </form>
    <nav class='top-bar'>
        <ul class='dropdown group'>
            <li>
                <a href='#' title=''>Colleges</a>
                <div class='span d-hide t-hide'>
                    <span> + </span>
                </div>
                <ul class='sub_menu is-removed-mobile'>
                    <li>
                        <a href='' title=''>Camberwell College of Arts</a>
                    </li>
                    <li>
                        <a href='' title=''>Central Saint Martins College of Arts and Design</a>
                    </li>
                    <li>
                        <a href='' title=''>Chelsea College of Art and Design</a>
                    </li>
                    <li>
                        <a href='' title=''>London College of Communication</a>
                    </li>
                    <li>
                        <a href='' title=''>London College of Fashion</a>
                    </li>
                    <li>
                        <a href='' title=''>Wimbledon College of Art</a>
                    </li>
                </ul>
            </li>
            <li>
                <a href='#' title=''>Studying at UAL</a>
                <ul class='sub_menu m-hide is-removed-mobile'>
                    <li>
                        <a href='' title=''>Why UAL</a>
                    </li>
                    <li>
                        <a href='' title=''>Open days</a>
                    </li>
                    <li>
                        <a href='' title=''>Fees and funding</a>
                    </li>
                    <li>
                        <a href='' title=''>Student support</a>
                    </li>
                    <li>
                        <a href='' title=''>Applying and enrolling</a>
                    </li>
                    <li>
                        <a href='' title=''>International</a>
                    </li>
                    <li>
                        <a href='' title=''>Library</a>
                    </li>
                    <li>
                        <a href='' title=''>Learning and teaching</a>
                    </li>
                    <li>
                        <a href='' title=''>Accommodation</a>
                    </li>
                    <li>
                        <a href='' title=''>Student union</a>
                    </li>
                    <li>
                        <a href='' title=''>Facilities</a>
                    </li>
                    <li>
                        <a href='' title=''>Widening participation</a>
                    </li>
                </ul>
            </li>
            <li>
                <a href='#' title=''>Student Jobs &amp; Careers</a>
                <ul class='sub_menu m-hide'>
                    <li>
                        <a href='' title=''>sublink</a>
                    </li>
                    <li>
                        <a href='' title=''>sublink</a>
                    </li>
                    <li>
                        <a href='' title=''>sublink</a>
                    </li>
                </ul>
            </li>
            <li>
                <a href='#' title=''>Alumni &amp; Friends</a>
                <ul class='sub_menu m-hide'>
                    <li>
                        <a href='' title=''>Alumni Benefits</a>
                    </li>
                    <li>
                        <a href='' title=''>Inspiring Alumni</a>
                    </li>
                    <li>
                        <a href='' title=''>Give and Support</a>
                    </li>
                    <li>
                        <a href='' title=''>Register your details</a>
                    </li>
                    <li>
                        <a href='' title=''>Stay Connected</a>
                    </li>
                    <li>
                        <a href='' title=''>Contact Us</a>
                    </li>
                </ul>
            </li>
            <li>
                <a href='#' title=''>Research</a>
                <ul class='sub_menu m-hide'>
                    <li>
                        <a href='' title=''>Research Environment</a>
                    </li>
                    <li>
                        <a href='' title=''>Research Degrees</a>
                    </li>
                    <li>
                        <a href='' title=''>Research Staff</a>
                    </li>
                </ul>
            </li>
            <li>
                <a href='#' title=''>Business &amp; Innovation</a>
                <ul class='sub_menu m-hide'>
                    <li>
                        <a href='' title=''>sublink</a>
                    </li>
                    <li>
                        <a href='' title=''>sublink</a>
                    </li>
                    <li>
                        <a href='' title=''>sublink</a>
                    </li>
                </ul>
            </li>
            <li>
                <a href='#' title=''>About UAL</a>
                <div class='span d-hide t-hide'>
                    <span> + </span>
                </div>
                <ul class='sub_menu is-removed-mobile last'>
                    <li>
                        <a href='' title=''>News</a>
                    </li>
                    <li>
                        <a href='' title=''>Events Calendar</a>
                    </li>
                    <li>
                        <a href='' title=''>Our History</a>
                    </li>
                    <li>
                        <a href='' title=''>Invest in the Future</a>
                    </li>
                    <li>
                        <a href='' title=''>Press Office</a>
                    </li>
                    <li>
                        <a href='' title=''>Charitable Status</a>
                    </li>
                    <li>
                        <a href='' title=''>Governance and Policy</a>
                    </li>
                    <li>
                        <a href='' title=''>Administrative</a>
                    </li>
                    <li>
                        <a href='' title=''>Staff Directory</a>
                    </li>
                    <li>
                        <a href='' title=''>Contact UAL</a>
                    </li>
                </ul>
            </li>
        </ul>
    </nav>
</div>
<nav class='secondary-menu-mobile d-hide t-hide'></nav>