<!-- <header class='cf' id='header'>
    <div class='search-buttons'>
        <div class='primary-buttons is-hidden-mobile'>
            <button class='course'>
                Courses
            </button>
            <button class='search'>
                Search
            </button>
        </div>
    </div>
    <div class='banner'>
        <div class='menu-toggle d-hide t-hide'>
            <img alt='' src='{{ site.url }}assets/img/menu-toggle.png'>
        </div>
        <div class='logo'>
            <img alt='' class='d-hide t-hide' src='{{ site.url }}assets/img/ual-logo-small.png'>
            <img alt='' class='m-hide' src='{{ site.url }}assets/img/logos/ual-logo.png'>
        </div>
        <nav class='global-college-links m-hide' role='navigation'>
            <ul>
                <li>
                    <a href='#'>ual</a>
                </li>
                <li>
                    <a href='#'>camberwell</a>
                </li>
                <li>
                    <a href='#'>chelsea</a>
                </li>
                <li>
                    <a href='#'>lcc</a>
                </li>
                <li>
                    <a href='#'>lcf</a>
                </li>
                <li>
                    <a href='#'>wimbledon</a>
                </li>
            </ul>
        </nav>
    </div>
</header> -->