<div class="row">
    <div class="large-12 columns">
        <nav class="top-bar-search">
            <ul>
                <li><a href="#">Course Finder <span class="course-icon">{% include components/course_icon.html %}</span></a></li>
                <li><a href="#">Search <span class="search-icon">{% include components/search_icon.html %}</span></a></li>
            </ul>
        </nav>
    </div>
    <div class="large-3 columns logo">
        <!-- include logo -->
        {% include components/LOGO.white.html %}
    </div>
    <div class="large-9 columns">
        <nav class="top-bar-colleges">
            <ul>
                <li class="active"><a href="#">UAL</a></li>
                <li><a href="#">Camberwell</a></li>
                <li><a href="#">CSM</a></li>
                <li><a href="#">Chelsea</a></li>
                <li><a href="#">LCC</a></li>
                <li><a href="#">LCF</a></li>
                <li><a href="#">Wimbledon</a></li>
            </ul>
        </nav>
    </div>
</div>


<div id="navbar" class="contain-to-grid sticky">
    <nav class="top-bar">
        <ul class="title-area">  
            <!-- Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone -->
            <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
        </ul>

    <section class="top-bar-section">
        <!-- Left Nav Section -->
        <ul class="left">
            <li class="divider"></li>
            <li class="has-dropdown active"><a href="#">Colleges</a>
                <ul class="dropdown">
                    <li><a href="#">Camberwell College of Arts</a></li>
                    <li class="divider"></li>
                    <li><a href="#">Central Saint Martins College of Arts and Design</a></li>
                    <li class="divider"></li>
                    <li><a href="#">Chelsea College of Art and Design</a></li>
                    <li class="divider"></li>
                    <li><a href="#">London College of Communication</a></li>
                    <li class="divider"></li>
                    <li><a href="#">London College of Fashion</a></li>
                    <li class="divider"></li>
                    <li><a href="#">Wimbledon College of Art</a></li>
                </ul>
            </li>
            <li class="divider"></li>
            <li class="has-dropdown"><a href="#">Studying at UAL</a>
                <ul class="dropdown">
                    <li><a href="#">Why UAL</a></li>
                    <li class="divider"></li>
                    <li><a href="#">Open days</a></li>
                    <li class="divider"></li>
                    <li><a href="#">Fees and funding</a></li>
                    <li class="divider"></li>
                    <li><a href="#">Student support</a></li>
                    <li class="divider"></li>
                    <li><a href="#">Applying and enrolling</a></li>
                    <li class="divider"></li>
                    <li><a href="#">International</a></li>
                    <li class="divider"></li>
                    <li><a href="#">Library</a></li>
                    <li class="divider"></li>
                    <li><a href="#">Learning and teaching</a></li>
                    <li class="divider"></li>
                    <li><a href="#">Accommodation</a></li>
                    <li class="divider"></li>
                    <li><a href="#">Student union</a></li>
                    <li class="divider"></li>
                    <li><a href="#">Facilities</a></li>
                    <li class="divider"></li>
                    <li><a href="#">Widening participation</a></li>
                </ul>
            </li>
            <li class="divider"></li>
            <li class="has-dropdown"><a href="#">Student Jobs &amp; Careers</a>
                <ul class="dropdown">
                    <li><a href="#">SPARE</a></li>
                    <li class="divider"></li>
                </ul>
            </li>
            <li class="divider"></li>
            <li class="has-dropdown"><a href="#">Alumni &amp; Friends</a>
                <ul class="dropdown">
                    <li><a href="#">Alumni Benefits</a></li>
                    <li class="divider"></li>
                    <li><a href="#">Inspiring Alumni</a></li>
                    <li class="divider"></li>
                    <li><a href="#">Give and Support</a></li>
                    <li class="divider"></li>
                    <li><a href="#">Register your details</a></li>
                    <li class="divider"></li>
                    <li><a href="#">Stay Connected</a></li>
                    <li class="divider"></li>
                    <li><a href="#">Contact Us</a></li>
                    <li class="divider"></li>
                </ul>
            </li>
            <li class="divider"></li>
            <li class="has-dropdown"><a href="#">Research</a>
                <ul class="dropdown">
                    <li><a href="#">Research Environment</a></li>
                    <li class="divider"></li>
                    <li><a href="#">Research Degrees</a></li>
                    <li class="divider"></li>
                    <li><a href="#">Research Staff</a></li>
                </ul>
            </li>
            <li class="divider"></li>
            <li><a href="#">Business &amp; Innovation</a></li>
            <li class="divider"></li>
            <li class="has-dropdown"><a href="#">ABOUT UAL</a>
                <ul class="dropdown">
                    <li><a href="#">News</a></li>
                    <li class="divider"></li>
                    <li><a href="#">Events Calendar</a></li>
                    <li class="divider"></li>
                    <li><a href="#">Our History</a></li>
                    <li class="divider"></li>
                    <li><a href="#">Invest in the Future</a></li>
                    <li class="divider"></li>
                    <li><a href="#">Press Office</a></li>
                    <li class="divider"></li>
                    <li><a href="#">Charitable Status</a></li>
                    <li class="divider"></li>
                    <li><a href="#">Governance and Policy</a></li>
                    <li class="divider"></li>
                    <li><a href="#">Administrative</a></li>
                    <li class="divider"></li>
                    <li><a href="#">Staff Directory</a></li>
                    <li class="divider"></li>
                    <li><a href="#">Contact UAL</a></li>
                </ul>
            </li>
            <li class="divider"></li>
        </ul>

        <!-- Right Nav Section -->
        <ul id="navbar-offset" class="right">
            <li class="divider hide-for-small"></li>
            <li class="has-dropdown"><a href="#">Search</a>
                <ul class="dropdown">
                    <li><a href="#" class="">Course Finder</a>
                    <li class="divider"></li>
                    <li><a href="#" class="">Site Search</a></li>

                </ul>
            </li>
        </ul>
    </section>
    </nav>  
</div>
