<!-- HEADER -->
        <header class="container">
            <div class="row">
                <!-- Add site logo to header -->
                {% include components/HF02v1.Logo.Default.html %}
                <div class="span9">
                    <div class="row">
                        <!-- Add persistant links to header -->
                        {% include components/HF05v1.PersisentLinks.Default.html %}
                        <!-- Add search form to header -->
                        {% include components/HF04v1.SearchBar.Default.html %}
                    </div>
                    <div class="row">
                        <!-- Add main navigation to the header -->
                        {% include components/HF01v1.MainMenu.Default.html %}
                    </div>
                </div>
            </div>
        </header>
<!-- HEADER -->