<!-- HEADER -->
<div class="container">
    <div class="row-fluid">
        <div class="span4">
            <!-- Add site logo to header -->
            {% include components/HF02v1.Logo.Default.html %}
        </div>
        <div class="span12">
            <div class="header-row">
                <div class="cols12">
                <!-- Add search form to header -->
                {% include components/HF04v1.SearchBar.Default.html %}
                </div>
            </div>
            <div class="header-row">
                <div class="cols12">
                <!-- Add persistant links to header -->
                {% include components/HF05v1.PersisentLinks.Default.html %}
                </div>
            </div>
            <div class="header-row">
                <div class="cols12">
                <!-- Add main navigation to the header -->
                {% include components/HF01v1.MainMenu.Default.html %}       
                </div>
            </div>
        </div>
    </div>    
</div>
<!-- HEADER -->