<!-- HEADER -->
<div class="header2">
    <div class="row">
        <div class="large-3 columns">
            <!-- Add search form to header -->
            {% include components/LOGO.white.html %}
        </div>
        <div class="large-9 columns">
            <div class="row">
                <div class="large-9 columns">
                    <nav class="links2">
                        <ul>
                            <li><a href="#">UAL</a></li>
                            <li><a href="#">Camberwell</a></li>
                            <li><a href="#">CSM</a></li>
                            <li><a href="#">Chelsea</a></li>
                            <li><a href="#">LCC</a></li>
                            <li><a href="#">LCF</a></li>
                            <li><a href="#">Wimbledon</a></li>
                        </ul>
                    </nav>
                </div>
                <div class="large-3 columns">
                    <nav class="search2">
                        <ul>
                            <li><a href="#">Course finder</a></li>
                            <li><a href="#">Search</a></li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="large-12 columns">
            <nav class="mainnav2">
                <ul>
                    <li><a href="#">Colleges</a></li>
                    <li><a href="#">Studying at UAL</a>
                        <ul>
                            <li><a href="#">Why UAL</a></li>
                            <li><a href="#">Open days</a></li>
                            <li><a href="#">Fees and funding</a></li>
                            <li><a href="#">Student support</a></li>
                            <li><a href="#">Applying and enrolling</a></li>
                            <li><a href="#">International</a></li>
                            <li><a href="#">Library</a></li>
                            <li><a href="#">Learning and teaching</a></li>
                            <li><a href="#">Accommodation</a></li>
                            <li><a href="#">Student union</a></li>
                            <li><a href="#">Facilities</a></li>
                            <li><a href="#">Widening participation</a></li>
                        </ul>
                    </li>
                    <li><a href="#">Student jobs &amp; careers</a></li>
                    <li><a href="#">Alumni &amp; friends</a></li>
                    <li><a href="#">Research</a></li>
                    <li><a href="#">Business &amp; Innovation</a></li>
                    <li><a href="#">About UAL</a></li>
                </ul>
            </nav>
        </div>
    </div>
</div>
<!-- HEADER -->