<!-- HEADER -->
<div class="row">
    <div class="large-3 columns">
        <!-- Add site logo to header -->
        {% include components/HF02v1.Logo.Default.html %}
    </div>
    <div class="large-9 columns">
        <div class="row">
            <div class="large-12 columns">
            <!-- Add search form to header -->
            {% include components/HF04v1.SearchBar.Default.html %}
            </div>
        </div>
        <div class="row">
            <div class="large-12 columns">
            <!-- Add persistant links to header -->
            {% include components/HF05v1.PersisentLinks.Default.html %}
            </div>
        </div>
        <div class="row">
            <div class="large-12 columns">
            <!-- Add main navigation to the header -->
            {% include components/HF01v1.MainMenu.Default.html %}       
            </div>
        </div>
    </div>
</div>
<!-- HEADER -->