    <!-- Bootstrap -->
    <script src="{{ site.url }}assets/js/bootstrap/bootstrap-affix.js"></script>
    <script src="{{ site.url }}assets/js/bootstrap/bootstrap-alert.js"></script>
    <script src="{{ site.url }}assets/js/bootstrap/bootstrap-button.js"></script>
    <script src="{{ site.url }}assets/js/bootstrap/bootstrap-carousel.js"></script>
    <script src="{{ site.url }}assets/js/bootstrap/bootstrap-collapse.js"></script>
    <script src="{{ site.url }}assets/js/bootstrap/bootstrap-dropdown.js"></script>
    <script src="{{ site.url }}assets/js/bootstrap/bootstrap-modal.js"></script>
    <script src="{{ site.url }}assets/js/bootstrap/bootstrap-popover.js"></script>
    <script src="{{ site.url }}assets/js/bootstrap/bootstrap-scrollspy.js"></script>
    <script src="{{ site.url }}assets/js/bootstrap/bootstrap-tab.js"></script>
    <script src="{{ site.url }}assets/js/bootstrap/bootstrap-tooltip.js"></script>
    <script src="{{ site.url }}assets/js/bootstrap/bootstrap-transition.js"></script>
    <script src="{{ site.url }}assets/js/bootstrap/bootstrap-typeahead.js"></script>

    <!-- Libs -->
    <script src="{{ site.url }}assets/js/libs/response.min.js.js"></script> <!-- Respond.min.js -->

    <!-- Plugins -->
    <script src="{{ site.url }}assets/js/plugins/jquery.mosaic-sliding-boxes-captions.js"></script>

    <!-- Asynchronous Google Analytics snippet. Change UA-XXXXX-X to be your site's ID.
    mathiasbynens.be/notes/async-analytics-snippet -->
    <script>
        var _gaq=[['_setAccount','UA-XXXXX-X'],['_trackPageview']];
        (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
        g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
        s.parentNode.insertBefore(g,s)}(document,'script'));
    </script>