<footer class="college-footer row soft-black-bg">
	<div class="content-wrapper">
		<div class="footer-block left">
			<h3 class="size-h2">Follow Us</h3>
				<ul class="icons no-bullet">
					<li><a href="#"><img src="{{ site.url }}/assets/img/icons/flickr.png" alt="#"></a></li>
					<li><a href="#"><img src="{{ site.url }}/assets/img/icons/twitter.png" alt="#"></a></li>
					<li><a href="#"><img src="{{ site.url }}/assets/img/icons/facebook.png" alt="#"></a></li>
				</ul>
		</div>
		<div class="footer-block middle">
			<h3 class="size-h2">LCC On Twitter</h3>
				<p>Alternatively pick up crack free from any independent east London establishment synonymous with great music, art &amp; fashion. A fine read.</p>
		</div>
		<div class="footer-block right">
			<h3 class="size-h2">Contact Us</h3>
				<p>London College of Communication<br />
				Elephant &amp; Castle<br />
				London SE1 6SB</p>
				<p>Switchboard: +44 (0)20 7514 6500</p>
		</div>
	</div>
</footer>
