<ul class="no-bullet">
<!--	
	<li><a href="#">About LCF</a></li>
	<li><a href="#">Courses</a></li>
	<li><a href="#">News</a></li>
	<li><a href="#">Events</a></li>
	<li><a href="#">Life at LCF</a></li>
	<li><a href="{{ site.url }}content/colleges/lcf/people/">LCF People</a></li>
	<li><a href="#">LCF Channel</a></li>
	<li><a href="{{ site.url }}content/colleges/lcf/research/">LCF Research</a></li>
	<li><a href="#">LCF Business</a></li>
-->
	{% for page in site.pages %}
    	{% if page.layout != nil %}
    		{% if page.college == 'lcf' %}
            <li>
            	<a href="{{ site.url }}{{ page.url | remove: 'index.html' }}"> {{ page.title }}</a>
            </li>
    		{% endif %}
    	{% endif %}
    {% endfor %}
</ul>	



    