<footer class="zone-footer row ual-black-bg">
	<div class="flex-block centered d1-d6">
		<div class="inner">
	  		<h3 class="heading-x2"><span class="bordered">Latest tweets</span></h3>
			<p>Welcome everybody to the awesome bla tweet twitter bla</p>
	  		<p>20 mins ago</p>
	  	</div>
	</div>
	<div class="flex-block centered d7-d11">
		<div class="inner middle">
			<h3 class="heading-x2"><span class="bordered">Get in touch</span></h3>
			<p>20 John Prince's Street, London W1G 0BJ</p>
			<p>View map</p>
		</div>
	</div>
	<div class="flex-block centered d12-d16">
		<div class="inner">
			<h3 class="heading-x2"><span class="bordered">We&rsquo;re social</span></h3>
			<ul class="icons no-bullet">
			<li>
			  <a class="btn icon-email social" href="#">Email us</a>
			</li>
			<li>
			  <a class="btn icon-twitter twitter" href="#">Follow us on Twitter</a>
			</li>
			<li>
			  <a class="btn icon-facebook facebook" href="#">Find us on Facebook</a>
			</li>
			</ul>
		</div>
	</div>
</footer>