<ul>
    {% for page in site.pages %}
    {% if page.layout != nil %}
    {% if page.navigation == 'docs' %}
            <li>
            <a href="{{ site.url }}/{{ page.url | remove: 'index.html' }}"> {{ page.breadcrumb }}</a>
            </li>
    {% endif %}
    {% endif %}
    {% endfor %}
</ul>


<div class='new-main-menu' role='navigation' style="width:100%; display:block; overflow:hidden;  background:black;">
<div class="top-bar">        
    <ul style="display:table; height:100%; width: 100%; margin:0; padding:0; background:black; ">
            <li style=" padding-top:12px; padding-bottom:12px; list-style:none; width:auto; text-align: center; display:table-cell;">
                <a data-item="college" style=" padding-top:4px; padding-bottom:4px; color:white;  padding-left:1.5em; padding-right:1.5em; font-size:14px;" href='#' title=''>Colleges</a>
            </li>
              <li style="list-style:none; padding-top:8px; padding-bottom:8px; width:auto; text-align: center; display:table-cell; ">
                <a data-item="study"  style=" color:white; padding-top:4px; padding-bottom:4px; padding-left:1.5em; padding-right:1.5em; font-size:14px;" href='#' title=''>Studying at UAL</a>
            </li>
              <li style="list-style:none; padding-top:8px; padding-bottom:8px;  width:auto; text-align: center;  display:table-cell;">
                <a data-item="careers"  style=" padding-top:4px; padding-bottom:4px; color:white; padding-left:1.5em; padding-right:1.5em; font-size:14px;" href='#' title=''>Student Jobs &amp; Careers</a>
            </li>
              <li style="list-style:none; padding-top:8px; padding-bottom:8px;  width:auto; text-align: center; display:table-cell;">
                <a style="color:white; padding-top:4px; padding-bottom:4px;  padding-left:1.5em; padding-right:1.5em; font-size:14px;" href='#' title=''>Alumni &amp; Friends</a>
            </li>
              <li style="list-style:none; padding-top:8px; padding-bottom:8px;  width:auto;  text-align: center; display:table-cell;">
                <a style="color:white; padding-top:4px; padding-bottom:4px;  padding-left:1.5em; padding-right:1.5em; font-size:14px;" href='#' title=''>Research</a>
            </li>
              <li style="list-style:none; padding-top:8px; padding-bottom:8px;  width:auto; text-align: center; display:table-cell; ">
                <a style="color:white; padding-top:4px; padding-bottom:4px;  padding-left:1.5em; padding-right:1.5em; font-size:14px;" href='#' title=''>Business &amp; Innovation</a>
            </li>
              <li style="list-style:none;  padding-top:8px; padding-bottom:8px;  width:auto; text-align: center; display:table-cell; ">
                <a style="color:white; padding-top:4px; padding-bottom:4px;  padding-left:1.5em; padding-right:1.5em; font-size:14px;" href='#' title=''>About UAL</a>
            </li>
        </ul>
</div>
    </div>
<div class="row dark-gray-bg">    
<div class="submenu dark-gray-bg " style = "overflow:hidden;">
        <div data-menu="college" class="row region test pad-bottom-6x" style = "overflow:hidden;">
        <h2 class=" rhythm-2"  ><a style="color:white; font-weight:normal" href="{{ site.url }}/content/colleges/">Colleges</a></h2>
            <ul class="d1-d4 region" >
            <li style="list-style:none;  width:100%; display:block; float:left; border-bottom:dotted 1px white;">
                 <a style=" display:block; padding-bottom:12px; color:white; font-size:16px;" href='' title=''>Camberwell College of Arts</a>
                </li>
                <li style="list-style:none; width:100%;  display:block;  float:left; border-bottom:dotted 1px white;" >
                     <a style="display:block; padding-top:12px; padding-bottom:12px; color:white; font-size:16px;" href='' title=''>Central Saint Martins</a>
                </li>
                <li style="list-style:none; width:100%;  display:block; float:left; border-bottom:dotted 1px white;" >
                     <a style="display:block; padding-top:12px; padding-bottom:12px; color:white; font-size:16px;" href='' title=''>Chelsea College of Art and Design</a>
                </li>
                <li style="list-style:none; width:100%;  display:block; float:left; border-bottom:dotted 1px white;" >
                     <a style="display:block; padding-top:12px; padding-bottom:12px; color:white; font-size:16px;" href='' title=''>London College of Communication</a>
                </li>
            </ul>
            <ul class="d5-d8 region">
 
                <li style="list-style:none; width:100%;  display:block; float:left; border-bottom:dotted 1px white;" >
                     <a style="display:block;  padding-bottom:12px; color:white; font-size:16px;" href='' title=''>London College of Fashion</a>
                </li>
                <li style="list-style:none; width:100%;  display:block; float:left; border-bottom:dotted 1px white;" >
                     <a style="display:block; padding-top:12px; padding-bottom:12px; color:white; font-size:16px;" href='' title=''>Wimbledon College of Art</a>
                </li>
            </ul>
            <div class="d9-d16 region" style="color:white; font-size:22px;" >
                <p>Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Maecenas sed diam eget risus varius blandit sit amet non magna. Nullam id dolor id nibh ultricies vehicula ut id elit. Morbi leo risus, porta ac consectetur ac, vestibulum at eros.</p>
            </div>
        </div>
        
        <!-- studying -->
                <div data-menu="careers" class="row region test pad-bottom-6x" style = "overflow:hidden;">
        <h2 class=" rhythm-2"  ><a style="color:white; font-weight:normal" href="#">Student Jobs &amp; Careers</a></h2>
            <ul class="d1-d4 region" >
            <li style="list-style:none;  width:100%; display:block; float:left; border-bottom:dotted 1px white;">
                 <a style=" display:block; padding-bottom:12px; color:white; font-size:16px;" href='' title=''>Opportunities</a>
                </li>
                <li style="list-style:none; width:100%;  display:block;  float:left; border-bottom:dotted 1px white;" >
                     <a style="display:block; padding-top:12px; padding-bottom:12px; color:white; font-size:16px;" href='' title=''>Events</a>
                </li>
                <li style="list-style:none; width:100%;  display:block; float:left; border-bottom:dotted 1px white;" >
                     <a style="display:block; padding-top:12px; padding-bottom:12px; color:white; font-size:16px;" href='' title=''>Finding Work</a>
                </li>
                <li style="list-style:none; width:100%;  display:block; float:left; border-bottom:dotted 1px white;" >
                     <a style="display:block; padding-top:12px; padding-bottom:12px; color:white; font-size:16px;" href='' title=''>Resources</a>
                </li>
            </ul>
            <ul class="d5-d8 region">
 
                <li style="list-style:none; width:100%;  display:block; float:left; border-bottom:dotted 1px white;" >
                     <a style="display:block;  padding-bottom:12px; color:white; font-size:16px;" href='' title=''>About SEE</a>
                </li>

            </ul>
            <div class="d9-d16 region" style="color:white; font-size:22px;" >
                <p>Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Maecenas sed diam eget risus varius blandit sit amet non magna. Nullam id dolor id nibh ultricies vehicula ut id elit. Morbi leo risus, porta ac consectetur ac, vestibulum at eros.</p>
            </div>
        </div>
    </div>
    </div>