  <script src='{{ site.url }}assets/js/components/jquery.bxslider.js'></script> 

  <script>
    $(document).ready(function(){
      $('.slider1').bxSlider({
        slideWidth: 600,
        minSlides: 1,
        maxSlides: 6,
        slideMargin: 1,
        moveSlides: 1
      });
    });
  </script>


  <script>
  $(window).resize(function() {
    var originalFontSize = 12;
    var sectionWidth = $(window).width();
    console.log("width" + sectionWidth);
    var maxFontSize = 36;
    var minFontSize = 20;
    
    $('.bricks #responsive_headline').each(function(){
      var spanWidth = $(this).width();
      console.log("span" +  spanWidth);
      console.log("size" + sectionWidth/spanWidth * 16);
      var newFontSize = (spanWidth/originalFontSize) - originalFontSize ;
      if (newFontSize > maxFontSize) {
        newFontSize = maxFontSize;
      }
      if (newFontSize < minFontSize) {
        newFontSize = minFontSize;
      }
      console.log(newFontSize);
      $(this).css({"font-size" : newFontSize});

    });
  });
  </script>