
  <script src='{{ site.url }}assets/js/components/jquery.bxslider.js'></script> 
  <script>

    $(document).ready(function(){

      // detect slider component
      if ($('.slider').length > 0) {

        var _this = $('.slider');

        // get the individual slide width from the data-slider-item-width value in the HTML
        var _itemWidth = (_this.data('slider-item-width') > 0) ? _this.data('slider-item-width') : "500";

        _this.bxSlider({
          slideWidth: _itemWidth,
          minSlides: 1,
          maxSlides: 6,
          slideMargin: 1,
          moveSlides: 1,
          pager: false,
          video: true // set video to true even if slider has no video (can't do any harm?)
        });
      }

    });

  $(window).resize(function() {
    var originalFontSize = 12;
    var sectionWidth = $(window).width();
    console.log("width" + sectionWidth);
    var maxFontSize = 36;
    var minFontSize = 20;
    
   $('.bricks #responsive_headline').each(function(){
      var spanWidth = $(this).width();
      console.log("span" +  spanWidth);
      console.log("size" + sectionWidth/spanWidth * 16);
      var newFontSize = (spanWidth/originalFontSize) - originalFontSize ;
      if (newFontSize > maxFontSize) {
        newFontSize = maxFontSize;
      }
      if (newFontSize < minFontSize) {
        newFontSize = minFontSize;
      }
      console.log(newFontSize);
      $(this).css({"font-size" : newFontSize});

    });
  });



   // KIS widget
</script>
