
  <!-- Load libs for wimbledon page here -->


  <!-- end load libs for wimbledon page -->
  

  <script>
    $(document).ready(function() {
      // $(".fancy_title").lettering();
      // // Function to slabtext the cw-heading classes
      // // $(".cw-heading").slabText(); 
    
      // // use fitText for headings to make them responsive
      // $(".fit-this").fitText();
    
      // // initialize the skrollr to handle the animation on scroll
      // skrollr.init();
    });
  </script>


<script>
   
   // FLEX SLIDER for the top of the Wimbledon page
   $(window).load(function() {
      $('.flexslider').flexslider({
        animation: "slide",             
        easing: "swing",              
        direction: "horizontal",  
        pauseOnHover: true,       
        useCSS: true,
        controlNav: false,
        controlsContainer: ".slider-container",
        slideshowSpeed: 4000,           
        animationSpeed: 400, 
        start: function(slider) {
          //console.log(slider); 
          // $(".header-box").height(slider.h);
          // make sure that the height of the blue box with the college name matches the height of the slider
          $("#wi-header-box").height($("#wi-slider-right").height());
        },
        after: function(slider) {
          //console.log(slider.h); 
          //$(".header-box").height(slider.h);
          // make sure that the height of the blue box with the college name matches the height of the slider
          $("#wi-header-box").height($("#wi-slider-right").height());
        }
      });
      // make sure that both sides of the top slider are the same height
      // by setting the height of the left side to equal the height of the right slide  
    });
    // when the screen resizes, set the correct height for the left header box (same size as right slider)
    $(window).resize(function() {
      $("#wi-header-box").height($("#wi-slider-right").height());
    });
</script>
