
  <!-- Load libs for wimbledon page here -->
  

  <script>
    $(document).ready(function() {
      // $(".fancy_title").lettering();
      // // Function to slabtext the cw-heading classes
      // // $(".cw-heading").slabText(); 
    
      // // use fitText for headings to make them responsive
      $(".fit-this").fitText(1.2, { minFontSize: '14px', maxFontSize: '102.666666667px' });
    
      // // initialize the skrollr to handle the animation on scroll
      // skrollr.init();
    });
  </script>

