// AL STYLES FOR LCF

$buffer: 30px;
$buffer-plus: 54px;
$buffer-max: 102px;

// UTILITIES
.buffer {
    margin-bottom: $buffer;
}
.buffer-plus {
    margin-bottom: $buffer-plus;
}
.buffer-max {
    margin-bottom: $buffer-max;
}


.lcf {
    h1,h2,h3,h4,h5,h6 {
        text-transform: uppercase;
    }
}

.bordered {
    border-bottom: 1px solid #000;
}

.dark-bg {
    background-color: #000;
    color: #fff;
    .bordered {
        border-bottom-color: #fff; 
    }
}

// TYPOGRAPHICAL
.section-title {
    margin-bottom: 20px; // leader shit?
    h2, h3 {
        display: inline; // so that borders run as far as the text but no further
    }
}

section .standfirst {
    text-decoration: underline;
}

// FEATURE CAROUSEL
#feature-carousel {
    .orbit-caption {
        position: absolute;
        top: 30%;
        background-color: transparent;
        width: 100%;
        padding: 10px 14px;
        font-size: emCalc(14px);
    }
    h2 {
        color: #000;
    }
}

// BETTER LIVES
#better-lives {
    h3 {
        
    }
}

// SHOWCASE
#showcase {
    h2 {
        position: absolute;
        top: 40%;
        width: 100%;
    }
    .box-text {
        width: 65%;
    }
}


// SIDEBAR
.sidebar {
    margin-top: 80px;
}


