/* ::State styles */
/* ------------------------------------------------------------ */

.is-hidden {
	display: none;
}

.is-shown, .is-block {
	display: block;
}

.is-uppercase {
	text-transform: uppercase;
	letter-spacing: 1px;
}

.is-lowercase {
	text-transform: lowercase;
}

.ajust-margin-top {
	margin-top:0px;
}

@include gs-media(m, min-max) {

.is-removed-mobile {
  visibility: visible;
  height: 0px;
  overflow: hidden;
}

.is-hidden-mobile {
display:none;
}

}

.group:before,
.group:after {
    content: "";
    display: table;
} 
.group:after {
    clear: both;
}
.group {
    zoom: 1; /* For IE 6/7 (trigger hasLayout) */
}