extends ../../_layout/_base
block vars
	- var bodyClass = "ual";
	- var Title = "Latest news";
	- var Sidebar = true;
	- var Banner = true;
block content


		.row
			.l-content
				h2 .l-content testing
				.news-feed-1
				script.
					window.getNewsFeed("chelsea",1);


		.row
			.l-content-full-width
				h2 .l-content
				.news-feed-2
				script.
					window.getNewsFeed("london-college-of-fashion",2);
