extends ../../_layout/_base
block vars
	- var bodyClass = "ual";
	- var Title = "async-script-test";
	- var Sidebar = true;
	- var Banner = true;
block content
		.row
			.l-content-full-width
				h2 Latest Events Wisbey 2
				.events-feed
	h1 testing testing...........

