extends ../../_layout/_base
block vars
	- var bodyClass = "lcf";
	- var Title = "link-list-revamp";
	- var Sidebar = true;
	- var Banner = true;
block content
	.row
		.image-list-with-text
			ul
				li
					figure
						a(href='', title='Member of the Association of Business Schools')
							img(src='http://www.arts.ac.uk/media/arts/colleges/lcf/about-lcf/fashion-means-business/association-of-business-schools311-193.jpg', alt='')
					.text
						h2.size-h4
							a(href='', title='Member of the Association of Business Schools') Member of the Association of Business Schools
						p
							| The Association of Business Schools (ABS) is the authoritative voice of business and management education in the UK. In 2008 LCF achieved Association of Business School status and five years later we launched the world’s first EMBA in Fashion with our portfolio of Executive Training developing all of the time.
