---
layout: main.tpl
college: lcf
title: Graduate School
section: graduate-school
template: true
---

<div class="content-wrapper">
	<div class="row">
		<nav class="sidebar">
			{% include _lcf_navigation.html %}		
		</nav>	

		<div role="main" class="main-content">
			<!-- only on graduate school -->
			<div class="row">
				<header class="section-title">
					<h1>{{ page.title }}</h1>
				</header>
			</div>
				
			{% include components/_intro-block-with-left-image.html %}

			<div class="row">
				<div class="two-column-block">
					<header class="section-title">
						<h2>Our Programmes</h2>
					</header>
					<div class="row">
						<div class="left-col">
							<p>We recruit a dynamic mix of students from a range of academic backgrounds, including architecture, history, sociology, business and media, as well as from fashion based first degrees. Many students have spent time working in a profession before coming back into education and this experience enriches their postgraduate work. Our students come from all over the world to study at LCF, and this brings a diverse set of competencies, skills and cultures to each course, with many opportunities for cross fertilisation of ideas and concepts.</p>
							<p>A number of our MA graduates go on to research degrees within the School, and all students benefit from the interactions, such as lectures, workshops and seminars, between the research and taught postgraduate parts of the School. A programme of high profile guest speakers from industry, open to any student within the School, is run every year. This is both inspirational and informative, and provides excellent opportunities for networking.</p>
						</div>
						<div class="right-col">
							<p>Our graduates are sought after by the relevant sectors of the industry, and are established in senior positions in multinational companies. Others go into business as entrepreneurs and own label designers, while some pursue successful careers as lecturers and researchers within an academic environment. The emphasis within the School on quality of research, innovation and craftsmanship ensures that all graduates can make a significant contribution in their particular fields.</p>
						</div>
					</div>
				</div>
			</div>
			<div id="design-technology" class="row">
				<div class="media-block">
					<h2>Design and Technology</h2>
					<figure><img src="{{ site.url }}/assets/img/lcf/lcf-gs-2.jpg"></figure>
				</div>
			</div>
			{% include components/_half-list.html %}

			<div id="business-management" class="row">
				<div class="media-block">
					<h2>Business and Management</h2>
					<figure><img src="{{ site.url }}/assets/img/lcf/lcf-gs-3.jpg"></figure>
				</div>
			</div>
			{% include components/_half-list.html %}

			<div id="media-communication" class="row">
				<div class="media-block">
					<h2>Media and Communication</h2>
					<figure>
						<img src="{{ site.url }}/assets/img/lcf/lcf-gs-4.jpg" alt="Image Alt">
					</figure>
				</div>
			</div>
			{% include components/_half-list.html %}
			
			<section class="row"><!-- this will have a title and rollover effects -->
				<div class="media-block">
					<figure><img src="{{ site.url }}/assets/img/lcf/lcf-gs-5.jpg"></figure>
				</div>	
			</div>
		</div>		
	</div><!-- .row -->
</div><!-- .content-wrapper -->
