extends ../../_layout/_base
block vars
	- var bodyClass = "ual";
	- var Title = "sitemap";
	- var Sidebar = true;
	- var Banner = true;
block content
	.row
		.l-content.block.__text.sitemap
			h2 Sitemap
			ul
				li
					a(href='/') University of the Arts London
					ul
						li
							a(href='/study-at-ual/') Study At UAL
							ul
								li
									a(href='/study-at-ual/courses/') Courses
								li
									a(href='/study-at-ual/postgraduate/') Postgraduate Study
									ul
										li
											a(href='/study-at-ual/postgraduate/pg-courses/') Postgraduate Courses
										li
											a(href='/study-at-ual/postgraduate/pg-open-days/') Postgraduate Open Days
										li
											a(href='/study-at-ual/postgraduate/postgraduate-student-support/') Postgraduate Student Support
										li
											a(href='/study-at-ual/postgraduate/postgraduate-alumni/') Postgraduate Alumni
										li
											a(href='/study-at-ual/postgraduate/pg-shows/') Postgraduate Shows
										li
											a(href='/study-at-ual/postgraduate/pg-gallery/') Postgraduate Student Work
								li
									a(href='/study-at-ual/international/') International
									ul
										li
											a(href='/study-at-ual/international/your-country/') Your Country
											ul
												li
													a(href='/study-at-ual/international/your-country/australia/') Australia
												li
													a(href='/study-at-ual/international/your-country/brazil/') Brazil
												li
													a(href='/study-at-ual/international/your-country/canada/') Canada
												li
													a(href='/study-at-ual/international/your-country/china/') China
												li
													a(href='/study-at-ual/international/your-country/colombia/') Colombia
												li
													a(href='/study-at-ual/international/your-country/hong-kong/') Hong Kong
												li
													a(href='/study-at-ual/international/your-country/iceland/') Iceland
