.row
	.accordion
		.row
			.l-content
				h2 Accordion
				p.leader Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut fringilla dui magna, a pulvinar enim mollis at. In aliquet enim velit, at eleifend mi volutpat convallis.
		.row
			#st-accordion.st-accordion
				ul.accordion-list
					<!-- navigation object : Accordion item -->
					li.accordion-list-item
						a.accordion-list-anchor(href="http://", target="_blank")
							h3.size-h4 Accordion item 1
							.st-arrow.icon.icon-plus-circled
						.st-content
							h3 unordered list
							ul
								li Mauris eget quam in justo iaculis ullamcorper.
								li Curabitur sagittis mauris vitae neque egestas condimentum.
								li Mauris commodo eros ac leo ullamcorper, sodales ultrices felis vulputate.
								li Fusce fermentum ante vel odio porttitor ullamcorper.

							h3 ordered list
							ol
								li Nullam ultricies lectus eget odio tristique, eget convallis ante sodales.
								li Aenean dignissim risus a arcu commodo molestie.
								li Etiam vehicula leo ut vehicula iaculis.
								li Vivamus dictum nulla et est laoreet rhoncus.
								li Nunc vitae justo quis augue porta varius.
								li Quisque non purus et eros vulputate porta.
					li.accordion-list-item
						a.accordion-list-anchor(href="http://", target="_blank")
							h3.size-h4 Accordion item 2
							.st-arrow.icon.icon-plus-circled
						.st-content
							h4 Heading
							img(data-src="http://app.resrc.it/o=90/http://www.arts.ac.uk/media/arts/colleges/lcf/about-lcf/facilities-social-spaces_7.jpg", alt="", class="rsImg resrc", data-resrc-width="523", src="http://app.resrc.it/s=w750,pd1/o=90/http://www.arts.ac.uk/media/arts/colleges/lcf/about-lcf/facilities-social-spaces_7.jpg")
							p Aliquam diam lectus, elementum quis mauris quis, convallis cursus nunc. Vestibulum suscipit, tellus quis cursus consectetur, erat dolor cursus quam, vitae ornare mauris augue quis leo. Sed vel dictum lectus. Praesent laoreet orci leo, ac imperdiet nisl imperdiet a. Duis auctor suscipit sem. Phasellus non erat eu odio faucibus tincidunt ac sed tellus. Ut vulputate tortor eu tortor vulputate, id suscipit nunc adipiscing. Vivamus quam est, blandit ut blandit et, eleifend ac eros.
					li.accordion-list-item
						a.accordion-list-anchor(href="http://", target="_blank")
							h3.size-h4 Accordion item 3
							.st-arrow.icon.icon-plus-circled
						.st-content
							p Nullam fringilla laoreet metus, quis sollicitudin dui malesuada eget. Nulla consectetur enim turpis, sit amet fringilla est fringilla eu. Donec ultrices rutrum molestie. Suspendisse egestas cursus lacus, a tempor augue tempus id. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.



