.row
	.l-content-full-width.block.__media.four-up
		h2 Blocks 4 feature
		ul
			li
				figure
					a(href="", title="")
						img.resrc(src="http://www.arts.ac.uk/media/arts/colleges/csm/csm-research/images/Fashion---History,-Theory,-Curation-and-Film_420x420.jpg")
					.credits Proin eros leo, pharetra bibendum nunc non, commodo congue ipsum.
				h3.size-h5
					a(href="", title="") Block 1
			li
				figure
					a(href="", title="")
						img.resrc(src="http://www.arts.ac.uk/media/arts/colleges/csm/csm-research/images/Practices-of-Writing-and-Publishing_420x420.jpg")
					.credits Proin eros leo, pharetra bibendum nunc non, commodo congue ipsum.
				h3.size-h5
					a(href="", title="") Block 2
			li
				figure
					a(href="", title="")
						img.resrc(src="http://www.arts.ac.uk/media/arts/colleges/csm/csm-research/images/Practises-of-History_420x420.jpg")
					.credits Proin eros leo, pharetra bibendum nunc non, commodo congue ipsum.
				h3.size-h5
					a(href="", title="") Block 3
			li
				figure
					a(href="", title="")
						img.resrc(src="http://www.arts.ac.uk/media/arts/colleges/csm/csm-research/images/Identity,-In,-and-Through,-the-Built-Environment_420x420.jpg")
					.credits Proin eros leo, pharetra bibendum nunc non, commodo congue ipsum.
				h3.size-h5
					a(href="", title="") Block 4
