.row
	.l-content-full-width.block.__media.three-up
		h2 Blocks 3 feature
		ul
			li
				figure
					a(href="", title="")
						img.resrc(data-src="http://app.resrc.it/o=60/http://www.arts.ac.uk/media/arts/colleges/csm/csm-research/Archives-CSM.jpg", alt="", data-resrc-width="365", src="http://app.resrc.it/s=w210,pd1/o=60/http://www.arts.ac.uk/media/arts/colleges/csm/csm-research/Archives-CSM.jpg")
					.credits Proin eros leo, pharetra bibendum nunc non, commodo congue ipsum.
				h3
					a(href="", title="") Block 1
				p Nullam fringilla laoreet metus, quis sollicitudin dui malesuada eget. Nulla consectetur enim turpis, sit amet fringilla est fringilla eu. Donec ultrices rutrum molestie.
			li
				figure
					a(href="", title="")
						img.resrc(data-src="http://app.resrc.it/http://www.arts.ac.uk/media/arts/research/standard-college-research-media/Textiles-Environment-Design1112x696.jpg", alt="", data-resrc-width="365", src="http://app.resrc.it/s=w210,pd1/http://www.arts.ac.uk/media/arts/research/standard-college-research-media/Textiles-Environment-Design1112x696.jpg")
					.credits Proin eros leo, pharetra bibendum nunc non, commodo congue ipsum.
				h3
					a(href="", title="") Block 2
				p Nullam fringilla laoreet metus, quis sollicitudin dui malesuada eget. Nulla consectetur enim turpis, sit amet fringilla est fringilla eu. Donec ultrices rutrum molestie.

			li
				figure
					a(href="", title="")
						img.resrc(data-src="http://app.resrc.it/http://www.arts.ac.uk/media/arts/research/images/5-field-of-jeans-chelsea-(1).thumbnail.jpg", alt="", data-resrc-width="365", src="http://app.resrc.it/s=w210,pd1/http://www.arts.ac.uk/media/arts/research/images/5-field-of-jeans-chelsea-(1).thumbnail.jpg")
					.credits Proin eros leo, pharetra bibendum nunc non, commodo congue ipsum.
				h3
					a(href="", title="") Block 3
				p Nullam fringilla laoreet metus, quis sollicitudin dui malesuada eget. Nulla consectetur enim turpis, sit amet fringilla est fringilla eu. Donec ultrices rutrum molestie.

