.row
	.l-content-full-width.block.__media.two-up
		h2 Blocks 2 feature
		ul
			li
				figure
					a(href="", title="")
						img.resrc(data-src="http://app.resrc.it/o=60/http://www.arts.ac.uk/media/arts/alumni-and-friends/images/TRFC.jpg", alt="", data-resrc-width="365", src="http://app.resrc.it/s=w370,pd1/o=60/http://www.arts.ac.uk/media/arts/alumni-and-friends/images/TRFC.jpg")
					.credits Proin eros leo, pharetra bibendum nunc non, commodo congue ipsum.
				h3
					a(href="", title="") Block 1
				p Nullam fringilla laoreet metus, quis sollicitudin dui malesuada eget. Nulla consectetur enim turpis, sit amet fringilla est fringilla eu. Donec ultrices rutrum molestie.
			li
				figure
					a(href="", title="")
						img.resrc(data-src="http://app.resrc.it/o=60/http://www.arts.ac.uk/media/arts/colleges/lcf/about-lcf/jubin-yu1112-696.jpg", alt="", data-resrc-width="365", src="http://app.resrc.it/s=w370,pd1/o=60/http://www.arts.ac.uk/media/arts/colleges/lcf/about-lcf/jubin-yu1112-696.jpg")
					.credits Proin eros leo, pharetra bibendum nunc non, commodo congue ipsum.
				h3
					a(href="", title="") Block 2
				p Nullam fringilla laoreet metus, quis sollicitudin dui malesuada eget. Nulla consectetur enim turpis, sit amet fringilla est fringilla eu. Donec ultrices rutrum molestie.

.row
	.l-content.block.__media.two-up
		h2 Blocks 2 content
		ul
			li
				figure
					a(href="", title="")
						img.resrc(data-src="http://app.resrc.it/o=60/http://www.arts.ac.uk/media/arts/alumni-and-friends/images/TRFC.jpg", alt="", data-resrc-width="365", src="http://app.resrc.it/s=w370,pd1/o=60/http://www.arts.ac.uk/media/arts/alumni-and-friends/images/TRFC.jpg")
					.credits Proin eros leo, pharetra bibendum nunc non, commodo congue ipsum.
				h3
					a(href="", title="") Block 1
				p Nullam fringilla laoreet metus, quis sollicitudin dui malesuada eget. Nulla consectetur enim turpis, sit amet fringilla est fringilla eu. Donec ultrices rutrum molestie.
			li
				figure
					a(href="", title="")
						img.resrc(data-src="http://app.resrc.it/o=60/http://www.arts.ac.uk/media/arts/colleges/lcf/about-lcf/jubin-yu1112-696.jpg", alt="", data-resrc-width="365", src="http://app.resrc.it/s=w370,pd1/o=60/http://www.arts.ac.uk/media/arts/colleges/lcf/about-lcf/jubin-yu1112-696.jpg")
					.credits Proin eros leo, pharetra bibendum nunc non, commodo congue ipsum.
				h3
					a(href="", title="") Block 2
				p Nullam fringilla laoreet metus, quis sollicitudin dui malesuada eget. Nulla consectetur enim turpis, sit amet fringilla est fringilla eu. Donec ultrices rutrum molestie.
