.row
	.__gallery.four-up
		h2 Content gallery
		ul.showtime-json(data-url="http://showtime.arts.ac.uk/danielservice.json")
			li
				a.zoom.no-border(href="http://dxcpw8yg8uhxn.cloudfront.net/0ec9d86b1735e924d0c1ec8f634c0549screen.jpg", title="Daniel Service", data-profile-url="http://showtime.arts.ac.uk/danielservice", style="background-image: url(http://dxcpw8yg8uhxn.cloudfront.net/0ec9d86b1735e924d0c1ec8f634c0549profile.jpg)")
			li
				a.zoom.no-border(href="http://dxcpw8yg8uhxn.cloudfront.net/a50bd8d5a40056d75c50cbf4d68622d0screen.jpg", title="Daniel Service", data-profile-url="http://showtime.arts.ac.uk/danielservice", style="background-image: url(http://dxcpw8yg8uhxn.cloudfront.net/a50bd8d5a40056d75c50cbf4d68622d0profile.jpg)")
			li
				a.zoom.no-border(href="http://dxcpw8yg8uhxn.cloudfront.net/e5810b999ed23db123c79460099e52f1screen.jpg", title="Daniel Service", data-profile-url="http://showtime.arts.ac.uk/danielservice", style="background-image: url(http://dxcpw8yg8uhxn.cloudfront.net/e5810b999ed23db123c79460099e52f1profile.jpg)")
			li
				a.zoom.no-border(href="http://dxcpw8yg8uhxn.cloudfront.net/1b6db6b44fdc38ce008c901981d60ae4screen.jpg", title="Daniel Service", data-profile-url="http://showtime.arts.ac.uk/danielservice", style="background-image: url(http://dxcpw8yg8uhxn.cloudfront.net/1b6db6b44fdc38ce008c901981d60ae4profile.jpg)")
			li
				a.zoom.no-border(href="http://dxcpw8yg8uhxn.cloudfront.net/9de7c7679b686c2845cb7b81f4a91c6bscreen.jpg", title="Daniel Service", data-profile-url="http://showtime.arts.ac.uk/danielservice", style="background-image: url(http://dxcpw8yg8uhxn.cloudfront.net/9de7c7679b686c2845cb7b81f4a91c6bprofile.jpg)")
			li
				a.zoom.no-border(href="http://dxcpw8yg8uhxn.cloudfront.net/c45bcf2e064c1967643e5baa47e61c96screen.jpg", title="Daniel Service", data-profile-url="http://showtime.arts.ac.uk/danielservice", style="background-image: url(http://dxcpw8yg8uhxn.cloudfront.net/c45bcf2e064c1967643e5baa47e61c96profile.jpg)")
			li
				a.zoom.no-border(href="http://dxcpw8yg8uhxn.cloudfront.net/25e34b823f93dc6e6fcaeb5c5ebcc58dscreen.jpg", title="Daniel Service", data-profile-url="http://showtime.arts.ac.uk/danielservice", style="background-image: url(http://dxcpw8yg8uhxn.cloudfront.net/25e34b823f93dc6e6fcaeb5c5ebcc58dprofile.jpg)")
			li
				a.zoom.no-border(href="http://dxcpw8yg8uhxn.cloudfront.net/751c0caf9d22df56b0d01feba1afda46screen.jpg", title="Daniel Service", data-profile-url="http://showtime.arts.ac.uk/danielservice", style="background-image: url(http://dxcpw8yg8uhxn.cloudfront.net/751c0caf9d22df56b0d01feba1afda46profile.jpg)")
			li
				a.zoom.no-border(href="http://dxcpw8yg8uhxn.cloudfront.net/e11715de36741bcc7237eff05e966ec7screen.jpg", title="Daniel Service", data-profile-url="http://showtime.arts.ac.uk/danielservice", style="background-image: url(http://dxcpw8yg8uhxn.cloudfront.net/e11715de36741bcc7237eff05e966ec7profile.jpg)")
			li
				a.zoom.no-border(href="http://dxcpw8yg8uhxn.cloudfront.net/c541afd44aed29563f63df7a72661f80screen.jpg", title="Daniel Service", data-profile-url="http://showtime.arts.ac.uk/danielservice", style="background-image: url(http://dxcpw8yg8uhxn.cloudfront.net/c541afd44aed29563f63df7a72661f80profile.jpg)")
			li
				a.zoom.no-border(href="http://dxcpw8yg8uhxn.cloudfront.net/873e5758f9606d5fba824e601b751622screen.jpg", title="Daniel Service", data-profile-url="http://showtime.arts.ac.uk/danielservice", style="background-image: url(http://dxcpw8yg8uhxn.cloudfront.net/873e5758f9606d5fba824e601b751622profile.jpg)")
			li
				a.zoom.no-border(href="http://dxcpw8yg8uhxn.cloudfront.net/f1eb3203e53e3c5291e36724aad996ccscreen.jpg", title="Daniel Service", data-profile-url="http://showtime.arts.ac.uk/danielservice", style="background-image: url(http://dxcpw8yg8uhxn.cloudfront.net/f1eb3203e53e3c5291e36724aad996ccprofile.jpg)")
