.row
	.l-content.expandable-content
		h2 Expandable content
		p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut fringilla dui magna, a pulvinar enim mollis at. In aliquet enim velit, at eleifend mi volutpat convallis. Integer odio mauris, sagittis quis neque non, interdum vulputate lacus. Donec pretium condimentum nisi, ac tempus velit lobortis vitae. Vivamus in quam nunc. Sed molestie sodales orci, ut pretium lacus hendrerit et. Quisque mollis vel dolor vitae semper. Ut laoreet vitae nunc nec sollicitudin. Ut vehicula elit interdum quam dapibus, in egestas metus tristique.
		.expanded-content
			p Nullam fringilla laoreet metus, quis sollicitudin dui malesuada eget. Nulla consectetur enim turpis, sit amet fringilla est fringilla eu. Donec ultrices rutrum molestie. Suspendisse egestas cursus lacus, a tempor augue tempus id. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Etiam elit sem, pulvinar nec eros ac, mattis euismod nunc. Quisque adipiscing odio sit amet aliquam feugiat. Nam at ultrices erat, non consectetur augue. Duis blandit magna ut neque suscipit, ac iaculis ligula aliquam. Mauris nec nisl ornare, sagittis lectus vel, dignissim odio. Praesent sed purus nec dui varius cursus. Nunc purus magna, laoreet eu purus eu, laoreet luctus velit. Curabitur augue nulla, tincidunt eu placerat quis, rutrum eu neque. Sed suscipit vitae augue ac iaculis. Proin erat urna, pretium ut consectetur vitae, venenatis eu arcu.
			p Phasellus imperdiet luctus ullamcorper. Proin eros leo, pharetra bibendum nunc non, commodo congue ipsum. Aenean non laoreet tortor. Quisque sed egestas felis. Nam nec posuere risus, ac tempor risus. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas eget blandit odio. Praesent blandit sapien est, eu placerat mauris rhoncus quis. Aliquam diam lectus, elementum quis mauris quis, convallis cursus nunc. Vestibulum suscipit, tellus quis cursus consectetur, erat dolor cursus quam, vitae ornare mauris augue quis leo. Sed vel dictum lectus. Praesent laoreet orci leo, ac imperdiet nisl imperdiet a. Duis auctor suscipit sem. Phasellus non erat eu odio faucibus tincidunt ac sed tellus. Ut vulputate tortor eu tortor vulputate, id suscipit nunc adipiscing. Vivamus quam est, blandit ut blandit et, eleifend ac eros.
			p
				a(href="#", class="button-link hide-content") Hide
					span.hide-descriptive-text This will reveal more about: Expandable content block
		p
			a(href="#", class="button-link show-more") Show
				span.hide-descriptive-text This will show less about: Expandable content block
