.row
	.l-content-full-width.block.__media.__with-aside
		.l-content
			h2 Media block
			figure
				img(data-src="http://app.resrc.it/o=90/http://www.arts.ac.uk/media/arts/colleges/lcf/about-lcf/facilities-gallery-spaces_2.jpg", alt="", class="rsImg resrc", data-resrc-width="523", src="http://app.resrc.it/s=w750,pd1/o=90/http://www.arts.ac.uk/media/arts/colleges/lcf/about-lcf/facilities-gallery-spaces_2.jpg")
			.__text
				p.leader Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut fringilla dui magna, a pulvinar enim mollis at. In aliquet enim velit, at eleifend mi volutpat convallis.
				p Nullam fringilla laoreet metus, quis sollicitudin dui malesuada eget. Nulla consectetur enim turpis, sit amet fringilla est fringilla eu. Donec ultrices rutrum molestie. Suspendisse egestas cursus lacus, a tempor augue tempus id. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Etiam elit sem, pulvinar nec eros ac, mattis euismod nunc. Quisque adipiscing odio sit amet aliquam feugiat. Nam at ultrices erat, non consectetur augue. Duis blandit magna ut neque suscipit, ac iaculis ligula aliquam.
		aside
			h2 with aside
			p Fusce ultrices, nunc ut adipiscing sodales, lectus risus blandit turpis, ut congue magna dui sit amet ante. Integer suscipit interdum mauris et tristique. Curabitur imperdiet, risus vitae tincidunt euismod, mi nisi sagittis mi, nec iaculis sapien nibh vehicula ipsum.
