.row
	.l-content-full-width.block.__media
		h2 Media block with big image
		figure
			img(data-src="http://app.resrc.it/o=90/http://www.arts.ac.uk/media/arts/colleges/lcf/fashion-means-business2560-960.jpg", alt="", class="rsImg resrc", data-resrc-width="523", src="http://app.resrc.it/s=w1010,pd1/o=90/http://www.arts.ac.uk/media/arts/colleges/lcf/fashion-means-business2560-960.jpg")
		.__text
			p.leader Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut fringilla dui magna, a pulvinar enim mollis at. In aliquet enim velit, at eleifend mi volutpat convallis.
