.row
	.l-content.block.__text
		h2 Text block
		p.leader Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut fringilla dui magna, a pulvinar enim mollis at. In aliquet enim velit, at eleifend mi volutpat convallis.
		p Nullam fringilla laoreet metus, quis sollicitudin dui malesuada eget. Nulla consectetur enim turpis, sit amet fringilla est fringilla eu. Donec ultrices rutrum molestie. Suspendisse egestas cursus lacus, a tempor augue tempus id. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Etiam elit sem, pulvinar nec eros ac, mattis euismod nunc. Quisque adipiscing odio sit amet aliquam feugiat. Nam at ultrices erat, non consectetur augue. Duis blandit magna ut neque suscipit, ac iaculis ligula aliquam.

		h3 unordered list
		ul
			li Mauris eget quam in justo iaculis ullamcorper.
			li Curabitur sagittis mauris vitae neque egestas condimentum.
			li Mauris commodo eros ac leo ullamcorper, sodales ultrices felis vulputate.
			li Fusce fermentum ante vel odio porttitor ullamcorper.

		h3 ordered list
		ol
			li Nullam ultricies lectus eget odio tristique, eget convallis ante sodales.
			li Aenean dignissim risus a arcu commodo molestie.
			li Etiam vehicula leo ut vehicula iaculis.
			li Vivamus dictum nulla et est laoreet rhoncus.
			li Nunc vitae justo quis augue porta varius.
			li Quisque non purus et eros vulputate porta.

		h3 nested unordered lists
		ul
			li Lorem ipsum dolor sit amet, consectetur adipiscing elit.
				ul
					li Suspendisse ac dui vitae erat lobortis vestibulum a vitae arcu.
					li Mauris rhoncus lacus sed eros porta, eget rutrum mauris condimentum.
					li Morbi laoreet metus vel dui auctor sollicitudin.
			li Curabitur sagittis mauris vitae neque egestas condimentum.
			li Mauris commodo eros ac leo ullamcorper, sodales ultrices felis vulputate.

		h3 nested ordered lists
		ol
			li Lorem ipsum dolor sit amet, consectetur adipiscing elit.
				ol
					li Suspendisse ac dui vitae erat lobortis vestibulum a vitae arcu.
					li Mauris rhoncus lacus sed eros porta, eget rutrum mauris condimentum.
					li Morbi laoreet metus vel dui auctor sollicitudin.
			li Curabitur sagittis mauris vitae neque egestas condimentum.
			li Mauris commodo eros ac leo ullamcorper, sodales ultrices felis vulputate.

		h3 ordered list with nested unordered list
		ol
			li Lorem ipsum dolor sit amet, consectetur adipiscing elit.
				ul
					li Suspendisse ac dui vitae erat lobortis vestibulum a vitae arcu.
					li Mauris rhoncus lacus sed eros porta, eget rutrum mauris condimentum.
					li Morbi laoreet metus vel dui auctor sollicitudin.
			li Curabitur sagittis mauris vitae neque egestas condimentum.
			li Mauris commodo eros ac leo ullamcorper, sodales ultrices felis vulputate.

		h3 unordered list with nested ordered list
		ul
			li Lorem ipsum dolor sit amet, consectetur adipiscing elit.
			li Curabitur sagittis mauris vitae neque egestas condimentum.
				ol
					li Suspendisse ac dui vitae erat lobortis vestibulum a vitae arcu.
					li Mauris rhoncus lacus sed eros porta, eget rutrum mauris condimentum.
					li Morbi laoreet metus vel dui auctor sollicitudin.
			li Mauris commodo eros ac leo ullamcorper, sodales ultrices felis vulputate.
