---
layout: style.tpl
title: Components
last-updated: August 04, 2013
class-home: docs
breadcrumb: Components
breadcrumb-link: /components/
---
<section class="cf">
  <div class="content-wrapper">
    <div class="row">
    <div role="navigation" class="sidebar">
      <ul>
        <li><a href="#bookmark" title="">Link</a></li>
      </ul>
    </div> <!-- end sidebar -->
    <div role="main" class="content">
        <div class="l-content block __text">
          <h2 class="heading-x2 soft-black">A list of the components currently available to be used for UAL.</h2>
          <hr>
          <p class="leader">
            <a href="https://twitter.com/artslondondev">@artsdevlondon</a> have put together a library of responsive components that can be used on any webpage under the arts.ac.uk domain.
          </p>
          <p>All library components are responsive ... or they should be lol.</p>




        </div> <!-- end .l-content block __text -->
      </div> <!-- end .content -->
    </div> <!-- end .row -->
  </div> <!-- end .content-wrapper -->
</section>

    