---
layout: main.tpl
college: lcf
section: profile
title: Profile
template: true
---

<div class="content-wrapper">
	<div class="row">
		<nav class="sidebar">
			{% include _lcf_navigation.html %}		
		</nav>	

		<div role="main" class="main-content">

			<div class="row">
				<div class="image-block-with-aside">
					<h2>Image block with aside</h2>
						<div class="main">
							<div class="flowplayer is-splash" style="background:#777 url({{ site.url }}assets/img/lcf/elly-cheng.jpg) no-repeat;">
								<video>
			      					<source type="video/mp4" src="http://www.fashion.arts.ac.uk/media/lcf/mp4/elly-cheng.mp4">
			   					</video>
		   					</div>			
						</div>

					<aside>
						<ul>
							<li><a href="http://www.fashion.arts.ac.uk/courses/honours-degrees/ba-fashion-design-technology-womenswear/" title="">BA (Hons) Fashion Design Technology: Womenswear</a></li>
						</ul>
					</aside>
				</div>
				<div class="video-wrapper media-block">
					
				</div>
			</div>
			<div class="row">
				<div class="text-block">
					<h4>What do you love most about LCF?&nbsp;</h4>
					<p>Studying at London College of Fashion has given me so much. Throughout my studies the tutors have really encouraged me to grow as a designer. I was so humbled when I was chosen for the press show, it’s such a great opportunity.&nbsp;</p>
					<h4>What was the inspiration for your collection?</h4>
					<p>The inspiration behind my designs comes from childhood fantasy, family and home. I like to experiment with everything I design and make. I create something new and exciting whilst also expressing myself as an artist. In this collection I have used wadding and sheep skin, and balanced it against loud digital prints. The collection is styled with loud accessories which accentuates the sense of fun. I have used perfectly dyed fur and mad eccentric colours. I wanted to create an eye-catching collection, which is also elegant.&nbsp;</p>
					<h4>What are your plans for the future?&nbsp;</h4>
					<p>I am influenced by JW Anderson and Christopher Kane, and my dream job would to be work with high-end womenswear brands.&nbsp;</p>
				</div>
			</div>

		</div>	
	</div><!-- .row -->
</div><!-- .content-wrapper -->

<div class="panel">
  <div class="content-wrapper">
    <div class="row">
		<div class="three-up-content-gallery lightbox">
			<ul id="showtime-json" data-url="http://showtime.arts.ac.uk/lcf/ma-fashion-design-technology-womenswear.json" data-limit="9">
			</ul>
		</div>				
</div>
  </div>
</div>

<!-- related content -->
<div class="panel bg-gray-bg">
	<div class="content-wrapper">
		{% include components/_related-content.html %}	
	</div>
</div>