extends ../../_layout/_base
block vars
	- var bodyClass = "ual";
	- var Title = "map-with-checkboxes";
	- var Sidebar = true;
	- var Banner = true;
block content
	include ../../_includes/components/_map-script.html
