@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/amucklow\/Sites\/dev\/beta\/assets\/styles\/plugins\/_animation\.scss}line{font-family:\000032}}
.animated.hinge {
  -webkit-animation-duration: 2s;
  -moz-animation-duration: 2s;
  -ms-animation-duration: 2s;
  -o-animation-duration: 2s;
  animation-duration: 2s;
}

@-webkit-keyframes fadeInDown {
  /* line 3, ../styles/plugins/_animation.scss */
  0% {
    opacity: 0;
    -webkit-transform: translateY(-20px);
  }

  /* line 6, ../styles/plugins/_animation.scss */
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
  }
}

@-moz-keyframes fadeInDown {
  /* line 13, ../styles/plugins/_animation.scss */
  0% {
    opacity: 0;
    -moz-transform: translateY(-20px);
  }

  /* line 18, ../styles/plugins/_animation.scss */
  100% {
    opacity: 1;
    -moz-transform: translateY(0);
  }
}

@-o-keyframes fadeInDown {
  /* line 25, ../styles/plugins/_animation.scss */
  0% {
    opacity: 0;
    -ms-transform: translateY(-20px);
  }

  /* line 30, ../styles/plugins/_animation.scss */
  100% {
    opacity: 1;
    -ms-transform: translateY(0);
  }
}

@keyframes fadeInDown {
  /* line 37, ../styles/plugins/_animation.scss */
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }

  /* line 42, ../styles/plugins/_animation.scss */
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

/* ::Grid styles */
/* ------------------------------------------------------------ */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/amucklow\/Sites\/dev\/beta\/assets\/styles\/docs\.scss}line{font-family:\0000320}}
.docs .updated {
  position: absolute;
  top: 14px;
  right: 0;
  font-size: 13px;
  line-height: 18px;
}
@media only screen and (min-width: 600px) and (max-width: 959px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/amucklow\/Sites\/dev\/beta\/assets\/styles\/docs\.scss}line{font-family:\0000328}}
  .docs .gist-container {
    clear: both;
    display: block;
    float: left;
    margin-left: 0;
    width: 100%;
  }
}
@media only screen and (min-width: 960px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/amucklow\/Sites\/dev\/beta\/assets\/styles\/docs\.scss}line{font-family:\0000328}}
  .docs .gist-container {
    clear: both;
    display: block;
    float: left;
    margin-left: 0;
    width: 100%;
  }
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/amucklow\/Sites\/dev\/beta\/assets\/styles\/docs\.scss}line{font-family:\0000336}}
.docs .gist-container td {
  text-align: left;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/amucklow\/Sites\/dev\/beta\/assets\/styles\/docs\.scss}line{font-family:\0000343}}
.docs p.docs-intro {
  font-weight: lighter;
  font-size: 2.625em;
  line-height: 1.14286em;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/amucklow\/Sites\/dev\/beta\/assets\/styles\/docs\.scss}line{font-family:\0000355}}
.docs .docs-intro-nav li a {
  font-weight: 300;
  color: white;
  border-bottom: 1px dotted white;
  margin-right: 12px;
  transition: all 0.25s;
  -webkit-transition: "all 0.25s";
  -moz-transition: "all 0.25s";
  -ms-transition: "all 0.25s";
  -o-transition: "all 0.25s";
  margin-bottom: 12px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/amucklow\/Sites\/dev\/beta\/assets\/styles\/docs\.scss}line{font-family:\0000370}}
.docs .docs-intro-nav li a:hover {
  color: #757575;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/amucklow\/Sites\/dev\/beta\/assets\/styles\/docs\.scss}line{font-family:\0000380}}
.docs .git-twitter-btns-list {
  height: 30px;
  width: auto;
  margin-left: auto;
  margin-right: auto;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/amucklow\/Sites\/dev\/beta\/assets\/styles\/docs\.scss}line{font-family:\0000385}}
.docs .git-twitter-btns-list ul {
  margin-bottom: 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/amucklow\/Sites\/dev\/beta\/assets\/styles\/docs\.scss}line{font-family:\0000388}}
.docs .git-twitter-btns-list ul li {
  margin-right: 12px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/amucklow\/Sites\/dev\/beta\/assets\/styles\/docs\.scss}line{font-family:\0000396}}
.docs .docs-section-links-nav li a {
  font-weight: 300;
  margin-right: 12px;
  transition: all 0.25s;
  -webkit-transition: "all 0.25s";
  -moz-transition: "all 0.25s";
  -ms-transition: "all 0.25s";
  -o-transition: "all 0.25s";
  margin-bottom: 12px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/amucklow\/Sites\/dev\/beta\/assets\/styles\/docs\.scss}line{font-family:\00003105}}
.docs .docs-section-links-nav li a .section-link {
  font-size: 2.25em;
  line-height: 1.16667em;
  line-height: 42px;
  font-weight: lighter;
  border-bottom: 1px dotted #757575;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/amucklow\/Sites\/dev\/beta\/assets\/styles\/docs\.scss}line{font-family:\00003113}}
.docs .docs-section-links-nav p {
  font-size: 1em;
  line-height: 1.5em;
  line-height: 24px;
  font-weight: lighter;
  color: #282828;
  margin-bottom: 3.75em;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/amucklow\/Sites\/dev\/beta\/assets\/styles\/docs\.scss}line{font-family:\00003124}}
.docs .breadcrumb {
  padding-top: 1.125em;
  clear: both;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/amucklow\/Sites\/dev\/beta\/assets\/styles\/docs\.scss}line{font-family:\00003127}}
.docs .breadcrumb ul {
  padding-left: 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/amucklow\/Sites\/dev\/beta\/assets\/styles\/docs\.scss}line{font-family:\00003129}}
.docs .breadcrumb ul li {
  list-style: none;
  display: inline;
  float: left;
  margin-right: 1em;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/amucklow\/Sites\/dev\/beta\/assets\/styles\/docs\.scss}line{font-family:\00003137}}
.docs .breadcrumb .separator {
  display: inline-block;
  overflow: hidden;
  text-indent: -9999px;
  background: url("/beta/assets/img/breadcrumb-separator.png") center 5px no-repeat;
  width: 33px;
  vertical-align: bottom;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/amucklow\/Sites\/dev\/beta\/assets\/styles\/docs\.scss}line{font-family:\00003147}}
.docs .header {
  background: black;
  width: 100%;
  padding-top: 0em;
  border-top: 6px solid #000000;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/amucklow\/Sites\/dev\/beta\/assets\/styles\/docs\.scss}line{font-family:\00003154}}
.docs .header h1, .docs .header h2, .docs .header h3, .docs .header h4, .docs .header h5, .docs .header h6, .docs .header p {
  color: white;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/amucklow\/Sites\/dev\/beta\/assets\/styles\/docs\.scss}line{font-family:\00003156}}
.docs .header h1 a, .docs .header h2 a, .docs .header h3 a, .docs .header h4 a, .docs .header h5 a, .docs .header h6 a, .docs .header p a {
  color: white;
  border: none;
}
@media only screen and (max-width: 599px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/amucklow\/Sites\/dev\/beta\/assets\/styles\/docs\.scss}line{font-family:\00003147}}
  .docs .header {
    padding-top: 0px;
    border-top: 0px;
  }
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/amucklow\/Sites\/dev\/beta\/assets\/styles\/docs\.scss}line{font-family:\00003169}}
.docs .header .banner {
  position: relative;
  padding-top: 0.75em;
}
@media only screen and (max-width: 599px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/amucklow\/Sites\/dev\/beta\/assets\/styles\/docs\.scss}line{font-family:\00003169}}
  .docs .header .banner {
    clear: both;
    display: block;
    float: left;
    margin-left: 0;
    width: 100%;
    background: black;
    padding-left: 3.75%;
    padding-right: 3.75%;
    overflow: visible;
    padding-bottom: 0.375em;
  }
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/amucklow\/Sites\/dev\/beta\/assets\/styles\/docs\.scss}line{font-family:\00003186}}
.docs .header .banner .header {
  clear: both;
  display: block;
  float: left;
  margin-left: 0;
  width: 100%;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/amucklow\/Sites\/dev\/beta\/assets\/styles\/docs\.scss}line{font-family:\00003193}}
a span.title {
  height: 1px;
  width: 1px;
  position: absolute;
  overflow: hidden;
  top: -10px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/amucklow\/Sites\/dev\/beta\/assets\/styles\/docs\.scss}line{font-family:\00003202}}
.menu-toggle-link {
  color: white;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/amucklow\/Sites\/dev\/beta\/assets\/styles\/docs\.scss}line{font-family:\00003212}}
#slide-menu-toggle-btn {
  position: absolute;
  top: 35px;
  right: 40px;
  height: 60px;
  width: 80px;
  z-index: 999999;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/amucklow\/Sites\/dev\/beta\/assets\/styles\/docs\.scss}line{font-family:\00003222}}
#slide-in-nav {
  display: none;
  background-color: black;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/amucklow\/Sites\/dev\/beta\/assets\/styles\/docs\.scss}line{font-family:\00003225}}
#slide-in-nav > ul li {
  width: 100%;
  border-bottom: 1px dotted #eeeeee;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/amucklow\/Sites\/dev\/beta\/assets\/styles\/docs\.scss}line{font-family:\00003230}}
#slide-in-nav > ul li a {
  color: white;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/amucklow\/Sites\/dev\/beta\/assets\/styles\/docs\.scss}line{font-family:\00003241}}
#jPanelMenu-menu {
  background-color: black;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/amucklow\/Sites\/dev\/beta\/assets\/styles\/docs\.scss}line{font-family:\00003244}}
.jPanelMenu-panel {
  background-color: black;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/amucklow\/Sites\/dev\/beta\/assets\/styles\/docs\.scss}line{font-family:\00003249}}
#jPanelMenu-menu {
  /*background-color: $ual-black;*/
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/amucklow\/Sites\/dev\/beta\/assets\/styles\/docs\.scss}line{font-family:\00003253}}
#jPanelMenu-menu ul {
  margin-top: 86px;
  width: 100%;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/amucklow\/Sites\/dev\/beta\/assets\/styles\/docs\.scss}line{font-family:\00003258}}
#jPanelMenu-menu ul li {
  padding: 6px;
  border-bottom: 1px dotted #444;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/amucklow\/Sites\/dev\/beta\/assets\/styles\/docs\.scss}line{font-family:\00003263}}
.jPanelMenu-panel {
  /*background-color: $ual-black;*/
}
