
@import "globals/variables";
// Mixins also references various Compass plugins e.g. vertical rhythm
@import "globals/mixins";



/* ::Grid styles */
/* ------------------------------------------------------------ */

@import "globals/gridset";
@import "globals/layout";



.docs {
  a {
  transition: all 0.2s linear;   // make link transitions smoother
  }


  .accordion {
   div {

      border-bottom: 0; 
      &:last-of-type {
      }
   }

         a {
        display: block;

      }

  div {
     border-top: 0; 
     &:last-of-type {
       border-top: 1px solid white;
       position: relative;
       top: -1px;
     }
  }




}

section {
    min-height: 600px;
  }

// Docs page intro section styling
p.docs-intro {
  font-weight: 300;
  @include adjust-font-size-to(34px); 
}




.breadcrumb {
  @include padding-leader(3);
  clear:both;
  ul {
    padding-left: 0;
    li {
      list-style:none;
      display:inline;
      float:left;
      margin-right:1em;

    }
  }
  .separator {
    display: inline-block;
    overflow: hidden;
    text-indent: -9999px;
    background: url("/beta/assets/img/breadcrumb-separator.png") center 5px no-repeat;
    width: 33px;
    vertical-align: bottom;
  }
}

  .header {
    background: black;
    width:100%;
    @extend .clearfix;
   @include padding-leader(0);
    border-top: 6px solid #000000;

      h2 {
         a {
            color:white;
            border:none;
         }

      }

    @include gs-media(m, min-max) {
      padding-top: 0px;
      border-top:0px;

    }

    .banner {
      @extend .wrapper;
      @extend .clearfix;
      position: relative;
      @include padding-leader(2);
      @include gs-media(m, min-max) {
        @include gs-span(m, all);
        background:black;
        padding-left:3.75%;
        padding-right:3.75%;
        overflow: visible;
        //@include padding-leader(1);
        @include padding-trailer(1);
      }

      .header {
        @include gs-span(d, all);
      }
    }
  }
}

a span.title {
  height: 1px;
  width: 1px;
  position: absolute;
  overflow: hidden;
  top: -10px;
}


// .docs-content {
//   @include gs-span(d, all);
//         @include gs-media(m, min-max) {
//         @include gs-span(m, all);
//       }
// }