<<<<<<< HEAD
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/prichardson\/Dropbox\/htdocs\/beta\/assets\/styles\/plugins\/_animation\.scss}line{font-family:\000032}}
.animated.hinge {
  -webkit-animation-duration: 2s;
  -moz-animation-duration: 2s;
  -ms-animation-duration: 2s;
  -o-animation-duration: 2s;
  animation-duration: 2s;
}

@-webkit-keyframes fadeInDown {
  /* line 3, ../styles/plugins/_animation.scss */
  0% {
    opacity: 0;
    -webkit-transform: translateY(-20px);
  }

  /* line 6, ../styles/plugins/_animation.scss */
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
  }
}

@-moz-keyframes fadeInDown {
  /* line 13, ../styles/plugins/_animation.scss */
  0% {
    opacity: 0;
    -moz-transform: translateY(-20px);
  }

  /* line 18, ../styles/plugins/_animation.scss */
  100% {
    opacity: 1;
    -moz-transform: translateY(0);
  }
}

@-o-keyframes fadeInDown {
  /* line 25, ../styles/plugins/_animation.scss */
  0% {
    opacity: 0;
    -ms-transform: translateY(-20px);
  }

  /* line 30, ../styles/plugins/_animation.scss */
  100% {
    opacity: 1;
    -ms-transform: translateY(0);
  }
}

@keyframes fadeInDown {
  /* line 37, ../styles/plugins/_animation.scss */
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }

  /* line 42, ../styles/plugins/_animation.scss */
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

/* ::Grid styles */
/* ------------------------------------------------------------ */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/prichardson\/Dropbox\/htdocs\/beta\/assets\/styles\/docs\.scss}line{font-family:\0000320}}
=======
/* ::Grid styles */
/* ------------------------------------------------------------ */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/howard\/Dropbox\/htdocs\/beta\/assets\/styles\/docs\.scss}line{font-family:\0000320}}
>>>>>>> e6fd9746b060d502fb96e6e20b4abbe9e73bc506
.docs .updated {
  position: absolute;
  top: 14px;
  right: 0;
  font-size: 13px;
  line-height: 18px;
}
@media only screen and (min-width: 600px) and (max-width: 959px) {
<<<<<<< HEAD
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/prichardson\/Dropbox\/htdocs\/beta\/assets\/styles\/docs\.scss}line{font-family:\0000328}}
=======
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/howard\/Dropbox\/htdocs\/beta\/assets\/styles\/docs\.scss}line{font-family:\0000328}}
>>>>>>> e6fd9746b060d502fb96e6e20b4abbe9e73bc506
  .docs .gist-container {
    clear: both;
    display: block;
    float: left;
    margin-left: 0;
    width: 100%;
  }
}
@media only screen and (min-width: 960px) {
<<<<<<< HEAD
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/prichardson\/Dropbox\/htdocs\/beta\/assets\/styles\/docs\.scss}line{font-family:\0000328}}
=======
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/howard\/Dropbox\/htdocs\/beta\/assets\/styles\/docs\.scss}line{font-family:\0000328}}
>>>>>>> e6fd9746b060d502fb96e6e20b4abbe9e73bc506
  .docs .gist-container {
    clear: both;
    display: block;
    float: left;
    margin-left: 0;
    width: 100%;
  }
}
<<<<<<< HEAD
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/prichardson\/Dropbox\/htdocs\/beta\/assets\/styles\/docs\.scss}line{font-family:\0000336}}
.docs .gist-container td {
  text-align: left;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/prichardson\/Dropbox\/htdocs\/beta\/assets\/styles\/docs\.scss}line{font-family:\0000343}}
=======
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/howard\/Dropbox\/htdocs\/beta\/assets\/styles\/docs\.scss}line{font-family:\0000336}}
.docs .gist-container td {
  text-align: left;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/howard\/Dropbox\/htdocs\/beta\/assets\/styles\/docs\.scss}line{font-family:\0000343}}
>>>>>>> e6fd9746b060d502fb96e6e20b4abbe9e73bc506
.docs p.docs-intro {
  font-weight: lighter;
  font-size: 2.625em;
  line-height: 1.14286em;
}
<<<<<<< HEAD
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/prichardson\/Dropbox\/htdocs\/beta\/assets\/styles\/docs\.scss}line{font-family:\0000355}}
=======
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/howard\/Dropbox\/htdocs\/beta\/assets\/styles\/docs\.scss}line{font-family:\0000355}}
>>>>>>> e6fd9746b060d502fb96e6e20b4abbe9e73bc506
.docs .docs-intro-nav li a {
  font-weight: 300;
  border-bottom: 1px dotted;
  margin-right: 12px;
  transition: all 0.25s;
  -webkit-transition: "all 0.25s";
  -moz-transition: "all 0.25s";
  -ms-transition: "all 0.25s";
  -o-transition: "all 0.25s";
  margin-bottom: 12px;
}
<<<<<<< HEAD
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/prichardson\/Dropbox\/htdocs\/beta\/assets\/styles\/docs\.scss}line{font-family:\0000370}}
.docs .docs-intro-nav li a:hover {
  color: #757575;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/prichardson\/Dropbox\/htdocs\/beta\/assets\/styles\/docs\.scss}line{font-family:\0000380}}
=======
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/howard\/Dropbox\/htdocs\/beta\/assets\/styles\/docs\.scss}line{font-family:\0000370}}
.docs .docs-intro-nav li a:hover {
  color: #757575;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/howard\/Dropbox\/htdocs\/beta\/assets\/styles\/docs\.scss}line{font-family:\0000380}}
>>>>>>> e6fd9746b060d502fb96e6e20b4abbe9e73bc506
.docs .git-twitter-btns-list {
  height: 30px;
  width: auto;
  margin-left: auto;
  margin-right: auto;
}
<<<<<<< HEAD
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/prichardson\/Dropbox\/htdocs\/beta\/assets\/styles\/docs\.scss}line{font-family:\0000385}}
.docs .git-twitter-btns-list ul {
  margin-bottom: 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/prichardson\/Dropbox\/htdocs\/beta\/assets\/styles\/docs\.scss}line{font-family:\0000388}}
.docs .git-twitter-btns-list ul li {
  margin-right: 12px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/prichardson\/Dropbox\/htdocs\/beta\/assets\/styles\/docs\.scss}line{font-family:\0000396}}
=======
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/howard\/Dropbox\/htdocs\/beta\/assets\/styles\/docs\.scss}line{font-family:\0000385}}
.docs .git-twitter-btns-list ul {
  margin-bottom: 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/howard\/Dropbox\/htdocs\/beta\/assets\/styles\/docs\.scss}line{font-family:\0000388}}
.docs .git-twitter-btns-list ul li {
  margin-right: 12px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/howard\/Dropbox\/htdocs\/beta\/assets\/styles\/docs\.scss}line{font-family:\0000396}}
>>>>>>> e6fd9746b060d502fb96e6e20b4abbe9e73bc506
.docs .docs-section-links-nav li a {
  font-weight: 300;
  margin-right: 12px;
  transition: all 0.25s;
  -webkit-transition: "all 0.25s";
  -moz-transition: "all 0.25s";
  -ms-transition: "all 0.25s";
  -o-transition: "all 0.25s";
  margin-bottom: 12px;
}
<<<<<<< HEAD
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/prichardson\/Dropbox\/htdocs\/beta\/assets\/styles\/docs\.scss}line{font-family:\00003105}}
=======
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/howard\/Dropbox\/htdocs\/beta\/assets\/styles\/docs\.scss}line{font-family:\00003105}}
>>>>>>> e6fd9746b060d502fb96e6e20b4abbe9e73bc506
.docs .docs-section-links-nav li a .section-link {
  font-size: 2.25em;
  line-height: 1.16667em;
  line-height: 42px;
  font-weight: lighter;
  border-bottom: 1px dotted #757575;
}
<<<<<<< HEAD
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/prichardson\/Dropbox\/htdocs\/beta\/assets\/styles\/docs\.scss}line{font-family:\00003113}}
=======
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/howard\/Dropbox\/htdocs\/beta\/assets\/styles\/docs\.scss}line{font-family:\00003113}}
>>>>>>> e6fd9746b060d502fb96e6e20b4abbe9e73bc506
.docs .docs-section-links-nav p {
  font-size: 1em;
  line-height: 1.5em;
  line-height: 24px;
  font-weight: lighter;
  color: #282828;
  margin-bottom: 3.75em;
}
<<<<<<< HEAD
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/prichardson\/Dropbox\/htdocs\/beta\/assets\/styles\/docs\.scss}line{font-family:\00003124}}
=======
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/howard\/Dropbox\/htdocs\/beta\/assets\/styles\/docs\.scss}line{font-family:\00003124}}
>>>>>>> e6fd9746b060d502fb96e6e20b4abbe9e73bc506
.docs .breadcrumb {
  padding-top: 1.125em;
  clear: both;
}
<<<<<<< HEAD
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/prichardson\/Dropbox\/htdocs\/beta\/assets\/styles\/docs\.scss}line{font-family:\00003127}}
.docs .breadcrumb ul {
  padding-left: 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/prichardson\/Dropbox\/htdocs\/beta\/assets\/styles\/docs\.scss}line{font-family:\00003129}}
=======
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/howard\/Dropbox\/htdocs\/beta\/assets\/styles\/docs\.scss}line{font-family:\00003127}}
.docs .breadcrumb ul {
  padding-left: 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/howard\/Dropbox\/htdocs\/beta\/assets\/styles\/docs\.scss}line{font-family:\00003129}}
>>>>>>> e6fd9746b060d502fb96e6e20b4abbe9e73bc506
.docs .breadcrumb ul li {
  list-style: none;
  display: inline;
  float: left;
  margin-right: 1em;
}
<<<<<<< HEAD
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/prichardson\/Dropbox\/htdocs\/beta\/assets\/styles\/docs\.scss}line{font-family:\00003137}}
=======
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/howard\/Dropbox\/htdocs\/beta\/assets\/styles\/docs\.scss}line{font-family:\00003137}}
>>>>>>> e6fd9746b060d502fb96e6e20b4abbe9e73bc506
.docs .breadcrumb .separator {
  display: inline-block;
  overflow: hidden;
  text-indent: -9999px;
  background: url("/beta/assets/img/breadcrumb-separator.png") center 5px no-repeat;
  width: 33px;
  vertical-align: bottom;
}
<<<<<<< HEAD
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/prichardson\/Dropbox\/htdocs\/beta\/assets\/styles\/docs\.scss}line{font-family:\00003147}}
=======
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/howard\/Dropbox\/htdocs\/beta\/assets\/styles\/docs\.scss}line{font-family:\00003147}}
>>>>>>> e6fd9746b060d502fb96e6e20b4abbe9e73bc506
.docs .header {
  background: black;
  padding-top: 0em;
  border-top: 6px solid black;
}
<<<<<<< HEAD
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/prichardson\/Dropbox\/htdocs\/beta\/assets\/styles\/docs\.scss}line{font-family:\00003154}}
.docs .header h1, .docs .header h2, .docs .header h3, .docs .header h4, .docs .header h5, .docs .header h6, .docs .header p {
  color: white;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/prichardson\/Dropbox\/htdocs\/beta\/assets\/styles\/docs\.scss}line{font-family:\00003156}}
=======
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/howard\/Dropbox\/htdocs\/beta\/assets\/styles\/docs\.scss}line{font-family:\00003154}}
.docs .header h1, .docs .header h2, .docs .header h3, .docs .header h4, .docs .header h5, .docs .header h6, .docs .header p {
  color: white;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/howard\/Dropbox\/htdocs\/beta\/assets\/styles\/docs\.scss}line{font-family:\00003156}}
>>>>>>> e6fd9746b060d502fb96e6e20b4abbe9e73bc506
.docs .header h1 a, .docs .header h2 a, .docs .header h3 a, .docs .header h4 a, .docs .header h5 a, .docs .header h6 a, .docs .header p a {
  color: white;
  border: none;
}
@media only screen and (max-width: 599px) {
<<<<<<< HEAD
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/prichardson\/Dropbox\/htdocs\/beta\/assets\/styles\/docs\.scss}line{font-family:\00003147}}
=======
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/howard\/Dropbox\/htdocs\/beta\/assets\/styles\/docs\.scss}line{font-family:\00003147}}
>>>>>>> e6fd9746b060d502fb96e6e20b4abbe9e73bc506
  .docs .header {
    padding-top: 0px;
    border-top: 0px;
  }
}
<<<<<<< HEAD
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/prichardson\/Dropbox\/htdocs\/beta\/assets\/styles\/docs\.scss}line{font-family:\00003169}}
=======
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/howard\/Dropbox\/htdocs\/beta\/assets\/styles\/docs\.scss}line{font-family:\00003169}}
>>>>>>> e6fd9746b060d502fb96e6e20b4abbe9e73bc506
.docs .header .banner {
  position: relative;
}
@media only screen and (max-width: 599px) {
<<<<<<< HEAD
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/prichardson\/Dropbox\/htdocs\/beta\/assets\/styles\/docs\.scss}line{font-family:\00003169}}
=======
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/howard\/Dropbox\/htdocs\/beta\/assets\/styles\/docs\.scss}line{font-family:\00003169}}
>>>>>>> e6fd9746b060d502fb96e6e20b4abbe9e73bc506
  .docs .header .banner {
    clear: both;
    display: block;
    float: left;
    margin-left: 0;
    width: 100%;
    background: black;
    padding-left: 3.75%;
    padding-right: 3.75%;
    overflow: visible;
    padding-bottom: 0.375em;
  }
}
<<<<<<< HEAD
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/prichardson\/Dropbox\/htdocs\/beta\/assets\/styles\/docs\.scss}line{font-family:\00003186}}
=======
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/howard\/Dropbox\/htdocs\/beta\/assets\/styles\/docs\.scss}line{font-family:\00003186}}
>>>>>>> e6fd9746b060d502fb96e6e20b4abbe9e73bc506
.docs .header .banner .header {
  clear: both;
  display: block;
  float: left;
  margin-left: 0;
  width: 100%;
}

<<<<<<< HEAD
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/prichardson\/Dropbox\/htdocs\/beta\/assets\/styles\/docs\.scss}line{font-family:\00003193}}
=======
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/howard\/Dropbox\/htdocs\/beta\/assets\/styles\/docs\.scss}line{font-family:\00003193}}
>>>>>>> e6fd9746b060d502fb96e6e20b4abbe9e73bc506
a span.title {
  height: 1px;
  width: 1px;
  position: absolute;
  overflow: hidden;
  top: -10px;
}

<<<<<<< HEAD
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/prichardson\/Dropbox\/htdocs\/beta\/assets\/styles\/docs\.scss}line{font-family:\00003202}}
=======
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/howard\/Dropbox\/htdocs\/beta\/assets\/styles\/docs\.scss}line{font-family:\00003202}}
>>>>>>> e6fd9746b060d502fb96e6e20b4abbe9e73bc506
.menu-toggle-link {
  color: white;
}

<<<<<<< HEAD
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/prichardson\/Dropbox\/htdocs\/beta\/assets\/styles\/docs\.scss}line{font-family:\00003212}}
=======
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/howard\/Dropbox\/htdocs\/beta\/assets\/styles\/docs\.scss}line{font-family:\00003212}}
>>>>>>> e6fd9746b060d502fb96e6e20b4abbe9e73bc506
#slide-menu-toggle-btn {
  position: absolute;
  top: 18px;
  right: 40px;
  height: 60px;
  width: 80px;
  z-index: 999999;
}

<<<<<<< HEAD
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/prichardson\/Dropbox\/htdocs\/beta\/assets\/styles\/docs\.scss}line{font-family:\00003222}}
=======
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/howard\/Dropbox\/htdocs\/beta\/assets\/styles\/docs\.scss}line{font-family:\00003221}}
#docs-menu-icon {
  position: absolute;
  right: -5px;
  top: 3;
  height: 50%;
  width: 50%;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/howard\/Dropbox\/htdocs\/beta\/assets\/styles\/docs\.scss}line{font-family:\00003230}}
>>>>>>> e6fd9746b060d502fb96e6e20b4abbe9e73bc506
#slide-in-nav {
  display: none;
  background-color: black;
}
<<<<<<< HEAD
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/prichardson\/Dropbox\/htdocs\/beta\/assets\/styles\/docs\.scss}line{font-family:\00003225}}
=======
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/howard\/Dropbox\/htdocs\/beta\/assets\/styles\/docs\.scss}line{font-family:\00003233}}
>>>>>>> e6fd9746b060d502fb96e6e20b4abbe9e73bc506
#slide-in-nav > ul li {
  width: 100%;
  border-bottom: 1px dotted #eeeeee;
}
<<<<<<< HEAD
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/prichardson\/Dropbox\/htdocs\/beta\/assets\/styles\/docs\.scss}line{font-family:\00003230}}
=======
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/howard\/Dropbox\/htdocs\/beta\/assets\/styles\/docs\.scss}line{font-family:\00003238}}
>>>>>>> e6fd9746b060d502fb96e6e20b4abbe9e73bc506
#slide-in-nav > ul li a {
  color: white;
}

<<<<<<< HEAD
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/prichardson\/Dropbox\/htdocs\/beta\/assets\/styles\/docs\.scss}line{font-family:\00003241}}
=======
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/howard\/Dropbox\/htdocs\/beta\/assets\/styles\/docs\.scss}line{font-family:\00003249}}
>>>>>>> e6fd9746b060d502fb96e6e20b4abbe9e73bc506
#jPanelMenu-menu {
  background-color: black;
}

<<<<<<< HEAD
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/prichardson\/Dropbox\/htdocs\/beta\/assets\/styles\/docs\.scss}line{font-family:\00003244}}
=======
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/howard\/Dropbox\/htdocs\/beta\/assets\/styles\/docs\.scss}line{font-family:\00003252}}
>>>>>>> e6fd9746b060d502fb96e6e20b4abbe9e73bc506
.jPanelMenu-panel {
  background-color: black;
}

<<<<<<< HEAD
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/prichardson\/Dropbox\/htdocs\/beta\/assets\/styles\/docs\.scss}line{font-family:\00003249}}
=======
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/howard\/Dropbox\/htdocs\/beta\/assets\/styles\/docs\.scss}line{font-family:\00003257}}
>>>>>>> e6fd9746b060d502fb96e6e20b4abbe9e73bc506
#jPanelMenu-menu {
  /*background-color: $ual-black;*/
}

<<<<<<< HEAD
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/prichardson\/Dropbox\/htdocs\/beta\/assets\/styles\/docs\.scss}line{font-family:\00003253}}
=======
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/howard\/Dropbox\/htdocs\/beta\/assets\/styles\/docs\.scss}line{font-family:\00003261}}
>>>>>>> e6fd9746b060d502fb96e6e20b4abbe9e73bc506
#jPanelMenu-menu ul {
  margin-top: 86px;
  width: 100%;
}

<<<<<<< HEAD
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/prichardson\/Dropbox\/htdocs\/beta\/assets\/styles\/docs\.scss}line{font-family:\00003258}}
=======
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/howard\/Dropbox\/htdocs\/beta\/assets\/styles\/docs\.scss}line{font-family:\00003266}}
>>>>>>> e6fd9746b060d502fb96e6e20b4abbe9e73bc506
#jPanelMenu-menu ul li {
  padding: 6px;
  border-bottom: 1px dotted #444444;
}

<<<<<<< HEAD
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/prichardson\/Dropbox\/htdocs\/beta\/assets\/styles\/docs\.scss}line{font-family:\00003263}}
=======
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/howard\/Dropbox\/htdocs\/beta\/assets\/styles\/docs\.scss}line{font-family:\00003271}}
>>>>>>> e6fd9746b060d502fb96e6e20b4abbe9e73bc506
.jPanelMenu-panel {
  /*background-color: $ual-black;*/
}
