/*------------------------------------*\
    $COMPASSS
\*------------------------------------*/
/*------------------------------------*\
    $GLOBALS
\*------------------------------------*/
/*------------------------------------*\
    $FONT-FACE
\*------------------------------------*/
/**
 * Brandon
 *
 * This is the specific font face that is being used for CCW (Camberwell, Chelsea and Wimbledon)
 *
 */
/**
 * ^h1 ^h2
 */
@font-face {
  font-family: "BrandonText-Bold";
  src: url('http://artslondon.github.io/beta/assets/fonts/brandon/brandon-text-bold.eot') format('embedded-opentype'), url('http://artslondon.github.io/beta/assets/fonts/brandon/brandon-text-bold.eot?#iefix') format('embedded-opentype'), url('http://artslondon.github.io/beta/assets/fonts/brandon/brandon-text-bold.woff') format('woff'), url('http://artslondon.github.io/beta/assets/fonts/brandon/brandon-text-bold.ttf') format('truetype');
}

@font-face {
  font-family: "BrandonText-Regular";
  src: url('http://artslondon.github.io/beta/assets/fonts/brandon/brandon-text-regular.eot') format('embedded-opentype'), url('http://artslondon.github.io/beta/assets/fonts/brandon/brandon-text-regular.eot?#iefix') format('embedded-opentype'), url('http://artslondon.github.io/beta/assets/fonts/brandon/brandon-text-regular.woff') format('woff'), url('http://artslondon.github.io/beta/assets/fonts/brandon/brandon-text-regular.ttf') format('truetype');
}

/**
 * Bureau Grot Bold
 *
 * This is the specific font face that is being used for Central Saint Martins
 *
 */
/**
 * ^h2 ^h3
 */
@font-face {
  font-family: "BureauGrotBold";
  src: url('http://artslondon.github.io/beta/assets/fonts/bureau-grot/bureau-grot-bold.eot') format('embedded-opentype'), url('http://artslondon.github.io/beta/assets/fonts/bureau-grot/bureau-grot-bold.eot?#iefix') format('embedded-opentype'), url('http://artslondon.github.io/beta/assets/fonts/bureau-grot/bureau-grot-bold.woff') format('woff'), url('http://artslondon.github.io/beta/assets/fonts/bureau-grot/bureau-grot-bold.ttf') format('truetype');
}

/*
This CSS resource incorporates links to font software which is 
the valuable copyrighted property of WebType LLC, The Font Bureau 
and/or their suppliers. You may not 
attempt to copy, install, redistribute, convert, modify or reverse 
engineer this font software. Please contact WebType with any 
questions: http://www.webtype.com 
*/
/**
 * Entypo
 *
 * http://www.entypo.com/
 *
 */
@font-face {
  font-family: "entypo";
  src: url('http://artslondon.github.io/beta/assets/fonts/entypo/entypo.ttf') format('truetype'), url('http://artslondon.github.io/beta/assets/fonts/fonts/entypo/entypo.otf') format('opentype'), url('http://artslondon.github.io/beta/assets/fonts/entypo/entypo.eot') format('embedded-opentype'), url('http://artslondon.github.io/beta/assets/fonts/entypo/entypo.woff') format('woff');
}

@font-face {
  font-family: "entypo-social";
  src: url('http://artslondon.github.io/beta/assets/fonts/entypo-social/entypo-social.ttf') format('truetype'), url('http://artslondon.github.io/beta/assets/fonts/entypo-social/entypo-social.svg') format('svg'), url('http://artslondon.github.io/beta/assets/fonts/entypo-social/entypo-social.eot') format('embedded-opentype'), url('http://artslondon.github.io/beta/assets/fonts/fonts/entypo-social/entypo-social.woff') format('woff');
}

/* line 28, ../styles/font-face/_entypo.scss */
.download:before {
  font-family: "entypo";
  font-size: 36px;
  content: "📄";
  vertical-align: middle;
  padding-right: 0.375em;
}

/**
 * League Gothic
 *
 * This is the specific font face that is being used for London College of Communications
 *
 */
/**
 * ^h1 ^h2
 */
@font-face {
  font-family: "LeagueGothicRegular";
  src: url('http://artslondon.github.io/beta/assets/fonts/league-gothic/LeagueGothic-Regular-webfont.eot') format('embedded-opentype'), url('http://artslondon.github.io/beta/assets/fonts/league-gothic/LeagueGothic-Regular-webfont.eot?#iefix') format('embedded-opentype'), url('http://artslondon.github.io/beta/assets/fonts/league-gothic/LeagueGothic-Regular-webfont.woff') format('woff'), url('http://artslondon.github.io/beta/assets/fonts/league-gothic/LeagueGothic-Regular-webfont.ttf') format('truetype'), url('http://artslondon.github.io/beta/assets/fonts/league-gothic/LeagueGothic-Regular-webfont.svg#LeagueGothicRegular') format('svg');
}

@font-face {
  font-family: "LeagueGothicItalic";
  src: url('http://artslondon.github.io/beta/assets/fonts/league-gothic/LeagueGothic-Italic-webfont.eot') format('embedded-opentype'), url('http://artslondon.github.io/beta/assets/fonts/league-gothic/LeagueGothic-Italic-webfont.eot?#iefix') format('embedded-opentype'), url('http://artslondon.github.io/beta/assets/fonts/league-gothic/LeagueGothic-Italic-webfont.woff') format('woff'), url('http://artslondon.github.io/beta/assets/fonts/league-gothic/LeagueGothic-Italic-webfont.ttf') format('truetype'), url('http://artslondon.github.io/beta/assets/fonts/league-gothic/LeagueGothic-Italic-webfont.svg#LeagueGothicItalic') format('svg');
}

@font-face {
  font-family: "LeagueGothicCondensedRegular";
  src: url('http://artslondon.github.io/beta/assets/fonts/league-gothic/LeagueGothic-CondensedRegular-webfont.eot') format('embedded-opentype'), url('http://artslondon.github.io/beta/assets/fonts/league-gothic/LeagueGothic-CondensedRegular-webfont.eot?#iefix') format('embedded-opentype'), url('http://artslondon.github.io/beta/assets/fonts/league-gothic/LeagueGothic-CondensedRegular-webfont.woff') format('woff'), url('http://artslondon.github.io/beta/assets/fonts/league-gothic/LeagueGothic-CondensedRegular-webfont.ttf') format('truetype'), url('http://artslondon.github.io/beta/assets/fonts/league-gothic/LeagueGothic-CondensedRegular-webfont.svg#LeagueGothicCondensedRegular') format('svg');
}

@font-face {
  font-family: "LeagueGothicCondensedItalic";
  src: url('http://artslondon.github.io/beta/assets/fonts/league-gothic/LeagueGothic-CondensedItalic-webfont.eot') format('embedded-opentype'), url('http://artslondon.github.io/beta/assets/fonts/league-gothic/LeagueGothic-CondensedItalic-webfont.eot?#iefix') format('embedded-opentype'), url('http://artslondon.github.io/beta/assets/fonts/league-gothic/LeagueGothic-CondensedItalic-webfont.woff') format('woff'), url('http://artslondon.github.io/beta/assets/fonts/league-gothic/LeagueGothic-CondensedItalic-webfont.ttf') format('truetype'), url('http://artslondon.github.io/beta/assets/fonts/league-gothic/LeagueGothic-CondensedItalic-webfont.svg#LeagueGothicCondensedItalic') format('svg');
}

/* @license
 * MyFonts Webfont Build ID 2590056, 2013-06-27T08:49:50-0400
 * 
 * The fonts listed in this notice are subject to the End User License
 * Agreement(s) entered into by the website owner. All other parties are 
 * explicitly restricted from using the Licensed ../fonts(s).
 * 
 * You may obtain a valid license at the URLs below.
 * 
 * Webfont: Swiss 721 Light by Bitstream
 * URL: http://www.myfonts.com/fonts/bitstream/swiss-721/light/
 * Copyright: Copyright 1990-2003 Bitstream Inc. All rights reserved.
 * 
 * Webfont: Swiss 721 by Bitstream
 * URL: http://www.myfonts.com/fonts/bitstream/swiss-721/swiss-721/
 * Copyright: Copyright 1990-2003 Bitstream Inc. All rights reserved.
 * 
 * Webfont: Swiss 721 Italic by Bitstream
 * URL: http://www.myfonts.com/fonts/bitstream/swiss-721/italic/
 * Copyright: Copyright 1990-2003 Bitstream Inc. All rights reserved.
 * 
 * Webfont: Swiss 721 Bold by Bitstream
 * URL: http://www.myfonts.com/fonts/bitstream/swiss-721/bold/
 * Copyright: Copyright 1990-2003 Bitstream Inc. All rights reserved.
 * 
 * Webfont: Swiss 721 Black by Bitstream
 * URL: http://www.myfonts.com/fonts/bitstream/swiss-721/black/
 * Copyright: Copyright 1990-2003 Bitstream Inc. All rights reserved.
 * 
 * Webfont: Swiss 721 Medium by Bitstream
 * URL: http://www.myfonts.com/fonts/bitstream/swiss-721/medium/
 * Copyright: Copyright 1990-2003 Bitstream Inc. All rights reserved.
 * 
 * Webfont: Brandon Text Bold by HVD Fonts
 * URL: http://www.myfonts.com/fonts/hvdfonts/brandon-text/bold/
 * Copyright: Copyright (c) 2012 by Hannes von Doehren. All rights reserved.
 * 
 * Webfont: Brandon Text Regular by HVD Fonts
 * URL: http://www.myfonts.com/fonts/hvdfonts/brandon-text/regular/
 * Copyright: Copyright (c) 2012 by Hannes von Doehren. All rights reserved.
 * 
 * 
 * License: http://www.myfonts.com/viewlicense?type=web&buildid=2590056
 * 
 * © 2013 MyFonts Inc
*/
/**
 * Swiss 721
 *
 * This is the specific font face that is being used for the University of the Arts London
 *
 */
/**
 * ^h1 ^h2
 */
@font-face {
  font-family: "Swiss721BT-Light";
  src: url('http://artslondon.github.io/beta/assets/fonts/swiss/swiss-light.woff') format('woff'), url('http://artslondon.github.io/beta/assets/fonts/swiss/swiss-light.ttf') format('truetype'), url('http://artslondon.github.io/beta/assets/fonts/swiss/swiss-light.eot?#iefix') format('embedded-opentype');
}

@font-face {
  font-family: "Swiss721BT-Roman";
  src: url('http://artslondon.github.io/beta/assets/fonts/swiss/swiss-roman.woff') format('woff'), url('http://artslondon.github.io/beta/assets/fonts/swiss/swiss-roman.ttf') format('truetype'), url('http://artslondon.github.io/beta/assets/fonts/swiss/swiss-roman.eot') format('embedded-opentype'), url('http://artslondon.github.io/beta/assets/fonts/swiss/swiss-roman.eot?#iefix') format('embedded-opentype');
}

@font-face {
  font-family: "Swiss721BT-Italic";
  src: url('http://artslondon.github.io/beta/assets/fonts/swiss/swiss-italic.woff') format('woff'), url('http://artslondon.github.io/beta/assets/fonts/swiss/swiss-italic.ttf') format('truetype'), url('http://artslondon.github.io/beta/assets/fonts/swiss/swiss-italic.eot') format('embedded-opentype'), url('http://artslondon.github.io/beta/assets/fonts/swiss/swiss-italic.eot?#iefix') format('embedded-opentype');
}

@font-face {
  font-family: "Swiss721BT-Bold";
  src: url('http://artslondon.github.io/beta/assets/fonts/swiss/swiss-bold.woff') format('woff'), url('http://artslondon.github.io/beta/assets/fonts/swiss/swiss-bold.ttf') format('truetype'), url('http://artslondon.github.io/beta/assets/fonts/swiss/swiss-bold.eot') format('embedded-opentype'), url('http://artslondon.github.io/beta/assets/fonts/swiss/swiss-bold.eot?#iefix') format('embedded-opentype');
}

@font-face {
  font-family: "Swiss721BT-Black";
  src: url('http://artslondon.github.io/beta/assets/fonts/swiss/swiss-black.woff') format('woff'), url('http://artslondon.github.io/beta/assets/fonts/swiss/swiss-black.ttf') format('truetype'), url('http://artslondon.github.io/beta/assets/fonts/swiss/swiss-black.eot') format('embedded-opentype'), url('http://artslondon.github.io/beta/assets/fonts/swiss/swiss-black.eot?#iefix') format('embedded-opentype');
}

@font-face {
  font-family: "Swiss721BT-Medium";
  src: url('http://artslondon.github.io/beta/assets/fonts/swiss/swiss-medium.eot') format('embedded-opentype'), url('http://artslondon.github.io/beta/assets/fonts/swiss/swiss-medium.eot?#iefix') format('embedded-opentype'), url('http://artslondon.github.io/beta/assets/fonts/swiss/swiss-medium.woff') format('woff'), url('http://artslondon.github.io/beta/assets/fonts/swiss/swiss-medium.ttf') format('truetype');
}

/* @license
 * MyFonts Webfont Build ID 2590056, 2013-06-27T08:49:50-0400
 * 
 * The fonts listed in this notice are subject to the End User License
 * Agreement(s) entered into by the website owner. All other parties are 
 * explicitly restricted from using the Licensed ../fonts(s).
 * 
 * You may obtain a valid license at the URLs below.
 * 
 * Webfont: Swiss 721 Light by Bitstream
 * URL: http://www.myfonts.com/fonts/bitstream/swiss-721/light/
 * Copyright: Copyright 1990-2003 Bitstream Inc. All rights reserved.
 * 
 * Webfont: Swiss 721 by Bitstream
 * URL: http://www.myfonts.com/fonts/bitstream/swiss-721/swiss-721/
 * Copyright: Copyright 1990-2003 Bitstream Inc. All rights reserved.
 * 
 * Webfont: Swiss 721 Italic by Bitstream
 * URL: http://www.myfonts.com/fonts/bitstream/swiss-721/italic/
 * Copyright: Copyright 1990-2003 Bitstream Inc. All rights reserved.
 * 
 * Webfont: Swiss 721 Bold by Bitstream
 * URL: http://www.myfonts.com/fonts/bitstream/swiss-721/bold/
 * Copyright: Copyright 1990-2003 Bitstream Inc. All rights reserved.
 * 
 * Webfont: Swiss 721 Black by Bitstream
 * URL: http://www.myfonts.com/fonts/bitstream/swiss-721/black/
 * Copyright: Copyright 1990-2003 Bitstream Inc. All rights reserved.
 * 
 * Webfont: Swiss 721 Medium by Bitstream
 * URL: http://www.myfonts.com/fonts/bitstream/swiss-721/medium/
 * Copyright: Copyright 1990-2003 Bitstream Inc. All rights reserved.
 * 
 * Webfont: Brandon Text Bold by HVD Fonts
 * URL: http://www.myfonts.com/fonts/hvdfonts/brandon-text/bold/
 * Copyright: Copyright (c) 2012 by Hannes von Doehren. All rights reserved.
 * 
 * Webfont: Brandon Text Regular by HVD Fonts
 * URL: http://www.myfonts.com/fonts/hvdfonts/brandon-text/regular/
 * Copyright: Copyright (c) 2012 by Hannes von Doehren. All rights reserved.
 * 
 * 
 * License: http://www.myfonts.com/viewlicense?type=web&buildid=2590056
 * 
 * © 2013 MyFonts Inc
*/
