/* line 1, ../styles/jPages.scss */
div#pagination {
  margin-top: 30px;
}

/* line 5, ../styles/jPages.scss */
div#pagination > a {
  margin: 0 10px;
  color: black;
  text-decoration: none;
}

/* line 10, ../styles/jPages.scss */
div#pagination a.jp-previous {
  margin-left: 0;
}

/* line 17, ../styles/jPages.scss */
div#pagination > a.jp-current,
div#pagination > a.jp-current:hover,
div#pagination > a.jp-disabled,
div#pagination > a.jp-disabled:hover {
  color: red;
  cursor: default !important;
}

/* line 22, ../styles/jPages.scss */
div#pagination > span {
  margin: 0 5px;
  color: green;
}
