@charset "UTF-8";
/*------------------------------------*\
	$COMPASS
\*------------------------------------*/
/*------------------------------------*\
	$RESET
\*------------------------------------*/
/* line 17, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/*------------------------------------*\
	$FONT-FACE
\*------------------------------------*/
/**
 * Swiss 721
 *
 * This is the specific font face that is being used for the University of the Arts London
 *
 */
/**
 * ^h1 ^h2
 */
@font-face {
  font-family: 'Swiss721BT-Light';
  src: url("http://www.arts.ac.uk/media/beta/beta-assets/fonts/swiss-light.eot");
  src: url("http://www.arts.ac.uk/media/beta/beta-assets/fonts/swiss-light.eot?#iefix") format("embedded-opentype"), url("http://www.arts.ac.uk/media/beta/beta-assets/fonts/swiss-light.woff") format("woff"), url("http://www.arts.ac.uk/media/beta/beta-assets/fonts/swiss-light.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Swiss721BT-Roman';
  src: url("http://www.arts.ac.uk/media/beta/beta-assets/fonts/swiss-roman.eot");
  src: url("http://www.arts.ac.uk/media/beta/beta-assets/fonts/swiss-roman.eot?#iefix") format("embedded-opentype"), url("http://www.arts.ac.uk/media/beta/beta-assets/fonts/swiss-roman.woff") format("woff"), url("http://www.arts.ac.uk/media/beta/beta-assets/fonts/swiss-roman.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Swiss721BT-Italic';
  src: url("http://www.arts.ac.uk/media/beta/beta-assets/fonts/swiss-italic.eot");
  src: url("http://www.arts.ac.uk/media/beta/beta-assets/fonts/swiss-italic.eot?#iefix") format("embedded-opentype"), url("http://www.arts.ac.uk/media/beta/beta-assets/fonts/swiss-italic.woff") format("woff"), url("http://www.arts.ac.uk/media/beta/beta-assets/fonts/swiss-italic.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Swiss721BT-Bold';
  src: url("http://www.arts.ac.uk/media/beta/beta-assets/fonts/swiss-bold.eot");
  src: url("http://www.arts.ac.uk/media/beta/beta-assets/fonts/swiss-bold.eot?#iefix") format("embedded-opentype"), url("http://www.arts.ac.uk/media/beta/beta-assets/fonts/swiss-bold.woff") format("woff"), url("http://www.arts.ac.uk/media/beta/beta-assets/fonts/swiss-bold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Swiss721BT-Black';
  src: url("http://www.arts.ac.uk/media/beta/beta-assets/fonts/swiss-black.eot");
  src: url("http://www.arts.ac.uk/media/beta/beta-assets/fonts/swiss-black.eot?#iefix") format("embedded-opentype"), url("http://www.arts.ac.uk/media/beta/beta-assets/fonts/swiss-black.woff") format("woff"), url("http://www.arts.ac.uk/media/beta/beta-assets/fonts/swiss-black.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Swiss721BT-Medium';
  src: url("http://www.arts.ac.uk/media/beta/beta-assets/fonts/swiss-medium.eot");
  src: url("http://www.arts.ac.uk/media/beta/beta-assets/fonts/swiss-medium.eot?#iefix") format("embedded-opentype"), url("http://www.arts.ac.uk/media/beta/beta-assets/fonts/swiss-medium.woff") format("woff"), url("http://www.arts.ac.uk/media/beta/beta-assets/fonts/swiss-medium.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

/* @license
 * MyFonts Webfont Build ID 2590056, 2013-06-27T08:49:50-0400
 * 
 * The fonts listed in this notice are subject to the End User License
 * Agreement(s) entered into by the website owner. All other parties are 
 * explicitly restricted from using the Licensed ../fonts(s).
 * 
 * You may obtain a valid license at the URLs below.
 * 
 * Webfont: Swiss 721 Light by Bitstream
 * URL: http://www.myfonts.com/fonts/bitstream/swiss-721/light/
 * Copyright: Copyright 1990-2003 Bitstream Inc. All rights reserved.
 * 
 * Webfont: Swiss 721 by Bitstream
 * URL: http://www.myfonts.com/fonts/bitstream/swiss-721/swiss-721/
 * Copyright: Copyright 1990-2003 Bitstream Inc. All rights reserved.
 * 
 * Webfont: Swiss 721 Italic by Bitstream
 * URL: http://www.myfonts.com/fonts/bitstream/swiss-721/italic/
 * Copyright: Copyright 1990-2003 Bitstream Inc. All rights reserved.
 * 
 * Webfont: Swiss 721 Bold by Bitstream
 * URL: http://www.myfonts.com/fonts/bitstream/swiss-721/bold/
 * Copyright: Copyright 1990-2003 Bitstream Inc. All rights reserved.
 * 
 * Webfont: Swiss 721 Black by Bitstream
 * URL: http://www.myfonts.com/fonts/bitstream/swiss-721/black/
 * Copyright: Copyright 1990-2003 Bitstream Inc. All rights reserved.
 * 
 * Webfont: Swiss 721 Medium by Bitstream
 * URL: http://www.myfonts.com/fonts/bitstream/swiss-721/medium/
 * Copyright: Copyright 1990-2003 Bitstream Inc. All rights reserved.
 * 
 * Webfont: Brandon Text Bold by HVD Fonts
 * URL: http://www.myfonts.com/fonts/hvdfonts/brandon-text/bold/
 * Copyright: Copyright (c) 2012 by Hannes von Doehren. All rights reserved.
 * 
 * Webfont: Brandon Text Regular by HVD Fonts
 * URL: http://www.myfonts.com/fonts/hvdfonts/brandon-text/regular/
 * Copyright: Copyright (c) 2012 by Hannes von Doehren. All rights reserved.
 * 
 * 
 * License: http://www.myfonts.com/viewlicense?type=web&buildid=2590056
 * 
 * © 2013 MyFonts Inc
*/
