/*
Syntax error: checkbox-un-checked-disabled.png must be a legal css identifier
        on line 60 of /Users/prichardson/Dropbox/htdocs/beta/assets/styles/plugins/retina-sprites/_sprite.scss, in `retina-sprite-add'
        from line 27 of /Users/prichardson/Dropbox/htdocs/beta/assets/styles/globals/_sprites.scss
        from line 71 of /Users/prichardson/Dropbox/htdocs/beta/assets/styles/screen.scss

Backtrace:
/Users/prichardson/Dropbox/htdocs/beta/assets/styles/plugins/retina-sprites/_sprite.scss:60:in `retina-sprite-add'
/Users/prichardson/Dropbox/htdocs/beta/assets/styles/globals/_sprites.scss:27
/Users/prichardson/Dropbox/htdocs/beta/assets/styles/screen.scss:71
/Users/prichardson/.rvm/gems/ruby-2.0.0-p0/gems/compass-0.12.2/lib/compass/sass_extensions/sprites/sprite_methods.rb:38:in `block in validate!'
/Users/prichardson/.rvm/gems/ruby-2.0.0-p0/gems/compass-0.12.2/lib/compass/sass_extensions/sprites/sprite_methods.rb:36:in `each'
/Users/prichardson/.rvm/gems/ruby-2.0.0-p0/gems/compass-0.12.2/lib/compass/sass_extensions/sprites/sprite_methods.rb:36:in `validate!'
/Users/prichardson/.rvm/gems/ruby-2.0.0-p0/gems/compass-0.12.2/lib/compass/sass_extensions/sprites/sprite_map.rb:47:in `initialize'
/Users/prichardson/.rvm/gems/ruby-2.0.0-p0/gems/compass-0.12.2/lib/compass/sass_extensions/sprites/sprite_map.rb:22:in `new'
/Users/prichardson/.rvm/gems/ruby-2.0.0-p0/gems/compass-0.12.2/lib/compass/sass_extensions/sprites/sprite_map.rb:22:in `from_uri'
/Users/prichardson/.rvm/gems/ruby-2.0.0-p0/gems/compass-0.12.2/lib/compass/sass_extensions/functions/sprites.rb:48:in `sprite_map'
/Users/prichardson/.rvm/gems/ruby-2.0.0-p0/gems/sass-3.2.7/lib/sass/script/funcall.rb:106:in `_perform'
/Users/prichardson/.rvm/gems/ruby-2.0.0-p0/gems/sass-3.2.7/lib/sass/script/node.rb:40:in `perform'
/Users/prichardson/.rvm/gems/ruby-2.0.0-p0/gems/sass-3.2.7/lib/sass/tree/visitors/perform.rb:327:in `visit_variable'
/Users/prichardson/.rvm/gems/ruby-2.0.0-p0/gems/sass-3.2.7/lib/sass/tree/visitors/base.rb:37:in `visit'
/Users/prichardson/.rvm/gems/ruby-2.0.0-p0/gems/sass-3.2.7/lib/sass/tree/visitors/perform.rb:100:in `visit'
/Users/prichardson/.rvm/gems/ruby-2.0.0-p0/gems/sass-3.2.7/lib/sass/tree/visitors/perform.rb:268:in `block (3 levels) in visit_mixin'
/Users/prichardson/.rvm/gems/ruby-2.0.0-p0/gems/sass-3.2.7/lib/sass/tree/visitors/perform.rb:268:in `map'
/Users/prichardson/.rvm/gems/ruby-2.0.0-p0/gems/sass-3.2.7/lib/sass/tree/visitors/perform.rb:268:in `block (2 levels) in visit_mixin'
/Users/prichardson/.rvm/gems/ruby-2.0.0-p0/gems/sass-3.2.7/lib/sass/tree/visitors/perform.rb:121:in `with_environment'
/Users/prichardson/.rvm/gems/ruby-2.0.0-p0/gems/sass-3.2.7/lib/sass/tree/visitors/perform.rb:268:in `block in visit_mixin'
/Users/prichardson/.rvm/gems/ruby-2.0.0-p0/gems/sass-3.2.7/lib/sass/tree/visitors/perform.rb:70:in `perform_arguments'
/Users/prichardson/.rvm/gems/ruby-2.0.0-p0/gems/sass-3.2.7/lib/sass/tree/visitors/perform.rb:263:in `visit_mixin'
/Users/prichardson/.rvm/gems/ruby-2.0.0-p0/gems/sass-3.2.7/lib/sass/tree/visitors/base.rb:37:in `visit'
/Users/prichardson/.rvm/gems/ruby-2.0.0-p0/gems/sass-3.2.7/lib/sass/tree/visitors/perform.rb:100:in `visit'
/Users/prichardson/.rvm/gems/ruby-2.0.0-p0/gems/sass-3.2.7/lib/sass/tree/visitors/perform.rb:227:in `block in visit_import'
/Users/prichardson/.rvm/gems/ruby-2.0.0-p0/gems/sass-3.2.7/lib/sass/tree/visitors/perform.rb:227:in `map'
/Users/prichardson/.rvm/gems/ruby-2.0.0-p0/gems/sass-3.2.7/lib/sass/tree/visitors/perform.rb:227:in `visit_import'
/Users/prichardson/.rvm/gems/ruby-2.0.0-p0/gems/sass-3.2.7/lib/sass/tree/visitors/base.rb:37:in `visit'
/Users/prichardson/.rvm/gems/ruby-2.0.0-p0/gems/sass-3.2.7/lib/sass/tree/visitors/perform.rb:100:in `visit'
/Users/prichardson/.rvm/gems/ruby-2.0.0-p0/gems/sass-3.2.7/lib/sass/tree/visitors/base.rb:53:in `block in visit_children'
/Users/prichardson/.rvm/gems/ruby-2.0.0-p0/gems/sass-3.2.7/lib/sass/tree/visitors/base.rb:53:in `map'
/Users/prichardson/.rvm/gems/ruby-2.0.0-p0/gems/sass-3.2.7/lib/sass/tree/visitors/base.rb:53:in `visit_children'
/Users/prichardson/.rvm/gems/ruby-2.0.0-p0/gems/sass-3.2.7/lib/sass/tree/visitors/perform.rb:109:in `block in visit_children'
/Users/prichardson/.rvm/gems/ruby-2.0.0-p0/gems/sass-3.2.7/lib/sass/tree/visitors/perform.rb:121:in `with_environment'
/Users/prichardson/.rvm/gems/ruby-2.0.0-p0/gems/sass-3.2.7/lib/sass/tree/visitors/perform.rb:108:in `visit_children'
/Users/prichardson/.rvm/gems/ruby-2.0.0-p0/gems/sass-3.2.7/lib/sass/tree/visitors/base.rb:37:in `block in visit'
/Users/prichardson/.rvm/gems/ruby-2.0.0-p0/gems/sass-3.2.7/lib/sass/tree/visitors/perform.rb:128:in `visit_root'
/Users/prichardson/.rvm/gems/ruby-2.0.0-p0/gems/sass-3.2.7/lib/sass/tree/visitors/base.rb:37:in `visit'
/Users/prichardson/.rvm/gems/ruby-2.0.0-p0/gems/sass-3.2.7/lib/sass/tree/visitors/perform.rb:100:in `visit'
/Users/prichardson/.rvm/gems/ruby-2.0.0-p0/gems/sass-3.2.7/lib/sass/tree/visitors/perform.rb:7:in `visit'
/Users/prichardson/.rvm/gems/ruby-2.0.0-p0/gems/sass-3.2.7/lib/sass/tree/root_node.rb:20:in `render'
/Users/prichardson/.rvm/gems/ruby-2.0.0-p0/gems/sass-3.2.7/lib/sass/engine.rb:315:in `_render'
/Users/prichardson/.rvm/gems/ruby-2.0.0-p0/gems/sass-3.2.7/lib/sass/engine.rb:262:in `render'
/Users/prichardson/.rvm/gems/ruby-2.0.0-p0/gems/compass-0.12.2/lib/compass/compiler.rb:140:in `block (2 levels) in compile'
/Users/prichardson/.rvm/gems/ruby-2.0.0-p0/gems/compass-0.12.2/lib/compass/compiler.rb:126:in `timed'
/Users/prichardson/.rvm/gems/ruby-2.0.0-p0/gems/compass-0.12.2/lib/compass/compiler.rb:139:in `block in compile'
/Users/prichardson/.rvm/gems/ruby-2.0.0-p0/gems/compass-0.12.2/lib/compass/logger.rb:45:in `red'
/Users/prichardson/.rvm/gems/ruby-2.0.0-p0/gems/compass-0.12.2/lib/compass/compiler.rb:138:in `compile'
/Users/prichardson/.rvm/gems/ruby-2.0.0-p0/gems/compass-0.12.2/lib/compass/compiler.rb:118:in `compile_if_required'
/Users/prichardson/.rvm/gems/ruby-2.0.0-p0/gems/compass-0.12.2/lib/compass/compiler.rb:103:in `block (2 levels) in run'
/Users/prichardson/.rvm/gems/ruby-2.0.0-p0/gems/compass-0.12.2/lib/compass/compiler.rb:101:in `each'
/Users/prichardson/.rvm/gems/ruby-2.0.0-p0/gems/compass-0.12.2/lib/compass/compiler.rb:101:in `block in run'
/Users/prichardson/.rvm/gems/ruby-2.0.0-p0/gems/compass-0.12.2/lib/compass/compiler.rb:126:in `timed'
/Users/prichardson/.rvm/gems/ruby-2.0.0-p0/gems/compass-0.12.2/lib/compass/compiler.rb:100:in `run'
/Users/prichardson/.rvm/gems/ruby-2.0.0-p0/gems/compass-0.12.2/lib/compass/commands/update_project.rb:45:in `perform'
/Users/prichardson/.rvm/gems/ruby-2.0.0-p0/gems/compass-0.12.2/lib/compass/commands/base.rb:18:in `execute'
/Users/prichardson/.rvm/gems/ruby-2.0.0-p0/gems/compass-0.12.2/lib/compass/commands/project_base.rb:19:in `execute'
/Users/prichardson/.rvm/gems/ruby-2.0.0-p0/gems/compass-0.12.2/lib/compass/exec/sub_command_ui.rb:43:in `perform!'
/Users/prichardson/.rvm/gems/ruby-2.0.0-p0/gems/compass-0.12.2/lib/compass/exec/sub_command_ui.rb:15:in `run!'
/Users/prichardson/.rvm/gems/ruby-2.0.0-p0/gems/compass-0.12.2/bin/compass:30:in `block in <top (required)>'
/Users/prichardson/.rvm/gems/ruby-2.0.0-p0/gems/compass-0.12.2/bin/compass:44:in `call'
/Users/prichardson/.rvm/gems/ruby-2.0.0-p0/gems/compass-0.12.2/bin/compass:44:in `<top (required)>'
/Users/prichardson/.rvm/gems/ruby-1.9.3-p392/bin/compass:19:in `load'
/Users/prichardson/.rvm/gems/ruby-1.9.3-p392/bin/compass:19:in `<main>'
/Users/prichardson/.rvm/gems/ruby-1.9.3-p392/bin/ruby_noexec_wrapper:14:in `eval'
/Users/prichardson/.rvm/gems/ruby-1.9.3-p392/bin/ruby_noexec_wrapper:14:in `<main>'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Syntax error: checkbox-un-checked-disabled.png must be a legal css identifier\A         on line 60 of /Users/prichardson/Dropbox/htdocs/beta/assets/styles/plugins/retina-sprites/_sprite.scss, in `retina-sprite-add'\A         from line 27 of /Users/prichardson/Dropbox/htdocs/beta/assets/styles/globals/_sprites.scss\A         from line 71 of /Users/prichardson/Dropbox/htdocs/beta/assets/styles/screen.scss"; }
