/* 
University of the Arts London
CSS stylesheet
Authors: Howard Panton, Matt Wisbey, Pete Richardson, Alastair Mucklow
*/
/* line 2, ../styles/plugins/_animation.scss */
.animated.hinge {
  -webkit-animation-duration: 2s;
  -moz-animation-duration: 2s;
  -ms-animation-duration: 2s;
  -o-animation-duration: 2s;
  animation-duration: 2s;
}

@-webkit-keyframes fadeInDown {
  /* line 3, ../styles/plugins/_animation.scss */
  0% {
    opacity: 0;
    -webkit-transform: translateY(-20px);
  }

  /* line 6, ../styles/plugins/_animation.scss */
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
  }
}

@-moz-keyframes fadeInDown {
  /* line 13, ../styles/plugins/_animation.scss */
  0% {
    opacity: 0;
    -moz-transform: translateY(-20px);
  }

  /* line 18, ../styles/plugins/_animation.scss */
  100% {
    opacity: 1;
    -moz-transform: translateY(0);
  }
}

@-o-keyframes fadeInDown {
  /* line 25, ../styles/plugins/_animation.scss */
  0% {
    opacity: 0;
    -ms-transform: translateY(-20px);
  }

  /* line 30, ../styles/plugins/_animation.scss */
  100% {
    opacity: 1;
    -ms-transform: translateY(0);
  }
}

@keyframes fadeInDown {
  /* line 37, ../styles/plugins/_animation.scss */
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }

  /* line 42, ../styles/plugins/_animation.scss */
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

/* line 4, ../styles/plugins/_reset.scss */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 6, ../styles/plugins/_reset.scss */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 7, ../styles/plugins/_reset.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 8, ../styles/plugins/_reset.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 9, ../styles/plugins/_reset.scss */
q, blockquote {
  quotes: none;
}

/* line 10, ../styles/plugins/_reset.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 11, ../styles/plugins/_reset.scss */
a img {
  border: none;
}

/* line 12, ../styles/plugins/_reset.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 18, ../styles/plugins/_reset.scss */
button, input {
  line-height: normal;
}

/* line 19, ../styles/plugins/_reset.scss */
button, input, select, textarea {
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
  *vertical-align: middle;
}

/* line 20, ../styles/plugins/_reset.scss */
button, input[type="button"], input[type="reset"], input[type="submit"] {
  cursor: pointer;
  *overflow: visible;
}

/* line 21, ../styles/plugins/_reset.scss */
button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/* line 22, ../styles/plugins/_reset.scss */
textarea {
  overflow: auto;
  vertical-align: top;
  resize: vertical;
}

/* ::Grid styles */
/* ------------------------------------------------------------ */
/* ::Global styles */
/* ------------------------------------------------------------ */
/* line 2, ../styles/plugins/_animation.scss */
.animated.hinge {
  -webkit-animation-duration: 2s;
  -moz-animation-duration: 2s;
  -ms-animation-duration: 2s;
  -o-animation-duration: 2s;
  animation-duration: 2s;
}

@-webkit-keyframes fadeInDown {
  /* line 3, ../styles/plugins/_animation.scss */
  0% {
    opacity: 0;
    -webkit-transform: translateY(-20px);
  }

  /* line 6, ../styles/plugins/_animation.scss */
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
  }
}

@-moz-keyframes fadeInDown {
  /* line 13, ../styles/plugins/_animation.scss */
  0% {
    opacity: 0;
    -moz-transform: translateY(-20px);
  }

  /* line 18, ../styles/plugins/_animation.scss */
  100% {
    opacity: 1;
    -moz-transform: translateY(0);
  }
}

@-o-keyframes fadeInDown {
  /* line 25, ../styles/plugins/_animation.scss */
  0% {
    opacity: 0;
    -ms-transform: translateY(-20px);
  }

  /* line 30, ../styles/plugins/_animation.scss */
  100% {
    opacity: 1;
    -ms-transform: translateY(0);
  }
}

@keyframes fadeInDown {
  /* line 37, ../styles/plugins/_animation.scss */
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }

  /* line 42, ../styles/plugins/_animation.scss */
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

/* line 14, ../styles/globals/_typography.scss */
h1 {
  font-size: 3.5em;
  line-height: 1.07143em;
  margin: 0 0 0.32143em 0;
}

/* line 19, ../styles/globals/_typography.scss */
h2 {
  font-size: 2.75em;
  line-height: 1.09091em;
  margin: 0.54545em 0 0.27273em 0;
}

/* line 24, ../styles/globals/_typography.scss */
h3 {
  font-size: 2.125em;
  line-height: 1.23529em;
  margin: 0.70588em 0 0.35294em 0;
}

/* line 29, ../styles/globals/_typography.scss */
h4 {
  font-size: 1.375em;
  line-height: 1.36364em;
  margin: 0 0 0.27273em 0;
}

/* line 34, ../styles/globals/_typography.scss */
h5 {
  font-size: 1.375em;
  line-height: 1.36364em;
  margin: 0 0 0.27273em 0;
}

/* line 39, ../styles/globals/_typography.scss */
h6 {
  font-size: 1.125em;
  line-height: 1.33333em;
  margin: 0 0 0.33333em 0;
}

/* line 44, ../styles/globals/_typography.scss */
p, pre, label {
  font-size: 1em;
  line-height: 1.5em;
  margin: 0 0 0.75em 0;
}

/* line 49, ../styles/globals/_typography.scss */
h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
}

/* line 56, ../styles/globals/_typography.scss */
.h10 {
  font-size: 7.125em;
  line-height: 1.05263em;
  margin: 0 0 0.15789em 0;
}

/* line 61, ../styles/globals/_typography.scss */
.h9 {
  font-size: 6.375em;
  line-height: 1.05882em;
  margin: 0 0 0.11765em 0;
}

/* line 66, ../styles/globals/_typography.scss */
.h8 {
  font-size: 5.625em;
  line-height: 1.06667em;
  margin: 0 0 0.13333em 0;
}

/* line 71, ../styles/globals/_typography.scss */
.h7 {
  font-size: 4.875em;
  line-height: 1.07692em;
  margin: 0 0 0.15385em 0;
}

/* line 76, ../styles/globals/_typography.scss */
.h6 {
  font-size: 4.125em;
  line-height: 1.09091em;
  margin: 0 0 0.18182em 0;
}

/* line 81, ../styles/globals/_typography.scss */
.h5 {
  font-size: 3.5em;
  line-height: 1.07143em;
  margin: 0 0 0.21429em 0;
}

/* line 86, ../styles/globals/_typography.scss */
.h4 {
  font-size: 2.75em;
  line-height: 1.09091em;
  margin: 0 0 0.27273em 0;
}

/* line 91, ../styles/globals/_typography.scss */
.h3 {
  font-size: 2.125em;
  line-height: 1.23529em;
  margin: 0 0 0.35294em 0;
}

/* line 96, ../styles/globals/_typography.scss */
.h2 {
  font-size: 1.375em;
  line-height: 1.36364em;
  margin: 0 0 0.27273em 0;
}

/* line 101, ../styles/globals/_typography.scss */
.h1 {
  font-size: 1.125em;
  line-height: 1.33333em;
  margin: 0 0 0.33333em 0;
}

/* line 107, ../styles/globals/_typography.scss */
p.intro {
  font-size: 1.375em;
  line-height: 1.36364em;
  margin: 0 0 1.09091em 0;
}

/* line 112, ../styles/globals/_typography.scss */
p.small {
  font-size: 0.875em;
  line-height: 1.28571em;
  margin: 0 0 1.71429em 0;
}

/* line 117, ../styles/globals/_typography.scss */
p {
  font-size: 1em;
  line-height: 1.5em;
  margin: 0 0 1.5em 0;
}

/* line 122, ../styles/globals/_typography.scss */
small {
  font-size: 0.8125em;
  line-height: 1.38462em;
  margin: 0 0 1.38462em 0;
}

/* line 127, ../styles/globals/_typography.scss */
ol, ul {
  font-size: 1em;
  line-height: 1.5em;
  margin: 0 0 1.5em 0;
}

/* line 132, ../styles/globals/_typography.scss */
li {
  line-height: auto;
}

/* line 139, ../styles/globals/_typography.scss */
ul {
  list-style-position: outside;
  list-style-type: disc;
}

/* line 140, ../styles/globals/_typography.scss */
ol {
  list-style-position: outside;
  list-style-type: decimal;
}

/* line 141, ../styles/globals/_typography.scss */
strong, b {
  font-weight: 600;
}

/* line 142, ../styles/globals/_typography.scss */
em, i, q {
  font-style: italic;
}

/* line 144, ../styles/globals/_typography.scss */
blockquote {
  padding-left: 1em;
  border-left: 0.3125em solid grey;
  line-height: normal;
  margin: 0;
}
/* line 149, ../styles/globals/_typography.scss */
blockquote p {
  font-style: italic;
  margin: 0;
  color: #1a1a1a;
  font-size: 1.25em;
  line-height: 1.2em;
  margin: 0.9em 0 0.9em 0;
}

@media only screen and (min-width: 600px) and (max-width: 959px) {
  /* line 160, ../styles/globals/_typography.scss */
  h1, h2, h3, h4, h5, h6, .h12, .h11, .h10, .h9, .h8, .h7, .h6, .h5, .h4, .h3, .h2, .h1 {
    font-size: 2.75em;
    line-height: 1.09091em;
    margin: 0 0 0.35294em 0;
  }
}
@media only screen and (max-width: 599px) {
  /* line 167, ../styles/globals/_typography.scss */
  h1, h2, h3, h4, h5, h6, .h12, .h11, .h10, .h9, .h8, .h7, .h6, .h5, .h4, .h3, .h2, .h1 {
    font-size: 2.125em;
    line-height: 1.23529em;
    margin: 0 0 0.44444em 0;
  }
}
/* line 8, ../styles/globals/_forms.scss */
label, select {
  display: block;
}

/* line 12, ../styles/globals/_forms.scss */
input[type="search"] {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  -webkit-appearance: textfield;
  box-sizing: content-box;
}

/* line 20, ../styles/globals/_forms.scss */
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none;
}

/* line 24, ../styles/globals/_forms.scss */
textarea {
  overflow: auto;
  vertical-align: top;
}

/* line 42, ../styles/globals/_forms.scss */
textarea,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"] {
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-transition: border linear 0.2s, box-shadow linear 0.2s;
  -moz-transition: border linear 0.2s, box-shadow linear 0.2s;
  -o-transition: border linear 0.2s, box-shadow linear 0.2s;
  transition: border linear 0.2s, box-shadow linear 0.2s;
}

/* line 53, ../styles/globals/_forms.scss */
input[type="radio"],
input[type="checkbox"] {
  margin: 4px 0 0;
  margin-top: 1px \9;
  *margin-top: 0;
  line-height: normal;
  cursor: pointer;
}

/* line 67, ../styles/globals/_forms.scss */
input[type="file"],
input[type="image"],
input[type="submit"],
input[type="reset"],
input[type="button"],
input[type="radio"],
input[type="checkbox"] {
  width: auto;
}

/* line 72, ../styles/globals/_forms.scss */
select,
input[type="file"] {
  *margin-top: 4px;
  /* In IE7, the height of the select element cannot be changed by height, only font-size */
}

/* line 79, ../styles/globals/_forms.scss */
select:focus,
input[type="file"]:focus,
input[type="radio"]:focus,
input[type="checkbox"]:focus {
  outline: thin dotted #333333;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}

/* line 1, ../styles/globals/_university-logos.scss */
.logo {
  display: block;
  float: left;
  margin-left: 0%;
  margin-right: -100%;
  width: 23.39636%;
  margin-bottom: 2.25em;
}
@media only screen and (max-width: 599px) {
  /* line 1, ../styles/globals/_university-logos.scss */
  .logo {
    clear: both;
    display: block;
    float: left;
    margin-left: 0;
    width: 100%;
    margin-bottom: 0px;
  }
}
/* line 11, ../styles/globals/_university-logos.scss */
.service-manual .logo {
  display: block;
  float: left;
  margin-left: 0%;
  margin-right: -100%;
  width: 4.25848%;
}

/* ::Global styling - our home-made add-ons */
/* ------------------------------------------------------------ */
/* line 61, ../styles/plugins/compass/_vertical_rhythm.scss */
* html {
  font-size: 100%;
}

/* line 64, ../styles/plugins/compass/_vertical_rhythm.scss */
html {
  font-size: 16px;
  line-height: 0.375em;
}

/* line 3, ../styles/custom/_global.scss */
body {
  color: black;
  background: white;
  font-family: "Swiss 721", Helvetica Neue, Helvetica, Arial, sans-serif;
}

/* line 10, ../styles/custom/_global.scss */
a {
  color: #000;
  border-bottom: 1px solid;
  line-height: 24px;
  text-decoration: none;
}
/* line 16, ../styles/custom/_global.scss */
a:hover, a:focus, a:active {
  color: #929292;
}

/* line 23, ../styles/custom/_global.scss */
.box {
  background-color: #000;
}

/* line 28, ../styles/custom/_global.scss */
.content-wrapper img, #header .banner img, .top-bar img {
  max-width: 100%;
  height: auto;
}

/* line 31, ../styles/custom/_global.scss */
ol {
  list-style-position: inside;
  list-style-type: decimal;
}

/* line 32, ../styles/custom/_global.scss */
ul {
  list-style-position: inside;
  list-style-type: disc;
}

/* ::Clearfixs and extends. Use which suits best */
/* ----------------------------------------------------------- */
/* line 40, ../styles/custom/_global.scss */
.clearfix, #header, #header .banner, .footer, .footer .copyright, .main-menu {
  overflow: hidden;
  *zoom: 1;
  clear: left;
}

/* line 43, ../styles/custom/_global.scss */
.cf {
  zoom: 1;
}

/* line 45, ../styles/custom/_global.scss */
.cf:before,
.cf:after {
  content: "";
  display: table;
}

/* line 46, ../styles/custom/_global.scss */
.cf:after {
  clear: both;
}

/* line 51, ../styles/custom/_global.scss */
.pie-clearfix {
  *zoom: 1;
}
/* line 35, ../styles/plugins/compass/_clearfix.scss */
.pie-clearfix:after {
  content: "";
  display: table;
  clear: both;
}

/* line 17, ../styles/custom/_layouts.scss */
.content-wrapper, #header .banner, .top-bar {
  width: 92.5%;
  max-width: 1260px;
  margin: 0 auto;
}

/* line 24, ../styles/custom/_layouts.scss */
#header {
  background: white;
  width: 100%;
  padding-top: 2.25em;
  border-top: 6px solid black;
}
@media only screen and (max-width: 599px) {
  /* line 24, ../styles/custom/_layouts.scss */
  #header {
    padding-top: 0px;
    border-top: 0px;
  }
}
/* line 36, ../styles/custom/_layouts.scss */
#header .banner {
  position: relative;
}
@media only screen and (max-width: 599px) {
  /* line 36, ../styles/custom/_layouts.scss */
  #header .banner {
    clear: both;
    display: block;
    float: left;
    margin-left: 0;
    width: 100%;
    background: black;
    padding-left: 3.75%;
    padding-right: 3.75%;
    overflow: visible;
    padding-top: 0.375em;
    padding-bottom: 0.75em;
  }
}
/* line 52, ../styles/custom/_layouts.scss */
#header .banner .header {
  clear: both;
  display: block;
  float: left;
  margin-left: 0;
  width: 100%;
}

/* line 59, ../styles/custom/_layouts.scss */
.footer {
  width: 100%;
  background: black;
}
/* line 64, ../styles/custom/_layouts.scss */
.footer > div {
  clear: both;
  display: block;
  float: left;
  margin-left: 0;
  width: 100%;
  padding-top: 1.5em;
  margin-left: 12px;
}
/* line 69, ../styles/custom/_layouts.scss */
.footer > div ul {
  clear: left;
  margin-bottom: 0;
}
/* line 76, ../styles/custom/_layouts.scss */
.footer li {
  list-style-type: none;
  float: left;
  display: inline;
}
/* line 80, ../styles/custom/_layouts.scss */
.footer li a {
  color: #fff;
  margin-right: 24px;
  font-size: 12px;
  text-decoration: none;
  border-bottom: none;
}
/* line 90, ../styles/custom/_layouts.scss */
.footer .primary-links {
  display: block;
  float: left;
  margin-left: 0%;
  margin-right: -100%;
  width: 61.67214%;
  padding-bottom: 0.75em;
}
/* line 95, ../styles/custom/_layouts.scss */
.footer .secondary-links {
  display: block;
  float: left;
  margin-left: 0%;
  margin-right: -100%;
  width: 74.43073%;
  padding-bottom: 1.125em;
}
/* line 100, ../styles/custom/_layouts.scss */
.footer .copyright {
  clear: both;
  display: block;
  float: left;
  margin-left: 0;
  width: 100%;
  border-top: 1px solid white;
}
/* line 105, ../styles/custom/_layouts.scss */
.footer .copyright p {
  color: #fff;
  font-size: 12px;
  margin-left: 12px;
}
/* line 112, ../styles/custom/_layouts.scss */
.footer span {
  display: block;
  float: left;
  margin-left: 89.68932%;
  margin-right: -100%;
  width: 10.25859%;
}
/* line 114, ../styles/custom/_layouts.scss */
.footer span a {
  float: right;
  color: #fff;
  margin-right: 24px;
  font-size: 12px;
  text-decoration: none;
  border-bottom: none;
}

/* line 125, ../styles/custom/_layouts.scss */
header.title {
  clear: both;
  display: block;
  float: left;
  margin-left: 0;
  width: 100%;
}
/* line 128, ../styles/custom/_layouts.scss */
header.title h1 {
  margin-top: 1.875em;
  margin-bottom: 1.875em;
}

/* line 134, ../styles/custom/_layouts.scss */
.row {
  clear: both;
  display: block;
  float: left;
  margin-left: 0;
  width: 100%;
}

@media only screen and (min-width: 960px) {
  /* line 138, ../styles/custom/_layouts.scss */
  .typography {
    display: block;
    float: left;
    margin-left: 0%;
    margin-right: -100%;
    width: 99.94792%;
  }
}
@media only screen and (min-width: 600px) and (max-width: 959px) {
  /* line 138, ../styles/custom/_layouts.scss */
  .typography {
    clear: both;
    display: block;
    float: left;
    margin-left: 0;
    width: 100%;
  }
}

@media only screen and (min-width: 960px) {
  /* line 149, ../styles/custom/_layouts.scss */
  .paragraph {
    display: block;
    float: left;
    margin-left: 0%;
    margin-right: -100%;
    width: 74.43073%;
  }
}
@media only screen and (min-width: 600px) and (max-width: 959px) {
  /* line 149, ../styles/custom/_layouts.scss */
  .paragraph {
    clear: both;
    display: block;
    float: left;
    margin-left: 0;
    width: 100%;
  }
}

@media only screen and (min-width: 960px) {
  /* line 159, ../styles/custom/_layouts.scss */
  .half[data-float*=right] {
    display: block;
    float: left;
    margin-left: 51.41355%;
    margin-right: -100%;
    width: 48.53437%;
  }
}
@media only screen and (min-width: 600px) and (max-width: 959px) {
  /* line 159, ../styles/custom/_layouts.scss */
  .half[data-float*=right] {
    display: block;
    float: left;
    margin-left: 52.19132%;
    margin-right: -100%;
    width: 47.72534%;
  }
}

@media only screen and (min-width: 960px) {
  /* line 170, ../styles/custom/_layouts.scss */
  .half[data-float*=left] {
    display: block;
    float: left;
    margin-left: 0%;
    margin-right: -100%;
    width: 48.19132%;
  }
}
@media only screen and (min-width: 600px) and (max-width: 959px) {
  /* line 170, ../styles/custom/_layouts.scss */
  .half[data-float*=left] {
    clear: both;
    display: block;
    float: left;
    margin-left: 0;
    width: 100%;
  }
}

/* line 2, ../styles/custom/_colors.scss */
.swatch-list {
  margin-left: 0px;
  margin-top: 0.75em;
  margin-bottom: 4.5em;
}
/* line 7, ../styles/custom/_colors.scss */
.swatch-list li {
  list-style: none;
}

/* line 11, ../styles/custom/_colors.scss */
.swatch {
  width: 128px;
  height: 128px;
  margin-right: 30px;
  display: inline;
  float: left;
  position: relative;
  margin-bottom: 50px;
}
/* line 20, ../styles/custom/_colors.scss */
.swatch span {
  position: absolute;
  bottom: -30px;
}

/* line 26, ../styles/custom/_colors.scss */
.ual-primary-black {
  background: black;
}

/* line 30, ../styles/custom/_colors.scss */
.ual-secondary-grey {
  background: #929292;
}

/* line 34, ../styles/custom/_colors.scss */
.camberwell-primary {
  background: #5ac882;
}

/* line 38, ../styles/custom/_colors.scss */
.camberwell-secondary {
  background: #8cd2f0;
}

/* line 42, ../styles/custom/_colors.scss */
.csm-primary {
  background: #ff0c00;
}

/* line 46, ../styles/custom/_colors.scss */
.csm-secondary {
  background: #0062ff;
}

/* line 50, ../styles/custom/_colors.scss */
.chelsea-primary {
  background: #e08c94;
}

/* line 54, ../styles/custom/_colors.scss */
.chelsea-secondary {
  background: #2ea1aa;
}

/* line 58, ../styles/custom/_colors.scss */
.chelsea-turqouise-green {
  background: #4eb5b7;
}

/* line 62, ../styles/custom/_colors.scss */
.chelsea-light-green {
  background: #5ac882;
}

/* ::Components */
/* ------------------------------------------------------------ */
/* line 18, ../styles/components/_nav-main-menu.scss */
.main-menu {
  width: 100%;
  background: black;
  overflow: visible;
  height: 36px;
}
@media only screen and (max-width: 599px) {
  /* line 18, ../styles/components/_nav-main-menu.scss */
  .main-menu {
    width: 100%;
    background: #2a2a2a;
    overflow: visible;
    height: auto;
  }
}

@media only screen and (max-width: 599px) {
  /* line 35, ../styles/components/_nav-main-menu.scss */
  .top-bar {
    width: 100%;
    overflow: hidden;
  }
}

/* line 44, ../styles/components/_nav-main-menu.scss */
.dropdown {
  width: 100%;
  list-style: none;
  float: right;
  margin-bottom: 0;
  display: table;
  position: relative;
}
@media only screen and (max-width: 599px) {
  /* line 44, ../styles/components/_nav-main-menu.scss */
  .dropdown {
    margin: 0 auto;
    float: none;
    display: block;
    overflow: hidden;
  }
}
/* line 60, ../styles/components/_nav-main-menu.scss */
.dropdown li {
  width: auto;
  float: none;
  padding-left: 0;
  padding-right: 0;
  display: table-cell;
  position: relative;
  text-align: center;
  border-right: 1px solid white;
  padding-top: 0.375em;
  padding-bottom: 0.375em;
}
@media only screen and (max-width: 599px) {
  /* line 60, ../styles/components/_nav-main-menu.scss */
  .dropdown li {
    float: left;
    display: block;
    width: 100%;
    text-align: left;
    border: none;
    border-top: 1px solid rgba(255, 255, 255, 0.09766);
    border-bottom: 1px solid rgba(0, 0, 0, 0.34766);
    position: relative;
    padding: 0px;
  }
}
/* line 84, ../styles/components/_nav-main-menu.scss */
.dropdown li:first-child {
  border-left: 1px solid white;
}
@media only screen and (max-width: 599px) {
  /* line 84, ../styles/components/_nav-main-menu.scss */
  .dropdown li:first-child {
    border-left: none;
  }
}
@media only screen and (max-width: 599px) {
  /* line 90, ../styles/components/_nav-main-menu.scss */
  .dropdown li:first-child a {
    border-right: 1px solid rgba(255, 255, 255, 0.09766);
  }
}
/* line 97, ../styles/components/_nav-main-menu.scss */
.dropdown li:last-child {
  margin-right: 0;
}
@media only screen and (max-width: 599px) {
  /* line 97, ../styles/components/_nav-main-menu.scss */
  .dropdown li:last-child {
    border-bottom: none;
  }
}
@media only screen and (max-width: 599px) {
  /* line 104, ../styles/components/_nav-main-menu.scss */
  .dropdown li:last-child a {
    border-right: 1px solid rgba(255, 255, 255, 0.09766);
  }
}
/* line 112, ../styles/components/_nav-main-menu.scss */
.dropdown li a {
  text-align: center;
  display: block;
  color: white;
  padding-left: 0.375em;
  padding-right: 0.375em;
  font-weight: normal;
  font-size: 13px;
  border-bottom: none;
  white-space: nowrap;
}
@media only screen and (max-width: 599px) {
  /* line 112, ../styles/components/_nav-main-menu.scss */
  .dropdown li a {
    text-align: left;
    font-size: 1em;
    padding: 0px;
    padding-top: 0.75em;
    padding-bottom: 0.75em;
    color: #ccc;
    float: left;
    width: 80%;
    text-indent: 12px;
  }
}
@media only screen and (max-width: 599px) {
  /* line 135, ../styles/components/_nav-main-menu.scss */
  .dropdown li div.span {
    width: 20%;
    display: block;
    float: left;
    height: 48px;
    position: relative;
    border-left: 1px solid rgba(0, 0, 0, 0.34766);
  }
  /* line 144, ../styles/components/_nav-main-menu.scss */
  .dropdown li div.span span {
    color: #ffffff;
    font-size: 2em;
    position: absolute;
    top: 10px;
    font-weight: normal;
    left: 24px;
  }
}

/* line 170, ../styles/components/_nav-main-menu.scss */
.sub_menu {
  width: auto;
  visibility: hidden;
  position: absolute;
  top: 100%;
  left: 0px;
  background: black;
  display: block;
  z-index: 10;
}
@media only screen and (max-width: 599px) {
  /* line 170, ../styles/components/_nav-main-menu.scss */
  .sub_menu {
    width: auto;
    position: relative;
    top: 100%;
    left: 1px;
    background: black;
    display: block;
    z-index: 10;
    margin-bottom: 0px;
  }
}
/* line 191, ../styles/components/_nav-main-menu.scss */
.sub_menu li {
  float: left;
  width: 100%;
  display: block;
  color: white;
  text-align: left;
}
@media only screen and (max-width: 599px) {
  /* line 191, ../styles/components/_nav-main-menu.scss */
  .sub_menu li {
    width: 100%;
    border-bottom: none;
    display: block;
    border-right: none;
    border-top: 1px solid rgba(255, 255, 255, 0.1);
    border-bottom: 1px solid rgba(51, 51, 51, 0.09766);
  }
}
@media only screen and (max-width: 599px) and (max-width: 599px) {
  /* line 202, ../styles/components/_nav-main-menu.scss */
  .sub_menu li:first-child {
    border-left: none;
  }
}
@media only screen and (max-width: 599px) and (max-width: 599px) {
  /* line 208, ../styles/components/_nav-main-menu.scss */
  .sub_menu li a {
    text-align: left;
    width: 100%;
    float: left;
    border-right: none;
    background: #414141;
    padding: 0px;
    padding-top: 0.75em;
    padding-bottom: 0.75em;
    text-indent: 12px;
  }
}
@media only screen and (max-width: 599px) and (max-width: 599px) {
  /* line 221, ../styles/components/_nav-main-menu.scss */
  .sub_menu li a:hover {
    background: #666666;
  }
}
/* line 230, ../styles/components/_nav-main-menu.scss */
.sub_menu li a {
  display: inline-block;
  white-space: nowrap;
  color: white;
  text-align: left;
}
@media only screen and (max-width: 599px) {
  /* line 230, ../styles/components/_nav-main-menu.scss */
  .sub_menu li a {
    white-space: normal;
  }
}

/* line 242, ../styles/components/_nav-main-menu.scss */
ul.last {
  left: -35px;
}
@media only screen and (max-width: 599px) {
  /* line 242, ../styles/components/_nav-main-menu.scss */
  ul.last {
    left: 0;
  }
}

/* line 18, ../styles/components/_nav-global-college-links.scss */
.global-college-links {
  display: block;
  float: left;
  margin-left: 51.41355%;
  margin-right: -100%;
  width: 48.53437%;
  margin-top: 2.25em;
}
/* line 23, ../styles/components/_nav-global-college-links.scss */
.global-college-links ul {
  list-style: none;
  float: right;
  margin-bottom: 0;
}
/* line 30, ../styles/components/_nav-global-college-links.scss */
.global-college-links ul li {
  float: left;
  margin-right: 1em;
}
/* line 34, ../styles/components/_nav-global-college-links.scss */
.global-college-links ul li a {
  font-size: 13px;
  border-bottom: none;
  font-weight: normal;
}
@media only screen and (min-width: 600px) and (max-width: 959px) {
  /* line 34, ../styles/components/_nav-global-college-links.scss */
  .global-college-links ul li a {
    font-size: 12px;
  }
}
/* line 45, ../styles/components/_nav-global-college-links.scss */
.global-college-links ul li:last-child {
  margin-right: 0;
}

/* line 2, ../styles/components/_secondary-menu.scss */
.secondary ul {
  display: block;
  float: left;
  margin-left: 0%;
  margin-right: -100%;
  width: 23.39636%;
}
/* line 4, ../styles/components/_secondary-menu.scss */
.secondary ul li {
  list-style: none;
  padding-top: 0.375em;
  padding-bottom: 0.375em;
  border-bottom: 1px solid #dddddd;
}
/* line 9, ../styles/components/_secondary-menu.scss */
.secondary ul li a {
  border-bottom: none;
  font-size: 1em;
  line-height: 1.5em;
  margin: 0 0 1.5em 0;
  padding-left: 6px;
}

@media only screen and (min-width: 960px) {
  /* line 19, ../styles/components/_secondary-menu.scss */
  .feature-text {
    display: block;
    float: left;
    margin-left: 25.89636%;
    margin-right: -100%;
    width: 74.05155%;
  }
}
@media only screen and (min-width: 600px) and (max-width: 959px) {
  /* line 19, ../styles/components/_secondary-menu.scss */
  .feature-text {
    clear: both;
    display: block;
    float: left;
    margin-left: 0;
    width: 100%;
  }
}
@media only screen and (max-width: 599px) {
  /* line 19, ../styles/components/_secondary-menu.scss */
  .feature-text {
    clear: both;
    display: block;
    float: left;
    margin-left: 0;
    width: 100%;
  }
}

@media only screen and (max-width: 599px) {
  /* line 36, ../styles/components/_secondary-menu.scss */
  .secondary-menu-mobile {
    width: 100%;
    margin: 0 auto;
  }
}
/* line 41, ../styles/components/_secondary-menu.scss */
.secondary-menu-mobile ul {
  clear: both;
  display: block;
  float: left;
  margin-left: 0;
  width: 100%;
}
/* line 43, ../styles/components/_secondary-menu.scss */
.secondary-menu-mobile ul li {
  list-style: none;
  padding-top: 0.375em;
  padding-bottom: 0.375em;
  border-bottom: 1px solid #dddddd;
}
/* line 48, ../styles/components/_secondary-menu.scss */
.secondary-menu-mobile ul li a {
  border-bottom: none;
  font-size: 1em;
  line-height: 1.5em;
  margin: 0 0 1.5em 0;
  padding-left: 12px;
  width: 80%;
}
/* line 56, ../styles/components/_secondary-menu.scss */
.secondary-menu-mobile ul li .span {
  display: inline;
  float: right;
  padding-right: 12px;
}

@media only screen and (max-width: 599px) {
  /* line 4, ../styles/components/_nav-mobile-menu.scss */
  .menu-toggle, .active-toggle {
    width: 20px;
    display: inline;
    position: absolute;
    top: 12px;
    z-index: 10;
    right: 12px;
  }
}
@media only screen and (max-width: 599px) {
  /* line 3, ../styles/components/_search-form.scss */
  form.search-mobile {
    padding-top: 0.375em;
    padding-bottom: 0.375em;
    border-bottom: 1px solid rgba(0, 0, 0, 0.34766);
  }
}

@media only screen and (max-width: 599px) {
  /* line 12, ../styles/components/_search-form.scss */
  .search {
    padding-left: 0.75em;
    padding-right: 0.75em;
    padding-top: 0.375em;
    padding-bottom: 0.375em;
  }
}
@media only screen and (max-width: 599px) {
  /* line 21, ../styles/components/_search-form.scss */
  .search input.input-medium {
    background: #4d4d4d;
    border: none;
    border-radius: 3px;
    color: #ccc;
    width: 100%;
    text-indent: 0.8125em;
    font-size: 1em;
    height: 2.625em;
  }
}

/* line 17, ../styles/components/_search-buttons.scss */
.search-buttons .primary-buttons button.search, .search-buttons .primary-buttons button.course {
  background: black;
  color: white;
  border: none;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 10px;
}

/* line 26, ../styles/components/_search-buttons.scss */
.search-buttons {
  width: 92.5%;
  max-width: 1260px;
  margin: 0 auto;
  position: relative;
  font-size: 13px;
}
/* line 33, ../styles/components/_search-buttons.scss */
.search-buttons .primary-buttons {
  position: absolute;
  top: -38px;
  right: 0px;
}
/* line 38, ../styles/components/_search-buttons.scss */
.search-buttons .primary-buttons button.search {
  padding-top: 12px;
}
/* line 41, ../styles/components/_search-buttons.scss */
.search-buttons .primary-buttons button.search:after {
  content: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA0AAAAMCAYAAAC5tzfZAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAJhJREFUeNqEUgENgDAMW1AwCUhAAlKQcAk4QMIlXAISwMElIGHsSR8WPk6TZsn2bU13IoWIsDIqL3lwKBfyoIXJPE7KFczIRa/pQNPs1CIal3ehINAHsDE3TdQBpBZwzQ30jxNxessbO5u2Rk117cfZ5E6CU2zyszlFoI61Yk4giJdru5FStu44csBPYQzyD90xg42adAswAOcBBSvq2TL4AAAAAElFTkSuQmCC);
  padding-left: 8px;
  padding-right: 4px;
}
/* line 49, ../styles/components/_search-buttons.scss */
.search-buttons .primary-buttons button.course:after {
  content: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA8AAAATCAYAAABPwleqAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAGtJREFUeNpiZACC////OzAQDy4wMjJ+gPP+kwbgFjEhmejISAAgWw8yhImBfLCfBV0Eh/9R/QkFLNhMxCLmCMQHCGpG9xs+MOpsejqbkhSGYrMB0L9ka+5noBcA5U0WIqIJJ0DPoyR5GiDAALJGW+SRoOYRAAAAAElFTkSuQmCC);
  padding-left: 8px;
  padding-right: 4px;
}

/* line 1, ../styles/components/_grid-boxes.scss */
.box {
  margin-bottom: 20px;
  padding: 20px;
  float: left;
  margin-bottom: 40px;
  display: block;
  position: relative;
  *zoom: 1;
  background: #000000;
  color: #fff;
}

/* line 13, ../styles/components/_grid-boxes.scss */
.box h1 {
  margin: 0;
  font-size: 15px;
}

/* line 18, ../styles/components/_grid-boxes.scss */
.box[class*=pad] {
  background: #000000;
  padding-top: 0;
  padding-bottom: 0;
  outline: none;
  border-top: 1px solid #99999a;
  border-bottom: 1px solid #99999a;
  padding-top: 10px;
  padding-bottom: 10px;
  display: block;
}

/* line 30, ../styles/components/_grid-boxes.scss */
.box[class*=pad] span {
  outline: none;
  padding: 5px 0;
  font-size: 0.8em;
}

/* line 2, ../styles/components/_ual-flexslider.scss */
.ual-feature-box {
  margin-top: 36px;
}
/* line 5, ../styles/components/_ual-flexslider.scss */
.ual-feature-box .box-row {
  margin-bottom: 1px;
  display: block;
}

/* line 10, ../styles/components/_ual-flexslider.scss */
.boxset {
  display: block;
  float: left;
  height: 282px;
  background: black;
  overflow: hidden;
}

/* line 31, ../styles/plugins/foundation/_orbit.scss */
.orbit-container {
  overflow: hidden;
  width: 100%;
  position: relative;
  background: whitesmoke;
}
/* line 37, ../styles/plugins/foundation/_orbit.scss */
.orbit-container .orbit-slides-container {
  list-style: none;
  margin: 0;
  padding: 0;
  position: relative;
}
/* line 43, ../styles/plugins/foundation/_orbit.scss */
.orbit-container .orbit-slides-container img {
  display: block;
}
/* line 45, ../styles/plugins/foundation/_orbit.scss */
.orbit-container .orbit-slides-container > * {
  position: relative;
  float: left;
  height: 100%;
}
/* line 50, ../styles/plugins/foundation/_orbit.scss */
.orbit-container .orbit-slides-container > * .orbit-caption {
  position: absolute;
  bottom: 0;
  background-color: black;
  background-color: rgba(0, 0, 0, 0.6);
  color: #fff;
  width: 100%;
  padding: 10px 14px;
  font-size: emCalc(14px);
}
/* line 60, ../styles/plugins/foundation/_orbit.scss */
.orbit-container .orbit-slides-container > * .orbit-caption * {
  color: white;
}
/* line 65, ../styles/plugins/foundation/_orbit.scss */
.orbit-container .orbit-slide-number {
  position: absolute;
  top: 10px;
  left: 10px;
  font-size: 12px;
}
/* line 70, ../styles/plugins/foundation/_orbit.scss */
.orbit-container .orbit-slide-number span {
  font-weight: 700;
}
/* line 73, ../styles/plugins/foundation/_orbit.scss */
.orbit-container .orbit-timer {
  position: absolute;
  top: 10px;
  right: 10px;
  height: 6px;
  width: 100px;
}
/* line 79, ../styles/plugins/foundation/_orbit.scss */
.orbit-container .orbit-timer .orbit-progress {
  height: 100%;
  background-color: black;
  background-color: rgba(0, 0, 0, 0.6);
  display: block;
  width: 0%;
}
/* line 87, ../styles/plugins/foundation/_orbit.scss */
.orbit-container .orbit-timer > span {
  display: none;
  position: absolute;
  top: 10px;
  right: 0px;
  width: 11px;
  height: 14px;
  border: solid 4px black;
  border-top: none;
  border-bottom: none;
}
/* line 100, ../styles/plugins/foundation/_orbit.scss */
.orbit-container .orbit-timer.paused > span {
  right: -6px;
  top: 9px;
  width: 11px;
  height: 14px;
  border: solid 8px;
  border-color: transparent transparent transparent black;
}
/* line 111, ../styles/plugins/foundation/_orbit.scss */
.orbit-container:hover .orbit-timer > span {
  display: block;
}
/* line 115, ../styles/plugins/foundation/_orbit.scss */
.orbit-container .orbit-prev,
.orbit-container .orbit-next {
  position: absolute;
  top: 50%;
  margin-top: -25px;
  background-color: black;
  background-color: rgba(0, 0, 0, 0.6);
  width: 50px;
  height: 60px;
  line-height: 50px;
  color: white;
  text-indent: -9999px !important;
}
/* line 127, ../styles/plugins/foundation/_orbit.scss */
.orbit-container .orbit-prev > span,
.orbit-container .orbit-next > span {
  position: absolute;
  top: 50%;
  margin-top: -16px;
  display: block;
  width: 0;
  height: 0;
  border: solid 16px;
}
/* line 137, ../styles/plugins/foundation/_orbit.scss */
.orbit-container .orbit-prev {
  left: 0;
}
/* line 138, ../styles/plugins/foundation/_orbit.scss */
.orbit-container .orbit-prev > span {
  border-color: transparent white transparent transparent;
}
/* line 139, ../styles/plugins/foundation/_orbit.scss */
.orbit-container .orbit-prev:hover > span {
  border-color: transparent #cccccc transparent transparent;
}
/* line 141, ../styles/plugins/foundation/_orbit.scss */
.orbit-container .orbit-next {
  right: 0;
}
/* line 142, ../styles/plugins/foundation/_orbit.scss */
.orbit-container .orbit-next > span {
  border-color: transparent transparent transparent white;
  left: 50%;
  margin-left: -8px;
}
/* line 147, ../styles/plugins/foundation/_orbit.scss */
.orbit-container .orbit-next:hover > span {
  border-color: transparent transparent transparent #cccccc;
}

/* line 151, ../styles/plugins/foundation/_orbit.scss */
.orbit-bullets {
  margin: 0 auto 30px auto;
  overflow: hidden;
  position: relative;
  top: 10px;
}
/* line 157, ../styles/plugins/foundation/_orbit.scss */
.orbit-bullets li {
  display: block;
  width: 18px;
  height: 18px;
  background: #fff;
  float: left;
  margin-right: 6px;
  border: solid 2px black;
  -webkit-border-radius: 1000px;
  border-radius: 1000px;
}
/* line 167, ../styles/plugins/foundation/_orbit.scss */
.orbit-bullets li.active {
  background: #000;
}
/* line 171, ../styles/plugins/foundation/_orbit.scss */
.orbit-bullets li:last-child {
  margin-right: 0;
}

/* line 178, ../styles/plugins/foundation/_orbit.scss */
.touch .orbit-container .orbit-prev,
.touch .orbit-container .orbit-next {
  display: none;
}
/* line 181, ../styles/plugins/foundation/_orbit.scss */
.touch .orbit-bullets {
  display: none;
}

@media only screen and (min-width: emCalc(768px)) {
  /* line 190, ../styles/plugins/foundation/_orbit.scss */
  .touch .orbit-container .orbit-prev,
  .touch .orbit-container .orbit-next {
    display: inherit;
  }
  /* line 193, ../styles/plugins/foundation/_orbit.scss */
  .touch .orbit-bullets {
    display: block;
  }
}
/* ::Custom styling - our home-made add-ons */
/* ------------------------------------------------------------ */
/* line 8, ../styles/custom/_lcf.scss */
.buffer {
  margin-bottom: 30px;
}

/* line 11, ../styles/custom/_lcf.scss */
.buffer-plus {
  margin-bottom: 54px;
}

/* line 14, ../styles/custom/_lcf.scss */
.buffer-max {
  margin-bottom: 102px;
}

/* line 20, ../styles/custom/_lcf.scss */
.lcf h1, .lcf h2, .lcf h3, .lcf h4, .lcf h5, .lcf h6 {
  text-transform: uppercase;
}

/* line 25, ../styles/custom/_lcf.scss */
.bordered {
  border-bottom: 1px solid black;
}

/* line 29, ../styles/custom/_lcf.scss */
.dark-bg {
  background-color: #000;
  color: #fff;
}
/* line 32, ../styles/custom/_lcf.scss */
.dark-bg .bordered {
  border-bottom-color: #fff;
}

/* line 38, ../styles/custom/_lcf.scss */
.section-title {
  margin-bottom: 20px;
}
/* line 40, ../styles/custom/_lcf.scss */
.section-title h2, .section-title h3 {
  display: inline;
}

/* line 45, ../styles/custom/_lcf.scss */
section .standfirst {
  text-decoration: underline;
}

/* line 51, ../styles/custom/_lcf.scss */
#feature-carousel .orbit-caption {
  position: absolute;
  top: 30%;
  background-color: transparent;
  width: 100%;
  padding: 10px 14px;
  font-size: emCalc(14px);
}
/* line 59, ../styles/custom/_lcf.scss */
#feature-carousel h2 {
  color: #000;
}

/* line 73, ../styles/custom/_lcf.scss */
#showcase h2 {
  position: absolute;
  top: 40%;
  width: 100%;
}
/* line 78, ../styles/custom/_lcf.scss */
#showcase .box-text {
  width: 65%;
}

/* line 85, ../styles/custom/_lcf.scss */
.sidebar {
  margin-top: 80px;
}

/* ::Media queries */
/* ------------------------------------------------------------ */
/* ::Debugs and #grid by Jon Gibbins */
/* ----------------------------------------------------------- */
/* line 6, ../styles/globals/_debug.scss */
#grid {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 5 !important;
}

/* line 14, ../styles/globals/_debug.scss */
#grid div.horiz {
  height: 6px;
  border-bottom: 1px solid #dddddd;
  margin: 0;
  padding: 0;
}

/* line 5, ../styles/globals/_utilities.scss */
.relative {
  position: relative;
}

/* line 8, ../styles/globals/_utilities.scss */
.affix {
  position: fixed;
}

/* line 13, ../styles/globals/_utilities.scss */
.pull-right {
  float: right;
}

/* line 16, ../styles/globals/_utilities.scss */
.pull-left {
  float: left;
}

/* line 19, ../styles/globals/_utilities.scss */
.full-width {
  float: left;
  width: 100%;
}

/* line 25, ../styles/globals/_utilities.scss */
.centered {
  text-align: center;
}

/* line 28, ../styles/globals/_utilities.scss */
.alignright {
  text-align: right;
}

/* line 31, ../styles/globals/_utilities.scss */
.alignleft {
  text-align: left;
}

/* line 34, ../styles/globals/_utilities.scss */
.aligncenter {
  margin: 0 auto;
}

/* line 39, ../styles/globals/_utilities.scss */
.add-top {
  margin-top: 20px;
}

/* line 42, ../styles/globals/_utilities.scss */
.add-bottom {
  margin-bottom: 20px;
}

/* line 47, ../styles/globals/_utilities.scss */
.hide {
  display: none;
}

/* line 50, ../styles/globals/_utilities.scss */
.show {
  display: block;
}

/* line 55, ../styles/globals/_utilities.scss */
.invisible {
  visibility: hidden;
}

/* line 60, ../styles/globals/_utilities.scss */
.no-bullet {
  list-style: none;
}

/* ::State styles */
/* ------------------------------------------------------------ */
/* line 77, ../styles/globals/_utilities.scss */
.is-hidden {
  display: none;
}

/* line 81, ../styles/globals/_utilities.scss */
.is-shown, .is-block {
  display: block;
}

/* line 85, ../styles/globals/_utilities.scss */
.is-uppercase {
  text-transform: uppercase;
  letter-spacing: 1px;
}

/* line 90, ../styles/globals/_utilities.scss */
.is-lowercase {
  text-transform: lowercase;
}

/* line 94, ../styles/globals/_utilities.scss */
.ajust-margin-top {
  margin-top: 0px;
}

@media only screen and (max-width: 599px) {
  /* line 100, ../styles/globals/_utilities.scss */
  .is-removed-mobile {
    visibility: visible;
    height: 0px;
    overflow: hidden;
  }

  /* line 106, ../styles/globals/_utilities.scss */
  .is-hidden-mobile {
    display: none;
  }
}
/* line 113, ../styles/globals/_utilities.scss */
.group:before,
.group:after {
  content: "";
  display: table;
}

/* line 117, ../styles/globals/_utilities.scss */
.group:after {
  clear: both;
}

/* line 120, ../styles/globals/_utilities.scss */
.group {
  zoom: 1;
  /* For IE 6/7 (trigger hasLayout) */
}
