extends ../../_layout/_base
block vars
	- var bodyClass = "ual";
	- var Title = "Events Feed";
	- var Sidebar = true;
	- var Banner = true;
block content

		.row
			.l-content-full-width
				h2 events feed for university-wide with 6 items
				.events-feed-1
				//- script.
				//- 	window.getEventsFeed(programme = "university-wide", type = "Exhibition", feed_id = 1, count = 3)
					//- window.getEventsFeed(programme = "university-wide", type = "", feed_id = 1, count = 3)

		.row
			.l-content-full-width
				h2 events feed for university-wide with 2 items
				.events-feed-2


		.row
			.l-content-full-width
				h2 events feed for london college of communication with 6 items
				.events-feed-3
