extends ../../_layout/_base
block vars
	- var bodyClass = "ual";
	- var Title = "Events Feed";
	- var Sidebar = true;
	- var Banner = true;
block content
		.row
			.l-content-full-width
				h2 Latest Events Wisbey
				.events-feed
