extends ../../_layout/_base
block vars
	- var bodyClass = "lcf home";
	- var Title = "What's On Matrix";
	- var Sidebar = false;
	- var Banner = true;
block content

	.content-wrapper
		.row
			.whats-on-matrix
				h2
					span What's On
				.column.bordered
					.event-item
						figure
							a(href='#')
								img(src='http://artslondon.github.io/beta/assets/img/lcf/lcf-whats-on1.jpg')				
						.hover-layer.ual-black-bg
							.hover-layer.inner
								.hover-contents
									p.event-date 11 - 16 Feb 2014
									h3 
										a(href='#') The Art of Deconstructing the Bizarre
									p.t-hide.m-hide Some teaser text here which hides on t and m
					.event-item
						figure
							a(href='#')
								img(src='http://artslondon.github.io/beta/assets/img/lcf/lcf-whats-on1.jpg')
						.hover-layer.ual-black-bg
							.hover-layer.inner
								.hover-contents
									p.event-date 06 Mar 2014
									h3 
										a(href='#') The Art of Deconstructing the Bizarre
									p.t-hide.m-hide Some teaser text here which hides on t and m
				.column.bordered
					.event-item
						figure
							a(href='#')
								img(src='http://artslondon.github.io/beta/assets/img/lcf/lcf-whats-on1.jpg')
						.hover-layer.ual-black-bg
							.hover-layer.inner
								.hover-contents
									p.event-date 06 Mar 2014
									h3 
										a(href='#') Faith &amp; Fashion
									p.t-hide.m-hide Some teaser text here which hides on t and m
					.event-item
						figure
							a(href='#')
								img(src='http://artslondon.github.io/beta/assets/img/lcf/lcf-whats-on1.jpg')
						.hover-layer.ual-black-bg
							.hover-layer.inner
								.hover-contents
									p.event-date 06 Mar 2014
									h3 
										a(href='#') Faith &amp; Fashion
									p.t-hide.m-hide Some teaser text here which hides on t and m
				.column.large
					.event-item
						figure
							a(href='#')
								img(src='http://artslondon.github.io/beta/assets/img/lcf/lcf-whats-on2.jpg')
						.hover-layer.ual-black-bg
							.hover-layer.inner
								.hover-contents
									p.event-date 06 Mar 2014
									h3 
										a(href='#') Faith &amp; Fashion
									p.m-hide Some teaser text here which hides on t and m
