extends ../../_layout/_base
block vars
	- var bodyClass = "lcf home";
	- var Title = "What's On Matrix";
	- var Sidebar = false;
	- var Banner = true;
block content

	.content-wrapper
		.row
			.whats-on-matrix
				h2
					span What's On
				.column.bordered
					.event-item.bordered
						.hover-layer
							.hover-layer-inner
								.hover-contents
									p.event-date 11 - 16 Feb 2014
									h3 
										a(href='#') The Art of Deconstructing the Bizarre
									p.t-hide.m-hide Some teaser text here which hides on t and m
						figure
							a(href='#')
								img(src='http://artslondon.github.io/beta/assets/img/lcf/lcf-whats-on1.jpg')				
					.event-item
						h3.d-hide The Art of Deconstructing the Bizarre
						figure
							a(href='#')
								img(src='http://artslondon.github.io/beta/assets/img/lcf/lcf-whats-on1.jpg')
						p.event-date.d-hide 16.10.13 - 21.10.13
				.column.bordered
					.event-item.bordered
						h3.d-hide The Art of Deconstructing the Bizarre
						figure
							a(href='#')
								img(src='http://artslondon.github.io/beta/assets/img/lcf/lcf-whats-on1.jpg')
						p.event-date.d-hide 16.10.13 - 21.10.13
					.event-item.bordered
						h3.d-hide The Art of Deconstructing the Bizarre
						figure
							a(href='#')
								img(src='http://artslondon.github.io/beta/assets/img/lcf/lcf-whats-on1.jpg')
						p.event-date.d-hide 16.10.13 - 21.10.13
				.column.large
						h3.d-hide The Art of Deconstructing the Bizarre
						figure
							a(href='#')
								img(src='http://artslondon.github.io/beta/assets/img/lcf/lcf-whats-on2.jpg')
						p.event-date.d-hide 16.10.13 - 21.10.13