extends ../../_layout/_base
block vars
	- var bodyClass = "lcf home";
	- var Title = "What's On Matrix";
	- var Sidebar = false;
	- var Banner = true;
block content

	.content-wrapper
		.row
			.whats-on-matrix
				h2
					span What's On
				.column.bordered
					.event-item
						figure
							a(href='#')
								img(src='http://www.arts.ac.uk/media/arts/colleges/lcf/skupljaci-perja424-276.jpg')				
							.credits Swimsuit by Diane Auria
						.hover-layer.ual-black-bg
							.hover-layer.inner
								a(href='#').hover-contents
									p.event-date 11 - 16 Feb 2014
									h3 The Art of Deconstructing the Bizarre
									p.sw-only Some teaser text here which hides on t and m
					.event-item
						figure
							a(href='#')
								img(src='http://www.arts.ac.uk/media/arts/colleges/lcf/burton-punk424-276.jpg')
						.hover-layer.ual-black-bg
							.hover-layer.inner
								a(href='#').hover-contents
									p.event-date 06 Mar 2014
									h3 The Art of Deconstructing the Bizarre
									p.sw-only Some teaser text here which hides on t and m
				.column.bordered
					.event-item
						figure
							a(href='#')
								img(src='http://www.arts.ac.uk/media/arts/colleges/lcf/anya-hindmarch424-276.jpg')
						.hover-layer.ual-black-bg
							.hover-layer.inner
								a(href='#').hover-contents
									p.event-date 06 Mar 2014
									h3 Faith &amp; Fashion
									p.sw-only Some teaser text here which hides on t and m
					.event-item
						figure
							a(href='#')
								img(src='http://www.arts.ac.uk/media/arts/colleges/lcf/gaultier-symposium424-276.jpg')
						.hover-layer.ual-black-bg
							.hover-layer.inner
								a(href='#').hover-contents
									p.event-date 06 Mar 2014
									h3 Faith &amp; Fashion
									p.sw-only LCF academics from a variety of fashion disciplines will come together to discuss Gaultier, his work and legacy.
				.column.large
					.event-item
						figure
							a(href='#')
								img(src='http://www.arts.ac.uk/media/arts/colleges/lcf/dazed426-554.jpg')
						.hover-layer.ual-black-bg
							.hover-layer.inner
								a(href='#').hover-contents
									p.event-date 06 Mar 2014
									h3 Faith &amp; Fashion
									p.m-hide Some teaser text here which hides on t and m
