.table-container {
	overflow-y: scroll;
	-webkit-overflow-scrolling: touch;
	table {
		width: 100%;
		thead {
			font-family: Swiss721BT-Bold;
			background-color: $gray200;
		}
		tr {
			border-bottom: 1px solid $gray200;
			&:hover {
				background-color: $white240;
			}
		    // &:nth-child(even) {
		    // 	background-color: $white240;
		    // }
			th {
				padding: 6px 6px 6px 0;
			}
			td {
				padding: 6px 0;
			}
			th, td {
			}
		}
	}	
}