
// Fonts
// $fallback-font: "Arial, “Helvetica Neue”, Helvetica, sans-serif";
// $base-font: "Swiss721BT-Light", $fallback-font;

// $Swiss721BT-Light: "Swiss721BT-Light", $fallback-font;
// $Swiss721BT-Bold: "Swiss721BT-Bold", $fallback-font;
// $Swiss721BT-Black: "Swiss721BT-Black", $fallback-font; // lcf h1 h2 h3
// $Swiss721BT-Roman: "Swiss721BT-Roman", $fallback-font; 
// $Swiss721BT-Italic: "Swiss721BT-Italic", $fallback-font; 
// $BrandonText-Bold: "BrandonText-Bold", $fallback-font; // ccw h1 h2 h3 h4
$Leviathan-Italic: "Leviathan A", "Leviathan B"; // csm h1 h2 
// $BureauGrot-Bold: "BureauGrotBold", $fallback-font; // csm h3 h4
// $AlternateGothic: "AlternateGothic", $fallback-font;

// Type size
$base-font-size: 		16px;		// Sets the browser default size. Shouldn't need to change this.
$base-font-size-no-px: 	16;			// Sets the browser default size. Shouldn't need to change this.
$base-line-height: 		6px;		// Baseline grid. Set to a sensible, small size.
$base-line: 			24px;		// Baseline grid. Set to a sensible, small size.

// Colors
$black: 	rgb(0, 0, 0); 			// #000000
$black40: 	rgb(40, 40, 40);		// #282828
$black80: 	rgb(80, 80, 80);		// #505050
$gray120: 	rgb(120, 120, 120);		// #787878
$gray160: 	rgb(160, 160, 160);		// #A0A0A0
$gray200: 	rgb(200, 200, 200);		// #C8C8C8
$white240: 	rgb(240, 240, 240);		// #F0F0F0	
$white: 	rgb(255, 255, 255); 	// #ffffff


// OLD COLORS TO BE DELETED
$black1: rgb(40, 40, 40);
$even-darker-gray: rgb(80, 80, 80); // #505050
$dark-gray: rgb(100, 100, 100); // #646464
$gray: rgb(117, 117, 117); // #757575
$light-gray: rgb(190, 190, 190); // #BEBEBE
$even-lighter-gray: rgb(230, 230, 230); // #E6E6E6
$even-lighter-gray1: rgb(240, 240, 240); // #F0F0F0 
$off-white: rgb(250, 250, 250); // #FAFAFA

// college colors
$camberwell-blue: rgb(37, 118, 192); // #2576C0
$csm-red: rgb(209, 0, 0); // #D10000
$chelsea-red: rgb(190, 60, 60); // #BE3C3C
$lcc-pink: rgb(229, 0, 110); // #E5006E
$lcf-gray: rgb(100, 100, 100); // #646464
$wimbledon-green: rgb(40, 143, 43); // #288F2B


// layouts colors for demo purposes
$blue1: rgb(213, 238, 251); // #D5EEFB
$blue2: rgb(170, 219, 245); // #AADBF5
$blue3: rgb(65, 168, 223); // #41A8DF
$blue4: rgb(41, 142, 195); // #298EC3
$blue5: rgb(7, 47, 68); // #072F44
