/*------------------------------------*\
    $CONTENTS
\*------------------------------------*/
/**
 * CONTENTS............You’re reading it!
 * RESET...............Set our reset defaults
 * FONT-FACE...........Import brand font files
 */


/*------------------------------------*\
    $RESET
\*------------------------------------*/


.block {

	figcaption, .rsCaption {
		@extend .bg-gray-bg;
	}
}


/*------------------------------------*\
    $Text
\*------------------------------------*/

.__text {


	@include gs-media (t,min-max) {
		@include gs-span(t, all);
	}
	@include gs-media (d) {
		@include gs-span(d, 5,12, (5, 16));
	}

	.l-content & {
		@include gs-media (d) {
			@include gs-span(d, 5,12, (5, 12));
		}
	}

	.leader {
		font-size: remCalc(22);
		font-size: 22px;
		@include adjust-leading-to(5, 22px); 	
		padding-bottom: rhythm(3, 22px);
	}


}


/*------------------------------------*\
    $Media
\*------------------------------------*/


.__media {

	li h3, li p {
		width: 100%;
	}

	&.__with-aside { 
	/**
	* Images with aside will run from d5 to d13 
	*/
		.l-content{
			@include gs-media (t,min-max) {
				@include gs-span(t, all);
			}
			@include gs-media (d) {
				@include gs-span(d, 5,13, (5, 16));
			}
		}
		.__text {
			@include gs-media (d) {
				@include gs-span(d, 5,12, (5, 13));
			}
		}
	}

	&.__highlight {
		background: $bg-gray;
		&:hover {
			filter: grayscale(100%);
			-webkit-filter: grayscale(100%);
			-moz-filter: grayscale(100%);
			-ms-filter: grayscale(100%);
			-o-filter: grayscale(100%);
			-webkit-transition: all ease 0.2s;
			-moz-transition: all ease 0.2s;
			-o-transition: all ease 0.2s;
			transition: all ease 0.2s;
			background: $black;
			h2, h3 {
				color: $white;
			}
		}
	}

}


/*------------------------------------*\
    $Page Block Classes
\*------------------------------------*/

// two-up - core styles
// 
.two-up {
	@include gs-media(t,min-max) {
		@extend %t2-t7;
			li {
				@include gs-span(t, 2, 4, (2, 7));
			}
			li:last-child {
				@include gs-span(t, 5, 7, (2, 7));
			}
	}

		&.l-content {
			@include gs-media(d) {
			@extend %d5-d12--within-d5-d16;
			li {
				@include gs-span(d, 5, 8, (5, 12));
			}
			li:last-child {
				@include gs-span(d, 9, 12, (5, 12));
			}
		}
	}

	&.l-content-full-width {
			@include gs-media(d) {
			@extend %d5-d16--within-d5-d16;
			li {
				@include gs-span(d, 5, 10, (5, 16));
			}
			li:last-child {
				@include gs-span(d, 11, 16, (5, 16));
			}
		}
	}

}

// three-up - core styles
// 
.three-up {
	@include gs-media(t,min-max) {
		@extend %t2-t7;
			li {
				@include gs-span(t, 2, 3, (2, 7));
			}
			li + li {
				@include gs-span(t, 4, 5, (2, 7));
			}
			li:last-child {
				@include gs-span(t, 6, 7, (2, 7));
			}
		}

	&.l-content-full-width {
			@include gs-media(d) {
			@extend %d5-d16--within-d5-d16;
			li {
				@include gs-span(d, 5, 8, (5, 16));
			}
			li + li {
				@include gs-span(d, 9, 12, (5, 16));
			}
			li:last-child {
				@include gs-span(d, 13, 16, (5, 16));
			}
		}
	}

}

// four-up - core styles
// 
.four-up {
	@include gs-media(t,min-max) {
		@extend %t2-t7;
			li:first-child {
				@include gs-span(t, 2, 4, (2, 7));
			}
			li + li {
				@include gs-span(t, 5, 7, (2, 7));
			}
			li:nth-of-type(3) {
				@include gs-span(t, 2, 4, (2, 7));
				clear: left;
			}
			li:last-child {
				@include gs-span(t, 5, 7, (2, 7));
			}
		}

	&.l-content-full-width {
			@include gs-media(d) {
			@extend %d-all;
			li {
				@include gs-span(d, 1, 4);
			}
			li + li {
				@include gs-span(d, 5, 8);
			}
			li + li + li {
				@include gs-span(d, 9, 12);
			}
			li:last-child {
				@include gs-span(d, 13, 16);
			}
		}
	}

}
