// Box-out styling
.box-out {
	min-height: 20px;
  	padding: 24px 24px 18px; //  updated after decisions from meeting 15th May
  	h2:nth-of-type(1)  {
  		margin-top: 0;
  	}
  	h3:nth-of-type(1)  {
  		margin-top: 0;
  	}
  	// some utility classes for box-outs
  	&.border-right {
  		border-right: 1px solid #fff;
  	}
  	&.border-left {
  		border-left: 1px solid #fff;
  	}
  	&.pull-left {
  		padding-left: 0;
  	}
  	&.pull-right {
  		padding-right: 0;
  	}
  	
}

