// Box-out styling
.box-out {
	min-height: 20px;
  	//padding: 10px 20px;
  	padding: 24px; //  updated after decisions from meeting 15th May
  	//@include gs-pad(d, padfull);
  	@include margin-trailer(4);
  	background: $bg-gray;
}

