.breadcrumbs {
  
  width: 100%;
  background-color: $bg-gray;
  padding-top: 10px;
  
  a {
    display: inline-block;
    padding-right: 28px;
    padding-bottom: 6px;
    padding-left: 12px;
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAASCAYAAABit09LAAAAX0lEQVR42qXSMRHAIBBEUQRQICECERA5kYKEnKLjfpWO3ZkUfwvmDQ20iFjVk5ntFHBUr8KMhRkLMxZmLMxYmJG46hye8FVldTs3UnfQ4MxCZCESSLz1v9+j0QenQrQBXBAW7noKn+MAAAAASUVORK5CYII=);
    background-repeat: no-repeat;
    background-position: right 0px; 
    color: $dark-gray;
    line-height: 24px;
    @include font-size(14);
    @include margin-leader(1);
    border-bottom:none;
    
  }

  @include gs-media (d) {
    @include gs-span(d, all);
    display: inline-block;
    padding-left: 2px;
    a { 
      @include font-size(13);
      line-height: 18px;
      &:first-child {
        padding-left:0px;
      }
    }
  }
}


