// Breadcrumbs styling
.breadcrumbs {
  max-width: 100%; 
  white-space: nowrap;
  padding-top: 10px;
  margin-bottom: 0;
  padding-left: 1px;

  a {
    display: inline-block;
    padding-right: 28px;
    padding-bottom: 6px;
    padding-left: 12px;
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAASCAYAAABit09LAAAAX0lEQVR42qXSMRHAIBBEUQRQICECERA5kYKEnKLjfpWO3ZkUfwvmDQ20iFjVk5ntFHBUr8KMhRkLMxZmLMxYmJG46hye8FVldTs3UnfQ4MxCZCESSLz1v9+j0QenQrQBXBAW7noKn+MAAAAASUVORK5CYII=);
    background-repeat: no-repeat;
    background-position: right 0px; 
    color: $dark-gray;
    font-size: 13px;
    line-height: 18px;
    font-weight: 300;
    border-bottom:none;
    &:first-child {
      padding-left:0px;
      //margin-left: -9px;
    }
  }
}


