.flex-block {
  @include gs-media(d) {
    @include gs-float(d, left, (1,16));
  }
  &.left {
    width: gs-width(d, 1, 4, (1,16), true);
  }
  &.middle {
    width: gs-width(d, 5, 10, (1,16), true);
  }
  &.right {
    width: gs-width(d, 11, 16, (1,16), true);
    margin-right: 0;
  }
}