.college-link-menu {

  ul {
          display:table;
          float:right;

    li {
      list-style:none; 
      float:left; 
      display:table-cell;
      padding-left:1em;
      padding-right:1em;
      a {
        color:#999999;

        &:hover {
          color:black;
        }
      }
      border-right: 1px solid #999999;
    }
  }

}