.search-results-wrap {
  @include padding-leader(8);
  @include padding-trailer(8);
  clear: left;
}

.search-results {
	@extend %d5-d16;
  
  h2 {
    padding-top: 0;
  }
	h3 {
		@include adjust-font-size-to (18px);
		margin-top: 0;
    padding-top: 0;
	}

}

.search-results-list {
  margin-left: 0;
  clear: left;
}

.search-results-list > li {
	list-style: none;
}

.search-button {
	height: 70px;
	width: 70px;
	float:left;
	background-color: black;
}

// main course / search title in search results list
.course-details > h3, .search-details > h3 {
	color: black;
	font-weight: bold;
	@include adjust-font-size-to (16px);
}

.search-results input:focus {
  outline:none;
}

.search-input-wrap {
  background: white;
  margin-bottom: 24px;
  border: 6px solid white;
  height: 60px;
}

.course-search-form, .site-search-form {
  position: relative;
  width:100%;
  margin-bottom: 0;
  padding:0;
  input { 
    margin-left: 0; 
    margin-bottom: 0;
    padding-left: 6px;
    height: 48px;
  }
  @include gs-media(d) {
     input { 
         padding-left: 12px;
     }
  }
}

.course-finder-input, .site-search-results-input {
	@include single-transition();
  @include border-image-dot();
	height: 48px;
  width: 100%;
  margin-bottom: 0;
	border: none;
	margin-left: 12px;
  background-color: rgba(255,255,255, 0);
  box-shadow: none !important;
  @include adjust-font-size-to (16px);

  @include gs-media(t, min-max) {
    margin-left: 12px;
    @include adjust-font-size-to (14px);
  }
  @include gs-media(m, min-max) {
    max-width: 90%;
    width: 90%;
    margin-left: 0;
    padding-left: 6px;
    @include adjust-font-size-to (12px);
  }

  &::-webkit-input-placeholder {
   color: $light-gray; 
  }

  &:-moz-placeholder { /* Firefox 18- */
   color: $light-gray; 
  }

  &::-moz-placeholder {  /* Firefox 19+ */
   color: $light-gray;   
  }
  
  &:-ms-input-placeholder {  
   color: $light-gray;   
  }
  
  &:focus {
    &::-webkit-input-placeholder {
     color: $aaa-gray; 
    }
    &:-moz-placeholder { /* Firefox 18- */
     color: $aaa-gray; 
    }
    &::-moz-placeholder {  /* Firefox 19+ */
     color: $aaa-gray;   
    }
    &:-ms-input-placeholder {  
     color: $aaa-gray;   
    }
  }
}

.search-link {
  position: absolute;
  top: 0;
  right: 0;
  display: block;
  background-color: black;
  height:48px;
  width: 48px; 
  img {
     margin-top: -3px; 
  }
  a {
    border-bottom: 0;
  }
}


input, .search-result-module, .search-input-wrap {
	-webkit-transition: -webkit-box-shadow 450ms;
	-moz-transition: -moz-box-shadow 450ms;
	-o-transition: -o-box-shadow 450ms;
	transition: border 450ms ease;
  border: 6px solid rgba(0,0,0,0);
}

.search-gray-border {
  border: 6px solid $light-gray ;
}

.search-bg-gray-border {
  border: 6px solid $bg-gray ;
}


.search-input-wrap, .search-input-wrap, .search-result-module, .search-result-module:focus {
  @extend .search-bg-gray-border;
  
}


.search-input-wrap:hover, .search-input-wrap:focus, .search-result-module:hover, .search-result-module:focus {
  @extend .search-gray-border;
  
}

.search-result-module {
  position: relative;
  background-color: $bg-gray;
  min-height: 138px;
  height: auto;
  padding: 24px;
  padding-bottom: 60px;
  @include margin-trailer (4);
}


.search-results-summary {
  
  @extend %d6-d16--within-d6-d16;
  
  @include gs-media (d, min-max) {
    min-height: 60px;
    position: relative;
  }
  
  @include gs-media (t, min-max) {
    min-height: 60px;
    position: relative;
  }

  @include gs-media (m, min-max) {
    min-height: 120px;
    @include margin-trailer (3);
  }

}


.search-results-info {
  
  p {
    @extend .size-h3;
    font-weight: 300;
    margin-bottom: 0;
    // @include margin-trailer(2);
  }

  @include gs-media (d,min-max) {
    @include gs-span(d,6,13,(6,16));
    p { padding-top: 2px; }
  }

  @include gs-media (t,min-max) {
    @include gs-span(t,1,4);
    p { padding-top: 0; }
  }

  @include gs-media (m,min-max) {
    p { padding-top: 0; }
  }
}


.lower-search-results-info {
  @extend .search-results-info;
  p { 
    @extend .size-h4; 
  }
  @include gs-media (d,min-max) {
    @include gs-span(d,6,11,(6,16));
    position: relative;
  }

}


.search-pagination-btns {

    text-align: right;
    a { margin-right: 1px; }

    @include gs-media (d,min-max) {
      @include gs-span(d,14,16,(6,16));
      position: absolute;
      top: emCalc(12px);
      // margin-right: rhythm(3, 14px);
      @include margin-trailer(2);
    }

    @include gs-media (t,min-max) {
      @include gs-span(t,5,8);
      position: absolute;
      top: 6px;
    }

    @include gs-media (m,min-max) {
      text-align: left;
      margin-top: rhythm(2, 14px);
    }
  }

.lower-search-pagination-btns {
 
  a { 
    margin-right: 1px; 
    &:first-child {
      padding-top: 16px;
    }
    &:first-child:hover{
      padding-top: 16px;
    }
  }
  
  @include gs-media (t, min-max) {
    margin-top: 6px;
    text-align: right;
  }

  @include gs-media (d) {
      @include gs-span(d,12,16,(6,16));
      text-align: right;
      position: absolute;
      top: 12px;
  }

}

.course-title, .search-title {
  display: block;
  width: 32%;
  float: left;
  
  h3 {
    text-decoration: none;
    font-size: 18px;
    margin-top: 0;
    padding-bottom: 1px;
    a { 
      @include hyphenation;
      text-decoration: none; }
  }
  
  @include gs-media (m,min-max) {
    width: 100%;
    clear:left;
  }  

  
}
.course-description, .search-description {
  
  width: 60%;
  float: left;
  margin-left: 18px;
  p {
    padding-top: 0;
  }

  @include gs-media (t,min-max) {
    width: 64%;
  }

  @include gs-media (m,min-max) {
    width: 100%;
    clear:left;
    margin-left: 0;

    p {
      @include margin-leader(4);
      @include margin-trailer(4);
    }
  
  }  
}

.search-results-lower-wrap {
  position: absolute;
  bottom: 20px;
  left:0;
  padding-left: 25px;
  width: 100%;
  min-height: 18px;
  @include gs-media (m,min-max) {
    font-size: emCalc(14px);
  }
}

.site-search-results-lower-wrap {
  @extend .search-results-lower-wrap;
  right: 0;
}

.lower-search-again-box{
  clear: left;
  @include margin-leader(4);
}

.enrolment-type, .result-file-type { 
  width: 32%;
  float: left;
  font-size: 14px;
  font-size: remCalc(14px);
  @include gs-media (m,min-max) {
    width: 100%;
    clear:left;
    font-size: 14px;
    font-size: remCalc(14);
  }
}

.site-search-section-name {
  font-size: 14px;
  font-size: remCalc(14);

}
.college-name {
  position: absolute;
  left: 32%;
  width: 60%; 
  font-size: 14px;
  font-size: remCalc(14px);
  margin-left: 10px;
  @include gs-media (m,min-max) {
    position: static;
    width: 100%;
    clear: left;
    font-size: 14px;
    font-size: remCalc(14);
    margin-left: 0;
  }
}

.result-url {
  position: absolute;
  left: 32%;
  width: 60%;  
  margin-left: 10px;
  float: right;
  font-size: 14px;
  font-size: remCalc(14px);
  margin-left: 10px;
  word-wrap: break-word;
  
  @include gs-media (m,min-max) {
    width: 100%;
    margin-right: 0;
    clear: left;
    font-size: 14px;
    font-size: remCalc(14);
    margin-left: 0;
  }
    
}

.no-results-found {
  text-align: center;
  margin: 0 auto;
}

.ui-autocomplete {
  z-index: 1000;
  float: left;
  display: none;
  position: relative;
  left: 0 !important;
  top: 23px;
  list-style: none;
  background-color: #ffffff;
  padding-left: 18px;

  .header-wrapper & {
    background-color: $dark-gray;
    li a {
      color: $white;
      font-size: emCalc(24px);
    }
  }

  li {
    @include border-image-dot();
  }

  .ui-menu-item > a.ui-corner-all {
    display: block;
    clear: both;
    white-space: nowrap;
    border-bottom: 0;
 
    &.ui-state-hover, &.ui-state-active {
      color: $soft-black;
      text-decoration: none;
      background-color: $bg-gray;
      border-radius: 0px;
      -webkit-border-radius: 0px;
      -moz-border-radius: 0px;
      background-image: none;
    }
  }
}

.ui-helper-hidden-accessible {
  display: none !important;
  position: relative;
  top: -20px;
}

// used for exclamation mark icon and question mark icon on no results found page
.warning-icon {
  @extend %icon;
  font-size: remCalc(120);
  font-size: 120px;
  line-height: 120px;
  padding: 24px;
  color: $aaa-gray;
}




