.credits-btn {
	position: fixed;
	right: -38px;
	top: 50%;
	-webkit-transform: rotate(-90deg);   
	-moz-transform: rotate(-90deg);
	-ms-transform: rotate(-90deg);
	-o-transform: rotate(-90deg);
	transform: rotate(-90deg);
	z-index: 1;
	font-size: 14px;
	.show-credits {
		border: 1px solid black;
		padding: 12px;
		display: block;
		height: 34px;
		width: 108px;
		text-align: center;
		-webkit-transform: rotate(90deg);
		-ms-transform: rotate(-90deg);
		-o-transform: rotate(-90deg);
		transform: rotate(-90deg);
		padding-top: 14px;
		background-color: white;
	}	
	a.active {
		background-color: $black;
		color: $white;
	}
}

.credits {
	display: none; 
	position: absolute;
	top: 0;
	left: 0;
	font-size: emCalc(14px);
	background: $black;
	color: $white;
	line-height: 24px;
	padding: 5px 10px;
	opacity: 0.6;
	a {
		color: $white;
	}
}