.credits-btn {
	display: none;
	position: fixed;
	right: -1.8em;  // we need to set a negative position because the elements position is calculated before the rotation happens
	top: 50%;
	z-index: 1;
}
.credits {
	display: none; 
	position: absolute;
	top: 0;
	left: 0;
	font-size: emCalc(14px);
	background: $black;
	color: $white;
	line-height: 24px;
	padding: 5px 10px;
	opacity: 0.6;
}