.credits-btn {
	display: none;
	position: fixed;
	right: -12px;
	top: 40%;
	z-index: 500;
	font-size: 14px;
	@include single-transition(all, 200ms, linear);
  @include prefixer ("opacity", 0.6);
	
	&:hover {
		@include single-transition(all, 200ms, linear);
		@include prefixer ("opacity", 1);
		right: 0px;
		top: 40%;
	}
	
	a.show-credits {
		border: 1px solid $bg-gray;
		border-right: none;
		padding: 6px 6px 12px 6px;
		height: 36px;
		display: block;
		text-align: center;
		background-color: white;
		li span {
			display: block; 
		}
		&:hover, &:active, span:hover {
			background-color: $black;
			border: 1px solid $black;
			color: $white;
		}
		// li:nth-of-type(2) span:before {
		// 	margin-left: 1px; // to align the picture icon with the other two icons
		// }
	}


}



// styling for the image credit that appears over an image
.credits {
	display: none; 
	position: absolute;
	top: 0;
	left: 0;
	font-size: emCalc(14px);
	background: $black;
	color: $white;
	line-height: 24px;
	padding: 5px 10px;
	opacity: 0.6;
}