//
// Dropdown menu button 
// & UAL styled select box styles
//

.dd-menu, .select-box {
   max-width: 650px;
   clear: left;
   @include margin-trailer(2);   
   ul {
      display: none; // hide list on page load
      li {
        background-color: $bg-gray;
        border-top: 1px solid white;
        padding-left: 18px;
        height: 36px;
      }
      li a {
        display: block; 
        width: 100%;
        @include padding-leader(1);
        @include padding-trailer(1);
        border-bottom: 0; 
        @extend %Swiss721BT-Light;
        @include font-size(14);
        font-weight: normal;
      }
   }
   &.active {
    /* ul { display: block; }*/
   }
}

.dd-menu-heading, .select-box-heading {
  background-color: $bg-gray;
  color: $black;
  position: relative;
  cursor: pointer;

  h3 {
      @include font-size(14);
      padding: rhythm(2, 14px) rhythm(3, 14px);   
      padding-left: 18px;
      padding-right: 18px;
      @extend %Swiss721BT-Light;
  }
  
 .dd-menu-arrow, .select-box-arrow {
      background-color: $black;
      color: white;
      position: absolute;
      right: 0;
      top: 0;
      display: block;
      border-left: 1px solid white;
      width: 36px;
      height: 36px;
          
      span.icon {
        font-size: 32px;
        text-align: center;
        vertical-align: middle;
        padding-top: 18px;
        padding-left: 4px;
        display: block;
      }
    } 
  
}



