// feature wall
.feature-wall-1 {
	float: left;
	width: 100%;
	img {
		width: 100%;
	}
	.left {
		float: left;
		width: 25%;
	}
	.middle {
		float: left;
		width: 50%;
	}
	.right {
		float: left;
		width: 25%;
	}
}

.feature-wall-2 {
	float: left;
	width: 100%;
	img {
		width: 100%;
	}
	.left {
		float: left;
		width: 33.333%;
	}
	.middle {
		float: left;
		width: 33.333%;
	}
	.right {
		float: left;
		width: 33.333%;
	}
}

.feature-wall {
	
}

