footer {
  @extend .panel;
	margin-top: 0;
	margin-bottom: 0;
	@include padding-leader(6);
  @include padding-trailer(2);
  background-color: $black;
  clear: left;
  color: $white;
  
	.copyright {
    @include margin-leader(2);
    p {
      @include font-size(12);
    }
		
	}
}


.footer-links {
  ul li {
    border-bottom: 1px dotted $aaa-gray;
    padding-bottom: 0;

    a {
      @extend %Swiss721BT-Light;
      @include font-size(14);
      line-height: rhythm(6, 16px);
      padding-left: 10px;
      display: block;
      color: $white;
    }
  }

  ul li:first-child {
    border-top: 0;
    @include gs-media (d) {
      border-top: 1px dotted $aaa-gray;
    } 
  }

  ul li:last-child {
    // border-bottom: 0;
    @include gs-media (d) {
      border-bottom: 1px dotted $aaa-gray;
    } 
  }
}

.footer-col-1 {
  @extend %d1-d4;
}

.footer-col-2 {
   @extend %d5-d8;
}

.footer-col-3 {
  @extend %d9-d12;
}

.social-links {
  @extend %d13-d16;
  
  // title for social links in footer
  h3 {
    @extend %Swiss721BT-Light-important;
    @include font-size(14);
    line-height: rhythm(6, 16px);
    padding: 0;
    text-transform: capitalize !important;
  }

  li {
    border: none !important;
    display: inline-block;
    a {
      line-height: 36px;
      border-bottom: 0;
      padding-left: 0;
      padding-right: 18px;
      display: block;
    }
    a:first-child {
      padding-left: 0 !important;
    }
  }

  li:first-child {
    display: block;
    border-top: 0 !important;
  }
  
}

.footer-ico {
  @extend %icon-social;
  @include font-size(36);
  width: rhythm(6, 16px);
  line-height: 36px;
  color: $white;
  
}

.youtube {
  @extend %icon;
  @include font-size(36);
  width: rhythm(6, 16px);
  line-height: 36px;
  

}



// the back to top button which appears 
// after scrolling down the page
a.back-to-top {
	position: fixed;
	right: .75em;
	bottom: 0;
	font-size: 14px;
	background-color: $white;
	padding: 1.125em .75em 1.125em .75em;
	color: black;
	padding-bottom: 1px;
	border-bottom: 1px dotted black;
	text-decoration: none;

		&:hover {
			// border-bottom: 1px solid black;
			color: $light-gray;
			text-decoration: none;
		}
}

