// Table of Contents

// See mark-down file for how to use compass' rhythm and trailer/leader functions or check the compass documentation
// As a rule of thumb, don't nest further than 3 levels deep
// -------------------------------------------------------------

// This is a good example!
// .styleguide-format {
//   border: 1px solid #0f0;
//   color: #000;
//   background: rgba(0,0,0,0.5);
// }

.new-main-menu {

  width:100%; 
  display:block; 
  overflow:hidden;  
  background:black;

  ul {
    display:table; 
    height:100%; 
    width: 100%; 
    margin:0; 
    padding:0; 
    background:black;
     @include gs-media(t, min-max) {

display:block;
     }

  }
}




.top-bar {
		@extend .content-wrapper;
        li {
      list-style:none; 
      padding-top:8px; 
      padding-bottom:8px; 
      width:auto; 
      text-align: center; 
      display:table-cell;

      @include gs-media(t, min-max) {
display:block;
float:left;
width:100%;
text-align:left;
      }

      a {
        padding-top:4px; 
        padding-bottom:4px; 
        color:white !important;  
        @include gs-media(t, min-max) {
        padding-left:1em; 
        padding-right:1em; 
    }
            @include gs-media(dm) {
        padding-left:1.5em; 
        padding-right:1.5em; 
    }
        font-size:14px;
      }
    }

     li:hover {
        background:#444444;
      }

      li.menu-active {
        background:#333333;
      }
}

.submenu {
  overflow:hidden;
  @extend .dark-gray-bg;

  > div {
    @extend .row;
    @extend .pad-bottom-6x;
    overflow:hidden;
  }

  h2 {
      a {
        font-weight:normal;
        color:white; 
      }
  }

  li {
    list-style:none;  
    width:100%; 
    display:block; 
    float:left; 
    border-bottom:dotted 1px white;
  }

  li > a {
     display:block; 
     padding-bottom:6px; 
     color:white; 
     font-size:16px;
  }

  .subnav-1 {
      @include gs-span(d, 1,4);
  }
  .subnav-2 {
      @include gs-span(d, 5,8);
  }
  .subnav-3 {
      @include gs-span(d, 9,12);
  }
    .feature {
      @include gs-span(d, 9,16);
      color:white; 
      font-size:22px;
  }

  .feature-image {
          @include gs-span(d, 13,16);
  }
}