// Table of Contents

// See mark-down file for how to use compass' rhythm and trailer/leader functions or check the compass documentation
// As a rule of thumb, don't nest further than 3 levels deep
// -------------------------------------------------------------

// This is a good example!
// .styleguide-format {
//   border: 1px solid #0f0;
//   color: #000;
//   background: rgba(0,0,0,0.5);
// }


 @include gs-media(t, min-max) {
    #new-menu {
      width:50%;
      float:right;
      display: none;
      // margin-right: 3.75%;
    }
 }
  @include gs-media(m, min-max) {
    #new-menu {
      width:100%;
      float:left;
      display: none;
    }
 }

.main-nav-wrapper {

  width: 92.5%;
  max-width: 1256px;
  margin: 0 auto;

  @include gs-media(t, min-max) {
      width: 100%;
      max-width: 100%;
      padding-left: 0;
      padding-right: 0;
      // padding-left: 12px;
      // padding-right: 12px;
      
  }
  
  @include gs-media(m, min-max) {
      width: 100%;
      max-width: 100%;
      padding-left: 0;
      padding-right: 0;
      // padding-left: 12px;
      // padding-right: 12px;
  }

}

.new-main-menu {

  width:100%; 
  display:block; 
  overflow:hidden;  
  background:black;

  ul {
    display: table; 
    height: 100%; 
    width: 100%; 
    margin: 0; 
    padding: 0; 
    background: black;
    
    @include gs-media(t, min-max) {
      display:block;
    }
    
    @include gs-media(m, min-max) {
      display:block;
    }

  }
}

.new-main-menu-v2 {

  width:100%; 
  display:block; 
  overflow:hidden;  
  background:black;

  ul {
    display: block; 
    height: 100%; 
    width: 100%; 
    margin: 0; 
    margin-left: -0.5em;
    padding: 0; 
    background: black;
    
    @include gs-media(t, min-max) {
    display:block;
     }
    
    @include gs-media(m, min-max) {
    display:block;
     }

  }
}

// menu button that is diplayed in tablet and mobile view to toggle menu on/off
// #main-menu-btn{
//   // @extend .ui-icons-transparent-menu-button-black;
//   // width: 80px;
//   // height: 40px;
//   background-color: #f0f0f0;
//   color: #444; 
//   border: none;
//   padding: 10px;
//   padding-top: 14px;
//   margin-left:12px;
//   font-size: 14px;
//   font-weight: lighter;
// }

// menu button that is diplayed in tablet and mobile view to toggle menu on/off
.menu-button-toggle {
  // @extend .ui-icons-transparent-menu-button-black;
  // width: 80px;
  // height: 40px;
  //background-color: #f0f0f0;
  color: #444; 
  border: none;
  padding: 10px;
  padding-top: 14px;
  margin-left:12px;
  font-size: 16px;
  font-weight: lighter;

  
}

.menu-button-toggle-v2{
  color: white; 
  border: none;
  padding: 10px;
  padding-top: 14px;
  margin-left: 0;
  font-size: 14px;
  font-weight: lighter;
  @include gs-media(d, min-max) { display: none !important; }
}

#menu-icon-indicator {
  font-weight: lighter;
}

.top-bar {
		@extend .content-wrapper;
    li {
      list-style:none; 
      padding-top:8px; 
      padding-bottom:8px; 
      width:auto; 
      text-align: center; 
      display: table-cell;

      @include gs-media(t, min-max) {
        display:block;
        float:left;
        width:100%;
        text-align:left;
      }
      
      @include gs-media(m, min-max) {
        display:block;
        float:left;
        width:100%;
        text-align:left;
      }

      a {
        padding-top:4px; 
        padding-bottom:4px; 
        color:white !important; 
        font-size:14px;
        
        @include gs-media(t, min-max) {
          padding-left:1em; 
          padding-right:1em; 
        }

        @include gs-media(m, min-max) {
          padding-left:1em; 
          padding-right:1em; 
        }
        
        @include gs-media(dm) {
          padding-left:1.5em; 
          padding-right:1.5em; 
        }
        
      }
    }

    li:hover {
        background:#444444;
    }

    li.menu-active {
        background:#333333;
    }
}

.top-bar-v2{
    @extend .content-wrapper;
    
    > ul {
      // hide the menu on mobile / tablet view
      @include gs-media(t, min-max) { display: none; }
      @include gs-media(m, min-max) { display: none; }
      

      .menu {
        @include gs-media(dm) { display: none; }
      }
    }


    li {
      list-style:none; 
      padding:0;
      width:auto; 
      // text-align: center; 
      // display: table-cell;
      float: left;
      font-weight: lighter;


      // float the last three items to the right of the menu bar (menu, search, and course-finder buttons)
      &:last-child, &:nth-last-child(2), &:nth-last-child(3) {
        float: right;
      }

      &:hover { background:#444444; }
      
      &.menu-active { background:#333333; }


      
      @include gs-media(t, min-max) {
        display:block;
        float:left;
        width:100%;
        text-align:left;

      }
      
      @include gs-media(m, min-max) {
        display:block;
        float:left;
        width:100%;
        text-align:left;
      }

      a {
        display: block;
        height: 100%;
        width: 100%; 
        color:white !important;  
        font-size:13px;
        border-bottom:none;
        // padding-top:12px; 
        // padding-bottom:12px; 
        padding: 12px 1em;
        // padding-left: 1em; 
        // padding-right: 1em; 
      
        @include gs-media(t, min-max) {
          padding-left: 0.75em; 
          padding-right: 0.75em; 
        }

        @include gs-media(m, min-max) {
          padding-left: 0.75em; 
          padding-right: 0.75em; 
        }

        @include gs-media(dm) {
          padding-left: 0.5em; 
          padding-right: 0.5em; 
        } 
        
      }
    
    }

}

// styles applied to the plus / minus icon on menu
.menu-open-closed-icon{
  float:right; 
  color:white; 
  font-weight:normal; 
  width: 36px; 
  height: 36px; 
  margin-top: 6px; 
  font-size:30px; 
  border-left:1px dotted #444444; 
  padding-left: 12px;
}

@include gs-media(d) {
  .js .submenu > div {
    display:none;
  }
}

@include gs-media(t, min-max) {
  .js .sub-inner-menu {
    display:none;
  }
  .js #new-menu {
    display:none;
  }

}

@include gs-media(m, min-max) {
  .js .sub-inner-menu {
    display:none;
  }
}

.ual-banner-menu {
  @include clearfix();
  // @include padding-leader(1);
  
  @include gs-media(t, min-max) {
    height: 48px;
    padding-left: 6px;
    // padding-right: 6px;  // removed to enable the menu button to sit flush with the right side of the browser chrome
    background-color: black;
    // @include padding-trailer(1);

    .logo {
      margin-top: 0;
    }
  }

  @include gs-media(m, min-max) {
    height: 48px;
    padding-left: 6px;
    // padding-right: 6px;  // removed to enable the menu button to sit flush with the right side of the browser chrome
    background-color: black;
    // @include padding-trailer(1);

    .logo {
      margin-top: 0;
    }
  }
  
 
}

#mob-tab-menu {

  float: right;
  height: 48px;
  margin-bottom: 0;

  li {
    //@include padding-leader(1);
    list-style: none;
    display: inline-block;
    height: 48px;
    border-right: 1px solid #444;
    float: left;
    a {
      display: block;
      height: 100%;
      width: 100%;
    }
  }
  
  li:last-child {
    border-right: none;
  }

  .menu-active{
    background: #333333;
  }

  
  
}

.ual-logo-tab-mobile { padding-top: 6px; }



.submenu {
  
  @include gs-media(d) {
  @include gs-span(d, all);
    }
  
  @include gs-media(t, min-max) {
    padding: 6px;  
  }

  @include gs-media(m, min-max) {
    padding: 6px;  
  }
  // overflow:hidden;
  @extend .dark-gray;
  
  
  > div {
    @extend .row;
    overflow:hidden;
    @include gs-media(d) {
      @include padding-trailer(6);
    }
    @include gs-media(t, min-max) {
      
      padding-bottom:0;
      margin-bottom:0;
    }
      @include gs-media(m, min-max) {
      
      padding-bottom:0;
      margin-bottom:0;

    }
  }


  h2 {
      a {
        font-weight: lighter;
        color:white; 
        border-bottom: 1px dotted $light-gray;
        @include gs-media(t, min-max) {
        font-size:16px;
        padding-left: 12px;
        margin-bottom:0;
        font-weight: 300;
        }
        @include gs-media(m, min-max) {
        font-size:16px;
        margin-bottom:0;
        font-weight: 300;
        }

        &:hover {
           border-bottom: 1px solid $light-gray;
        }
      }
    span {
      cursor: pointer;
    }
    @include gs-media(d) {
      @include padding-leader(1);
    }
    @include gs-media(t, min-max) {
      margin-bottom:0;
      margin-top:0px;
      border-bottom: 1px solid #444;
    }
    @include gs-media(m, min-max) {
      margin-bottom:0;
      margin-top:0px;
      border-bottom: 1px dotted #444;
    }
  
  }

  li {
    list-style:none;  
    width:100%; 
    display:block; 
    float:left; 
    border-bottom: dotted 1px #444;
    @include gs-media(t, min-max) {
      line-height:42px;
      border-bottom:none;
    }
    @include gs-media(m, min-max) {
      line-height:42px;
      border-bottom:none;
    }
  }

  li > a {
     display: block; 
     padding-top: 6px;
     padding-bottom: 6px; 
     color: white; 
     font-weight: lighter;
     font-size: 16px;
     padding-left: 12px;
     padding-bottom: 0;
     border-bottom: 1px dotted $light-gray;

     &:hover {
       border-bottom: 1px solid $light-gray;
     }
  }
  
  .sub-inner-menu {
     background-color: $soft-black;
  }

  .subnav-1 {
    @include gs-media(d) {
    @include gs-span(d, 1,4);
    }
    @include gs-media(t, min-max) {
      width:100%;
      padding-bottom:0;
      margin-bottom:0;
    }
  }

  .subnav-2 {
      @include gs-media(d) {
      @include gs-span(d, 5,8);
    }
      @include gs-media(t, min-max) {
      width:100%;
      clear:left;
      padding-bottom:0;
      margin-bottom:0;
    }
      @include gs-media(m, min-max) {
      width:100%;
      clear:left;
      padding-bottom:0;
      margin-bottom:0;
    }
  }
  .subnav-3 {
      @include gs-media(d) {
      @include gs-span(d, 9,12);
    }
      @include gs-media(t, min-max) {
      width:100%;
      clear:left;
      padding-bottom:0;
      margin-bottom:0;
    }
      @include gs-media(m, min-max) {
      width:100%;
      clear:left;
      padding-bottom:0;
      margin-bottom:0;
    }
  }
    .feature {
      @include gs-span(d, 9,16);
      color:white; 
      font-size:22px;
  }

  .feature-image { 
      @include gs-span(d, 13,16);
  }
}