.panel {
	width: 100%;
	float: left;
	padding: rhythm(8, 16px) 0;
	clear: both;
}

.header-panel {
	width: 100%;
	float: left;
	margin-bottom: rhythm(4, 16px);
	clear: both;
	.home & {
		margin: 0;
		padding: 0;
	}

	border-left: 10px solid $bg-gray;
	h1 {
		color: $black;
	}
	// custom variation for colleges namespace
	.camberwell & {
		border-left: 10px solid  $ccw-blue ;
	}
	.csm & {
		border-left: 10px solid $csm-primary;
	}
	.chelsea & {
		border-left: 10px solid $ccw-salmon;
	}
	.lcc & {
		border-left: 10px solid $lcc-primary-yellow;
	}
	.lcf & {
		border-left: 10px solid $logo-gray;
	}
	.wimbledon & {
		border-left: 10px solid $ccw-green;
	}
}

.footer-panel {
	width: 100%;
	float: left;
	margin-top: rhythm(4, 16px);
	margin-bottom: rhythm(4, 16px);
	clear: both;
}

