.pull-quote {
	background: image-url('icons/quote_marks_big.gif') no-repeat;
	padding-bottom: rhythm(6, 22px);
	padding-left: 82px;	font-size: remCalc(22);
	margin-top: rhythm(4, 22px);
	font-size: 22px;
	@include adjust-leading-to(5, 22px); 	
}