// search crap 

form.search-mobile {
  @include gs-media(m, min-max) {
      @include padding-leader(1);
    @include padding-trailer(1);
      border-bottom: 1px solid rgba(0, 0, 0, 0.347656);

  }

}
.search {

    @include gs-media(m, min-max) {
    padding-left:em(12px);
    padding-right:em(12px);
    @include padding-leader(1);
    @include padding-trailer(1);
    }
  input.input-medium {
    @include gs-media(m, min-max) {
      background: #4d4d4d;
      border: none;
      border-radius: 3px;
       //@include box-shadow(#ccc 2px 2px 10px);
      color: #ccc;
      width:100%;
      text-indent:em(13px);
      font-size: em(16px);
      height:em(42px);
    }
  }
}


.site-search-input, .course-finder-txt-input {
  // background: #4d4d4d;
  background: #333333;
  border: none;
  border-bottom: 1px solid #4d4d4d;
  border-top: 0;
  //border-radius: 3px;
  //@include box-shadow(#ccc 2px 2px 10px);
  box-shadow: none;
  color: #ccc;
  width:75%;
  //text-indent:em(13px);
  font-size: em(34px);
  height: 1.5em;
}