.controls {
	// display: inline-block;
	// width: 180px;
	// margin: 0 0 30px;
	// vertical-align: top;
}

.controls ul {
	margin-left: 0;
}
.controls h3 {
	clear: left;
}

.controls li {
	// margin-left: 20px;
	cursor: pointer;
	// list-style-type: square;
	float: left;
	list-style-type: none;
	background: black;
	color: white;
	padding: 6px 10px;
	margin-right: 6px;
	margin-bottom: 6px;
}

.controls li.active, .controls li:hover {
	// font-weight: 700;
	background: $lcc-primary-yellow;
	color: $black;
}

.grid {
	margin-top: 24px;
	margin-left: 0;
	// width: 640px;
	// text-align: justify;
	// font-size: 0.1px;
}

.grid:after {
	content: '';
	display: inline-block;
	width: 100%;
}

.grid .mix {
	display: none;
	opacity: 0;
	width: 100%;

	// width: 200px;
	// height: 200px;
	// vertical-align: top;
	// margin-bottom: 20px;
	// background: #ccc;
	// color: #fff;
	// font-size: 30px;
	// text-align: center;
	// line-height: 200px;
}

.grid .gap {
	display: inline-block;
	width: 200px;
}