.search-filters {
  
  h2 { padding-top: 0; }

  @include gs-media(d, min-max) {
    @include gs-span(d,1,4);
  }

  @include gs-media(t, min-max) {
    @include gs-span(t,2,7);
    clear:left;
  }

  @include gs-media(m, min-max) {
    @include gs-span(m,all);
  }
}

.filter-module {
  
  &:last-child li.active { 
    ul { border-bottom: 0; }
  }

  h3 {
      @extend .size-h4;
      padding: 12px 18px 12px 18px;
      background-color: $ual-black;
      color: $ual-white;
      font-size: emCalc(14px);
      display: block;
      clear: left;
      font-weight: 300;
      border-bottom: 1px solid $dark-gray;
      &:hover{
        cursor: pointer;
      }
  }

  ul { 
    padding-top: 0; 
    padding-bottom: 0;
    display: none;
    clear: left;
    // border-bottom: 1px solid $dark-gray;
    li {
        background-color: white;
        margin-left: 0;
        @include border-image-dot();
        // background-image: url("http://artslondon.github.io/beta/assets/img/sprite/ui-icons/placehold-search-filter-unselected.png");
        // background-repeat: no-repeat;
        // background-position: 95% 50%;

        &:last-child { border-bottom: 0; } 
        
        a { 
          padding: 0 30px 0 18px;
          border-bottom: 0; 
          color: $aaa-gray;
          font-size: emCalc(14px);
          font-weight: 300;
          height: 100%;
          display: block;
        }
        
        input[type="checkbox"] { 
          float: right;
          margin-left: 18px;
          margin-right: 18px;
          margin-top: 6px;
        }
          
        input[type="checkbox"]:checked + label{
          color: $ual-black;
        }

        input[type="checkbox"]:disabled + label{
          opacity: 0.5;
          @include opacity(50);
        } 

        label { 
          padding-left: 18px; 
          cursor: pointer; 
          color: $aaa-gray;
          font-size: emCalc(14px);
          font-weight: 300;
        }
        
        }

    li.active {
      //background-image: url("http://artslondon.github.io/beta/assets/img/sprite/ui-icons/placehold-search-filter-cross.png");
      //background-repeat: no-repeat;
      //background-position: 95% 50%;
      > a { 
        color: $ual-black;
      }
    }


  }

  &.active { 
    border-bottom: 0;
    ul { display: block; }
    div { display: block; }
  }

}

li.filter-link-only {

    background-color: white !important;
    background-image: url("http://artslondon.github.io/beta/assets/img/sprite/ui-icons/placehold-search-filter-unselected.png") !important;
    background-repeat: no-repeat;
    background-position: 95% 50%;
    @include border-image-dot();

    a { 
       color: $soft-black !important;
       font-weight: 300;
    }
    
    &:last-child { border-bottom: 0; } 
    
    &.active {
      background-image: url("http://artslondon.github.io/beta/assets/img/sprite/ui-icons/placehold-search-filter-cross.png") !important;
      background-repeat: no-repeat;
      background-position: 95% 50%;
      > a { 
        color: $ual-black;
        font-weight: bold;
      }
    }
}

.short-course-filters {
  @include margin-trailer (4);
}
