
.ual-feature-box {
  margin-top:36px;

  .box-row {
    margin-bottom:1px;
    display:block;
  }
}
.boxset {
  display:block;
  float:left;
  height:282px;
  background: black;
  overflow:hidden;
}
