
.slides {
   margin:0;
  padding:0;
}

.bricks {
    background: white;
    // max-width:960px;
    // 
    .bricks-wrap {
      margin:0;
      padding:0;
      display:block;
      list-style-type: none;
      overflow: hidden;

      li {
        display: block;
        overflow:auto;
        }
      }


  img {
    max-width:100%;
    width:100%;
    height:auto;
    max-height:100%;
    vertical-align:bottom;
  }

  #responsive_headline {
    color: white;
    width: 80%;
    height:100%;
    display:block;
    position:absolute;
    left:1em;
    top:1em;
    margin-bottom:0px;

    @include gs-media(d) {
    @include adjust-font-size-to(42px); 
    font-weight:bold;
    }
  }

  height: 100%;
  width:100%;
  margin : 0 auto;

  > div {

    overflow:hidden;
  }

.border-top {
  border-top: 1px solid white;
}

.border-bottom {
  border-bottom: 1px solid white;
}
  .half-width {
    width:50%;
    float:left;
    border-right: 1px solid white;
    max-height:600px;
    @include gs-media(t, min-max) {
    width:66.6%;
    }

    @include gs-media(m, min-max) {
    width:100%;
    }

  }
    .half-width-blue {
    @extend .half-width;
  }

  .quarter-width {
    width:25%;
    display:block;
    border-bottom: 1px solid white;
    border-right: 1px solid white;
    float:left;
    max-height:600px;
    @include gs-media(t, min-max) {
    width:33.3%;
    }
        @include gs-media(m, min-max) {
        width:50%;
    }


  }

    .quarter-width-blue {
    @extend .quarter-width;

  }


  .eigth-width {
    width:12.5%;

    float:left;
  }

  .eigth-width-blue {
    @extend .eigth-width !optional;
    background:pink;
  }

}