.vcard {
	border-top: 1px solid $bg-gray;
	border-bottom: 1px solid $bg-gray;
	margin-bottom:  rhythm(4, 16px);
	padding: rhythm(6, 16px) 0;
	table {
		th {
			width: 30%;
		}
		tbody {
			padding: rhythm(6, 16px) 0;	
		}
		tr {
			&:nth-child(even) {
				background-color: $white;
			}
		}		
	}

	.fn, .phone, .email, .title, .org, .url, .blogurl, .twitter, .facebook, .linkedin {
		background-color: $bg-gray;
		padding: rhythm(1, 16px);
		a {
			border-bottom: none;
		} 
	}
}