// Video Component - uses JW Player
.video-component {
	
	
}

.video-wrapper {
	max-width: 1280px;
	width: 100%;
}

// styles to handle aspect ratio for responsive videos

.intrinsicRatio {
	position:relative;
	overflow:visible;
	height:0;
}
.ratio16to9 {
	padding-bottom:56.25%;
}


.intrinsicRatio div,
.intrinsicRatio object,
.intrinsicRatio embed {
	// position:absolute !important;
	/* Everything following breaks iPhone and iPad(!) */
	/*
	top:0;
	left:0;
	width:100%;
	height:100%;
	background:teal;
	*/
}


// hide the JW image

#vid-player_logo {
	visibility: hidden !important;
	opacity: 0 !important;
}