
.video-block {
	@include gs-media(t,min-max) {
		@include gs-span(t, 2, 7);
	}
	@include gs-media(d) {
		@include gs-span(d, 5, 16, (5, 16));
		h2 {
			@include gs-span(d, 5, 12, (5, 16));
		}
		.content {
			@include gs-span(d, 5, 12, (5, 16));
		}
		.feature {
			@include gs-span(d, 5, 16, (5, 16));
		}
		.teaser {
			@include gs-span(d, 5, 12, (5, 16));

		}
	}
}

.video-block-with-aside {
	@extend .image-block;
	aside {
		background: $bg-gray;
		padding: 24px;
	}
	@include gs-media(t, min-max) {
		@include gs-span(t, 2, 7);
	}
	@include gs-media(d) {
		// @include gs-span(d, 5, 16, (5, 16));	
		.content, .teaser {
			width: 100%;
		}
		.main {
	    width: gs-width(d, 5, 12, (5, 16), true);
	    @include gs-float(d, left, (5, 16)); 
	    margin-right: 0;
		}
		aside {
	    width: gs-width(d, 13, 16, (5, 16), true);
	    @include gs-float(d, right, (5, 16));
	    background: $white;
	    padding: 0;
		}
	}
}
