// Video Component styling
.video-component {
	
	
}

.video-wrapper {
	max-width: 1280px;
	width: 100%;
	background: #000 url(http://artslondon.github.io/beta/assets/video/hero-image/lcf-video.jpg) 0 0 no-repeat;
	background-size: cover;
}







// styles to handle aspect ratio for responsive videos
.intrinsicRatio {
	position:relative;
	overflow:visible;
	height:0;
}
.ratio16to9 {
	padding-bottom:56.25%;
}


.intrinsicRatio div,
.intrinsicRatio object,
.intrinsicRatio embed {
	// position:absolute !important;
	/* Everything following breaks iPhone and iPad(!) */
	/*
	top:0;
	left:0;
	width:100%;
	height:100%;
	background:teal;
	*/
}


// hide the JW player logo image

#vid-player_logo {
	visibility: hidden !important;
	opacity: 0 !important;
}