---
layout: main.tpl
college: lcf
section: people
title: LCF People
template: true
---

<div class="content-wrapper">
	<div class="row">
		<nav class="sidebar">
			{% include _lcf_navigation.html %}		
		</nav>	

		<div role="main" class="content">
			<div class="row">
				<div class="media-block">
					<div class="flex-video">
						<iframe width="853" height="480" src="http://www.youtube.com/embed/Q0xTFhGCFww" frameborder="0" allowfullscreen></iframe>
						<div class="caption"><p>Jimmy Choo interview - <a href="#">read more</a></p></div>
					</div>
				</div>
			</div>
			
			<!-- media block -->
			{% include components/_media-block-2-up.html %}

			<div class="row">
				<div class="view-more-button">
					<a href="{{ site.url }}content/colleges/lcf/people/teaching-staff/">View all staff</a>

				</div>

			</div>

			<div class="row">
				<div class="two-up">
					<h2>Our students</h2>
					<ul>
						<li>
							<figure>
								<a href="" title=""><img src="{{ site.url }}assets/img/lcf/lcf-people1.jpg" alt="Image Alt"></a>
								<figcaption>Curabitur blandit tempus porttitor, Odio. Original by <a href="#">Lorem Ipsum</a></figcaption>
							</figure>
							<h3><a href="" title="">Sue Dray, MA Fashion Artefact</a></h3>
							<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce nulla turpis, ullamcorper congue pharetra sit amet, varius sit amet diam.</p>
							<p><a class="button-link" href="" title="">View full interview</a></p>
						</li>
						<li>
							<figure>
								<a href="" title=""><img src="{{ site.url }}assets/img/lcf/lcf-people2.jpg" alt="Image Alt"></a>
								<figcaption>Curabitur blandit tempus porttitor, Odio. Original by <a href="#">Lorem Ipsum</a></figcaption>
							</figure>
							<h3><a href="" title="">Dai Rees, MA Fashion Design Technology: Menswear</a></h3>
							<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce nulla turpis, ullamcorper congue pharetra sit amet, varius sit amet diam.</p>
							<p><a class="button-link" href="" title="">View full interview</a></p>
						</li>
					</ul>
				</div>
			</div>

			<div class="row">
				<div class="view-more-button">
					<a href="#">View all students</a>

				</div>

			</div>

			<section class="row buffer-max">
				<header class="section-title">
					<h2>Our researchers</h2>
				</header>
				<div class="row">
					<div class="boxout-deluxe bg-gray-bg">
						<div class="row">
							<div class="left-col">
								<div class="pad-left">
									<p>LCF staff have extensive research, consultancy and professional experience within a wide range of specialist areas and enjoy close links with the media and fashion industries.</p>
									<p>Research activity within the fashion media and cultural field encompasses curation and exhibition of fashion and fashion photography at international venues, contributions to the global fashion press, editorships of major research and trade journals, and well established links with museums such as the V&A.</p>
								</div>
							</div>
							<div class="right-col">
								<figure><img src="{{ site.url }}assets/img/lcf/research-radka.jpg"></figure>
								<h5><a href="#">Douglas Atkinson</a></h5>
								<p>Innovation Research Fellow, London College of Fashion</p>
								<h5>Contact</h5>
								<ul>
									<li><a href="mailto:d.atkinson@fashion.arts.ac.uk">d.atkinson@fashion.arts.ac.uk</a></li>
									<li><a href="#">DISC (Designer Manufacturer Support Centre)</a></li>
									<li><a href="#">Fashion Digital Studio</a></li>
								</ul>
								<p><a href="#">View full profile</a></p>
							</div>
						</div>
						<div class="row">
							<div class="view-more-bar"><p><a href="#">View more &raquo;</p></div>
						</div>
					</div>
				</div>

				
		</div>		
	</div><!-- .row -->
</div><!-- .content-wrapper -->
