
@import "globals/variables";
// Mixins also references various Compass plugins e.g. vertical rhythm
@import "globals/mixins";
@import "plugins/normalize";


/* ::Grid styles */
/* ------------------------------------------------------------ */

@import "globals/gridset";

.docs {

.breadcrumb {
  @include padding-leader(3);
  ul {
    padding-left: 0;
    li {
      list-style:none;
      display:inline;
      float:left;
      margin-right:1em;

    }
  }
}

  .header {
    background: black;
    width:100%;
    @extend .clearfix;
   @include padding-leader(0);
    border-top: 6px solid #000000;

      h2 {
         a {
            color:white;
            border:none;
         }

      }

    @include gs-media(m, min-max) {
      padding-top: 0px;
      border-top:0px;

    }

    .banner {
      @extend .wrapper;
      @extend .clearfix;
      position: relative;
      @include padding-leader(2);
      @include gs-media(m, min-max) {
        @include gs-span(m, all);
        background:black;
        padding-left:3.75%;
        padding-right:3.75%;
        overflow: visible;
        //@include padding-leader(1);
        @include padding-trailer(1);
      }


      
      .header {
        @include gs-span(d, all);
      }
    }
  }
}

.docs-content {
  @include gs-span(d, all);
        @include gs-media(m, min-max) {
        @include gs-span(m, all);
      }
}

// Needs to be placed in its own Media scss

.media-block {
  a {
    border:none;
  }

  figcaption {
  padding: 0 0px;
  color: #929292;
  font-family: Helvetica;
  font-size:0.8em;
  padding-top: 4px;
}

  &.float-left {
    figure {
      float:left;
      padding-right:emCalc(24px);
    }
  }
}

  .heading-bottom {

    h2.media-heading-top {
      display:none;
    }
  }

    .heading-top {

    h2.media-heading-bottom {
      display:none;
    }
  }


  // blocks

  ul.blocks {
    padding-left :0;
    li {
      list-style:none;
    }

    .three-up {
      float:left;
      width:33.33%;
      padding-right:emCalc(24px);
              @include gs-media(m, min-max) {
        @include gs-span(m, all);
      }
    }
  }