
// compass imports
@import "compass/reset",
		"compass/typography/vertical_rhythm";

@import "globals/variables", 
		"globals/gridset",
		"globals/colors",
		"globals/utilities";

.content-wrapper {
	width: 92.5%;
	max-width: 1256px;
	margin: 0 auto;
	min-width:320px;
}

@import "style-guide/typography",
		"style-guide/button-link",
		"style-guide/panels",
		"style-guide/main-nav",
		"style-guide/hero-unit",
		"style-guide/text-block";