
// compass imports
@import "compass/reset",
		"compass/typography/vertical_rhythm";

@import "globals/variables", 
		"globals/gridset",
		"globals/colors",
		"globals/utilities";

@import "style-guide/mixins";

.content-wrapper {
	width: 92.5%;
	max-width: 1256px;
	margin: 0 auto;
	min-width:320px;
}
.content-wrapper img {
	max-width: 100%;
	height: auto;
}

@import "style-guide/typography",
		"style-guide/button-link",
		"style-guide/panels",
		"style-guide/main-nav",
		"style-guide/sidebar",
		"style-guide/hero-unit",
		"style-guide/text-block",
		"style-guide/image-block",
		"style-guide/media-block",		
		"style-guide/image-list-with-text",
		"style-guide/date",
		"style-guide/blocks",
		"style-guide/accordion",
		"style-guide/bxslider",
		"style-guide/boxout",
		"style-guide/feature-wall";