extends ../../_layout/_base
block vars
	- var bodyClass = "lcf";
	- var Title = "Feeds";
	- var Sidebar = true;
	- var Banner = true;
block content
		.row
			.l-content
				h2 news feed for LCF 3 item
				.news-feed(data-feed-id='4', data-feed-width="content", data-news-college='fashion', data-news-tag='', data-news-category='', data-item-count='6', data-empty-message='There is currently no news')
		.row
			.l-content-full-width
				h2 news feed for University-wide 3 item
				.news-feed(data-feed-id='5', data-feed-width="full-width", data-news-college='university-wide', data-news-tag='', data-news-category='research', data-item-count='6')
		.row
			.l-content-full-width
				h2 events feed for LCF open days
				.events-feed(data-feed-id='1', data-feed-width="full-width", data-event-programme='London+College+of+Fashion', data-event-keyword='', data-item-count='6', data-event-type='Open_Day', data-news-college='')
		.row
			.l-content
				h2 events feed for lcf keyworded 'Inside+the+Industry'
				.events-feed(data-feed-id='3', data-feed-width="content", data-event-programme='London+College+of+Fashion', data-event-keyword='Inside+the+Industry', data-item-count='5', data-event-type='', data-empty-message='There are currently no forthcoming events.')
