extends ../../_layout/_base
block vars
	- var bodyClass = "lcf";
	- var Title = "Feeds";
	- var Sidebar = true;
	- var Banner = true;
block content
		.row
			.l-content
				h2 news feed for LCF 3 item
				.news-feed(data-feed-id='4', data-feed-width="content", data-news-college='university-wide', data-news-tag='', data-news-category='research', data-item-count='6')
		.row
			.l-content-full-width
				h2 news feed for LCF 3 item
				.news-feed(data-feed-id='5', data-feed-width="full-width", data-news-college='wimbledon', data-news-tag='', data-news-category='', data-item-count='2')
		.row
			.l-content-full-width
				h2 events feed for LCF with 3 item, keyworded 'Jean Paul Gaultier'
				.events-feed(data-feed-id='1', data-feed-width="full-width", data-event-programme='London+College+of+Fashion', data-event-keyword='Jean+Paul+Gaultier', data-item-count='6', data-event-type='', data-news-college='')
		.row
			.l-content
				h2 events feed for london college of communication with 6 items
				.events-feed(data-feed-id='3', data-feed-width="content", data-event-programme='London+College+of+Communication', data-item-count='5', data-event-type='')

