<div class="row">
	<div class="carousel">
	  <ul class="slides">
	    <li class="college">
	      <div class="slide layout0">
	        <a class="image0" href="#">

				<figure class="feature">
          <img class="m-hide" src="{{ site.url }}/assets/img/carousel-imgs/1280x480_slide_1_see.jpg" alt="#">
          <img class="t-hide d-hide" src="{{ site.url }}/assets/img/carousel-imgs/1280x480_slide_1_see_sml.jpg" alt="#">
					<figcaption class="t-hide d-hide">
	          <p>"ArtsTemps has been invaluable in helping me balance work and study" Rosa Dura ArtsTemp.</p>
					</figcaption>	
				</figure>




	        </a>
	      </div>
	    </li>         
	    <li class="college">
	      <div class="slide layout0">
	        <a class="image0" href="#">
	          <img src="{{ site.url }}/assets/img/carousel-imgs/1280x480_slide_2.jpg" alt="#">
	        </a>
	      </div>
	    </li>
	    <li class="college">
	      <div class="slide layout0">
	        <a class="image0" href="#">
	          <img src="{{ site.url }}/assets/img/carousel-imgs/1280x480_slide_3.jpg" alt="#">
	        </a>
	      </div>
	    </li>
	    <li class="college">
	      <div class="slide layout0">
	        <a class="image0" href="#">
	          <img src="{{ site.url }}/assets/img/carousel-imgs/1280x480_slide_4.jpg" alt="#">
	        </a>
	      </div>
	    </li>
	  </ul>
	</div>
</div>


