<div class="row">
	<div class="bxslider-content-carousel">
		<h2>Carousel showing 4 slides (move one at a time)</h2>

		<div class="bx-wrapper">
			<div class="bx-viewport">
				<ul class="slider" data-slider-item-width="220" data-slider-item-margin="24" data-slider-min-slides="2"> 
				  <li class="slide"><img src="{{ site.url }}/assets/img/carousel-imgs/square_slide_1.jpg">
				  	<p>This is some text <a href="">for this slide</a></p></li>
				  <li class="slide"><img src="{{ site.url }}/assets/img/carousel-imgs/square_slide_2.jpg">
				  	<p>This is some text <a href="">for this slide</a></p></li>
				  <li class="slide"><img src="{{ site.url }}/assets/img/carousel-imgs/square_slide_3.jpg">
				  	<p>This is some text <a href="">for this slide</a></p></li>
				  <li class="slide"><img src="{{ site.url }}/assets/img/carousel-imgs/square_slide_4.jpg">
				  	<p>This is some text <a href="">for this slide</a></p></li>
				  <li class="slide"><img src="{{ site.url }}/assets/img/carousel-imgs/square_slide_1.jpg">
				  	<p>This is some text <a href="">for this slide</a></p></li>
				  <li class="slide"><img src="{{ site.url }}/assets/img/carousel-imgs/square_slide_2.jpg">
				  	<p>This is some text <a href="">for this slide</a></p></li>
				  <li class="slide"><img src="{{ site.url }}/assets/img/carousel-imgs/square_slide_3.jpg">
				  	<p>This is some text <a href="">for this slide</a></p></li>
				  <li class="slide"><img src="{{ site.url }}/assets/img/carousel-imgs/square_slide_4.jpg">
				  	<p>This is some text <a href="">for this slide</a></p></li>
				</ul>
			</div>
		</div>

	</div>
</div>