<!-- to use this as a replacemet for a form select box follow the instructions on this page
 http://apptha.com/blog/how-to-custom-style-a-select-box-with-form-value-support/ -->

<div class="dd-menu">
  <div class="js-dd-menu dd-menu-heading">
    <h3 class="dd-menu-title">dropdown menu title</h3>
    <div class="dd-menu-arrow"><span class="js-dd-menu-icon icon">&#59236;</span></div>
  </div>
  <ul class="js-dd-menu-list">
    <li><a href="#">Link one</a></li>
    <li><a href="#">Link two</a></li>
    <li><a href="#">Link three</a></li>
    <li><a href="#">Link four</a></li>
  </ul>
</div>

