<div class="row">
	<div class="expandable-content-block">
		<h2>Expandable content block</h2>
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce nulla turpis, ullamcorper congue pharetra sit amet, varius sit amet diam. Sed bibendum porttitor mattis. Phasellus nisl mi, gravida in porta nec, hendrerit quis arcu. Praesent aliquet adipiscing tempor. Maecenas velit sapien, egestas ac sagittis et, lobortis et lacus. (max 50 words)</p>
			<div class="expanded-content">
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce nulla turpis, ullamcorper congue pharetra sit amet, varius sit amet diam. Sed bibendum porttitor mattis. Phasellus nisl mi, gravida in porta nec, hendrerit quis arcu. Praesent aliquet adipiscing tempor. Maecenas velit sapien, egestas ac sagittis et, lobortis et lacus. (max 50 words)</p>
				<p><a class="button-link hide-content"><span>Discriptive text about where this kink will go </span>Show less</a></p>
			</div>
			<p>
				<a class="button-link show-more"><span>Discriptive text about where this kink will go </span>Show more</a>
			</p>
	</div>
</div>