<div class="row">
	<div class="four-up-content-gallery">
		<h2>Four up content gallery (with optional title links)</h2>
		<ul>
			<li><a class="no-border" href="" title=""><img class="m-hide" src="http://placehold.it/320x320&text=Hall image" alt=""></a>
				<h3><a href="" title="">Hall name</a></h3></li>
			<li><a class="no-border" href="" title=""><img class="m-hide" src="http://placehold.it/320x320&text=Hall image" alt=""></a>
				<h3><a href="" title="">Hall name</a></h3></li>
			<li><a class="no-border" href="" title=""><img class="m-hide" src="http://placehold.it/320x320&text=Hall image" alt=""></a>
				<h3><a href="" title="">Hall name</a></h3></li>
			<li><a class="no-border" href="" title=""><img class="m-hide" src="http://placehold.it/320x320&text=Hall image" alt=""></a>
				<h3><a href="" title="">Hall name</a></h3></li>
			<li><a class="no-border" href="" title=""><img class="m-hide" src="http://placehold.it/320x320&text=Hall image" alt=""></a>
				<h3><a href="" title="">Hall name</a></h3></li>
			<li><a class="no-border" href="" title=""><img class="m-hide" src="http://placehold.it/320x320&text=Hall image" alt=""></a>
				<h3><a href="" title="">Hall name</a></h3></li>
			<li><a class="no-border" href="" title=""><img class="m-hide" src="http://placehold.it/320x320&text=Hall image" alt=""></a>
				<h3><a href="" title="">Hall name</a></h3></li>
			<li><a class="no-border" href="" title=""><img class="m-hide" src="http://placehold.it/320x320&text=Hall image" alt=""></a>
				<h3><a href="" title="">Hall name</a></h3></li>
			<li><a class="no-border" href="" title=""><img class="m-hide" src="http://placehold.it/320x320&text=Hall image" alt=""></a>
				<h3><a href="" title="">Hall name</a></h3></li>
			<li><a class="no-border" href="" title=""><img class="m-hide" src="http://placehold.it/320x320&text=Hall image" alt=""></a>
				<h3><a href="" title="">Hall name</a></h3></li>
			<li><a class="no-border" href="" title=""><img class="m-hide" src="http://placehold.it/320x320&text=Hall image" alt=""></a>
				<h3><a href="" title="">Hall name</a></h3></li>
			<li><a class="no-border" href="" title=""><img class="m-hide" src="http://placehold.it/320x320&text=Hall image" alt=""></a>
				<h3><a href="" title="">Hall name</a></h3></li>
		</ul>
	</div>
</div>