<div class="row">
		<div class="three-up-content-gallery lightbox">
			<h2>Image gallery (with lightbox)</h2>
			<ul>
				<li><a class="no-border" href="http://placehold.it/640x640&text=Gallery image" title=""><img src="http://placehold.it/290x290&text=Gallery thumbnail" alt=""></a></li>
				<li><a class="no-border" href="http://placehold.it/640x640&text=Gallery image" title=""><img src="http://placehold.it/290x290&text=Gallery thumbnail" alt=""></a></li>
				<li><a class="no-border" href="http://placehold.it/640x640&text=Gallery image" title=""><img src="http://placehold.it/290x290&text=Gallery thumbnail" alt=""></a></li>
				<li><a class="no-border" href="http://placehold.it/640x640&text=Gallery image" title=""><img src="http://placehold.it/290x290&text=Gallery thumbnail" alt=""></a></li>
				<li><a class="no-border" href="http://placehold.it/640x640&text=Gallery image" title=""><img src="http://placehold.it/290x290&text=Gallery thumbnail" alt=""></a></li>
				<li><a class="no-border" href="http://placehold.it/640x640&text=Gallery image" title=""><img src="http://placehold.it/290x290&text=Gallery thumbnail" alt=""></a></li>
				<li><a class="no-border" href="http://placehold.it/640x640&text=Gallery image" title=""><img src="http://placehold.it/290x290&text=Gallery thumbnail" alt=""></a></li>
				<li><a class="no-border" href="http://placehold.it/640x640&text=Gallery image" title=""><img src="http://placehold.it/290x290&text=Gallery thumbnail" alt=""></a></li>
				<li><a class="no-border" href="http://placehold.it/640x640&text=Gallery image" title=""><img src="http://placehold.it/290x290&text=Gallery thumbnail" alt=""></a></li>
			</ul>
		</div>				
</div>