<div class="row">
	<div class="four-up lightbox">
		<h2>Four up content gallery (with optional title links)</h2>
		<ul>
			<li>
				<a class="no-border" href="http://app.resrc.it/s=w960/o=80/http://beta.arts.ac.uk<t4 type="content" name="Gallery lightbox image" output="file" modifiers="" />" title=""><t4 type="content" name="Gallery thumbnail" output="file" modifiers="" /></a>

			</li>
			<li>
				<a class="no-border" href="" title=""><img class="m-hide" src="http://placehold.it/320x320&text=Hall image" alt=""></a>
			</li>
			<li>
				<a class="no-border" href="" title=""><img class="m-hide" src="http://placehold.it/320x320&text=Hall image" alt=""></a>
			</li>
			<li>
				<a class="no-border" href="" title=""><img class="m-hide" src="http://placehold.it/320x320&text=Hall image" alt=""></a>
			</li>
			<li>
				<a class="no-border" href="" title=""><img class="m-hide" src="http://placehold.it/320x320&text=Hall image" alt=""></a>
			</li>
			<li>
				<a class="no-border" href="" title=""><img class="m-hide" src="http://placehold.it/320x320&text=Hall image" alt=""></a>
			</li>
			<li>
				<a class="no-border" href="" title=""><img class="m-hide" src="http://placehold.it/320x320&text=Hall image" alt=""></a>
			</li>
			<li>
				<a class="no-border" href="" title=""><img class="m-hide" src="http://placehold.it/320x320&text=Hall image" alt=""></a>
			</li>
			<li>
				<a class="no-border" href="" title=""><img class="m-hide" src="http://placehold.it/320x320&text=Hall image" alt=""></a>
			</li>
			<li>
				<a class="no-border" href="" title=""><img class="m-hide" src="http://placehold.it/320x320&text=Hall image" alt=""></a>
			</li>
			<li>
				<a class="no-border" href="" title=""><img class="m-hide" src="http://placehold.it/320x320&text=Hall image" alt=""></a>
			</li>
			<li>
				<a class="no-border" href="" title=""><img class="m-hide" src="http://placehold.it/320x320&text=Hall image" alt=""></a>
			</li>
		</ul>
	</div>
</div>