<div class="row">
		<div class="three-up-content-gallery">
			<h2>Image gallery (with lightbox)</h2>
			<ul>
				<li><a class="no-border" href="" title=""><img src="http://placehold.it/640x640&text=Gallery image" alt=""></a></li>
				<li><a class="no-border" href="" title=""><img src="http://placehold.it/640x640&text=Gallery image" alt=""></a></li>
				<li><a class="no-border" href="" title=""><img src="http://placehold.it/640x640&text=Gallery image" alt=""></a></li>
				<li><a class="no-border" href="" title=""><img src="http://placehold.it/640x640&text=Gallery image" alt=""></a></li>
				<li><a class="no-border" href="" title=""><img src="http://placehold.it/640x640&text=Gallery image" alt=""></a></li>
				<li><a class="no-border" href="" title=""><img src="http://placehold.it/640x640&text=Gallery image" alt=""></a></li>
				<li><a class="no-border" href="" title=""><img src="http://placehold.it/640x640&text=Gallery image" alt=""></a></li>
				<li><a class="no-border" href="" title=""><img src="http://placehold.it/640x640&text=Gallery image" alt=""></a></li>
				<li><a class="no-border" href="" title=""><img src="http://placehold.it/640x640&text=Gallery image" alt=""></a></li>
			</ul>
		</div>				
</div>