			<div class="row">
				<div class="highlight-box">
					<h2>Case studies</h2>
						<ul>
							<li>
								<a href="#" title="Link title">
									<figure class="m-hide t-hide">
										<img src="http://placehold.it/1000x500/80A7FF/ffffff" alt="Image Alt">
									</figure>
										<h3>Our Research Professoriate from all our colleges</h3>			
								</a>
							</li>					
						</ul>
				</div>
			</div>
			<div class="row">
				<div class="highlight-box-2">
					<ul>
						<li>
							<a href="#" title="Link title">
								<figure class="m-hide t-hide">
									<img src="http://placehold.it/1000x500/80A7FF/ffffff" alt="Image Alt">
								</figure>
									<h3>A-Z of staff research profiles from accross the UAL</h3>			
							</a>
						</li>					
						<li>
							<a href="#" title="Link title">
								<figure class="m-hide t-hide">
									<img src="http://placehold.it/1000x500/80A7FF/ffffff" alt="Image Alt">
								</figure>
									<h3>Awarding body news</h3>			
							</a>
						</li>
					</ul>
				</div>
			</div>	
			<div class="row">
				<div class="highlight-box-3">
					<h2>Featured Alumni</h2>
						<ul>
							<li>
								<a href="#" title="Link title">
									<figure class="m-hide t-hide">
										<img src="http://placehold.it/1000x500/80A7FF/ffffff" alt="Image Alt">
									</figure>
										<h3>Theo Turpin - BA Drawing</h3>			
								</a>
							</li>					
							<li>
								<a href="#" title="Link title">
									<figure class="m-hide t-hide">
										<img src="http://placehold.it/1000x500/80A7FF/ffffff" alt="Image Alt">
									</figure>
										<h3>Daniel Clarke - FdA Illustration</h3>			
								</a>
							</li>					
							<li>
								<a href="#" title="Link title">
									<figure class="m-hide t-hide">
										<img src="http://placehold.it/1000x500/80A7FF/ffffff" width="1000" alt="Image Alt">
									</figure>
										<h3>This is Studio - BA Graphic Design</h3>			
								</a>
							</li>					
							<li>
								<a href="#" title="Link title">
									<figure class="m-hide t-hide">
										<img src="http://placehold.it/1000x500/80A7FF/ffffff" alt="Image Alt">
									</figure>
										<h3>Alice Hawkins - BA Photography</h3>			
								</a>
							</li>					
							<li>
								<a href="#" title="Link title">
									<figure class="m-hide t-hide">
										<img src="http://placehold.it/1000x500/80A7FF/ffffff" alt="Image Alt">
									</figure>
										<h3>Dan McMahon - BA 3D Design</h3>			
								</a>
							</li>							
						</ul>
				</div>
			</div>