<div class="row">
	<div class="image-block-2-up">
		<h2>Image block (2 up)</h2>
		<ul>
			<li>
				<div class="main">
					<figure class="feature">
					<a href="" title=""><img src="http://placehold.it/1000x500&text=img" alt="Image Alt"></a>
						<div class="credits">Matt Wisbey 'this place sucks' BA Photography.</div>
						<figcaption>
							<p>This is a information for the image above, it can be either accreditation or a caption. This should not run more than 2 lines. (optional)</p>
						</figcaption>	
					</figure>
					<div class="teaser">
					<h3><a href="" title="">Title</a></h3>
						<p>Quisque fermentum eros sit amet odio suscipit, sit amet porta mi pharetra. In hac habitasse platea dictumst. Nulla facilisi. Morbi interdum fermentum faucibus.</p>
						<p><a href="#" class="button-link"><span class="hide-descriptive-text">Follow this link to go to more information about</span>Optional button</a></p>
					</div>
				</div>
			</li>
			<li>
				<div class="main">
					<figure class="feature">
					<a href="" title=""><img src="http://placehold.it/1000x500&text=img" alt="Image Alt"></a>
						<div class="credits">Howard Panton 'hello i am working from home today' no course specified.</div>
						<figcaption>
							<p>This is a information for the image above, it can be either accreditation or a caption. This should not run more than 2 lines. (optional)</p>
						</figcaption>	
					</figure>
					<div class="teaser">
					<h3><a href="" title="">Title</a></h3>
						<p>Quisque fermentum eros sit amet odio suscipit, sit amet porta mi pharetra. In hac habitasse platea dictumst. Nulla facilisi. Morbi interdum fermentum faucibus.</p>
						<p><a href="#" class="button-link"><span class="hide-descriptive-text">Follow this link to go to more information about</span>Optional button</a></p>
					</div>
				</div>
			</li>		</ul>
	</div> <!-- end image-block-2-up -->
</div> <!-- end row -->

<div class="row">
	<div class="image-block-2-up">
		<h2>Image block (2 up) within-content</h2>
		<ul class="within-content">
			<li>
				<div class="main">
					<figure class="feature">
					<a href="" title=""><img src="http://placehold.it/1000x500&text=img" alt="Image Alt"></a>
						<div class="credits">Matt Wisbey 'this place sucks' BA Photography.</div>
						<figcaption>
							<p>This is a information for the image above, it can be either accreditation or a caption. This should not run more than 2 lines. (optional)</p>
						</figcaption>	
					</figure>
					<div class="teaser">
						<h3>Title</h3>
							<p>Quisque fermentum eros sit amet odio suscipit, sit amet porta mi pharetra. In hac habitasse platea dictumst. Nulla facilisi. Morbi interdum fermentum faucibus.</p>
							<p><a href="#" class="button-link"><span class="hide-descriptive-text">Follow this link to go to more information about</span>Optional button</a></p>
					</div>
				</div>
			</li>
			<li>
				<div class="main">
					<figure class="feature">
					<a href="" title=""><img src="http://placehold.it/1000x500&text=img" alt="Image Alt"></a>
						<div class="credits">Howard Panton 'hello i am working from home today' no course specified.</div>
						<figcaption>
							<p>This is a information for the image above, it can be either accreditation or a caption. This should not run more than 2 lines. (optional)</p>
						</figcaption>	
					</figure>
					<div class="teaser">
						<h3>Title</h3>
							<p>Quisque fermentum eros sit amet odio suscipit, sit amet porta mi pharetra. In hac habitasse platea dictumst. Nulla facilisi. Morbi interdum fermentum faucibus.</p>
							<p><a href="#" class="button-link"><span class="hide-descriptive-text">Follow this link to go to more information about</span>Optional button</a></p>
					</div>
				</div>
			</li>		</ul>
	</div> <!-- end image-block-2-up -->
</div> <!-- end row -->