			<div class="row">
				<div class="image-block-with-intro">
					<h2>Image block with introduction</h2>
						<figure>
							<a href="" title=""><img src="http://placehold.it/1000x500&text=IMAGE" alt="Image Alt"></a>
							<p class="date-box"><span class="day">01</span><span class="month">Jan</span></p>				
						</figure>
							<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce nulla turpis, ullamcorper congue pharetra sit amet, varius sit amet diam. Sed bibendum porttitor mattis. Phasellus nisl mi, gravida in porta nec, hendrerit quis arcu. (max XX words)</p>
							<p><a href="" title="">Read more &rarr;</a></p>
				</div>
			</div>