<div class="row">
	<header>
		<h2>Optional title</h2>
	</header>
	<div class="intro-block-with-left-image">
		<figure class="l-content-d5-d10">
			<img src="{{ site.url }}/assets/img/lcf/lcf-gs-1.jpg">
			<figcaption><p>Cat Patterson — LCF Loves you<br><em><a href="#">MA Fashion Photography</a></em></p></figcaption>
		</figure>
		<div class="l-content-d11-d16">
			<p class="leader">We offer a broad range of taught courses, including MA Fashion, Executive MBA, Postgraduate Diploma, Postgraduate Certificate and Graduate Diploma courses.</p>
			<p>Browse by cluster:</p>
			<ul class="no-bullet">
				<li><a href="#design-technology">Design & Technology</a></li>
				<li><a href="#business-management">Business & Management</a></li>
				<li><a href="#media-communication">Media & Communication</a></li>
			</ul>
		</div>
	</div>
</div>