<div class="row intro-block-with-left-image">
	<header>
		<h2><a href="#">Optional title</a></h2>
	</header>
	<div class="">
		<figure class="l-content-d5-d10">
			<a href="#"><img src="{{ site.url }}/assets/img/lcf/lcf-better-lives.jpg"></a>
			<div class="credits">Cat Patterson</div>
			<figcaption><p>Cat Patterson — LCF Loves you<br><em><a href="#">MA Fashion Photography</a></em></p></figcaption>
		</figure>
		<div class="l-content-d11-d16">
			<p class="leader">Using fashion to drive change, build a sustainable future and improve the way we live.</p>
			<p>Through a broad agenda we encourage dialogue between staff, students and the wider community to develop an understanding and definition of what sustainability means to us.</p>
			<p>Browse by cluster:</p>
			<ul class="no-bullet">
				<li><a href="#design-technology">Design & Technology</a></li>
				<li><a href="#business-management">Business & Management</a></li>
				<li><a href="#media-communication">Media & Communication</a></li>
			</ul>
		</div>
	</div>
</div>