<div class="row">
			<div class="map-block">
				<div class="map m-hide t-hide">
					<img src="../assets/img/placeholders/map-image.jpg" alt="">
				</div>
				<div class="map-info">
					<h3>Map block</h3>
					<p>18C May Avenue<br />
					Canvey Island<br />
					Essex</p>
					<p>SS8 7EE</p>
					<p class="d-hide"><a href="http://goo.gl/maps/dy2qR" title="view on google maps">View on google maps</a></p>
					<p><a href="mailto:m.wisbey@arts.ac.uk" title="send an email to Matt Wisbey"><script type="text/javascript"><!--
var gyzlnlv = ['m','.','e','c','a','a',' ','f','s','a','"','.','s','"','s','m','i','>','m',' ','a','c','=','i','a','k','e','@','u','s','w','<','t',':','w','s','l','h','b','m','>','@','i','a','t','<','a','i','r','y','r','c','b','/','e','u','r','y','s','"','.','e','l','l','.','"','k','.','a','.','t','o','a','='];var ipjtngx = [9,64,57,37,25,10,36,6,63,30,43,29,41,8,55,45,19,73,16,2,65,66,7,54,1,34,5,59,68,28,53,0,27,15,18,40,38,3,56,51,50,24,11,39,62,70,60,47,4,23,61,31,21,71,44,33,26,58,20,49,67,22,12,48,52,35,69,32,72,17,13,14,46,42];var ecqxpbi= new Array();for(var i=0;i<ipjtngx.length;i++){ecqxpbi[ipjtngx[i]] = gyzlnlv[i]; }for(var i=0;i<ecqxpbi.length;i++){document.write(ecqxpbi[i]);}
// --></script>
<noscript>Please enable Javascript to see the email address</noscript></a></p>
					<p>Other information - this could include opening hours information, building accessibility etc.</p>
				</div>
			</div>
		</div>