<div class="row">
	<div class="media-gallery-2-up">
		<h2>Media gallery (2 up)</h2>
		<ul>
			<li>
				<a href="#" title=""><img src="http://beta.arts.ac.uk/media/beta/colleges/csm/images/SindujaChandrapalan1.jpg" alt=""></a>
				<h3 class="size-h5"><a href="" title="">Firstname Lastname, Course Title, Course Leader</a></h3>
			</li>
			<li>
				<a href="#" title=""><img src="http://beta.arts.ac.uk/media/beta/colleges/csm/images/SindujaChandrapalan2.jpg" alt=""></a>
				<h3 class="size-h5"><a href="" title="">Firstname Lastname, Course Title, Course Leader</a></h3>
			</li>
		</ul>	
	</div>
</div>

<div class="row">
	<div class="media-gallery-2-up lightbox">
		<h2>Media gallery (2 up) with lightbox</h2>
		<ul>
			<li>
    		<a class="no-border" href="http://beta.arts.ac.uk/media/beta/colleges/csm/images/yingtong-tan1.jpg" title="This is a caption for the image above">
      	<img src="http://beta.arts.ac.uk/media/beta/colleges/csm/images/yingtong-tan1.jpg" alt=""> </a>
      </li>
			<li>
    		<a class="no-border" href="http://beta.arts.ac.uk/media/beta/colleges/csm/images/yingtong-tan2.jpg">
      	<img src="http://beta.arts.ac.uk/media/beta/colleges/csm/images/yingtong-tan2.jpg" alt=""> </a>
      </li>		
    </ul>	
	</div>
</div>
