<div class="row">
	<nav class="pagination" role="pagination">
		<ul>
			<li class="go-first"><a class="icon chevron-thin-left" href="#">  </a></li>
			<li class="page-prev"><a class="icon chevron-thin-left" href="#">  </a></li>
			<li><a href="#" class="page-number">1</a></li>
			<li><a href="#" class="page-number">2</a></li>
			<li><a href="#" class="page-number">3</a></li>
			<li><a href="#" class="page-number active">4</a></li>
			<li><a href="#" class="page-number">5</a></li>
			<li><a href="#" class="page-number">6</a></li>
			<li class="page-next"> <a class="icon chevron-thin-right" href="#">  </a></li>
			<li class="go-last"><a class="icon chevron-thin-left" href="#">  </a></li>
		</ul>
	</nav>
</div>