<div class="row">
	<nav class="pagination" role="navigation">
		<ul>
			<!-- <div class="m-left-side-buttons"> -->
			<li class="go-first"><a href="#"> First </a></li>
			<li class="page-prev"><a class="icon chevron-thin-left" href="#">  </a></li>
			<!-- </div> -->
			<!-- <div class="page-number-links"> -->
			<li><a href="#" class="page-number">1</a></li>
			<li><a href="#" class="page-number">2</a></li>
			<li><a href="#" class="page-number">3</a></li>
			<li><a href="#" class="page-number active">4</a></li>
			<li><a href="#" class="page-number">5</a></li>
			<!-- </div> -->
			<!-- <div class="m-right-side-buttons"> -->
			<li class="page-next"> <a class="icon chevron-thin-right" href="#">  </a></li>
			<li class="go-last"><a href="#"> Last </a></li>
			<!-- </div>  -->
		</ul>
	</nav>
</div>