		<div class="row">
			<div class="related-content">
				<h2>Related Content</h2>
				<ul>				
					<li>
						<a href="#" title="">
							<figure class="m-hide t-hide">
								<img src="http://placehold.it/1000x500/ff69b4/ffffff" alt="">
							</figure>
							<p>Jewellery students exhibit at Darkroom</p>
						</a>
					</li>
					<li>
						<a href="#" title="">
							<figure class="m-hide t-hide">
								<img src="http://placehold.it/1000x500/ff69b4/ffffff" alt="">
							</figure>
							<p>Anthropologie invite LCF students to design for London store</p>
						</a>
					</li>
					<li>
						<a href="#" title="">
							<figure class="m-hide t-hide">
								<img src="http://placehold.it/1000x500/ff69b4/ffffff" alt="">
							</figure>
							<p>The John Lewis Collaboration 2013</p>
						</a>
					</li>
					<li>
						<a href="#" title="">
							<figure class="m-hide t-hide">
								<img src="http://placehold.it/1000x500/ff69b4/ffffff" alt="">
							</figure>
							<p>Fashion Photography student wins D&amp;AD nomination</p>
						</a>
					</li>
				</ul>
			</div>
		</div>