<div class="search-filters">
  <form> 
    <h2 class="size-h3">Short course filters:</h2>
    
    <div class="short-course-filters">
      <div class="filter-module">
        <h3 class="filter-heading size-h4">Discipline</h3>
          <ul> 
            <li><a href="#">Some filter here</a></li>
            <li><a href="#">Another filter here</a></li>
            <li class="active"><a href="#">Another filter here</a></li>
            <li><a href="#">Another filter here</a></li>
            <li><a href="#">Another filter here</a></li>
          </ul>
      </div>

      <div class="filter-module">
        <h3 class="filter-heading size-h4">Session</h3>
        <ul> 
          <li><a href="#">Some filter here</a></li>
          <li><a href="#">Another filter here</a></li>
          <li><a href="#">Another filter here</a></li>
          <li class="active"><a href="#">Another filter here</a></li>
          <li><a href="#">Another filter here</a></li>
        </ul>
      </div>

      <div class="filter-module">
        <h3 class="filter-heading size-h4">Age Group</h3>
        <ul> 
          <li><a href="#">Some filter here</a></li>
          <li><a href="#">Another filter here</a></li>
          <li><a href="#">Another filter here</a></li>
          <li class="active"><a href="#">Another filter here</a></li>
          <li><a href="#">Another filter here</a></li>
        </ul>
      </div>
      
      <div class="filter-module">   
        <h3 class="filter-heading size-h4">Start Date</h3>
        <ul> 
          <li>
            <input type="date">
          </li>
        </ul>
      </div>

      <div class="filter-module">
        <h3 class="filter-heading size-h4">Select Days</h3>
        <ul> 
          <li><a href="#">Some filter here</a></li>
          <li><a href="#">Another filter here</a></li>
          <li><a href="#">Another filter here</a></li>
          <li><a href="#">Another filter here</a></li>
          <li><a href="#">Another filter here</a></li>
        </ul>
      </div>

      <div class="filter-module">
        <h3 class="filter-heading size-h4">Preferred Time</h3>
        <ul> 
          <li>
            <input type="time">
          </li>
        </ul>
      </div>
      <div class="filter-module">
        <ul>
          <li class="filter-link-only">
            <a href="#">Available Courses</a>
          </li>
        </ul>
      </div>
    </div>
    
    <h2 class="size-h3">Filter results by:</h2>
    <div class="filter-module active">
      <h3 class="filter-heading">Colleges</h3>
      <ul>
        <li>
          <input type = "checkbox"
          id = "camberwell"
          value = "#" /> 
          <label for = "camberwell">Camberwell</label>
        </li>
        <li class="active">
          <input type = "checkbox"
            id = "csm"
            value = "#" /> 
          <label for = "csm">Central Saint Martins</label>
        </li>
        <li>
          <input type = "checkbox"
            id = "chelsea"
            value = "#" />
          <label for = "chelsea">Chelsea</label>
        </li>
        <li>
          <input type = "checkbox"
            id = "lcc"
            value = "#" />
          <label for = "lcc">London College of Communication</label>
        </li>
        <li class="active">
          <input type = "checkbox"
            id = "lcf"
            value = "#" />
          <label for = "lcf">London College of Fashion</label>
        </li>
        <li>
          <input type = "checkbox"
           id = "wimbledon"
           value = "#" />
          <label for = "wimbledon">Wimbledon</label>
        </li>
      </ul>
    </div>
    
    <div class="filter-module">
      <h3 class="filter-heading">Level</h3>
      <ul>
        <li>
          <input type = "checkbox"
           id = "short-courses"
           value = "#" />
          <label for = "short-courses">Short Course</label>
        </li>
        <li class="active">
          <input type = "checkbox"
           id = "language-courses"
           value = "#" />
          <label for = "language-courses">Language Courses</label>
        </li>
        <li>
          <input type = "checkbox"
           id = "further-education"
           value = "#" />
          <label for = "further-education">Further Education</label>
        </li>
        <li>
          <input type = "checkbox"
           id = "undergraduate"
           value = "#" />
           <label for = "undergraduate">Undergraduate</label>
        </li>
        <li>
          <input type = "checkbox"
           id = "postgraduate"
           value = "#" />
          <label for = "postgraduate">Postgraduate</label>
        </li>
        <li >
          <input type = "checkbox"
           id = "research"
           value = "#" />
          <label for = "research">Research</label>
        </li>
        <li>
          <input type = "checkbox"
           id = "study-abroad"
           value = "#" />
          <label for = "study-abroad">Study Abroad</label>
        </li>
      </ul>
    </div>

    <div class="filter-module">
      <h3 class="filter-heading">Mode</h3>
      <ul>
        <li >
          <input type = "checkbox"
           id = "full-time"
           value = "#" />
          <label for = "full-time">Full-time</label>
        </li>
        <li>
           <input type = "checkbox"
           id = "part-time"
           value = "#" />
          <label for = "part-time">Part-time</label>
        </li>
      </ul>
    </div>
  </form>
</div>
