<div class="row">

<div class="l-short-courses-filter">

<!-- 		<div class="controls" id="Filters">
				<span>Subject</span>
				<ul>
					<li class="active" data-filter="all" data-dimension="Subject">All</li>
					<li data-filter="alaska" data-dimension="Subject">Alaska</li>
					<li data-filter="intermountain" data-dimension="Subject">Intermountain</li>
					<li data-filter="northeast" data-dimension="Subject">Northeast</li>
					<li data-filter="pacific_west" data-dimension="Subject">Pacific West</li>
					<li data-filter="southeast" data-dimension="Subject">Southeast</li>
				</ul>
			</div>
			<div>
				<span>Session</span>
				<ul>
					<li class="active" data-filter="all" data-dimension="Session">All</li>
					<li data-filter="camping" data-dimension="Session">Camping</li>
					<li data-filter="climbing" data-dimension="Session">Climbing</li>
					<li data-filter="fishing" data-dimension="Session">Fishing</li>
					<li data-filter="swimming" data-dimension="Session">Swimming</li>
				</ul>
			</div>
		</div> -->



	<div class="controls">	
		<h3>Browse by Subject</h3>
			<ul>
<!-- 				<li class="filter active" data-filter="all">Show All</li>
 -->				<li class="filter" data-filter="fashion-textiles">Fashion and Textiles</li>
				<li class="filter" data-filter="fine-art">Fine Art</li>
				<li class="filter" data-filter="graphic-design">Graphic Design</li>
				<li class="filter" data-filter="interdisciplinary">Interdisciplinary</li>
				<li class="filter" data-filter="media-art">Media Arts</li>
				<li class="filter" data-filter="theatre-performance">Theatre and Performance</li>
				<li class="filter" data-filter="three-dimensional-design">Three Dimensional Design</li>
			</ul>
	</div>

	<div class="controls">	
		<h3>Browse by Session</h3>
			<ul>
<!-- 				<li class="filter active" data-filter="all">Show All</li>
 -->				<li class="filter" data-filter="evening-daytime-weekend">Evening, Daytime and Weekend</li>
				<li class="filter" data-filter="christmas-school">Christmas School</li>
				<li class="filter" data-filter="easter-school">Easter School</li>
				<li class="filter" data-filter="summer-school">Summer School</li>
			</ul>
	</div>

	<div class="controls">	
		<h3>Browse by Sub-subject</h3>
			<ul>
				<!-- Fashion and Textiles -->
				<li class="filter" data-filter="art-history">Art History, Criticism and Curating</li>
				<li class="filter" data-filter="13-15">13s - 15s</li>
				<li class="filter" data-filter="16-18">16s - 18s</li>
				<li class="filter" data-filter="computers-fashion-textiles">Computers for Fashion and Textiles</li>
				<li class="filter" data-filter="fashion-accessories">Fashion Accessories</li>
				<li class="filter" data-filter="fashion-design">Fashion Design</li>
				<li class="filter" data-filter="fashion-illustration">Fashion Illustration</li>
				<li class="filter" data-filter="fashion-marketing">Fashion Marketing</li>
				<li class="filter" data-filter="making-fashion">Making Fashion</li>
				<li class="filter" data-filter="portfolio-preparation">Portfolio Preparation</li>
				<li class="filter" data-filter="textile-design">Textile Design</li>
				<li class="filter" data-filter="orientation">Orientation</li>
				<!-- Fine Art -->
				<li class="filter" data-filter="drawing">Drawing</li>
				<li class="filter" data-filter="life-study">Life Study</li>
				<li class="filter" data-filter="painting">Painting</li>
				<li class="filter" data-filter="printmaking-book-arts">Printmaking and Book Arts</li>
				<li class="filter" data-filter="sculpture">Sculpture</li>
				<!-- Graphic Design -->
				<li class="filter" data-filter="computers-image-layout">Computers - Image and Layout</li>
				<li class="filter" data-filter="computers-multimedia-internet">Computers - Multimedia and Internet</li>
				<li class="filter" data-filter="graphic-design">Graphic Design</li>
				<li class="filter" data-filter="illustration">Illustration</li>
				<!-- Interdisciplinary -->
				<li class="filter" data-filter="business-skills">Business Skills</li>
				<li class="filter" data-filter="creative-process">Creative Process</li>
				<li class="filter" data-filter="creative-writing">Creative Writing</li>
				<li class="filter" data-filter="journalism">Journalism</li>
				<li class="filter" data-filter="music-management">Music Management</li>
				<li class="filter" data-filter="writing">Writing</li>
				<!-- Media Arts -->
				<li class="filter" data-filter="animation">Animation</li>
				<li class="filter" data-filter="film-video">Film and Video</li>
				<li class="filter" data-filter="photography">Photography</li>
				<li class="filter" data-filter="scriptwriting-storyboarding">Scriptwriting and Storyboarding</li>
				<!-- Theatre and Performance -->
				<li class="filter" data-filter="performance">Performance</li>
				<li class="filter" data-filter="theatre-television-design">Theatre and Television Design</li>
				<!-- Three Dimensional Design -->
				<li class="filter" data-filter="architecture-interior-spacial-design">Architecture, Interior and Spacial Design</li>
				<li class="filter" data-filter="ceramics">Ceramics</li>
				<li class="filter" data-filter="jewellery-metalwork">Jewellery and Metalwork</li>
				<li class="filter" data-filter="product-design-development">Product Design and Developemnt</li>
			</ul>
	</div>
		

</div>

<div class="l-short-courses-list">

	<div class="controls">
			<ul>
				<li class="filter active" data-filter="all">Show All</li>
				<li class="sort" data-sort="data-cat" data-order="desc">A - Z</li>
<!-- 				<li class="sort" data-sort="data-cat" data-order="asc">Z - A</li>
				<li class="sort active" data-sort="default" data-order="desc">Random</li>
 -->			</ul>
	</div>

	<ul class="grid">
		<li class="mix fashion-textiles evening-daytime-weekend 16-18 mix_all" data-cat="f"><a href="" title="">Fashion Design for 16-18 Year Olds - 2 Day Weekend Course</a></li>
		<li class="mix fashion-textiles evening-daytime-weekend computers-fashion-textiles mix_all" data-cat="a"><a href="" title="">Applied Surface Design using Illustrator and Photoshop Weekend</a></li>
		<li class="mix fashion-textiles evening-daytime-weekend computers-fashion-textiles mix_all" data-cat="c"><a href="" title="">Computers for Fashion</a></li>
		<li class="mix fashion-textiles evening-daytime-weekend computers-fashion-textiles mix_all" data-cat="c"><a href="" title="">Computers for Textile Design</a></li>
		<li class="mix fashion-textiles evening-daytime-weekend computers-fashion-textiles mix_all" data-cat="c"><a href="" title="">Creative Fashion Design with Illustrator</a></li>
		<li class="mix fashion-textiles evening-daytime-weekend computers-fashion-textiles mix_all" data-cat="d"><a href="" title="">Digital Fashion Illustration and Communication</a></li>
		<li class="mix fashion-textiles evening-daytime-weekend fashion-accessories mix_all" data-cat="b"><a href="" title="">Bag Design and Communication</a></li>
		<li class="mix fashion-textiles evening-daytime-weekend fashion-accessories mix_all" data-cat="f"><a href="" title="">Frame Purses Workshop Weekend</a></li>
		<li class="mix fashion-textiles evening-daytime-weekend fashion-accessories mix_all" data-cat="c"><a href="" title="">Change Your Image Weekend</a></li>
		<li class="mix fashion-textiles evening-daytime-weekend fashion-accessories fashion-marketing mix_all" data-cat="f"><a href="" title="">Fabulous Fascinators</a></li>
		<li class="mix fashion-textiles evening-daytime-weekend fashion-accessories mix_all" data-cat="m"><a href="" title="">Millinery Workshop</a></li>
		<li class="mix fashion-textiles evening-daytime-weekend fashion-accessories mix_all" data-cat="s"><a href="" title="">Shoe Design for Beginners</a></li>
		<li class="mix fashion-textiles evening-daytime-weekend fashion-accessories mix_all" data-cat="s"><a href="" title="">Shoe Pattern Cutting for Beginners</a></li>
		<li class="mix fashion-textiles evening-daytime-weekend fashion-design mix_all" data-cat="3d"><a href="" title="">3D Fashion Design</a></li>
		<li class="mix fashion-textiles evening-daytime-weekend fashion-design mix_all" data-cat="a"><a href="" title="">Advanced Sportswear Design Weekend</a></li>
		<li class="mix fashion-textiles evening-daytime-weekend fashion-design fashion-illustration mix_all" data-cat="a"><a href="" title="">Advanced Technical Drawing For Fashion</a></li>
		<li class="mix fashion-textiles evening-daytime-weekend fashion-design mix_all" data-cat="b"><a href="" title="">Building a Fashion Collection</a></li>
		<li class="mix fashion-textiles evening-daytime-weekend fashion-design mix_all" data-cat="d"><a href="" title="">Designing a Fashion T-Shirt Collection</a></li>
		<li class="mix fashion-textiles evening-daytime-weekend fashion-design mix_all" data-cat="d"><a href="" title="">Draping Womenswear Design</a></li>
		<li class="mix fashion-textiles evening-daytime-weekend fashion-design mix_all" data-cat="f"><a href="" title="">Fashion Design and Fabrics - 2 Day Weekend Course</a></li>
		<li class="mix fashion-textiles evening-daytime-weekend fashion-design fashion-marketing mix_all" data-cat="f"><a href="" title="">Fashion Design and Marketing (Tuesdays)</a></li>
		<li class="mix fashion-textiles evening-daytime-weekend fashion-design fashion-marketing mix_all" data-cat="f"><a href="" title="">Fashion Design and Marketing (Wednesdays)</a></li>
		<li class="mix fashion-textiles evening-daytime-weekend fashion-design mix_all" data-cat="f"><a href="" title="">Fashion Design For Beginners</a></li>
		<li class="mix fashion-textiles evening-daytime-weekend fashion-design mix_all" data-cat="f"><a href="" title="">Fashion London</a></li>
		<li class="mix fashion-textiles evening-daytime-weekend fashion-design mix_all" data-cat="f"><a href="" title="">Fashion Mix</a></li>
		<li class="mix fashion-textiles evening-daytime-weekend fashion-design mix_all" data-cat="f"><a href="" title="">Fashion T-shirt Design - Online</a></li>
		<li class="mix fashion-textiles evening-daytime-weekend fashion-design mix_all" data-cat="i"><a href="" title="">Introduction to Fashion Design - Evenings</a></li>
		<li class="mix fashion-textiles evening-daytime-weekend fashion-design mix_all" data-cat="i"><a href="" title="">Introduction to Fashion Design - Saturdays</a></li>
		<li class="mix fashion-textiles evening-daytime-weekend fashion-design mix_all" data-cat="i"><a href="" title="">Introduction to Sportswear Design Weekend</a></li>
		<li class="mix fashion-textiles evening-daytime-weekend fashion-design fashion-illustration mix_all" data-cat="i"><a href="" title="">Introduction to Technical Drawing For Fashion - 2 Day Weekend Course</a></li>
		<li class="mix fashion-textiles evening-daytime-weekend fashion-design mix_all" data-cat="m"><a href="" title="">Made To Measure Womenswear - Part 1</a></li>
		<li class="mix fashion-textiles evening-daytime-weekend fashion-design mix_all" data-cat="m"><a href="" title="">Made To Measure Womenswear - Part 2</a></li>
		<li class="mix fashion-textiles evening-daytime-weekend fashion-design mix_all" data-cat="m"><a href="" title="">Menswear Design Portfolio</a></li>
		<li class="mix fashion-textiles evening-daytime-weekend fashion-design mix_all" data-cat="s"><a href="" title="">Sustainable Fashion</a></li>

<li class="mix fashion-textiles evening-daytime-weekend fashion-illustration mix_all" data-cat="d"><a href="" title="">Designing Floral Fabrics for Fashion Weekend<a/></li>
<li class="mix fashion-textiles evening-daytime-weekend fashion-illustration mix_all" data-cat="e"><a href="" title="">Experimental Fashion Drawing</a></li>
<li class="mix fashion-textiles evening-daytime-weekend fashion-illustration mix_all" data-cat="f"><a href="" title="">Fashion Drawing for Absolute Beginners</a></li>
<li class="mix fashion-textiles evening-daytime-weekend fashion-illustration mix_all" data-cat="f"><a href="" title="">Fashion Drawing for Beginners</a></li>
<li class="mix fashion-textiles evening-daytime-weekend fashion-illustration mix_all" data-cat="f"><a href="" title="">Fashion Sketchbook</a></li>
<li class="mix fashion-textiles evening-daytime-weekend fashion-illustration mix_all" data-cat="l"><a href="" title="">Life Drawing For Fashion Designers</a></li>
<li class="mix fashion-textiles evening-daytime-weekend fashion-illustration mix_all" data-cat="t"><a href="" title="">Technical Drawing for Fashion</a></li>


<li class="mix fashion-textiles evening-daytime-weekend fashion-marketing mix_all" data-cat="a"><a href="" title="">Art Direction for Fashion</a></li>
<li class="mix fashion-textiles evening-daytime-weekend fashion-marketing mix_all" data-cat="a"><a href="" title="">Art Direction for Fashion - Online</a></li>
<li class="mix fashion-textiles evening-daytime-weekend fashion-marketing mix_all" data-cat="b"><a href="" title="">Brand Management for Your Fashion Label</a></li>

<li class="mix fashion-textiles evening-daytime-weekend fashion-marketing mix_all" data-cat="c"><a href="" title="">Cool Hunters London</a></li>
<li class="mix fashion-textiles evening-daytime-weekend fashion-marketing mix_all" data-cat="c"><a href="" title="">Cool Hunting</a></li>
<li class="mix fashion-textiles evening-daytime-weekend fashion-marketing mix_all" data-cat="c"><a href="" title="">Cool Hunting Fashion - Online</a></li>
<li class="mix fashion-textiles evening-daytime-weekend fashion-marketing mix_all" data-cat="c"><a href="" title="">Create Your Own Fashion Film</a></li>
<li class="mix fashion-textiles evening-daytime-weekend fashion-marketing mix_all" data-cat="f"><a href="" title="">Fashion and Textile Forecasting</a></li>
<li class="mix fashion-textiles evening-daytime-weekend fashion-marketing mix_all" data-cat="f"><a href="" title="">Fashion Journalism - Intermediate</a></li>
<li class="mix fashion-textiles evening-daytime-weekend fashion-marketing mix_all" data-cat="f"><a href="" title="">Fashion Magazines Business</a></li>
<li class="mix fashion-textiles evening-daytime-weekend fashion-marketing mix_all" data-cat="f"><a href="" title="">Fashion Marketing - Online</a></li>
<li class="mix fashion-textiles evening-daytime-weekend fashion-marketing mix_all" data-cat="f"><a href="" title="">Fashion Promotion</a></li>
<li class="mix fashion-textiles evening-daytime-weekend fashion-marketing mix_all" data-cat="f"><a href="" title="">Fashion Styling for Beginners (Thursday Evenings)</a></li>
<li class="mix fashion-textiles evening-daytime-weekend fashion-marketing mix_all" data-cat="f"><a href="" title="">Fashion Styling for Beginners (Wednesday Evenings)</a></li>
<li class="mix fashion-textiles evening-daytime-weekend fashion-marketing mix_all" data-cat="f"><a href="" title="">Fashion Styling for Beginners - Saturdays</a></li>
<li class="mix fashion-textiles evening-daytime-weekend fashion-marketing mix_all" data-cat="g"><a href="" title="">Getting Your Fashion Collection to Market - 2 Day Weekend Course</a></li>
<li class="mix fashion-textiles evening-daytime-weekend fashion-marketing mix_all" data-cat="h"><a href="" title="">How to Start Your Own Fashion Business</a></li>
<li class="mix fashion-textiles evening-daytime-weekend fashion-marketing mix_all" data-cat="i"><a href="" title="">Introduction to Fashion Journalism (Thursdays)</a></li>
<li class="mix fashion-textiles evening-daytime-weekend fashion-marketing mix_all" data-cat="i"><a href="" title="">Introduction to Fashion Journalism (Tuesdays)</a></li>
<li class="mix fashion-textiles evening-daytime-weekend fashion-marketing mix_all" data-cat="m"><a href="" title="">Make-Up for Fashion</a></li>
<li class="mix fashion-textiles evening-daytime-weekend fashion-marketing mix_all" data-cat="s"><a href="" title="">Style Yourself</a></li>
<li class="mix fashion-textiles evening-daytime-weekend fashion-marketing mix_all" data-cat="s"><a href="" title="">Sustainable Styling</a></li>
<li class="mix fashion-textiles evening-daytime-weekend fashion-marketing mix_all" data-cat="v"><a href="" title="">Visual Merchandising - Fashion</a></li>


<li class="mix fashion-textiles evening-daytime-weekend making-fashion mix_all" data-cat="c"><a href="" title="">Couture Tailoring</a></li>
<li class="mix fashion-textiles evening-daytime-weekend making-fashion mix_all" data-cat="e"><a href="" title="">Embroidery</a></li>
<li class="mix fashion-textiles evening-daytime-weekend making-fashion mix_all" data-cat="h"><a href="" title="">Hand-Sewing Techniques</a></li>
<li class="mix fashion-textiles evening-daytime-weekend making-fashion mix_all" data-cat="i"><a href="" title="">Introduction to Professional Sewing Skills</a></li>
<li class="mix fashion-textiles evening-daytime-weekend making-fashion mix_all" data-cat="p"><a href="" title="">Patternmaking - Experimental and Explorative Approaches Part 1</a></li>
<li class="mix fashion-textiles evening-daytime-weekend making-fashion mix_all" data-cat="p"><a href="" title="">Patternmaking - Experimental and Explorative Approaches Part 2</a></li>
<li class="mix fashion-textiles evening-daytime-weekend making-fashion mix_all" data-cat="p"><a href="" title="">Patternmaking - Level 1 (Monday Evenings)</a></li>
<li class="mix fashion-textiles evening-daytime-weekend making-fashion mix_all" data-cat="p"><a href="" title="">Patternmaking - Level 1 (Saturdays)</a></li>
<li class="mix fashion-textiles evening-daytime-weekend making-fashion mix_all" data-cat="p"><a href="" title="">Patternmaking - Level 1 (Wednesday Evenings)</a></li>
<li class="mix fashion-textiles evening-daytime-weekend making-fashion mix_all" data-cat="p"><a href="" title="">Patternmaking The Jacket - Weekend</a></li>
<li class="mix fashion-textiles evening-daytime-weekend making-fashion mix_all" data-cat="p"><a href="" title="">Patternmaking Trousers and Waistcoat Weekend</a></li>
<li class="mix fashion-textiles evening-daytime-weekend making-fashion mix_all" data-cat="s"><a href="" title="">Swimwear and Lingerie Workshop</a></li>

<li class="mix fashion-textiles evening-daytime-weekend portfolio-preparation mix_all" data-cat="p"><a href="" title="">Portfolio Preparation for Foundation - Fashion and Textiles</a></li>
<li class="mix fashion-textiles evening-daytime-weekend portfolio-preparation mix_all" data-cat="p"><a href="" title="">Portfolio Surgery For Fashion Textiles Weekend</a></li>

<li class="mix fashion-textiles evening-daytime-weekend textile-design mix_all" data-cat="a"><a href="" title="">Advanced Drawing and Painting For Textiles Weekend</a></li>
<li class="mix fashion-textiles evening-daytime-weekend textile-design mix_all" data-cat="a"><a href="" title="">Applied Surface Design using Illustrator and Photoshop Weekend</a></li>
<li class="mix fashion-textiles evening-daytime-weekend textile-design mix_all" data-cat="c"><a href="" title="">Contemporary Textiles from Old</a></li>
<li class="mix fashion-textiles evening-daytime-weekend textile-design mix_all" data-cat="c"><a href="" title="">Creative Portfolio in Textile Design</a></li>
<li class="mix fashion-textiles evening-daytime-weekend textile-design mix_all" data-cat="d"><a href="" title="">Designing Floral Fabrics For Fashion</a></li>
<li class="mix fashion-textiles evening-daytime-weekend textile-design mix_all" data-cat="d"><a href="" title="">Digital Print on Textiles</a></li>
<li class="mix fashion-textiles evening-daytime-weekend textile-design mix_all" data-cat="d"><a href="" title="">Drawing and Painting for Textile Design</a></li>
<li class="mix fashion-textiles evening-daytime-weekend textile-design mix_all" data-cat="d"><a href="" title="">Drawing and Painting for Textile Design - Online</a></li>
<li class="mix fashion-textiles evening-daytime-weekend textile-design mix_all" data-cat="e"><a href="" title="">Embroidery</a></li>
<li class="mix fashion-textiles evening-daytime-weekend textile-design mix_all" data-cat="f"><a href="" title="">Fabric Awareness for Designers</a></li>
<li class="mix fashion-textiles evening-daytime-weekend textile-design mix_all" data-cat="f"><a href="" title="">Fashion Design and Fabrics - 2 Day Weekend Course</a></li>
<li class="mix fashion-textiles evening-daytime-weekend textile-design mix_all" data-cat="h"><a href="" title="">Hand Painting and Printing for Textiles</a></li>
<li class="mix fashion-textiles evening-daytime-weekend textile-design mix_all" data-cat="k"><a href="" title="">Knitting For Beginners</a></li>
<li class="mix fashion-textiles evening-daytime-weekend textile-design mix_all" data-cat="k"><a href="" title="">Knitting For Beginners Weekend</a></li>
<li class="mix fashion-textiles evening-daytime-weekend textile-design mix_all" data-cat="l"><a href="" title="">Laser Cutting for Textile Design</a></li>
<li class="mix fashion-textiles evening-daytime-weekend textile-design mix_all" data-cat="m"><a href="" title="">Machine Knitting</a></li>
<li class="mix fashion-textiles evening-daytime-weekend textile-design mix_all" data-cat="p"><a href="" title="">Portfolio Surgery For Fashion Textiles Weekend</a></li>
<li class="mix fashion-textiles evening-daytime-weekend textile-design mix_all" data-cat="s"><a href="" title="">Screen Printing Workshop - Tea Towels And Totes Weekend</a></li>
<li class="mix fashion-textiles evening-daytime-weekend textile-design mix_all" data-cat="t"><a href="" title="">Textile Design Workshop</a></li>

<li class="mix fashion-textiles christmas-school 16-18 mix_all" data-cat="t"><a href="" title="">Fashion Design for 16 to 18 Year Olds</a></li>
<li class="mix fashion-textiles christmas-school 16-18 mix_all" data-cat="t"><a href="" title="">Fashion Patternmaking For 16 - 18 Year Olds</a></li>
<li class="mix fashion-textiles christmas-school 16-18 mix_all" data-cat="t"><a href="" title="">Textile Art for 16 - 18 Year Olds</a></li>





<!-- 		<li class="mix category_1 mix_all" data-cat="0">1</li>
		<li class="mix category_3 mix_all" data-cat="0">3</li>
		<li class="mix category_2 mix_all" data-cat="0">2</li>
		<li class="mix category_3 mix_all" data-cat="0">3</li>
		<li class="mix category_2 mix_all" data-cat="0">2</li>
		<li class="mix category_1 mix_all" data-cat="0">1</li>
 -->		<!-- <li class="gap">Graphic Design</li> "gap" elements fill in the gaps in justified grid -->
	</ul>
</div>



</div>