<div class="row slider-container">
	<div class="royalSlider contentSlider rsDefault  block" data-slider-item-width="930" data-slider-item-height="465">
	  	
	  	<figure>
        	<img class="rsImg" src="{{ site.url }}/assets/img/carousel-imgs/1860x930_lcf.jpg" alt="some alt text" />
        	<figcaption class="rsCaption">1860 x 930 2x retina (shrinks to fit area)</figcaption>
    	</figure>
    	<figure>
        	<img class="rsImg" src="{{ site.url }}/assets/img/carousel-imgs/930x465_csm-jiaxin-tang.jpg" alt="some alt text" />
        	<figcaption class="rsCaption">930 x 465 - is NOT upscaled, but shrinks to fit when compressed</figcaption>
    	</figure>
    	<figure>
        	<img class="rsImg" src="http://placehold.it/310x465" alt="some alt text" />
        	<figcaption class="rsCaption">310 x 465 - smaller portait image</figcaption>
    	</figure>
    	<figure>
        	<img class="rsImg" src="{{ site.url }}/assets/img/carousel-imgs/480x480_courses.jpg" alt="This text will be IGNORED!" />
        	<figcaption class="rsCaption">480 x 480 - square image auto-scaled to fit</figcaption>
    	</figure>
	  	<div>
	    	<img class="rsImg" src="http://placehold.it/930x465" data-rsvideo="http://www.youtube.com/watch?v=HFbHRWwyihE" />
	    	<div class="rsCaption">Video from Youtube</div>
	    </div>

	</div>
</div>