<div class="row">
	<div class="text-block">
			<h2>Text block</h2>
				<p class="leader">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce nulla turpis, ullamcorper congue pharetra sit amet.</p>
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum ut libero in velit suscipit pretium. Proin non quam consequat, varius libero a, volutpat nulla. Cras at ligula vitae magna venenatis vehicula eu nec metus. Aliquam erat volutpat. Quisque sagittis, lacus molestie egestas porttitor, nunc sapien dictum odio, vel sollicitudin felis ante vitae urna. Cras sit amet mi ipsum. Sed nec pharetra diam, id venenatis enim. Duis id libero condimentum, vulputate nisl non, scelerisque lorem. Vivamus auctor odio at arcu adipiscing scelerisque. Donec elementum sem odio, sit amet ullamcorper ligula mattis non. Maecenas rhoncus adipiscing neque a tempus.</p>
				<p><a href="#" class="button-link"><span class="hide-descriptive-text">Follow this link to go to more information about</span>Optional button</a></p>
	</div>
</div>