<div class="row">
	<div class="l-content-half-width  block  __text  __with-aside">
		<h2>Text block with featured aside</h2>
			<p class="leader">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce nulla turpis, ullamcorper congue pharetra sit amet. Proin non quam consequat, varius libero a, volutpat nulla. Cras at ligula vitae magna venenatis vehicula eu nec metus. Aliquam erat volutpat. Quisque sagittis, lacus molestie egestas porttitor, nunc sapien dictum odio, vel sollicitudin felis ante vitae urna. Cras sit amet mi ipsum. Sed nec pharetra diam, id venenatis enim. Duis id libero condimentum, vulputate nisl non, scelerisque lorem. Vivamus auctor odio at arcu adipiscing scelerisque. Donec elementum sem odio, sit amet ullamcorper ligula mattis non. Maecenas rhoncus adipiscing neque a tempus.</p>
	</div>
	<div class="l-featured-aside">	
		<aside>
			<h3>Heading</h3>
			<ul>
				<li><a href="" title="">Related link one</a></li>
				<li><a href="" title="">Related link two</a></li>
				<li><a href="" title="">Related link three</a></li>
				<li><a href="" title="">Related link four</a></li>
				<li><a href="" title="">Related link five</a></li>
				<li><a href="" title="">Related link six</a></li>
			</ul>
		</aside>		
	</div>
</div>