<div class="row">
	<div class="l-content  block  __text  __with-aside">
		<h2>Text block with aside</h2>
			<p class="leader">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce nulla turpis, ullamcorper congue pharetra sit amet.</p>
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum ut libero in velit suscipit pretium. Proin non quam consequat, varius libero a, volutpat nulla. Cras at ligula vitae magna venenatis vehicula eu nec metus. Aliquam erat volutpat. Quisque sagittis, lacus molestie egestas porttitor, nunc sapien dictum odio, vel sollicitudin felis ante vitae urna. Cras sit amet mi ipsum. Sed nec pharetra diam, id venenatis enim. Duis id libero condimentum, vulputate nisl non, scelerisque lorem. Vivamus auctor odio at arcu adipiscing scelerisque. Donec elementum sem odio, sit amet ullamcorper ligula mattis non. Maecenas rhoncus adipiscing neque a tempus.</p>
			<p><a href="#" class="button-link"><span class="hide-descriptive-text">Follow this link to go to more information about</span>Optional button</a></p>
	</div>
	<aside>
		<p>Aside, Praesent ullamcorper tincidunt nisl, sit amet pretium nulla iaculis sit amet. (max 30 words for a paragraph)</p>
		<ul>
			<li><a href="" title="">Related link one</a></li>
			<li><a href="" title="">Related link two</a></li>
			<li><a href="" title="">Related link three</a></li>
			<li><a href="" title="">Related link four</a></li>
			<li><a href="" title="">Related link five</a></li>
			<li><a href="" title="">Related link six</a></li>
		</ul>
	</aside>		
</div>