<div class="row">
	<div class="top-stories">
		<h2>Top Stories</h2>
		<p class="date">28/06</p>
		<p><a href="#" title="#">Advertising students Show Racism the Red Card</a></p>
		<p class="date">01/07</p>
		<p><a href="#" title="#">Design Challenges – Green Week 2013</a></p>
		<p class="date">22/07</p>
		<p><a href="#" title="#">Sustainability experts challenge LCC design students</a></p>
		<p class="date">16/08</p>
		<p><a href="#" title="#">Sustainability experts challenge LCC design students</a></p>
	</div>
</div>