<div class="row">
	<div class="two-up feature-content">
		<h2>Two up</h2>
			<ul>
				<li>
					<figure>
						<a href="" title=""><img src="http://placehold.it/1000x500&text=IMAGE" alt="Image Alt"></a>
					</figure>
					<h3><a href="" title="">Heading link</a></h3>
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce nulla turpis, ullamcorper congue pharetra sit amet, varius sit amet diam.</p>
					<p><a class="button-link" href="" title=""><span>Discriptive text about where this kink will go </span>Read more</a></p>
				</li>
				<li>
					<figure>
						<a href="" title=""><img src="http://placehold.it/1000x500&text=IMAGE" alt="Image Alt"></a>
					</figure>
					<h3><a href="" title="">Heading link</a></h3>
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce nulla turpis, ullamcorper congue pharetra sit amet, varius sit amet diam.</p>
					<p><a class="button-link" href="" title=""><span>Discriptive text about where this kink will go </span>Read more</a></p>
				</li>
			</ul>
	</div>
</div>