<div class="span9">
    <div class="navbar">
        <div class="navbar-inner">
            <div class="container">
             
            <!-- .btn-navbar is used as the toggle for collapsed navbar content -->
            <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </a>
             
            <!-- Be sure to leave the brand out there if you want it shown
            <a class="brand" href="#">Project name</a> -->
             
            <!-- Everything you want hidden at 940px or less, place within here -->
                <div class="nav-collapse collapse">
                    <nav class="HF01v1-MainMenu">
                        <ul>
                            <li><a href="{{site.url}}" title="UAL Home">Home</a></li>
                            <li><a href="{{site.url}}course-finder/" title="Visit Course finder">Course finder</a></li>
                            <li><a href="{{site.url}}colleges/" title="Visit Colleges">Colleges</a></li>
                            <li><a href="{{site.url}}studying-at-ual/" title="Visit Studying at UAL">Studying at UAL</a></li>
                            <li><a href="{{site.url}}careers-and-jobs/" title="Visit Careers and Jobs">Careers and Jobs</a></li>
                            <li><a href="{{site.url}}alumni-and-friends/" title="Visit Alumni and Friends">Alumni and Friends</a></li>
                            <li><a href="{{site.url}}research/" title="Visit Research">Research</a></li>
                            <li><a href="{{site.url}}about-ual/" title="About UAL">About UAL</a></li>
                        </ul>
                    </nav>
                <!-- .nav, .navbar-search, .navbar-form, etc -->
                </div>
            </div>
        </div>
    </div>
</div>