<nav class="HF01v1-MainMenu">
  <ul>
    <li><a href="{{site.url}}" title="UAL Home">Home</a></li>
    <li><a href="{{site.url}}course-finder/" title="Visit Course finder">Course finder</a></li>
    <li><a href="{{site.url}}colleges/" title="Visit Colleges">Colleges</a></li>
    <li><a href="{{site.url}}studying-at-ual/" title="Visit Studying at UAL">Studying at UAL</a></li>
    <li><a href="{{site.url}}careers-and-jobs/" title="Visit Careers and Jobs">Careers and Jobs</a></li>
    <li><a href="{{site.url}}alumni-and-friends/" title="Visit Alumni and Friends">Alumni and Friends</a></li>
    <li><a href="{{site.url}}research/" title="Visit Research">Research</a></li>
    <li><a href="{{site.url}}about-ual/" title="About UAL">About UAL</a></li>
  </ul>
</nav>