<div class="span3 HF04v1-SearchBar-Default">
    <form method="get" action="http://www.arts.ac./site-search" accept-charset="utf-8"
    id="block-search-form" role="search">
        <div>
            <input type="hidden" name="go" value="toolbar">
            <input type="hidden" name="uri" value="/">
            <label for="block-search-q" class="block-hide">
                Search the site
            </label>
            <input id="block-search-q" type="text" name="q" value="" maxlength="128"
            placeholder="Search the site" autocomplete="off">
            <button id="block-search-btn" type="submit">
                <span>
                    <img src="image here"
                    width="13" height="13" alt="Search">
                </span>
            </button>
        </div>
    </form>
</div>