<nav class="HF05v1-PersistentLinks">
  <ul>
    <li><a href="{{site.url}}colleges/camberwell/" title="Visit Camberwell's website">Camberwell</a></li>
    <li><a href="{{site.url}}colleges/csm/" title="Visit CSM's website">CSM</a></li>
    <li><a href="{{site.url}}colleges/chelsea/" title="Visit Chelsea's website">Chelsea</a></li>
    <li><a href="{{site.url}}colleges/lcc/" title="Visit LCC's website">LCC</a></li>
    <li><a href="{{site.url}}colleges/lcf/" title="Visit LCF's website">LCF</a></li>
    <li><a href="{{site.url}}colleges/wimbledon/" title="Visit Wimbledon's website">Wimbledon</a></li>
  </ul>
</nav>