<nav class="SM01v1.Submenu.Default">
    <ul>
        <li><a href="{{site.url}}" title="">Title</a></li>
		<li><a href="{{site.url}}" title="">Submenu Link 01</a></li>
		<li><a href="{{site.url}}" title="">Submenu Link 02</a></li>
		<li><a href="{{site.url}}" title="">Submenu Link 03</a></li>
		<li><a href="{{site.url}}" title="">Submenu Link 04</a></li>
		<li><a href="{{site.url}}" title="">Submenu Link 05</a></li>
		<li><a href="{{site.url}}" title="">Submenu Link 06</a></li>
		<li><a href="{{site.url}}" title="">Submenu Link 07</a></li>
		<li><a href="{{site.url}}" title="">Submenu Link 08</a></li>
		<li><a href="{{site.url}}" title="">Submenu Link 09</a></li>
		<li><a href="{{site.url}}" title="">Submenu Link 10</a></li>
    </ul>
</nav>