@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/prichardson\/Dropbox\/htdocs\/beta\/assets\/styles\/custom\/camberwell\.scss}line{font-family:\0000329}}
.camberwell .global-college-links ul li a {
  color: black;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/prichardson\/Dropbox\/htdocs\/beta\/assets\/styles\/custom\/camberwell\.scss}line{font-family:\0000334}}
.camberwell ul {
  margin-left: 0;
  padding-left: 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/prichardson\/Dropbox\/htdocs\/beta\/assets\/styles\/custom\/camberwell\.scss}line{font-family:\0000339}}
.camberwell h1, .camberwell h2, .camberwell h3, .camberwell h4, .camberwell h5 {
  font-family: "BrandonText-Regular", Helvetica, Arial, sans-serif;
  font-weight: bold;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/prichardson\/Dropbox\/htdocs\/beta\/assets\/styles\/custom\/camberwell\.scss}line{font-family:\0000347}}
.camberwell .cw-hide {
  display: none !important;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/prichardson\/Dropbox\/htdocs\/beta\/assets\/styles\/custom\/camberwell\.scss}line{font-family:\0000351}}
.camberwell .cw-heading {
  padding-top: 0.375em;
  border-top: solid 12px #4a97dd;
  color: #58bf58;
  font-size: 2.25em;
  line-height: 1.16667em;
  width: 100%;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/prichardson\/Dropbox\/htdocs\/beta\/assets\/styles\/custom\/camberwell\.scss}line{font-family:\0000359}}
.camberwell .cw-heading a {
  border-bottom: none;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/prichardson\/Dropbox\/htdocs\/beta\/assets\/styles\/custom\/camberwell\.scss}line{font-family:\0000367}}
.camberwell .cw-small-heading {
  font-family: "Swiss 721", Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 16px;
  font-weight: bold;
  color: #58bf58;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/prichardson\/Dropbox\/htdocs\/beta\/assets\/styles\/custom\/camberwell\.scss}line{font-family:\0000378}}
.camberwell .cw-courses-heading {
  font-size: 4.875em;
  line-height: 1.07692em;
  color: #4a97dd;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/prichardson\/Dropbox\/htdocs\/beta\/assets\/styles\/custom\/camberwell\.scss}line{font-family:\0000384}}
.camberwell .cw-course-title {
  padding-top: 0.375em;
  margin-bottom: 1.5em;
  border-top: solid 12px #4a97dd;
  color: #4a97dd;
  font-size: 2.625em;
  line-height: 1.14286em;
  width: 100%;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/prichardson\/Dropbox\/htdocs\/beta\/assets\/styles\/custom\/camberwell\.scss}line{font-family:\0000393}}
.camberwell .cw-course-title a {
  border-bottom: none;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/prichardson\/Dropbox\/htdocs\/beta\/assets\/styles\/custom\/camberwell\.scss}line{font-family:\00003101}}
.camberwell .cw-course-list {
  color: #4a97dd;
  font-size: 1.8125em;
  line-height: 1.24138em;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/prichardson\/Dropbox\/htdocs\/beta\/assets\/styles\/custom\/camberwell\.scss}line{font-family:\00003107}}
.camberwell a {
  color: #58bf58;
  text-decoration: none;
  border-bottom: solid 1px #c8c8c8;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/prichardson\/Dropbox\/htdocs\/beta\/assets\/styles\/custom\/camberwell\.scss}line{font-family:\00003114}}
.camberwell a.with-arrow:after {
  content: "&rarr;";
  color: #4a97dd;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/prichardson\/Dropbox\/htdocs\/beta\/assets\/styles\/custom\/camberwell\.scss}line{font-family:\00003123}}
.camberwell .header-box {
  margin-top: 1.5em;
  display: block;
  margin-left: 0%;
  margin-right: -100%;
  width: 48.91355%;
  background-color: #4a97dd;
  max-height: 100%;
  height: auto;
  display: -webkit-flex;
  display: -moz-flex;
  display: flex;
  -webkit-align-items: center;
  -moz-align-items: center;
  align-items: center;
}
@media only screen and (max-width: 599px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/prichardson\/Dropbox\/htdocs\/beta\/assets\/styles\/custom\/camberwell\.scss}line{font-family:\00003123}}
  .camberwell .header-box {
    display: none;
  }
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/prichardson\/Dropbox\/htdocs\/beta\/assets\/styles\/custom\/camberwell\.scss}line{font-family:\00003142}}
.camberwell .box-header {
  text-align: center;
  color: white;
  width: 100%;
  margin: 0 auto;
  float: none;
  font-size: 4.125em;
  line-height: 1.09091em;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/prichardson\/Dropbox\/htdocs\/beta\/assets\/styles\/custom\/camberwell\.scss}line{font-family:\00003153}}
.camberwell .top-slider {
  display: block;
  margin-left: 45.03425%;
  margin-right: -100%;
  width: 54.91366%;
  padding-left: 2.5%;
  margin-top: 1.5em;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/prichardson\/Dropbox\/htdocs\/beta\/assets\/styles\/custom\/camberwell\.scss}line{font-family:\00003161}}
.camberwell .top-slider img {
  width: 100%;
  height: auto;
}
@media only screen and (max-width: 599px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/prichardson\/Dropbox\/htdocs\/beta\/assets\/styles\/custom\/camberwell\.scss}line{font-family:\00003153}}
  .camberwell .top-slider {
    clear: both;
    display: block;
    margin-left: 0;
    width: 100%;
    padding-left: 0;
  }
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/prichardson\/Dropbox\/htdocs\/beta\/assets\/styles\/custom\/camberwell\.scss}line{font-family:\00003173}}
.camberwell .sidebar {
  display: block;
  margin-left: 0%;
  margin-right: -100%;
  width: 23.39636%;
  margin-top: 2.625em;
  clear: left;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/prichardson\/Dropbox\/htdocs\/beta\/assets\/styles\/custom\/camberwell\.scss}line{font-family:\00003180}}
.camberwell .sidebar h2 {
  padding: 5px;
  margin-top: 0.375em;
  padding-top: 0.75em;
  padding-bottom: 0.75em;
  background: #4a97dd;
  /* The Fallback */
  background: rgba(74, 151, 221, 0.2);
  color: black;
  border-bottom: none;
  text-indent: 10px;
  font-size: 0.875em;
  line-height: 1.28571em;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/prichardson\/Dropbox\/htdocs\/beta\/assets\/styles\/custom\/camberwell\.scss}line{font-family:\00003194}}
.camberwell .sidebar ul {
  font-size: 0.875em;
  line-height: 1.28571em;
  list-style-type: none;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/prichardson\/Dropbox\/htdocs\/beta\/assets\/styles\/custom\/camberwell\.scss}line{font-family:\00003199}}
.camberwell .sidebar ul li {
  padding-top: 0.375em;
  border-bottom: solid 1px #dbdbdb;
  text-indent: 10px;
  padding: 5px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/prichardson\/Dropbox\/htdocs\/beta\/assets\/styles\/custom\/camberwell\.scss}line{font-family:\00003212}}
.camberwell .sidebar ul li:nth-of-type(1) {
  padding-top: 1.5em;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/prichardson\/Dropbox\/htdocs\/beta\/assets\/styles\/custom\/camberwell\.scss}line{font-family:\00003216}}
.camberwell .sidebar ul li a {
  font-weight: normal;
  color: black;
  font-size: 0.875em;
  line-height: 1.28571em;
  border-bottom: none;
}
@media only screen and (min-width: 600px) and (max-width: 959px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/prichardson\/Dropbox\/htdocs\/beta\/assets\/styles\/custom\/camberwell\.scss}line{font-family:\00003173}}
  .camberwell .sidebar {
    display: none;
  }
}
@media only screen and (max-width: 599px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/prichardson\/Dropbox\/htdocs\/beta\/assets\/styles\/custom\/camberwell\.scss}line{font-family:\00003173}}
  .camberwell .sidebar {
    display: none;
  }
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/prichardson\/Dropbox\/htdocs\/beta\/assets\/styles\/custom\/camberwell\.scss}line{font-family:\00003240}}
.camberwell .course-info-container {
  display: block;
  margin-left: 25.89636%;
  margin-right: -100%;
  width: 74.05155%;
  margin-top: 3em;
  margin-bottom: 5.625em;
}
@media only screen and (min-width: 600px) and (max-width: 959px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/prichardson\/Dropbox\/htdocs\/beta\/assets\/styles\/custom\/camberwell\.scss}line{font-family:\00003240}}
  .camberwell .course-info-container {
    clear: both;
    display: block;
    margin-left: 0;
    width: 100%;
  }
}
@media only screen and (max-width: 599px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/prichardson\/Dropbox\/htdocs\/beta\/assets\/styles\/custom\/camberwell\.scss}line{font-family:\00003240}}
  .camberwell .course-info-container {
    clear: both;
    display: block;
    margin-left: 0;
    width: 100%;
  }
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/prichardson\/Dropbox\/htdocs\/beta\/assets\/styles\/custom\/camberwell\.scss}line{font-family:\00003256}}
.camberwell .course-info-container .cw-heading {
  margin-top: 0;
  margin-bottom: 1.5em;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/prichardson\/Dropbox\/htdocs\/beta\/assets\/styles\/custom\/camberwell\.scss}line{font-family:\00003260}}
.camberwell .course-info-container .intro-text {
  display: block;
  margin-left: 0%;
  margin-right: -100%;
  width: 48.31199%;
  padding-top: 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/prichardson\/Dropbox\/htdocs\/beta\/assets\/styles\/custom\/camberwell\.scss}line{font-family:\00003267}}
.camberwell .course-info-container img {
  display: block;
  margin-left: 51.68801%;
  margin-right: -100%;
  width: 48.31199%;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/prichardson\/Dropbox\/htdocs\/beta\/assets\/styles\/custom\/camberwell\.scss}line{font-family:\00003273}}
.camberwell .lower1-container {
  clear: left;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/prichardson\/Dropbox\/htdocs\/beta\/assets\/styles\/custom\/camberwell\.scss}line{font-family:\00003276}}
.camberwell .lower1-container a {
  border-bottom: none;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/prichardson\/Dropbox\/htdocs\/beta\/assets\/styles\/custom\/camberwell\.scss}line{font-family:\00003281}}
.camberwell .cw-experience {
  padding-top: 1.5em;
  display: block;
  margin-left: 0%;
  margin-right: -100%;
  width: 36.15496%;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/prichardson\/Dropbox\/htdocs\/beta\/assets\/styles\/custom\/camberwell\.scss}line{font-family:\00003286}}
.camberwell .cw-experience h2 {
  margin-bottom: 3em;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/prichardson\/Dropbox\/htdocs\/beta\/assets\/styles\/custom\/camberwell\.scss}line{font-family:\00003290}}
.camberwell .cw-experience ul {
  list-style-type: none;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/prichardson\/Dropbox\/htdocs\/beta\/assets\/styles\/custom\/camberwell\.scss}line{font-family:\00003292}}
.camberwell .cw-experience ul li {
  float: none;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/prichardson\/Dropbox\/htdocs\/beta\/assets\/styles\/custom\/camberwell\.scss}line{font-family:\00003294}}
.camberwell .cw-experience ul li img {
  margin-bottom: 1.5em;
  border-bottom: none;
}
@media only screen and (min-width: 600px) and (max-width: 959px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/prichardson\/Dropbox\/htdocs\/beta\/assets\/styles\/custom\/camberwell\.scss}line{font-family:\00003281}}
  .camberwell .cw-experience {
    display: block;
    margin-left: 26.32865%;
    margin-right: -100%;
    width: 47.72534%;
    float: none;
  }
}
@media only screen and (max-width: 599px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/prichardson\/Dropbox\/htdocs\/beta\/assets\/styles\/custom\/camberwell\.scss}line{font-family:\00003281}}
  .camberwell .cw-experience {
    clear: both;
    display: block;
    margin-left: 0;
    width: 100%;
  }
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/prichardson\/Dropbox\/htdocs\/beta\/assets\/styles\/custom\/camberwell\.scss}line{font-family:\00003316}}
.camberwell .student-profiles {
  padding-top: 1.5em;
  display: block;
  margin-left: 45.03425%;
  margin-right: -100%;
  width: 29.39648%;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/prichardson\/Dropbox\/htdocs\/beta\/assets\/styles\/custom\/camberwell\.scss}line{font-family:\00003321}}
.camberwell .student-profiles h2 {
  margin-bottom: 3em;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/prichardson\/Dropbox\/htdocs\/beta\/assets\/styles\/custom\/camberwell\.scss}line{font-family:\00003324}}
.camberwell .student-profiles ul {
  list-style-type: none;
  float: none;
  display: block;
  margin-left: 0%;
  margin-right: -100%;
  width: 34.89735%;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/prichardson\/Dropbox\/htdocs\/beta\/assets\/styles\/custom\/camberwell\.scss}line{font-family:\00003330}}
.camberwell .student-profiles ul li img {
  margin-bottom: 1.5em;
}
@media only screen and (min-width: 600px) and (max-width: 959px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/prichardson\/Dropbox\/htdocs\/beta\/assets\/styles\/custom\/camberwell\.scss}line{font-family:\00003324}}
  .camberwell .student-profiles ul {
    display: block;
    margin-left: 0%;
    margin-right: -100%;
    width: 45.80935%;
    float: none;
  }
}
@media only screen and (max-width: 599px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/prichardson\/Dropbox\/htdocs\/beta\/assets\/styles\/custom\/camberwell\.scss}line{font-family:\00003324}}
  .camberwell .student-profiles ul {
    display: block;
    margin-left: 0%;
    margin-right: -100%;
    width: 47.96152%;
  }
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/prichardson\/Dropbox\/htdocs\/beta\/assets\/styles\/custom\/camberwell\.scss}line{font-family:\00003345}}
.camberwell .student-profiles ul:nth-child(2) {
  list-style-type: none;
  display: block;
  margin-left: 43.40177%;
  margin-right: -100%;
  width: 34.89735%;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/prichardson\/Dropbox\/htdocs\/beta\/assets\/styles\/custom\/camberwell\.scss}line{font-family:\00003349}}
.camberwell .student-profiles ul:nth-child(2) li {
  float: none;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/prichardson\/Dropbox\/htdocs\/beta\/assets\/styles\/custom\/camberwell\.scss}line{font-family:\00003351}}
.camberwell .student-profiles ul:nth-child(2) li img {
  margin-bottom: 1.5em;
}
@media only screen and (min-width: 600px) and (max-width: 959px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/prichardson\/Dropbox\/htdocs\/beta\/assets\/styles\/custom\/camberwell\.scss}line{font-family:\00003345}}
  .camberwell .student-profiles ul:nth-child(2) {
    display: block;
    margin-left: 54.19065%;
    margin-right: -100%;
    width: 45.80935%;
  }
}
@media only screen and (max-width: 599px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/prichardson\/Dropbox\/htdocs\/beta\/assets\/styles\/custom\/camberwell\.scss}line{font-family:\00003345}}
  .camberwell .student-profiles ul:nth-child(2) {
    display: block;
    margin-left: 51.71152%;
    margin-right: -100%;
    width: 48.13223%;
  }
}
@media only screen and (min-width: 600px) and (max-width: 959px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/prichardson\/Dropbox\/htdocs\/beta\/assets\/styles\/custom\/camberwell\.scss}line{font-family:\00003316}}
  .camberwell .student-profiles {
    display: block;
    margin-left: 26.32865%;
    margin-right: -100%;
    width: 47.72534%;
    float: none;
  }
}
@media only screen and (max-width: 599px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/prichardson\/Dropbox\/htdocs\/beta\/assets\/styles\/custom\/camberwell\.scss}line{font-family:\00003316}}
  .camberwell .student-profiles {
    clear: both;
    display: block;
    margin-left: 0;
    width: 100%;
  }
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/prichardson\/Dropbox\/htdocs\/beta\/assets\/styles\/custom\/camberwell\.scss}line{font-family:\00003380}}
.camberwell .alumni {
  padding-top: 1.5em;
  display: block;
  margin-left: 76.93073%;
  margin-right: -100%;
  width: 23.01718%;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/prichardson\/Dropbox\/htdocs\/beta\/assets\/styles\/custom\/camberwell\.scss}line{font-family:\00003386}}
.camberwell .alumni h2 {
  margin-bottom: 3em;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/prichardson\/Dropbox\/htdocs\/beta\/assets\/styles\/custom\/camberwell\.scss}line{font-family:\00003390}}
.camberwell .alumni ul {
  list-style-type: none;
  float: none;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/prichardson\/Dropbox\/htdocs\/beta\/assets\/styles\/custom\/camberwell\.scss}line{font-family:\00003394}}
.camberwell .alumni ul li img {
  margin-bottom: 1.5em;
}
@media only screen and (min-width: 600px) and (max-width: 959px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/prichardson\/Dropbox\/htdocs\/beta\/assets\/styles\/custom\/camberwell\.scss}line{font-family:\00003380}}
  .camberwell .alumni {
    display: block;
    margin-left: 26.32865%;
    margin-right: -100%;
    width: 47.72534%;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/prichardson\/Dropbox\/htdocs\/beta\/assets\/styles\/custom\/camberwell\.scss}line{font-family:\00003403}}
  .camberwell .alumni ul li {
    display: block;
    margin-left: 0%;
    margin-right: -100%;
    width: 45.80935%;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/prichardson\/Dropbox\/htdocs\/beta\/assets\/styles\/custom\/camberwell\.scss}line{font-family:\00003407}}
  .camberwell .alumni ul li:nth-child(even) {
    display: block;
    margin-left: 54.19065%;
    margin-right: -100%;
    width: 45.80935%;
  }
}
@media only screen and (max-width: 599px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/prichardson\/Dropbox\/htdocs\/beta\/assets\/styles\/custom\/camberwell\.scss}line{font-family:\00003380}}
  .camberwell .alumni {
    clear: both;
    display: block;
    margin-left: 0;
    width: 100%;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/prichardson\/Dropbox\/htdocs\/beta\/assets\/styles\/custom\/camberwell\.scss}line{font-family:\00003416}}
  .camberwell .alumni ul li {
    display: block;
    margin-left: 0%;
    margin-right: -100%;
    width: 47.96152%;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/prichardson\/Dropbox\/htdocs\/beta\/assets\/styles\/custom\/camberwell\.scss}line{font-family:\00003420}}
  .camberwell .alumni ul li:nth-child(even) {
    display: block;
    margin-left: 51.71152%;
    margin-right: -100%;
    width: 48.13223%;
  }
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/prichardson\/Dropbox\/htdocs\/beta\/assets\/styles\/custom\/camberwell\.scss}line{font-family:\00003429}}
.camberwell .lower2-container {
  clear: left;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/prichardson\/Dropbox\/htdocs\/beta\/assets\/styles\/custom\/camberwell\.scss}line{font-family:\00003432}}
.camberwell .courses-by-sub-header {
  display: block;
  margin-left: 6.75848%;
  margin-right: -100%;
  width: 61.29296%;
}
@media only screen and (min-width: 600px) and (max-width: 959px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/prichardson\/Dropbox\/htdocs\/beta\/assets\/styles\/custom\/camberwell\.scss}line{font-family:\00003432}}
  .camberwell .courses-by-sub-header {
    display: block;
    margin-left: 0%;
    margin-right: -100%;
    width: 86.98533%;
  }
}
@media only screen and (max-width: 599px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/prichardson\/Dropbox\/htdocs\/beta\/assets\/styles\/custom\/camberwell\.scss}line{font-family:\00003432}}
  .camberwell .courses-by-sub-header {
    clear: both;
    display: block;
    margin-left: 0;
    width: 100%;
  }
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/prichardson\/Dropbox\/htdocs\/beta\/assets\/styles\/custom\/camberwell\.scss}line{font-family:\00003448}}
.camberwell .lower3-container {
  clear: left;
  *zoom: 1;
  padding-top: 1.5em;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/prichardson\/Dropbox\/htdocs\/beta\/assets\/styles\/globals\/_mixins\.scss}line{font-family:\00003168}}
.camberwell .lower3-container:before, .camberwell .lower3-container:after {
  content: " ";
  display: table;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/prichardson\/Dropbox\/htdocs\/beta\/assets\/styles\/globals\/_mixins\.scss}line{font-family:\00003169}}
.camberwell .lower3-container:after {
  clear: both;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/prichardson\/Dropbox\/htdocs\/beta\/assets\/styles\/custom\/camberwell\.scss}line{font-family:\00003456}}
.camberwell .lower3-container ul.col1 {
  display: block;
  margin-left: 25.89636%;
  margin-right: -100%;
  width: 29.39648%;
  list-style-type: none;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/prichardson\/Dropbox\/htdocs\/beta\/assets\/styles\/custom\/camberwell\.scss}line{font-family:\00003460}}
.camberwell .lower3-container ul.col1 li {
  clear: left;
  list-style-type: none;
  margin-bottom: 2.625em;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/prichardson\/Dropbox\/htdocs\/beta\/assets\/styles\/custom\/camberwell\.scss}line{font-family:\00003466}}
.camberwell .lower3-container ul.col1 li img {
  margin-bottom: 2.625em;
  clear: left;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/prichardson\/Dropbox\/htdocs\/beta\/assets\/styles\/custom\/camberwell\.scss}line{font-family:\00003472}}
.camberwell .lower3-container ul.col1 li a div {
  position: relative;
  float: left;
  overflow: hidden;
  *zoom: 1;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/prichardson\/Dropbox\/htdocs\/beta\/assets\/styles\/globals\/_mixins\.scss}line{font-family:\00003168}}
.camberwell .lower3-container ul.col1 li a div:before, .camberwell .lower3-container ul.col1 li a div:after {
  content: " ";
  display: table;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/prichardson\/Dropbox\/htdocs\/beta\/assets\/styles\/globals\/_mixins\.scss}line{font-family:\00003169}}
.camberwell .lower3-container ul.col1 li a div:after {
  clear: both;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/prichardson\/Dropbox\/htdocs\/beta\/assets\/styles\/custom\/camberwell\.scss}line{font-family:\00003478}}
.camberwell .lower3-container ul.col1 li a div div {
  position: absolute;
  left: 5%;
  top: 5%;
  right: 5%;
  bottom: 17%;
  background: #4a97dd;
  /* The Fallback */
  background: rgba(74, 151, 221, 0.4);
  text-align: center;
  opacity: 0;
  -webkit-transition: all 0.2s ease-in 300ms ease-out;
  -moz-transition: all 0.2s ease-in 300ms ease-out;
  transition: all 0.2s ease-in 300ms ease-out;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/prichardson\/Dropbox\/htdocs\/beta\/assets\/styles\/custom\/camberwell\.scss}line{font-family:\00003489}}
.camberwell .lower3-container ul.col1 li a div div h3 {
  width: 100%;
  color: #fff;
  padding: 0 10px;
  font-size: 1.125em;
  line-height: 1.33333em;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/prichardson\/Dropbox\/htdocs\/beta\/assets\/styles\/custom\/camberwell\.scss}line{font-family:\00003499}}
.camberwell .lower3-container ul.col1 li a:hover div div {
  opacity: 1;
}
@media only screen and (min-width: 600px) and (max-width: 959px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/prichardson\/Dropbox\/htdocs\/beta\/assets\/styles\/custom\/camberwell\.scss}line{font-family:\00003456}}
  .camberwell .lower3-container ul.col1 {
    display: block;
    margin-left: 13.39732%;
    margin-right: -100%;
    width: 34.79401%;
  }
}
@media only screen and (max-width: 599px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/prichardson\/Dropbox\/htdocs\/beta\/assets\/styles\/custom\/camberwell\.scss}line{font-family:\00003456}}
  .camberwell .lower3-container ul.col1 {
    clear: both;
    display: block;
    margin-left: 0;
    width: 100%;
  }
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/prichardson\/Dropbox\/htdocs\/beta\/assets\/styles\/custom\/camberwell\.scss}line{font-family:\00003518}}
.camberwell .lower3-container ul.col2 {
  display: block;
  margin-left: 64.17214%;
  margin-right: -100%;
  width: 29.39648%;
  list-style-type: none;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/prichardson\/Dropbox\/htdocs\/beta\/assets\/styles\/custom\/camberwell\.scss}line{font-family:\00003522}}
.camberwell .lower3-container ul.col2 li {
  clear: left;
  list-style-type: none;
  margin-bottom: 2.625em;
  position: relative;
  float: left;
  overflow: hidden;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/prichardson\/Dropbox\/htdocs\/beta\/assets\/styles\/custom\/camberwell\.scss}line{font-family:\00003530}}
.camberwell .lower3-container ul.col2 li img {
  clear: left;
  margin-bottom: 2.625em;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/prichardson\/Dropbox\/htdocs\/beta\/assets\/styles\/custom\/camberwell\.scss}line{font-family:\00003535}}
.camberwell .lower3-container ul.col2 li a div {
  position: relative;
  float: left;
  overflow: hidden;
  *zoom: 1;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/prichardson\/Dropbox\/htdocs\/beta\/assets\/styles\/globals\/_mixins\.scss}line{font-family:\00003168}}
.camberwell .lower3-container ul.col2 li a div:before, .camberwell .lower3-container ul.col2 li a div:after {
  content: " ";
  display: table;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/prichardson\/Dropbox\/htdocs\/beta\/assets\/styles\/globals\/_mixins\.scss}line{font-family:\00003169}}
.camberwell .lower3-container ul.col2 li a div:after {
  clear: both;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/prichardson\/Dropbox\/htdocs\/beta\/assets\/styles\/custom\/camberwell\.scss}line{font-family:\00003541}}
.camberwell .lower3-container ul.col2 li a div div {
  position: absolute;
  left: 5%;
  top: 5%;
  right: 5%;
  bottom: 17%;
  background: #4a97dd;
  /* The Fallback */
  background: rgba(74, 151, 221, 0.4);
  text-align: center;
  opacity: 0;
  -webkit-transition: all 0.2s ease-in 300ms ease-out;
  -moz-transition: all 0.2s ease-in 300ms ease-out;
  transition: all 0.2s ease-in 300ms ease-out;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/prichardson\/Dropbox\/htdocs\/beta\/assets\/styles\/custom\/camberwell\.scss}line{font-family:\00003552}}
.camberwell .lower3-container ul.col2 li a div div h3 {
  width: 100%;
  color: #fff;
  padding: 0 10px;
  font-size: 1.125em;
  line-height: 1.33333em;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/prichardson\/Dropbox\/htdocs\/beta\/assets\/styles\/custom\/camberwell\.scss}line{font-family:\00003562}}
.camberwell .lower3-container ul.col2 li a:hover div div {
  opacity: 1;
}
@media only screen and (min-width: 600px) and (max-width: 959px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/prichardson\/Dropbox\/htdocs\/beta\/assets\/styles\/custom\/camberwell\.scss}line{font-family:\00003518}}
  .camberwell .lower3-container ul.col2 {
    display: block;
    margin-left: 52.19132%;
    margin-right: -100%;
    width: 34.79401%;
  }
}
@media only screen and (max-width: 599px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/prichardson\/Dropbox\/htdocs\/beta\/assets\/styles\/custom\/camberwell\.scss}line{font-family:\00003518}}
  .camberwell .lower3-container ul.col2 {
    clear: both;
    display: block;
    margin-left: 0;
    width: 100%;
  }
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/prichardson\/Dropbox\/htdocs\/beta\/assets\/styles\/custom\/camberwell\.scss}line{font-family:\00003577}}
.camberwell .news {
  padding-top: 1.5em;
  display: block;
  margin-left: 25.89636%;
  margin-right: -100%;
  width: 29.39648%;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/prichardson\/Dropbox\/htdocs\/beta\/assets\/styles\/custom\/camberwell\.scss}line{font-family:\00003581}}
.camberwell .news ul {
  list-style-type: none;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/prichardson\/Dropbox\/htdocs\/beta\/assets\/styles\/custom\/camberwell\.scss}line{font-family:\00003585}}
.camberwell .news ul li img {
  margin-bottom: 1.5em;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/prichardson\/Dropbox\/htdocs\/beta\/assets\/styles\/custom\/camberwell\.scss}line{font-family:\00003587}}
.camberwell .news ul li a {
  border-bottom: none;
}
@media only screen and (min-width: 600px) and (max-width: 959px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/prichardson\/Dropbox\/htdocs\/beta\/assets\/styles\/custom\/camberwell\.scss}line{font-family:\00003577}}
  .camberwell .news {
    display: block;
    margin-left: 13.39732%;
    margin-right: -100%;
    width: 34.79401%;
  }
}
@media only screen and (max-width: 599px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/prichardson\/Dropbox\/htdocs\/beta\/assets\/styles\/custom\/camberwell\.scss}line{font-family:\00003577}}
  .camberwell .news {
    clear: both;
    display: block;
    margin-left: 0;
    width: 100%;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/prichardson\/Dropbox\/htdocs\/beta\/assets\/styles\/custom\/camberwell\.scss}line{font-family:\00003615}}
  .camberwell .news h3 {
    color: #58bf58;
  }
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/prichardson\/Dropbox\/htdocs\/beta\/assets\/styles\/custom\/camberwell\.scss}line{font-family:\00003624}}
.camberwell .events {
  padding-top: 1.5em;
  display: block;
  margin-left: 64.17214%;
  margin-right: -100%;
  width: 29.39648%;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/prichardson\/Dropbox\/htdocs\/beta\/assets\/styles\/custom\/camberwell\.scss}line{font-family:\00003628}}
.camberwell .events ul {
  list-style-type: none;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/prichardson\/Dropbox\/htdocs\/beta\/assets\/styles\/custom\/camberwell\.scss}line{font-family:\00003631}}
.camberwell .events ul li img {
  margin-bottom: 1.5em;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/prichardson\/Dropbox\/htdocs\/beta\/assets\/styles\/custom\/camberwell\.scss}line{font-family:\00003633}}
.camberwell .events ul li a {
  border-bottom: none;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/prichardson\/Dropbox\/htdocs\/beta\/assets\/styles\/custom\/camberwell\.scss}line{font-family:\00003635}}
.camberwell .events ul li h3 {
  font-family: "BrandonText-Regular", Helvetica, Arial, sans-serif;
  font-size: 16px;
  font-weight: bold;
  color: #58bf58;
}
@media only screen and (min-width: 600px) and (max-width: 959px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/prichardson\/Dropbox\/htdocs\/beta\/assets\/styles\/custom\/camberwell\.scss}line{font-family:\00003624}}
  .camberwell .events {
    display: block;
    margin-left: 52.19132%;
    margin-right: -100%;
    width: 34.79401%;
  }
}
@media only screen and (max-width: 599px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/prichardson\/Dropbox\/htdocs\/beta\/assets\/styles\/custom\/camberwell\.scss}line{font-family:\00003624}}
  .camberwell .events {
    clear: both;
    display: block;
    margin-left: 0;
    width: 100%;
  }
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/prichardson\/Dropbox\/htdocs\/beta\/assets\/styles\/custom\/camberwell\.scss}line{font-family:\00003657}}
.camberwell .related-content {
  margin-top: 1.5em;
  display: block;
  margin-left: 6.75848%;
  margin-right: -100%;
  width: 86.81015%;
  *zoom: 1;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/prichardson\/Dropbox\/htdocs\/beta\/assets\/styles\/globals\/_mixins\.scss}line{font-family:\00003168}}
.camberwell .related-content:before, .camberwell .related-content:after {
  content: " ";
  display: table;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/prichardson\/Dropbox\/htdocs\/beta\/assets\/styles\/globals\/_mixins\.scss}line{font-family:\00003169}}
.camberwell .related-content:after {
  clear: both;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/prichardson\/Dropbox\/htdocs\/beta\/assets\/styles\/custom\/camberwell\.scss}line{font-family:\00003662}}
.camberwell .related-content h2.cw-heading {
  margin-bottom: 3em;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/prichardson\/Dropbox\/htdocs\/beta\/assets\/styles\/custom\/camberwell\.scss}line{font-family:\00003672}}
.camberwell .rc-1 {
  padding-top: 1.5em;
  display: block;
  margin-left: 0%;
  margin-right: -100%;
  width: 26.51439%;
}
@media only screen and (min-width: 600px) and (max-width: 959px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/prichardson\/Dropbox\/htdocs\/beta\/assets\/styles\/custom\/camberwell\.scss}line{font-family:\00003672}}
  .camberwell .rc-1 {
    display: block;
    margin-left: 13.39732%;
    margin-right: -100%;
    width: 73.58801%;
    float: none;
  }
}
@media only screen and (max-width: 599px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/prichardson\/Dropbox\/htdocs\/beta\/assets\/styles\/custom\/camberwell\.scss}line{font-family:\00003672}}
  .camberwell .rc-1 {
    clear: both;
    display: block;
    margin-left: 0;
    width: 100%;
    float: none;
  }
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/prichardson\/Dropbox\/htdocs\/beta\/assets\/styles\/custom\/camberwell\.scss}line{font-family:\00003688}}
.camberwell .rc-2 {
  padding-top: 1.5em;
  display: block;
  margin-left: 36.7428%;
  margin-right: -100%;
  width: 26.51439%;
}
@media only screen and (min-width: 600px) and (max-width: 959px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/prichardson\/Dropbox\/htdocs\/beta\/assets\/styles\/custom\/camberwell\.scss}line{font-family:\00003688}}
  .camberwell .rc-2 {
    display: block;
    margin-left: 13.39732%;
    margin-right: -100%;
    width: 73.58801%;
    float: none;
  }
}
@media only screen and (max-width: 599px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/prichardson\/Dropbox\/htdocs\/beta\/assets\/styles\/custom\/camberwell\.scss}line{font-family:\00003688}}
  .camberwell .rc-2 {
    clear: both;
    display: block;
    margin-left: 0;
    width: 100%;
    float: none;
  }
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/prichardson\/Dropbox\/htdocs\/beta\/assets\/styles\/custom\/camberwell\.scss}line{font-family:\00003703}}
.camberwell .rc-3 {
  padding-top: 1.5em;
  display: block;
  margin-left: 73.48561%;
  margin-right: -100%;
  width: 26.51439%;
}
@media only screen and (min-width: 600px) and (max-width: 959px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/prichardson\/Dropbox\/htdocs\/beta\/assets\/styles\/custom\/camberwell\.scss}line{font-family:\00003711}}
  .camberwell h2.cw-heading {
    margin-bottom: 0.375em;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/prichardson\/Dropbox\/htdocs\/beta\/assets\/styles\/custom\/camberwell\.scss}line{font-family:\00003713}}
  .camberwell .rc1, .camberwell .rc-2, .camberwell .rc-3 {
    display: block;
    margin-left: 13.39732%;
    margin-right: -100%;
    width: 73.58801%;
    float: none;
  }
}
@media only screen and (max-width: 599px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/prichardson\/Dropbox\/htdocs\/beta\/assets\/styles\/custom\/camberwell\.scss}line{font-family:\00003721}}
  .camberwell h2.cw-heading {
    margin-bottom: 0.375em;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/prichardson\/Dropbox\/htdocs\/beta\/assets\/styles\/custom\/camberwell\.scss}line{font-family:\00003723}}
  .camberwell .rc1, .camberwell .rc-2, .camberwell .rc-3 {
    clear: both;
    display: block;
    margin-left: 0;
    width: 100%;
    float: none;
  }
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/prichardson\/Dropbox\/htdocs\/beta\/assets\/styles\/custom\/camberwell\.scss}line{font-family:\00003731}}
.cw-footer {
  width: 100%;
  color: white;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/prichardson\/Dropbox\/htdocs\/beta\/assets\/styles\/custom\/camberwell\.scss}line{font-family:\00003738}}
.cw-footer a {
  color: white;
  text-decoration: none;
  border-bottom: none;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/prichardson\/Dropbox\/htdocs\/beta\/assets\/styles\/custom\/camberwell\.scss}line{font-family:\00003744}}
.cw-footer h3 {
  padding-top: 0.375em;
  border-top: solid 12px white;
  color: white;
  font-size: 2.25em;
  line-height: 1.16667em;
  width: 100%;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/prichardson\/Dropbox\/htdocs\/beta\/assets\/styles\/custom\/camberwell\.scss}line{font-family:\00003751}}
.cw-footer h3 a {
  border-bottom: solid 1px #c8c8c8;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/prichardson\/Dropbox\/htdocs\/beta\/assets\/styles\/custom\/camberwell\.scss}line{font-family:\00003755}}
.cw-footer .contact-us {
  display: block;
  margin-left: 0%;
  margin-right: -100%;
  width: 23.39636%;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/prichardson\/Dropbox\/htdocs\/beta\/assets\/styles\/custom\/camberwell\.scss}line{font-family:\00003760}}
.cw-footer .contact-us ul {
  width: 100%;
}
@media only screen and (min-width: 600px) and (max-width: 959px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/prichardson\/Dropbox\/htdocs\/beta\/assets\/styles\/custom\/camberwell\.scss}line{font-family:\00003755}}
  .cw-footer .contact-us {
    display: block;
    margin-left: 13.39732%;
    margin-right: -100%;
    width: 73.58801%;
  }
}
@media only screen and (max-width: 599px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/prichardson\/Dropbox\/htdocs\/beta\/assets\/styles\/custom\/camberwell\.scss}line{font-family:\00003755}}
  .cw-footer .contact-us {
    clear: both;
    display: block;
    margin-left: 0;
    width: 100%;
  }
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/prichardson\/Dropbox\/htdocs\/beta\/assets\/styles\/custom\/camberwell\.scss}line{font-family:\00003776}}
.cw-footer .get-prospectus {
  display: block;
  margin-left: 32.27566%;
  margin-right: -100%;
  width: 29.39648%;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/prichardson\/Dropbox\/htdocs\/beta\/assets\/styles\/custom\/camberwell\.scss}line{font-family:\00003784}}
.cw-footer .socials {
  display: block;
  margin-left: 70.55144%;
  margin-right: -100%;
  width: 29.39648%;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/prichardson\/Dropbox\/htdocs\/beta\/assets\/styles\/custom\/camberwell\.scss}line{font-family:\00003788}}
.cw-footer .socials ul li {
  display: inline-block;
}
@media only screen and (min-width: 600px) and (max-width: 959px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/prichardson\/Dropbox\/htdocs\/beta\/assets\/styles\/custom\/camberwell\.scss}line{font-family:\00003731}}
  .cw-footer {
    display: block;
    margin-left: 13.39732%;
    margin-right: -100%;
    width: 73.58801%;
  }
}
@media only screen and (max-width: 599px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/prichardson\/Dropbox\/htdocs\/beta\/assets\/styles\/custom\/camberwell\.scss}line{font-family:\00003731}}
  .cw-footer {
    clear: both;
    display: block;
    margin-left: 0;
    width: 100%;
  }
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/prichardson\/Dropbox\/htdocs\/beta\/assets\/styles\/custom\/camberwell\.scss}line{font-family:\00003807}}
.slider-container {
  position: relative;
  top: 0;
  left: 0;
  max-width: 100%;
  height: 100%;
  *zoom: 1;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/prichardson\/Dropbox\/htdocs\/beta\/assets\/styles\/globals\/_mixins\.scss}line{font-family:\00003168}}
.slider-container:before, .slider-container:after {
  content: " ";
  display: table;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/prichardson\/Dropbox\/htdocs\/beta\/assets\/styles\/globals\/_mixins\.scss}line{font-family:\00003169}}
.slider-container:after {
  clear: both;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/prichardson\/Dropbox\/htdocs\/beta\/assets\/styles\/custom\/camberwell\.scss}line{font-family:\00003817}}
.flex-direction-nav {
  z-index: 3;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/prichardson\/Dropbox\/htdocs\/beta\/assets\/styles\/custom\/camberwell\.scss}line{font-family:\00003820}}
.flex-direction-nav .flex-next, .flex-direction-nav .flex-prev {
  border-bottom: none;
}
