/*
Syntax error: Undefined mixin 'background-opacity'.
        on line 218 of /Users/howard/Dropbox/htdocs/beta/assets/styles/custom/camberwell.scss, in `background-opacity'
        from line 218 of /Users/howard/Dropbox/htdocs/beta/assets/styles/custom/camberwell.scss

Backtrace:
/Users/howard/Dropbox/htdocs/beta/assets/styles/custom/camberwell.scss:218:in `background-opacity'
/Users/howard/Dropbox/htdocs/beta/assets/styles/custom/camberwell.scss:218
/Users/howard/.rvm/gems/ruby-1.9.3-p374/gems/sass-3.2.5/lib/sass/tree/visitors/perform.rb:251:in `visit_mixin'
/Users/howard/.rvm/gems/ruby-1.9.3-p374/gems/sass-3.2.5/lib/sass/tree/visitors/base.rb:37:in `visit'
/Users/howard/.rvm/gems/ruby-1.9.3-p374/gems/sass-3.2.5/lib/sass/tree/visitors/perform.rb:98:in `visit'
/Users/howard/.rvm/gems/ruby-1.9.3-p374/gems/sass-3.2.5/lib/sass/tree/visitors/base.rb:53:in `block in visit_children'
/Users/howard/.rvm/gems/ruby-1.9.3-p374/gems/sass-3.2.5/lib/sass/tree/visitors/base.rb:53:in `map'
/Users/howard/.rvm/gems/ruby-1.9.3-p374/gems/sass-3.2.5/lib/sass/tree/visitors/base.rb:53:in `visit_children'
/Users/howard/.rvm/gems/ruby-1.9.3-p374/gems/sass-3.2.5/lib/sass/tree/visitors/perform.rb:107:in `block in visit_children'
/Users/howard/.rvm/gems/ruby-1.9.3-p374/gems/sass-3.2.5/lib/sass/tree/visitors/perform.rb:119:in `with_environment'
/Users/howard/.rvm/gems/ruby-1.9.3-p374/gems/sass-3.2.5/lib/sass/tree/visitors/perform.rb:106:in `visit_children'
/Users/howard/.rvm/gems/ruby-1.9.3-p374/gems/sass-3.2.5/lib/sass/tree/visitors/base.rb:37:in `block in visit'
/Users/howard/.rvm/gems/ruby-1.9.3-p374/gems/sass-3.2.5/lib/sass/tree/visitors/perform.rb:318:in `visit_rule'
/Users/howard/.rvm/gems/ruby-1.9.3-p374/gems/sass-3.2.5/lib/sass/tree/visitors/base.rb:37:in `visit'
/Users/howard/.rvm/gems/ruby-1.9.3-p374/gems/sass-3.2.5/lib/sass/tree/visitors/perform.rb:98:in `visit'
/Users/howard/.rvm/gems/ruby-1.9.3-p374/gems/sass-3.2.5/lib/sass/tree/visitors/base.rb:53:in `block in visit_children'
/Users/howard/.rvm/gems/ruby-1.9.3-p374/gems/sass-3.2.5/lib/sass/tree/visitors/base.rb:53:in `map'
/Users/howard/.rvm/gems/ruby-1.9.3-p374/gems/sass-3.2.5/lib/sass/tree/visitors/base.rb:53:in `visit_children'
/Users/howard/.rvm/gems/ruby-1.9.3-p374/gems/sass-3.2.5/lib/sass/tree/visitors/perform.rb:107:in `block in visit_children'
/Users/howard/.rvm/gems/ruby-1.9.3-p374/gems/sass-3.2.5/lib/sass/tree/visitors/perform.rb:119:in `with_environment'
/Users/howard/.rvm/gems/ruby-1.9.3-p374/gems/sass-3.2.5/lib/sass/tree/visitors/perform.rb:106:in `visit_children'
/Users/howard/.rvm/gems/ruby-1.9.3-p374/gems/sass-3.2.5/lib/sass/tree/visitors/base.rb:37:in `block in visit'
/Users/howard/.rvm/gems/ruby-1.9.3-p374/gems/sass-3.2.5/lib/sass/tree/visitors/perform.rb:318:in `visit_rule'
/Users/howard/.rvm/gems/ruby-1.9.3-p374/gems/sass-3.2.5/lib/sass/tree/visitors/base.rb:37:in `visit'
/Users/howard/.rvm/gems/ruby-1.9.3-p374/gems/sass-3.2.5/lib/sass/tree/visitors/perform.rb:98:in `visit'
/Users/howard/.rvm/gems/ruby-1.9.3-p374/gems/sass-3.2.5/lib/sass/tree/visitors/base.rb:53:in `block in visit_children'
/Users/howard/.rvm/gems/ruby-1.9.3-p374/gems/sass-3.2.5/lib/sass/tree/visitors/base.rb:53:in `map'
/Users/howard/.rvm/gems/ruby-1.9.3-p374/gems/sass-3.2.5/lib/sass/tree/visitors/base.rb:53:in `visit_children'
/Users/howard/.rvm/gems/ruby-1.9.3-p374/gems/sass-3.2.5/lib/sass/tree/visitors/perform.rb:107:in `block in visit_children'
/Users/howard/.rvm/gems/ruby-1.9.3-p374/gems/sass-3.2.5/lib/sass/tree/visitors/perform.rb:119:in `with_environment'
/Users/howard/.rvm/gems/ruby-1.9.3-p374/gems/sass-3.2.5/lib/sass/tree/visitors/perform.rb:106:in `visit_children'
/Users/howard/.rvm/gems/ruby-1.9.3-p374/gems/sass-3.2.5/lib/sass/tree/visitors/base.rb:37:in `block in visit'
/Users/howard/.rvm/gems/ruby-1.9.3-p374/gems/sass-3.2.5/lib/sass/tree/visitors/perform.rb:318:in `visit_rule'
/Users/howard/.rvm/gems/ruby-1.9.3-p374/gems/sass-3.2.5/lib/sass/tree/visitors/base.rb:37:in `visit'
/Users/howard/.rvm/gems/ruby-1.9.3-p374/gems/sass-3.2.5/lib/sass/tree/visitors/perform.rb:98:in `visit'
/Users/howard/.rvm/gems/ruby-1.9.3-p374/gems/sass-3.2.5/lib/sass/tree/visitors/base.rb:53:in `block in visit_children'
/Users/howard/.rvm/gems/ruby-1.9.3-p374/gems/sass-3.2.5/lib/sass/tree/visitors/base.rb:53:in `map'
/Users/howard/.rvm/gems/ruby-1.9.3-p374/gems/sass-3.2.5/lib/sass/tree/visitors/base.rb:53:in `visit_children'
/Users/howard/.rvm/gems/ruby-1.9.3-p374/gems/sass-3.2.5/lib/sass/tree/visitors/perform.rb:107:in `block in visit_children'
/Users/howard/.rvm/gems/ruby-1.9.3-p374/gems/sass-3.2.5/lib/sass/tree/visitors/perform.rb:119:in `with_environment'
/Users/howard/.rvm/gems/ruby-1.9.3-p374/gems/sass-3.2.5/lib/sass/tree/visitors/perform.rb:106:in `visit_children'
/Users/howard/.rvm/gems/ruby-1.9.3-p374/gems/sass-3.2.5/lib/sass/tree/visitors/base.rb:37:in `block in visit'
/Users/howard/.rvm/gems/ruby-1.9.3-p374/gems/sass-3.2.5/lib/sass/tree/visitors/perform.rb:126:in `visit_root'
/Users/howard/.rvm/gems/ruby-1.9.3-p374/gems/sass-3.2.5/lib/sass/tree/visitors/base.rb:37:in `visit'
/Users/howard/.rvm/gems/ruby-1.9.3-p374/gems/sass-3.2.5/lib/sass/tree/visitors/perform.rb:98:in `visit'
/Users/howard/.rvm/gems/ruby-1.9.3-p374/gems/sass-3.2.5/lib/sass/tree/visitors/perform.rb:7:in `visit'
/Users/howard/.rvm/gems/ruby-1.9.3-p374/gems/sass-3.2.5/lib/sass/tree/root_node.rb:20:in `render'
/Users/howard/.rvm/gems/ruby-1.9.3-p374/gems/sass-3.2.5/lib/sass/engine.rb:315:in `_render'
/Users/howard/.rvm/gems/ruby-1.9.3-p374/gems/sass-3.2.5/lib/sass/engine.rb:262:in `render'
/Users/howard/.rvm/gems/ruby-1.9.3-p374/gems/compass-0.13.alpha.2/lib/compass/compiler.rb:146:in `block (2 levels) in compile'
/Users/howard/.rvm/gems/ruby-1.9.3-p374/gems/compass-0.13.alpha.2/lib/compass/compiler.rb:132:in `timed'
/Users/howard/.rvm/gems/ruby-1.9.3-p374/gems/compass-0.13.alpha.2/lib/compass/compiler.rb:145:in `block in compile'
/Users/howard/.rvm/gems/ruby-1.9.3-p374/gems/compass-0.13.alpha.2/lib/compass/logger.rb:46:in `red'
/Users/howard/.rvm/gems/ruby-1.9.3-p374/gems/compass-0.13.alpha.2/lib/compass/compiler.rb:144:in `compile'
/Users/howard/.rvm/gems/ruby-1.9.3-p374/gems/compass-0.13.alpha.2/lib/compass/compiler.rb:124:in `compile_if_required'
/Users/howard/.rvm/gems/ruby-1.9.3-p374/gems/compass-0.13.alpha.2/lib/compass/compiler.rb:109:in `block (2 levels) in run'
/Users/howard/.rvm/gems/ruby-1.9.3-p374/gems/compass-0.13.alpha.2/lib/compass/compiler.rb:107:in `each'
/Users/howard/.rvm/gems/ruby-1.9.3-p374/gems/compass-0.13.alpha.2/lib/compass/compiler.rb:107:in `block in run'
/Users/howard/.rvm/gems/ruby-1.9.3-p374/gems/compass-0.13.alpha.2/lib/compass/compiler.rb:132:in `timed'
/Users/howard/.rvm/gems/ruby-1.9.3-p374/gems/compass-0.13.alpha.2/lib/compass/compiler.rb:106:in `run'
/Users/howard/.rvm/gems/ruby-1.9.3-p374/gems/compass-0.13.alpha.2/lib/compass/watcher/compiler.rb:24:in `compile'
/Users/howard/.rvm/rubies/ruby-1.9.3-p374/lib/ruby/1.9.1/forwardable.rb:201:in `compile'
/Users/howard/.rvm/gems/ruby-1.9.3-p374/gems/compass-0.13.alpha.2/lib/compass/watcher/project_watcher.rb:89:in `sass_modified'
/Users/howard/.rvm/gems/ruby-1.9.3-p374/gems/compass-0.13.alpha.2/lib/compass/watcher/project_watcher.rb:82:in `sass_callback'
/Users/howard/.rvm/gems/ruby-1.9.3-p374/gems/compass-0.13.alpha.2/lib/compass/watcher/watch.rb:17:in `call'
/Users/howard/.rvm/gems/ruby-1.9.3-p374/gems/compass-0.13.alpha.2/lib/compass/watcher/watch.rb:17:in `run_callback'
/Users/howard/.rvm/gems/ruby-1.9.3-p374/gems/compass-0.13.alpha.2/lib/compass/watcher/project_watcher.rb:75:in `block (2 levels) in listen_callback'
/Users/howard/.rvm/gems/ruby-1.9.3-p374/gems/compass-0.13.alpha.2/lib/compass/watcher/project_watcher.rb:74:in `each'
/Users/howard/.rvm/gems/ruby-1.9.3-p374/gems/compass-0.13.alpha.2/lib/compass/watcher/project_watcher.rb:74:in `block in listen_callback'
/Users/howard/.rvm/gems/ruby-1.9.3-p374/gems/compass-0.13.alpha.2/lib/compass/watcher/project_watcher.rb:73:in `each'
/Users/howard/.rvm/gems/ruby-1.9.3-p374/gems/compass-0.13.alpha.2/lib/compass/watcher/project_watcher.rb:73:in `listen_callback'
/Users/howard/.rvm/gems/ruby-1.9.3-p374/gems/listen-0.5.3/lib/listen/listener.rb:190:in `call'
/Users/howard/.rvm/gems/ruby-1.9.3-p374/gems/listen-0.5.3/lib/listen/listener.rb:190:in `on_change'
/Users/howard/.rvm/gems/ruby-1.9.3-p374/gems/listen-0.5.3/lib/listen/listener.rb:199:in `block in initialize_adapter'
/Users/howard/.rvm/gems/ruby-1.9.3-p374/gems/listen-0.5.3/lib/listen/adapters/polling.rb:56:in `call'
/Users/howard/.rvm/gems/ruby-1.9.3-p374/gems/listen-0.5.3/lib/listen/adapters/polling.rb:56:in `poll'
/Users/howard/.rvm/gems/ruby-1.9.3-p374/gems/listen-0.5.3/lib/listen/adapters/polling.rb:32:in `block in start'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Syntax error: Undefined mixin 'background-opacity'.\A         on line 218 of /Users/howard/Dropbox/htdocs/beta/assets/styles/custom/camberwell.scss, in `background-opacity'\A         from line 218 of /Users/howard/Dropbox/htdocs/beta/assets/styles/custom/camberwell.scss"; }
