/* line 2, ../../styles/plugins/_animation.scss */
.animated.hinge {
  -webkit-animation-duration: 2s;
  -moz-animation-duration: 2s;
  -ms-animation-duration: 2s;
  -o-animation-duration: 2s;
  animation-duration: 2s;
}

@-webkit-keyframes fadeInDown {
  /* line 3, ../../styles/plugins/_animation.scss */
  0% {
    opacity: 0;
    -webkit-transform: translateY(-20px);
  }

  /* line 6, ../../styles/plugins/_animation.scss */
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
  }
}

@-moz-keyframes fadeInDown {
  /* line 13, ../../styles/plugins/_animation.scss */
  0% {
    opacity: 0;
    -moz-transform: translateY(-20px);
  }

  /* line 18, ../../styles/plugins/_animation.scss */
  100% {
    opacity: 1;
    -moz-transform: translateY(0);
  }
}

@-o-keyframes fadeInDown {
  /* line 25, ../../styles/plugins/_animation.scss */
  0% {
    opacity: 0;
    -ms-transform: translateY(-20px);
  }

  /* line 30, ../../styles/plugins/_animation.scss */
  100% {
    opacity: 1;
    -ms-transform: translateY(0);
  }
}

@keyframes fadeInDown {
  /* line 37, ../../styles/plugins/_animation.scss */
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }

  /* line 42, ../../styles/plugins/_animation.scss */
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

/* normalize.css v2.1.0 | MIT License | git.io/normalize */
/* ==========================================================================
   HTML5 display definitions
   ========================================================================== */
/**
 * Correct `block` display not defined in IE 8/9.
 */
/* line 22, ../../styles/plugins/_normalize.scss */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block;
}

/**
 * Correct `inline-block` display not defined in IE 8/9.
 */
/* line 32, ../../styles/plugins/_normalize.scss */
audio,
canvas,
video {
  display: inline-block;
}

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
/* line 41, ../../styles/plugins/_normalize.scss */
audio:not([controls]) {
  display: none;
  height: 0;
}

/**
 * Address styling not present in IE 8/9.
 */
/* line 50, ../../styles/plugins/_normalize.scss */
[hidden] {
  display: none;
}

/* ==========================================================================
   Base
   ========================================================================== */
/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */
/* line 64, ../../styles/plugins/_normalize.scss */
html {
  font-family: sans-serif;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
  -ms-text-size-adjust: 100%;
  /* 2 */
}

/**
 * Remove default margin.
 */
/* line 74, ../../styles/plugins/_normalize.scss */
body {
  margin: 0;
}

/* ==========================================================================
   Links
   ========================================================================== */
/**
 * Address `outline` inconsistency between Chrome and other browsers.
 */
/* line 86, ../../styles/plugins/_normalize.scss */
a:focus {
  outline: thin dotted;
}

/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */
/* line 95, ../../styles/plugins/_normalize.scss */
a:active,
a:hover {
  outline: 0;
}

/* ==========================================================================
   Typography
   ========================================================================== */
/**
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari 5, and Chrome.
 */
/* line 108, ../../styles/plugins/_normalize.scss */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/**
 * Address styling not present in IE 8/9, Safari 5, and Chrome.
 */
/* line 117, ../../styles/plugins/_normalize.scss */
abbr[title] {
  border-bottom: 1px dotted;
}

/**
 * Address style set to `bolder` in Firefox 4+, Safari 5, and Chrome.
 */
/* line 126, ../../styles/plugins/_normalize.scss */
b,
strong {
  font-weight: bold;
}

/**
 * Address styling not present in Safari 5 and Chrome.
 */
/* line 134, ../../styles/plugins/_normalize.scss */
dfn {
  font-style: italic;
}

/**
 * Address differences between Firefox and other browsers.
 */
/* line 142, ../../styles/plugins/_normalize.scss */
hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
}

/**
 * Address styling not present in IE 8/9.
 */
/* line 152, ../../styles/plugins/_normalize.scss */
mark {
  background: #ff0;
  color: #000;
}

/**
 * Correct font family set oddly in Safari 5 and Chrome.
 */
/* line 164, ../../styles/plugins/_normalize.scss */
code,
kbd,
pre,
samp {
  font-family: monospace, serif;
  font-size: 1em;
}

/**
 * Improve readability of pre-formatted text in all browsers.
 */
/* line 173, ../../styles/plugins/_normalize.scss */
pre {
  white-space: pre-wrap;
}

/**
 * Set consistent quote types.
 */
/* line 181, ../../styles/plugins/_normalize.scss */
q {
  quotes: "\201C" "\201D" "\2018" "\2019";
}

/**
 * Address inconsistent and variable font size in all browsers.
 */
/* line 189, ../../styles/plugins/_normalize.scss */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */
/* line 198, ../../styles/plugins/_normalize.scss */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

/* line 205, ../../styles/plugins/_normalize.scss */
sup {
  top: -0.5em;
}

/* line 209, ../../styles/plugins/_normalize.scss */
sub {
  bottom: -0.25em;
}

/* ==========================================================================
   Embedded content
   ========================================================================== */
/**
 * Remove border when inside `a` element in IE 8/9.
 */
/* line 221, ../../styles/plugins/_normalize.scss */
img {
  border: 0;
}

/**
 * Correct overflow displayed oddly in IE 9.
 */
/* line 229, ../../styles/plugins/_normalize.scss */
svg:not(:root) {
  overflow: hidden;
}

/* ==========================================================================
   Figures
   ========================================================================== */
/**
 * Address margin not present in IE 8/9 and Safari 5.
 */
/* line 241, ../../styles/plugins/_normalize.scss */
figure {
  margin: 0;
}

/* ==========================================================================
   Forms
   ========================================================================== */
/**
 * Define consistent border, margin, and padding.
 */
/* line 253, ../../styles/plugins/_normalize.scss */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

/**
 * 1. Correct `color` not being inherited in IE 8/9.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 */
/* line 264, ../../styles/plugins/_normalize.scss */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * 1. Correct font family not being inherited in all browsers.
 * 2. Correct font size not being inherited in all browsers.
 * 3. Address margins set differently in Firefox 4+, Safari 5, and Chrome.
 */
/* line 278, ../../styles/plugins/_normalize.scss */
button,
input,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 2 */
  margin: 0;
  /* 3 */
}

/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
/* line 290, ../../styles/plugins/_normalize.scss */
button,
input {
  line-height: normal;
}

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Chrome, Safari 5+, and IE 8+.
 * Correct `select` style inheritance in Firefox 4+ and Opera.
 */
/* line 302, ../../styles/plugins/_normalize.scss */
button,
select {
  text-transform: none;
}

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 */
/* line 317, ../../styles/plugins/_normalize.scss */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */
}

/**
 * Re-set default cursor for disabled elements.
 */
/* line 327, ../../styles/plugins/_normalize.scss */
button[disabled],
html input[disabled] {
  cursor: default;
}

/**
 * 1. Address box sizing set to `content-box` in IE 8/9.
 * 2. Remove excess padding in IE 8/9.
 */
/* line 337, ../../styles/plugins/_normalize.scss */
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * 1. Address `appearance` set to `searchfield` in Safari 5 and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari 5 and Chrome
 *    (include `-moz` to future-proof).
 */
/* line 348, ../../styles/plugins/_normalize.scss */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  /* 2 */
  box-sizing: content-box;
}

/**
 * Remove inner padding and search cancel button in Safari 5 and Chrome
 * on OS X.
 */
/* line 361, ../../styles/plugins/_normalize.scss */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * Remove inner padding and border in Firefox 4+.
 */
/* line 370, ../../styles/plugins/_normalize.scss */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/**
 * 1. Remove default vertical scrollbar in IE 8/9.
 * 2. Improve readability and alignment in all browsers.
 */
/* line 380, ../../styles/plugins/_normalize.scss */
textarea {
  overflow: auto;
  /* 1 */
  vertical-align: top;
  /* 2 */
}

/* ==========================================================================
   Tables
   ========================================================================== */
/**
 * Remove most spacing between table cells.
 */
/* line 393, ../../styles/plugins/_normalize.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 400, ../../styles/plugins/_normalize.scss */
ul, li {
  padding: 0;
  margin: 0;
}

/* line 50, sprite/ui-icons/*.png */
.ui-icons-sprite, .ui-icons-expandable-closed, .ui-icons-expandable-open, .ui-expandable .ui-widget-header .ui-icon.icon-closed, .ui-expandable .ui-widget-header .ui-icon.icon-open {
  background: url('http://artslondon.github.io/beta/assets/img/sprite/ui-icons-s169e55c59f.png') no-repeat;
}

/* line 60, ../../../../../../.rvm/gems/ruby-1.8.7-p371/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.ui-icons-expandable-closed {
  background-position: 0 0;
}

/* line 60, ../../../../../../.rvm/gems/ruby-1.8.7-p371/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.ui-icons-expandable-open {
  background-position: 0 -16px;
}

/* line 10, ../../styles/globals/_sprites.scss */
.ui-expandable .ui-widget-header .ui-icon.icon-closed {
  background-position: 0 0;
}

/* line 14, ../../styles/globals/_sprites.scss */
.ui-expandable .ui-widget-header .ui-icon.icon-open {
  background-position: 0 0;
}

/* ::Grid styles - using CSS files css/grid and css/grid-feature */
/* ------------------------------------------------------------ */
/* line 29, ../../styles/custom/camberwell.scss */
.slabtexted .slabtext {
  display: -moz-inline-box;
  display: inline-block;
  white-space: nowrap;
}

/* line 35, ../../styles/custom/camberwell.scss */
.slabtextinactive .slabtext {
  display: inline;
  white-space: normal;
  font-size: 1em !important;
  letter-spacing: inherit !important;
  word-spacing: inherit !important;
  *letter-spacing: 0 !important;
  *word-spacing: 0 !important;
}

/* line 45, ../../styles/custom/camberwell.scss */
.slabtextdone .slabtext {
  display: block;
}

/* line 61, ../../styles/custom/camberwell.scss */
.camberwell .global-college-links ul li a {
  color: black;
}
/* line 66, ../../styles/custom/camberwell.scss */
.camberwell ul {
  margin-left: 0;
  padding-left: 0;
}
/* line 71, ../../styles/custom/camberwell.scss */
.camberwell h1, .camberwell h2, .camberwell h3, .camberwell h4, .camberwell h5 {
  font-family: "Brandon Text", Helvetica, Arial, sans-serif;
  font-weight: bold;
}
/* line 79, ../../styles/custom/camberwell.scss */
.camberwell .cw-hide {
  display: none !important;
}
/* line 83, ../../styles/custom/camberwell.scss */
.camberwell .cw-heading {
  padding-top: 0.375em;
  border-top: solid 12px #4a97dd;
  color: #5ac882;
  font-size: 2.25em;
  line-height: 1.16667em;
  width: 100%;
}
/* line 91, ../../styles/custom/camberwell.scss */
.camberwell .cw-heading a {
  border-bottom: none;
}
/* line 99, ../../styles/custom/camberwell.scss */
.camberwell .cw-small-heading {
  font-family: "Swiss 721", Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 16px;
  font-weight: bold;
  color: #5ac882;
}
/* line 110, ../../styles/custom/camberwell.scss */
.camberwell .cw-courses-heading {
  font-size: 4.875em;
  line-height: 1.07692em;
  color: #1f405d;
}
/* line 116, ../../styles/custom/camberwell.scss */
.camberwell .cw-course-title {
  padding-top: 0.375em;
  margin-bottom: 1.5em;
  border-top: solid 12px #4a97dd;
  color: #1f405d;
  font-size: 2.625em;
  line-height: 1.14286em;
  width: 100%;
}
/* line 125, ../../styles/custom/camberwell.scss */
.camberwell .cw-course-title a {
  border-bottom: none;
}
/* line 133, ../../styles/custom/camberwell.scss */
.camberwell .cw-course-list {
  color: #1f405d;
  font-size: 1.8125em;
  line-height: 1.24138em;
}
/* line 139, ../../styles/custom/camberwell.scss */
.camberwell a {
  color: #5ac882;
  text-decoration: none;
  border-bottom: solid 1px #f2f2f2;
}
/* line 146, ../../styles/custom/camberwell.scss */
.camberwell a.with-arrow:after {
  content: "&rarr;";
  color: #4a97dd;
}
/* line 155, ../../styles/custom/camberwell.scss */
.camberwell .header-box {
  margin-top: 1.5em;
  display: block;
  float: left;
  margin-left: 0%;
  margin-right: -100%;
  width: 48.91355%;
  background-color: #4a97dd;
  max-height: 100%;
  height: auto;
  display: -webkit-flex;
  display: -moz-flex;
  display: flex;
  -webkit-align-items: center;
  -moz-align-items: center;
  align-items: center;
}
@media only screen and (max-width: 599px) {
  /* line 155, ../../styles/custom/camberwell.scss */
  .camberwell .header-box {
    display: none;
  }
}
/* line 174, ../../styles/custom/camberwell.scss */
.camberwell .box-header {
  text-align: center;
  color: white;
  width: 100%;
  margin: 0 auto;
  float: none;
  font-size: 4.125em;
  line-height: 1.09091em;
}
/* line 185, ../../styles/custom/camberwell.scss */
.camberwell .top-slider {
  display: block;
  float: left;
  margin-left: 45.03425%;
  margin-right: -100%;
  width: 54.91366%;
  padding-left: 2.5%;
  margin-top: 1.5em;
}
/* line 193, ../../styles/custom/camberwell.scss */
.camberwell .top-slider img {
  width: 100%;
  height: auto;
}
@media only screen and (max-width: 599px) {
  /* line 185, ../../styles/custom/camberwell.scss */
  .camberwell .top-slider {
    clear: both;
    display: block;
    float: left;
    margin-left: 0;
    width: 100%;
    padding-left: 0;
  }
}
/* line 205, ../../styles/custom/camberwell.scss */
.camberwell .sidebar {
  display: block;
  float: left;
  margin-left: 0%;
  margin-right: -100%;
  width: 23.39636%;
  margin-top: 2.625em;
  clear: left;
}
/* line 212, ../../styles/custom/camberwell.scss */
.camberwell .sidebar h2 {
  padding: 5px;
  margin-top: 0.375em;
  padding-top: 0.75em;
  padding-bottom: 0.75em;
  background: #4a97dd;
  /* The Fallback */
  background: rgba(74, 151, 221, 0.2);
  color: black;
  border-bottom: none;
  text-indent: 10px;
  font-size: 0.875em;
  line-height: 1.28571em;
}
/* line 226, ../../styles/custom/camberwell.scss */
.camberwell .sidebar ul {
  font-size: 0.875em;
  line-height: 1.28571em;
  list-style-type: none;
}
/* line 231, ../../styles/custom/camberwell.scss */
.camberwell .sidebar ul li {
  padding-top: 0.375em;
  border-bottom: solid 1px #dbdbdb;
  text-indent: 10px;
  padding: 5px;
}
/* line 244, ../../styles/custom/camberwell.scss */
.camberwell .sidebar ul li:nth-of-type(1) {
  padding-top: 1.5em;
}
/* line 248, ../../styles/custom/camberwell.scss */
.camberwell .sidebar ul li a {
  font-weight: normal;
  color: black;
  font-size: 0.875em;
  line-height: 1.28571em;
  border-bottom: none;
}
@media only screen and (min-width: 600px) and (max-width: 959px) {
  /* line 205, ../../styles/custom/camberwell.scss */
  .camberwell .sidebar {
    display: none;
  }
}
@media only screen and (max-width: 599px) {
  /* line 205, ../../styles/custom/camberwell.scss */
  .camberwell .sidebar {
    display: none;
  }
}
/* line 272, ../../styles/custom/camberwell.scss */
.camberwell .course-info-container {
  display: block;
  float: left;
  margin-left: 25.89636%;
  margin-right: -100%;
  width: 74.05155%;
  margin-top: 3em;
  margin-bottom: 5.625em;
}
@media only screen and (min-width: 600px) and (max-width: 959px) {
  /* line 272, ../../styles/custom/camberwell.scss */
  .camberwell .course-info-container {
    clear: both;
    display: block;
    float: left;
    margin-left: 0;
    width: 100%;
  }
}
@media only screen and (max-width: 599px) {
  /* line 272, ../../styles/custom/camberwell.scss */
  .camberwell .course-info-container {
    clear: both;
    display: block;
    float: left;
    margin-left: 0;
    width: 100%;
  }
}
/* line 288, ../../styles/custom/camberwell.scss */
.camberwell .course-info-container .cw-heading {
  margin-top: 0;
  margin-bottom: 1.5em;
}
/* line 292, ../../styles/custom/camberwell.scss */
.camberwell .course-info-container .intro-text {
  display: block;
  float: left;
  margin-left: 0%;
  margin-right: -100%;
  width: 48.31199%;
  padding-top: 0;
}
/* line 299, ../../styles/custom/camberwell.scss */
.camberwell .course-info-container img {
  display: block;
  float: left;
  margin-left: 51.68801%;
  margin-right: -100%;
  width: 48.31199%;
}
/* line 305, ../../styles/custom/camberwell.scss */
.camberwell .lower1-container {
  clear: left;
}
/* line 308, ../../styles/custom/camberwell.scss */
.camberwell .lower1-container a {
  border-bottom: none;
}
/* line 313, ../../styles/custom/camberwell.scss */
.camberwell .cw-experience {
  padding-top: 1.5em;
  display: block;
  float: left;
  margin-left: 0%;
  margin-right: -100%;
  width: 36.15496%;
}
/* line 318, ../../styles/custom/camberwell.scss */
.camberwell .cw-experience h2 {
  margin-bottom: 3em;
}
/* line 322, ../../styles/custom/camberwell.scss */
.camberwell .cw-experience ul {
  list-style-type: none;
}
/* line 324, ../../styles/custom/camberwell.scss */
.camberwell .cw-experience ul li {
  float: none;
}
/* line 326, ../../styles/custom/camberwell.scss */
.camberwell .cw-experience ul li img {
  margin-bottom: 1.5em;
  border-bottom: none;
}
@media only screen and (min-width: 600px) and (max-width: 959px) {
  /* line 313, ../../styles/custom/camberwell.scss */
  .camberwell .cw-experience {
    display: block;
    float: left;
    margin-left: 26.32865%;
    margin-right: -100%;
    width: 47.72534%;
    float: none;
  }
}
@media only screen and (max-width: 599px) {
  /* line 313, ../../styles/custom/camberwell.scss */
  .camberwell .cw-experience {
    clear: both;
    display: block;
    float: left;
    margin-left: 0;
    width: 100%;
  }
}
/* line 348, ../../styles/custom/camberwell.scss */
.camberwell .student-profiles {
  padding-top: 1.5em;
  display: block;
  float: left;
  margin-left: 45.03425%;
  margin-right: -100%;
  width: 29.39648%;
}
/* line 353, ../../styles/custom/camberwell.scss */
.camberwell .student-profiles h2 {
  margin-bottom: 3em;
}
/* line 356, ../../styles/custom/camberwell.scss */
.camberwell .student-profiles ul {
  list-style-type: none;
  float: none;
  display: block;
  float: left;
  margin-left: 0%;
  margin-right: -100%;
  width: 34.89735%;
}
/* line 362, ../../styles/custom/camberwell.scss */
.camberwell .student-profiles ul li img {
  margin-bottom: 1.5em;
}
@media only screen and (min-width: 600px) and (max-width: 959px) {
  /* line 356, ../../styles/custom/camberwell.scss */
  .camberwell .student-profiles ul {
    display: block;
    float: left;
    margin-left: 0%;
    margin-right: -100%;
    width: 45.80935%;
    float: none;
  }
}
@media only screen and (max-width: 599px) {
  /* line 356, ../../styles/custom/camberwell.scss */
  .camberwell .student-profiles ul {
    display: block;
    float: left;
    margin-left: 0%;
    margin-right: -100%;
    width: 47.96152%;
  }
}
/* line 377, ../../styles/custom/camberwell.scss */
.camberwell .student-profiles ul:nth-child(2) {
  list-style-type: none;
  display: block;
  float: left;
  margin-left: 43.40177%;
  margin-right: -100%;
  width: 34.89735%;
}
/* line 381, ../../styles/custom/camberwell.scss */
.camberwell .student-profiles ul:nth-child(2) li {
  float: none;
}
/* line 383, ../../styles/custom/camberwell.scss */
.camberwell .student-profiles ul:nth-child(2) li img {
  margin-bottom: 1.5em;
}
@media only screen and (min-width: 600px) and (max-width: 959px) {
  /* line 377, ../../styles/custom/camberwell.scss */
  .camberwell .student-profiles ul:nth-child(2) {
    display: block;
    float: left;
    margin-left: 54.19065%;
    margin-right: -100%;
    width: 45.80935%;
  }
}
@media only screen and (max-width: 599px) {
  /* line 377, ../../styles/custom/camberwell.scss */
  .camberwell .student-profiles ul:nth-child(2) {
    display: block;
    float: left;
    margin-left: 51.71152%;
    margin-right: -100%;
    width: 48.13223%;
  }
}
@media only screen and (min-width: 600px) and (max-width: 959px) {
  /* line 348, ../../styles/custom/camberwell.scss */
  .camberwell .student-profiles {
    display: block;
    float: left;
    margin-left: 26.32865%;
    margin-right: -100%;
    width: 47.72534%;
    float: none;
  }
}
@media only screen and (max-width: 599px) {
  /* line 348, ../../styles/custom/camberwell.scss */
  .camberwell .student-profiles {
    clear: both;
    display: block;
    float: left;
    margin-left: 0;
    width: 100%;
  }
}
/* line 412, ../../styles/custom/camberwell.scss */
.camberwell .alumni {
  padding-top: 1.5em;
  display: block;
  float: left;
  margin-left: 76.93073%;
  margin-right: -100%;
  width: 23.01718%;
}
/* line 418, ../../styles/custom/camberwell.scss */
.camberwell .alumni h2 {
  margin-bottom: 3em;
}
/* line 422, ../../styles/custom/camberwell.scss */
.camberwell .alumni ul {
  list-style-type: none;
  float: none;
}
/* line 426, ../../styles/custom/camberwell.scss */
.camberwell .alumni ul li img {
  margin-bottom: 1.5em;
}
@media only screen and (min-width: 600px) and (max-width: 959px) {
  /* line 412, ../../styles/custom/camberwell.scss */
  .camberwell .alumni {
    display: block;
    float: left;
    margin-left: 26.32865%;
    margin-right: -100%;
    width: 47.72534%;
  }
  /* line 435, ../../styles/custom/camberwell.scss */
  .camberwell .alumni ul li {
    display: block;
    float: left;
    margin-left: 0%;
    margin-right: -100%;
    width: 45.80935%;
  }
  /* line 439, ../../styles/custom/camberwell.scss */
  .camberwell .alumni ul li:nth-child(even) {
    display: block;
    float: left;
    margin-left: 54.19065%;
    margin-right: -100%;
    width: 45.80935%;
  }
}
@media only screen and (max-width: 599px) {
  /* line 412, ../../styles/custom/camberwell.scss */
  .camberwell .alumni {
    clear: both;
    display: block;
    float: left;
    margin-left: 0;
    width: 100%;
  }
  /* line 448, ../../styles/custom/camberwell.scss */
  .camberwell .alumni ul li {
    display: block;
    float: left;
    margin-left: 0%;
    margin-right: -100%;
    width: 47.96152%;
  }
  /* line 452, ../../styles/custom/camberwell.scss */
  .camberwell .alumni ul li:nth-child(even) {
    display: block;
    float: left;
    margin-left: 51.71152%;
    margin-right: -100%;
    width: 48.13223%;
  }
}
/* line 461, ../../styles/custom/camberwell.scss */
.camberwell .lower2-container {
  clear: left;
}
/* line 464, ../../styles/custom/camberwell.scss */
.camberwell .courses-by-sub-header {
  display: block;
  float: left;
  margin-left: 6.75848%;
  margin-right: -100%;
  width: 61.29296%;
}
@media only screen and (min-width: 600px) and (max-width: 959px) {
  /* line 464, ../../styles/custom/camberwell.scss */
  .camberwell .courses-by-sub-header {
    display: block;
    float: left;
    margin-left: 0%;
    margin-right: -100%;
    width: 86.98533%;
  }
}
@media only screen and (max-width: 599px) {
  /* line 464, ../../styles/custom/camberwell.scss */
  .camberwell .courses-by-sub-header {
    clear: both;
    display: block;
    float: left;
    margin-left: 0;
    width: 100%;
  }
}
/* line 480, ../../styles/custom/camberwell.scss */
.camberwell .lower3-container {
  clear: left;
  *zoom: 1;
  padding-top: 1.5em;
}
/* line 281, ../../styles/globals/_mixins.scss */
.camberwell .lower3-container:before, .camberwell .lower3-container:after {
  content: " ";
  display: table;
}
/* line 282, ../../styles/globals/_mixins.scss */
.camberwell .lower3-container:after {
  clear: both;
}
/* line 488, ../../styles/custom/camberwell.scss */
.camberwell .lower3-container ul.col1 {
  display: block;
  float: left;
  margin-left: 25.89636%;
  margin-right: -100%;
  width: 29.39648%;
  list-style-type: none;
}
/* line 492, ../../styles/custom/camberwell.scss */
.camberwell .lower3-container ul.col1 li {
  clear: left;
  list-style-type: none;
  margin-bottom: 2.625em;
}
/* line 498, ../../styles/custom/camberwell.scss */
.camberwell .lower3-container ul.col1 li img {
  margin-bottom: 2.625em;
  clear: left;
}
/* line 504, ../../styles/custom/camberwell.scss */
.camberwell .lower3-container ul.col1 li a div {
  position: relative;
  float: left;
  overflow: hidden;
  *zoom: 1;
}
/* line 281, ../../styles/globals/_mixins.scss */
.camberwell .lower3-container ul.col1 li a div:before, .camberwell .lower3-container ul.col1 li a div:after {
  content: " ";
  display: table;
}
/* line 282, ../../styles/globals/_mixins.scss */
.camberwell .lower3-container ul.col1 li a div:after {
  clear: both;
}
/* line 510, ../../styles/custom/camberwell.scss */
.camberwell .lower3-container ul.col1 li a div div {
  position: absolute;
  left: 5%;
  top: 5%;
  right: 5%;
  bottom: 17%;
  background: #4a97dd;
  /* The Fallback */
  background: rgba(74, 151, 221, 0.4);
  text-align: center;
  opacity: 0;
  -webkit-transition: all 0.2s ease-in 300ms ease-out;
  -moz-transition: all 0.2s ease-in 300ms ease-out;
  transition: all 0.2s ease-in 300ms ease-out;
}
/* line 521, ../../styles/custom/camberwell.scss */
.camberwell .lower3-container ul.col1 li a div div h3 {
  width: 100%;
  color: #fff;
  padding: 0 10px;
  font-size: 1.125em;
  line-height: 1.33333em;
}
/* line 531, ../../styles/custom/camberwell.scss */
.camberwell .lower3-container ul.col1 li a:hover div div {
  opacity: 1;
}
@media only screen and (min-width: 600px) and (max-width: 959px) {
  /* line 488, ../../styles/custom/camberwell.scss */
  .camberwell .lower3-container ul.col1 {
    display: block;
    float: left;
    margin-left: 13.39732%;
    margin-right: -100%;
    width: 34.79401%;
  }
}
@media only screen and (max-width: 599px) {
  /* line 488, ../../styles/custom/camberwell.scss */
  .camberwell .lower3-container ul.col1 {
    clear: both;
    display: block;
    float: left;
    margin-left: 0;
    width: 100%;
  }
}
/* line 550, ../../styles/custom/camberwell.scss */
.camberwell .lower3-container ul.col2 {
  display: block;
  float: left;
  margin-left: 64.17214%;
  margin-right: -100%;
  width: 29.39648%;
  list-style-type: none;
}
/* line 554, ../../styles/custom/camberwell.scss */
.camberwell .lower3-container ul.col2 li {
  clear: left;
  list-style-type: none;
  margin-bottom: 2.625em;
  position: relative;
  float: left;
  overflow: hidden;
}
/* line 562, ../../styles/custom/camberwell.scss */
.camberwell .lower3-container ul.col2 li img {
  clear: left;
  margin-bottom: 2.625em;
}
/* line 567, ../../styles/custom/camberwell.scss */
.camberwell .lower3-container ul.col2 li a div {
  position: relative;
  float: left;
  overflow: hidden;
  *zoom: 1;
}
/* line 281, ../../styles/globals/_mixins.scss */
.camberwell .lower3-container ul.col2 li a div:before, .camberwell .lower3-container ul.col2 li a div:after {
  content: " ";
  display: table;
}
/* line 282, ../../styles/globals/_mixins.scss */
.camberwell .lower3-container ul.col2 li a div:after {
  clear: both;
}
/* line 573, ../../styles/custom/camberwell.scss */
.camberwell .lower3-container ul.col2 li a div div {
  position: absolute;
  left: 5%;
  top: 5%;
  right: 5%;
  bottom: 17%;
  background: #4a97dd;
  /* The Fallback */
  background: rgba(74, 151, 221, 0.4);
  text-align: center;
  opacity: 0;
  -webkit-transition: all 0.2s ease-in 300ms ease-out;
  -moz-transition: all 0.2s ease-in 300ms ease-out;
  transition: all 0.2s ease-in 300ms ease-out;
}
/* line 584, ../../styles/custom/camberwell.scss */
.camberwell .lower3-container ul.col2 li a div div h3 {
  width: 100%;
  color: #fff;
  padding: 0 10px;
  font-size: 1.125em;
  line-height: 1.33333em;
}
/* line 594, ../../styles/custom/camberwell.scss */
.camberwell .lower3-container ul.col2 li a:hover div div {
  opacity: 1;
}
@media only screen and (min-width: 600px) and (max-width: 959px) {
  /* line 550, ../../styles/custom/camberwell.scss */
  .camberwell .lower3-container ul.col2 {
    display: block;
    float: left;
    margin-left: 52.19132%;
    margin-right: -100%;
    width: 34.79401%;
  }
}
@media only screen and (max-width: 599px) {
  /* line 550, ../../styles/custom/camberwell.scss */
  .camberwell .lower3-container ul.col2 {
    clear: both;
    display: block;
    float: left;
    margin-left: 0;
    width: 100%;
  }
}
/* line 609, ../../styles/custom/camberwell.scss */
.camberwell .news {
  padding-top: 1.5em;
  display: block;
  float: left;
  margin-left: 25.89636%;
  margin-right: -100%;
  width: 29.39648%;
}
/* line 613, ../../styles/custom/camberwell.scss */
.camberwell .news ul {
  list-style-type: none;
}
/* line 617, ../../styles/custom/camberwell.scss */
.camberwell .news ul li img {
  margin-bottom: 1.5em;
}
/* line 619, ../../styles/custom/camberwell.scss */
.camberwell .news ul li a {
  border-bottom: none;
}
@media only screen and (min-width: 600px) and (max-width: 959px) {
  /* line 609, ../../styles/custom/camberwell.scss */
  .camberwell .news {
    display: block;
    float: left;
    margin-left: 13.39732%;
    margin-right: -100%;
    width: 34.79401%;
  }
}
@media only screen and (max-width: 599px) {
  /* line 609, ../../styles/custom/camberwell.scss */
  .camberwell .news {
    clear: both;
    display: block;
    float: left;
    margin-left: 0;
    width: 100%;
  }
  /* line 647, ../../styles/custom/camberwell.scss */
  .camberwell .news h3 {
    color: #5ac882;
  }
}
/* line 656, ../../styles/custom/camberwell.scss */
.camberwell .events {
  padding-top: 1.5em;
  display: block;
  float: left;
  margin-left: 64.17214%;
  margin-right: -100%;
  width: 29.39648%;
}
/* line 660, ../../styles/custom/camberwell.scss */
.camberwell .events ul {
  list-style-type: none;
}
/* line 663, ../../styles/custom/camberwell.scss */
.camberwell .events ul li img {
  margin-bottom: 1.5em;
}
/* line 665, ../../styles/custom/camberwell.scss */
.camberwell .events ul li a {
  border-bottom: none;
}
/* line 667, ../../styles/custom/camberwell.scss */
.camberwell .events ul li h3 {
  font-family: "Swiss 721", Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 16px;
  font-weight: bold;
  color: #5ac882;
}
@media only screen and (min-width: 600px) and (max-width: 959px) {
  /* line 656, ../../styles/custom/camberwell.scss */
  .camberwell .events {
    display: block;
    float: left;
    margin-left: 52.19132%;
    margin-right: -100%;
    width: 34.79401%;
  }
}
@media only screen and (max-width: 599px) {
  /* line 656, ../../styles/custom/camberwell.scss */
  .camberwell .events {
    clear: both;
    display: block;
    float: left;
    margin-left: 0;
    width: 100%;
  }
}
/* line 689, ../../styles/custom/camberwell.scss */
.camberwell .related-content {
  margin-top: 1.5em;
  display: block;
  float: left;
  margin-left: 6.75848%;
  margin-right: -100%;
  width: 86.81015%;
  *zoom: 1;
}
/* line 281, ../../styles/globals/_mixins.scss */
.camberwell .related-content:before, .camberwell .related-content:after {
  content: " ";
  display: table;
}
/* line 282, ../../styles/globals/_mixins.scss */
.camberwell .related-content:after {
  clear: both;
}
/* line 694, ../../styles/custom/camberwell.scss */
.camberwell .related-content h2.cw-heading {
  margin-bottom: 3em;
}
/* line 704, ../../styles/custom/camberwell.scss */
.camberwell .rc-1 {
  padding-top: 1.5em;
  display: block;
  float: left;
  margin-left: 0%;
  margin-right: -100%;
  width: 26.51439%;
}
@media only screen and (min-width: 600px) and (max-width: 959px) {
  /* line 704, ../../styles/custom/camberwell.scss */
  .camberwell .rc-1 {
    display: block;
    float: left;
    margin-left: 13.39732%;
    margin-right: -100%;
    width: 73.58801%;
    float: none;
  }
}
@media only screen and (max-width: 599px) {
  /* line 704, ../../styles/custom/camberwell.scss */
  .camberwell .rc-1 {
    clear: both;
    display: block;
    float: left;
    margin-left: 0;
    width: 100%;
    float: none;
  }
}
/* line 720, ../../styles/custom/camberwell.scss */
.camberwell .rc-2 {
  padding-top: 1.5em;
  display: block;
  float: left;
  margin-left: 36.7428%;
  margin-right: -100%;
  width: 26.51439%;
}
@media only screen and (min-width: 600px) and (max-width: 959px) {
  /* line 720, ../../styles/custom/camberwell.scss */
  .camberwell .rc-2 {
    display: block;
    float: left;
    margin-left: 13.39732%;
    margin-right: -100%;
    width: 73.58801%;
    float: none;
  }
}
@media only screen and (max-width: 599px) {
  /* line 720, ../../styles/custom/camberwell.scss */
  .camberwell .rc-2 {
    clear: both;
    display: block;
    float: left;
    margin-left: 0;
    width: 100%;
    float: none;
  }
}
/* line 735, ../../styles/custom/camberwell.scss */
.camberwell .rc-3 {
  padding-top: 1.5em;
  display: block;
  float: left;
  margin-left: 73.48561%;
  margin-right: -100%;
  width: 26.51439%;
}
@media only screen and (min-width: 600px) and (max-width: 959px) {
  /* line 743, ../../styles/custom/camberwell.scss */
  .camberwell h2.cw-heading {
    margin-bottom: 0.375em;
  }
  /* line 745, ../../styles/custom/camberwell.scss */
  .camberwell .rc1, .camberwell .rc-2, .camberwell .rc-3 {
    display: block;
    float: left;
    margin-left: 13.39732%;
    margin-right: -100%;
    width: 73.58801%;
    float: none;
  }
}
@media only screen and (max-width: 599px) {
  /* line 753, ../../styles/custom/camberwell.scss */
  .camberwell h2.cw-heading {
    margin-bottom: 0.375em;
  }
  /* line 755, ../../styles/custom/camberwell.scss */
  .camberwell .rc1, .camberwell .rc-2, .camberwell .rc-3 {
    clear: both;
    display: block;
    float: left;
    margin-left: 0;
    width: 100%;
    float: none;
  }
}

/* line 763, ../../styles/custom/camberwell.scss */
.cw-footer {
  width: 100%;
  background-color: #333333;
  color: white;
}
/* line 770, ../../styles/custom/camberwell.scss */
.cw-footer a {
  color: white;
  text-decoration: none;
  border-bottom: none;
}
/* line 776, ../../styles/custom/camberwell.scss */
.cw-footer h3 {
  padding-top: 0.375em;
  border-top: solid 12px white;
  color: white;
  font-size: 2.25em;
  line-height: 1.16667em;
  width: 100%;
}
/* line 783, ../../styles/custom/camberwell.scss */
.cw-footer h3 a {
  border-bottom: solid 1px #f2f2f2;
}
/* line 787, ../../styles/custom/camberwell.scss */
.cw-footer .contact-us {
  display: block;
  float: left;
  margin-left: 0%;
  margin-right: -100%;
  width: 23.39636%;
}
/* line 792, ../../styles/custom/camberwell.scss */
.cw-footer .contact-us ul {
  list-style-type: none;
  width: 100%;
}
@media only screen and (min-width: 600px) and (max-width: 959px) {
  /* line 787, ../../styles/custom/camberwell.scss */
  .cw-footer .contact-us {
    display: block;
    float: left;
    margin-left: 13.39732%;
    margin-right: -100%;
    width: 73.58801%;
  }
}
@media only screen and (max-width: 599px) {
  /* line 787, ../../styles/custom/camberwell.scss */
  .cw-footer .contact-us {
    clear: both;
    display: block;
    float: left;
    margin-left: 0;
    width: 100%;
  }
}
/* line 808, ../../styles/custom/camberwell.scss */
.cw-footer .get-prospectus {
  display: block;
  float: left;
  margin-left: 32.27566%;
  margin-right: -100%;
  width: 29.39648%;
}
/* line 811, ../../styles/custom/camberwell.scss */
.cw-footer .get-prospectus ul {
  list-style-type: none;
}
/* line 816, ../../styles/custom/camberwell.scss */
.cw-footer .socials {
  display: block;
  float: left;
  margin-left: 70.55144%;
  margin-right: -100%;
  width: 29.39648%;
}
/* line 818, ../../styles/custom/camberwell.scss */
.cw-footer .socials ul {
  list-style-type: none;
}
/* line 820, ../../styles/custom/camberwell.scss */
.cw-footer .socials ul li {
  display: inline-block;
}
@media only screen and (min-width: 600px) and (max-width: 959px) {
  /* line 763, ../../styles/custom/camberwell.scss */
  .cw-footer {
    display: block;
    float: left;
    margin-left: 13.39732%;
    margin-right: -100%;
    width: 73.58801%;
  }
}
@media only screen and (max-width: 599px) {
  /* line 763, ../../styles/custom/camberwell.scss */
  .cw-footer {
    clear: both;
    display: block;
    float: left;
    margin-left: 0;
    width: 100%;
  }
}

/* line 836, ../../styles/custom/camberwell.scss */
.open-days-container {
  *zoom: 1;
  padding-top: 1.5em;
  padding-bottom: 1.5em;
  width: 100%;
  min-height: 465px;
  height: auto;
  float: left;
  background-color: #f2f2f2;
  position: relative;
}
/* line 281, ../../styles/globals/_mixins.scss */
.open-days-container:before, .open-days-container:after {
  content: " ";
  display: table;
}
/* line 282, ../../styles/globals/_mixins.scss */
.open-days-container:after {
  clear: both;
}
/* line 860, ../../styles/custom/camberwell.scss */
.open-days-container .c-wrap {
  max-width: 800px;
  position: relative;
  margin-left: auto;
  margin-right: auto;
}
@media only screen and (min-width: 600px) and (max-width: 959px) {
  /* line 860, ../../styles/custom/camberwell.scss */
  .open-days-container .c-wrap {
    max-width: 80%;
    margin-left: auto;
    margin-right: auto;
  }
}
@media only screen and (max-width: 599px) {
  /* line 860, ../../styles/custom/camberwell.scss */
  .open-days-container .c-wrap {
    max-width: 90%;
    margin-left: auto;
    margin-right: auto;
  }
}
/* line 881, ../../styles/custom/camberwell.scss */
.open-days-container .circle-callout {
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  background: #5ac882;
  /* The Fallback */
  background: rgba(90, 200, 130, 0.8);
  position: absolute;
  left: 0;
  max-width: 400px;
  max-height: 400px;
  text-align: center;
  height: 400px;
  width: 400px;
  padding-top: 120px;
  color: white;
  box-sizing: border-box;
}
/* line 908, ../../styles/custom/camberwell.scss */
.open-days-container .circle-callout h2 {
  font-size: 2.25em;
  line-height: 1.16667em;
  max-width: 300px;
  margin: 0 auto;
  text-align: center;
  padding-bottom: 0.75em;
}
/* line 916, ../../styles/custom/camberwell.scss */
.open-days-container .circle-callout a {
  font-size: 0.875em;
  line-height: 1.28571em;
  font-weight: normal;
  text-decoration: none;
  border-bottom: none;
  color: white;
}
/* line 924, ../../styles/custom/camberwell.scss */
.open-days-container .circle-callout a:after {
  content: "→";
  color: white;
}
/* line 929, ../../styles/custom/camberwell.scss */
.border-radius .open-days-container .circle-callout {
  background: url("../../img/camberwell/green-circle-bg.png") no-repeat;
  background-position: center;
}
@media only screen and (min-width: 600px) and (max-width: 959px) {
  /* line 881, ../../styles/custom/camberwell.scss */
  .open-days-container .circle-callout {
    position: static;
    margin-left: auto;
    margin-right: auto;
    opacity: 1 !important;
  }
}
@media only screen and (max-width: 599px) {
  /* line 881, ../../styles/custom/camberwell.scss */
  .open-days-container .circle-callout {
    position: static;
    margin-left: auto;
    margin-right: auto;
    opacity: 1 !important;
  }
}
/* line 955, ../../styles/custom/camberwell.scss */
.open-days-container .circle-callout2 {
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  background: #4a97dd;
  /* The Fallback */
  background: rgba(74, 151, 221, 0.8);
  position: absolute;
  right: 0;
  max-width: 400px;
  max-height: 400px;
  height: 400px;
  width: 400px;
  padding-top: 120px;
  text-align: center;
  color: white;
  box-sizing: border-box;
}
/* line 978, ../../styles/custom/camberwell.scss */
.open-days-container .circle-callout2 h2 {
  font-size: 2.25em;
  line-height: 1.16667em;
  max-width: 300px;
  margin: 0 auto;
  text-align: center;
  padding-bottom: 0.75em;
}
/* line 986, ../../styles/custom/camberwell.scss */
.open-days-container .circle-callout2 a {
  font-size: 0.875em;
  line-height: 1.28571em;
  font-weight: normal;
  color: white;
  text-decoration: none;
  border-bottom: none;
}
/* line 994, ../../styles/custom/camberwell.scss */
.open-days-container .circle-callout2 a:after {
  content: "→";
  color: white;
}
/* line 999, ../../styles/custom/camberwell.scss */
.border-radius .open-days-container .circle-callout2 {
  background: url "../../img/camberwell/blue-circle-bg.png" no-repeat;
  background-position: center;
}
@media only screen and (min-width: 600px) and (max-width: 959px) {
  /* line 955, ../../styles/custom/camberwell.scss */
  .open-days-container .circle-callout2 {
    position: static;
    margin-left: auto;
    margin-right: auto;
    margin-top: -40px;
    opacity: 1 !important;
  }
}
@media only screen and (max-width: 599px) {
  /* line 955, ../../styles/custom/camberwell.scss */
  .open-days-container .circle-callout2 {
    position: static;
    margin-left: auto;
    margin-right: auto;
    margin-top: -40px;
    opacity: 1 !important;
  }
}

/* line 1032, ../../styles/custom/camberwell.scss */
.slider-container {
  position: relative;
  top: 0;
  left: 0;
  max-width: 100%;
  height: 100%;
  *zoom: 1;
}
/* line 281, ../../styles/globals/_mixins.scss */
.slider-container:before, .slider-container:after {
  content: " ";
  display: table;
}
/* line 282, ../../styles/globals/_mixins.scss */
.slider-container:after {
  clear: both;
}

/* line 1042, ../../styles/custom/camberwell.scss */
.flex-direction-nav {
  z-index: 3;
}
/* line 1045, ../../styles/custom/camberwell.scss */
.flex-direction-nav .flex-next, .flex-direction-nav .flex-prev {
  border-bottom: none;
}
