/* line 2, ../../styles/plugins/_animation.scss */
.animated.hinge {
  -webkit-animation-duration: 2s;
  -moz-animation-duration: 2s;
  -ms-animation-duration: 2s;
  -o-animation-duration: 2s;
  animation-duration: 2s;
}

@-webkit-keyframes fadeInDown {
  /* line 3, ../../styles/plugins/_animation.scss */
  0% {
    opacity: 0;
    -webkit-transform: translateY(-20px);
  }

  /* line 6, ../../styles/plugins/_animation.scss */
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
  }
}

@-moz-keyframes fadeInDown {
  /* line 13, ../../styles/plugins/_animation.scss */
  0% {
    opacity: 0;
    -moz-transform: translateY(-20px);
  }

  /* line 18, ../../styles/plugins/_animation.scss */
  100% {
    opacity: 1;
    -moz-transform: translateY(0);
  }
}

@-o-keyframes fadeInDown {
  /* line 25, ../../styles/plugins/_animation.scss */
  0% {
    opacity: 0;
    -ms-transform: translateY(-20px);
  }

  /* line 30, ../../styles/plugins/_animation.scss */
  100% {
    opacity: 1;
    -ms-transform: translateY(0);
  }
}

@keyframes fadeInDown {
  /* line 37, ../../styles/plugins/_animation.scss */
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }

  /* line 42, ../../styles/plugins/_animation.scss */
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

/* line 14, ../../styles/custom/chelsea.scss */
.chelsea h1, .chelsea h2, .chelsea h3, .chelsea h4, .chelsea h5 {
  font-family: "Brandon Text", Helvetica, Arial, sans-serif;
  font-weight: bold;
}
/* line 19, ../../styles/custom/chelsea.scss */
.chelsea .sidebar {
  background: #fa756e;
  /* The Fallback */
  background: rgba(250, 117, 110, 0.3);
  padding-top: 0.75em;
  padding-bottom: 0.75em;
}
/* line 25, ../../styles/custom/chelsea.scss */
.chelsea .sidebar li {
  padding-top: 0.375em;
  padding-bottom: 0.375em;
  text-indent: 12px;
  border-bottom: 1px solid white;
}
/* line 32, ../../styles/custom/chelsea.scss */
.chelsea .sidebar li:last-of-type {
  border-bottom: 0;
}
/* line 36, ../../styles/custom/chelsea.scss */
.chelsea .border-top {
  border-top: 6px solid black;
}

/* line 42, ../../styles/custom/chelsea.scss */
.artist-portrait {
  margin-right: 20px;
}

/* line 49, ../../styles/custom/chelsea.scss */
.image-with-caption-right blockquote {
  border-left: none;
  border-bottom: 1px solid #c8c8c8;
  margin-left: 0;
  padding-left: 0;
}

/* line 57, ../../styles/custom/chelsea.scss */
.wide-span-quote {
  font-size: 2.125em;
  line-height: 1.23529em;
  margin-top: 4.5em;
  margin-bottom: 4.5em;
  font-style: normal;
  font-weight: bold;
  border: none;
}
