@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/prichardson\/Dropbox\/htdocs\/beta\/assets\/styles\/plugins\/_animation\.scss}line{font-family:\000032}}
.animated.hinge {
  -webkit-animation-duration: 2s;
  -moz-animation-duration: 2s;
  -ms-animation-duration: 2s;
  -o-animation-duration: 2s;
  animation-duration: 2s;
}

@-webkit-keyframes fadeInDown {
  /* line 3, ../../styles/plugins/_animation.scss */
  0% {
    opacity: 0;
    -webkit-transform: translateY(-20px);
  }

  /* line 6, ../../styles/plugins/_animation.scss */
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
  }
}

@-moz-keyframes fadeInDown {
  /* line 13, ../../styles/plugins/_animation.scss */
  0% {
    opacity: 0;
    -moz-transform: translateY(-20px);
  }

  /* line 18, ../../styles/plugins/_animation.scss */
  100% {
    opacity: 1;
    -moz-transform: translateY(0);
  }
}

@-o-keyframes fadeInDown {
  /* line 25, ../../styles/plugins/_animation.scss */
  0% {
    opacity: 0;
    -ms-transform: translateY(-20px);
  }

  /* line 30, ../../styles/plugins/_animation.scss */
  100% {
    opacity: 1;
    -ms-transform: translateY(0);
  }
}

@keyframes fadeInDown {
  /* line 37, ../../styles/plugins/_animation.scss */
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }

  /* line 42, ../../styles/plugins/_animation.scss */
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/prichardson\/Dropbox\/htdocs\/beta\/assets\/styles\/custom\/course-finder\.scss}line{font-family:\0000327}}
.search-results-wrap {
  *zoom: 1;
  background-color: #eeeeee;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/prichardson\/Dropbox\/htdocs\/beta\/assets\/styles\/globals\/_mixins\.scss}line{font-family:\00003282}}
.search-results-wrap:before, .search-results-wrap:after {
  content: " ";
  display: table;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/prichardson\/Dropbox\/htdocs\/beta\/assets\/styles\/globals\/_mixins\.scss}line{font-family:\00003283}}
.search-results-wrap:after {
  clear: both;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/prichardson\/Dropbox\/htdocs\/beta\/assets\/styles\/custom\/course-finder\.scss}line{font-family:\0000333}}
nav.filter-results {
  margin-top: 10.5em;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/prichardson\/Dropbox\/htdocs\/beta\/assets\/styles\/custom\/course-finder\.scss}line{font-family:\0000338}}
.search-results {
  margin-top: 5.25em;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/prichardson\/Dropbox\/htdocs\/beta\/assets\/styles\/custom\/course-finder\.scss}line{font-family:\0000341}}
.search-results h1 {
  font-size: 3.125em;
  line-height: 1.08em;
  margin-bottom: 2.625em;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/prichardson\/Dropbox\/htdocs\/beta\/assets\/styles\/custom\/course-finder\.scss}line{font-family:\0000348}}
.search-results-list > li {
  list-style: none;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/prichardson\/Dropbox\/htdocs\/beta\/assets\/styles\/custom\/course-finder\.scss}line{font-family:\0000359}}
.course-finder-input {
  max-width: 350px;
  width: auto;
  height: 70px;
  float: left;
  border: none;
  padding-left: 12px;
  font-size: 1em;
  line-height: 1.5em;
  margin-bottom: 1.5em;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/prichardson\/Dropbox\/htdocs\/beta\/assets\/styles\/custom\/course-finder\.scss}line{font-family:\0000373}}
input {
  -webkit-transition: -webkit-box-shadow 1s;
  -moz-transition: -moz-box-shadow 1s;
  -o-transition: -o-box-shadow 1s;
  transition: box-shadow 1s;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/prichardson\/Dropbox\/htdocs\/beta\/assets\/styles\/custom\/course-finder\.scss}line{font-family:\0000380}}
input:hover, input:focus {
  -moz-box-shadow: inset 0 0 4px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: inset 0 0 4px rgba(0, 0, 0, 0.2);
  box-shadow: inner 0 0 4px rgba(0, 0, 0, 0.2);
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/prichardson\/Dropbox\/htdocs\/beta\/assets\/styles\/custom\/course-finder\.scss}line{font-family:\0000387}}
.search-button {
  height: 70px;
  width: 70px;
  float: left;
  background-color: black;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/prichardson\/Dropbox\/htdocs\/beta\/assets\/styles\/custom\/course-finder\.scss}line{font-family:\0000394}}
.search-result-module {
  background-color: white;
  width: 100%;
  min-height: 150px;
  height: auto;
  padding: 24px;
  margin-bottom: 1.5em;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/prichardson\/Dropbox\/htdocs\/beta\/assets\/styles\/custom\/course-finder\.scss}line{font-family:\00003104}}
.course-details > h3 {
  color: black;
  font-weight: bold;
  font-size: 1em;
  line-height: 1.5em;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/prichardson\/Dropbox\/htdocs\/beta\/assets\/styles\/custom\/course-finder\.scss}line{font-family:\00003115}}
input:focus {
  outline: none;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/prichardson\/Dropbox\/htdocs\/beta\/assets\/styles\/custom\/course-finder\.scss}line{font-family:\00003119}}
.search-input-wrap {
  background: white;
  height: 60px;
  width: 100%;
  margin-bottom: 24px;
  border: 6px solid white;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/prichardson\/Dropbox\/htdocs\/beta\/assets\/styles\/custom\/course-finder\.scss}line{font-family:\00003127}}
.course-finder-input {
  max-width: 850px;
  min-width: 420px;
  height: 44px;
  margin-top: 3px;
  margin-bottom: 0;
  float: left;
  border: none;
  margin-left: 18px;
  border-left: 1px solid #DDDDDD;
  background-color: rgba(255, 255, 255, 0);
  box-shadow: none !important;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/prichardson\/Dropbox\/htdocs\/beta\/assets\/styles\/custom\/course-finder\.scss}line{font-family:\00003141}}
.course-finder-input::-webkit-input-placeholder {
  color: #c8c8c8;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/prichardson\/Dropbox\/htdocs\/beta\/assets\/styles\/custom\/course-finder\.scss}line{font-family:\00003145}}
.course-finder-input:-moz-placeholder {
  /* Firefox 18- */
  color: #c8c8c8;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/prichardson\/Dropbox\/htdocs\/beta\/assets\/styles\/custom\/course-finder\.scss}line{font-family:\00003149}}
.course-finder-input::-moz-placeholder {
  /* Firefox 19+ */
  color: #c8c8c8;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/prichardson\/Dropbox\/htdocs\/beta\/assets\/styles\/custom\/course-finder\.scss}line{font-family:\00003153}}
.course-finder-input:-ms-input-placeholder {
  color: #c8c8c8;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/prichardson\/Dropbox\/htdocs\/beta\/assets\/styles\/custom\/course-finder\.scss}line{font-family:\00003159}}
.search-link {
  background-color: black;
  height: 54px;
  width: 54px;
  display: block;
  float: right;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/prichardson\/Dropbox\/htdocs\/beta\/assets\/styles\/custom\/course-finder\.scss}line{font-family:\00003167}}
.search-link img {
  margin-top: -3px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/prichardson\/Dropbox\/htdocs\/beta\/assets\/styles\/custom\/course-finder\.scss}line{font-family:\00003172}}
.course-search-form {
  width: 100%;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/prichardson\/Dropbox\/htdocs\/beta\/assets\/styles\/custom\/course-finder\.scss}line{font-family:\00003178}}
input, .search-result-module, .search-input-wrap {
  -webkit-transition: -webkit-box-shadow 450ms;
  -moz-transition: -moz-box-shadow 450ms;
  -o-transition: -o-box-shadow 450ms;
  transition: border 450ms ease;
  border: 6px solid rgba(0, 0, 0, 0);
  cursor: pointer;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/prichardson\/Dropbox\/htdocs\/beta\/assets\/styles\/custom\/course-finder\.scss}line{font-family:\00003187}}
.search-input-wrap:hover, .search-inout-wrap:focus, .search-result-module:hover, .search-result-module:focus {
  /* -moz-box-shadow: inset 0 0 4px rgba(0,0,0,0.2); 
  -webkit-box-shadow: inset 0 0 4px rgba(0, 0, 0, 0.2); 
  box-shadow: inner 0 0 4px rgba(0, 0, 0, 0.2); */
  border: 6px solid #DDDDDD;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/prichardson\/Dropbox\/htdocs\/beta\/assets\/styles\/custom\/course-finder\.scss}line{font-family:\00003196}}
.arrow-next a {
  right: 0px;
  border-left: 20px solid #c8c8c8;
  border-top: 20px solid transparent;
  border-bottom: 20px solid transparent;
  border-right: 20px solid transparent;
  font-size: 0;
  line-height: 0;
  width: 0;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/prichardson\/Dropbox\/htdocs\/beta\/assets\/styles\/custom\/course-finder\.scss}line{font-family:\00003208}}
.arrow-next a {
  position: absolute;
  top: 45%;
  right: 50px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/prichardson\/Dropbox\/htdocs\/beta\/assets\/styles\/custom\/course-finder\.scss}line{font-family:\00003214}}
.arrow-next a::after {
  content: "";
  position: absolute;
  top: -20px;
  left: -21px;
  border-left: 20px solid #f2f2f2;
  border-top: 20px solid transparent;
  border-bottom: 20px solid transparent;
  border-right: 20px solid transparent;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/prichardson\/Dropbox\/htdocs\/beta\/assets\/styles\/custom\/course-finder\.scss}line{font-family:\00003226}}
.search-result-module {
  position: relative;
  padding-bottom: 60px;
  min-height: 138px;
  height: auto;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/prichardson\/Dropbox\/htdocs\/beta\/assets\/styles\/custom\/course-finder\.scss}line{font-family:\00003233}}
.course-title {
  text-decoration: underline;
  font-weight: bold;
  font-size: 22px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/prichardson\/Dropbox\/htdocs\/beta\/assets\/styles\/custom\/course-finder\.scss}line{font-family:\00003239}}
.course-description {
  width: 50%;
  float: left;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/prichardson\/Dropbox\/htdocs\/beta\/assets\/styles\/custom\/course-finder\.scss}line{font-family:\00003244}}
.description-label {
  position: relative;
  /* top: -30px; */
  left: 0;
  margin-bottom: 24px;
  font-size: 14px;
  font-weight: 300;
  display: none;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/prichardson\/Dropbox\/htdocs\/beta\/assets\/styles\/custom\/course-finder\.scss}line{font-family:\00003255}}
.enrolment-type {
  /* position: absolute;
   top: 25px;
   left:25px; */
  font-size: 14px;
  font-weight: 300;
  margin-bottom: 24px;
  display: none;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/prichardson\/Dropbox\/htdocs\/beta\/assets\/styles\/custom\/course-finder\.scss}line{font-family:\00003265}}
.college-name {
  position: absolute;
  bottom: 20px;
  left: 25px;
  font-size: 16px;
}
