<<<<<<< HEAD
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/amucklow\/Sites\/dev\/beta\/assets\/styles\/custom\/csm\.scss}line{font-family:\000035}}
=======
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/prichardson\/Dropbox\/htdocs\/beta\/assets\/styles\/custom\/csm\.scss}line{font-family:\000035}}
>>>>>>> 1260333779ae0f68f9cdcc356b1dc08926ad1c75
.remove-margin-bottom {
  margin-bottom: -4px;
}

<<<<<<< HEAD
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/amucklow\/Sites\/dev\/beta\/assets\/styles\/custom\/csm\.scss}line{font-family:\000039}}
=======
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/prichardson\/Dropbox\/htdocs\/beta\/assets\/styles\/custom\/csm\.scss}line{font-family:\000039}}
>>>>>>> 1260333779ae0f68f9cdcc356b1dc08926ad1c75
.image {
  position: relative;
  width: 100%;
  /* for IE 6 */
}
<<<<<<< HEAD
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/amucklow\/Sites\/dev\/beta\/assets\/styles\/custom\/csm\.scss}line{font-family:\0000312}}
=======
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/prichardson\/Dropbox\/htdocs\/beta\/assets\/styles\/custom\/csm\.scss}line{font-family:\0000312}}
>>>>>>> 1260333779ae0f68f9cdcc356b1dc08926ad1c75
.image p {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -10%;
  margin-left: -50%;
  width: 100%;
  text-align: center;
  font-style: italic;
  font-size: 100px;
}
<<<<<<< HEAD
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/amucklow\/Sites\/dev\/beta\/assets\/styles\/custom\/csm\.scss}line{font-family:\0000323}}
.image a {
  color: #D10000;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/amucklow\/Sites\/dev\/beta\/assets\/styles\/custom\/csm\.scss}line{font-family:\0000325}}
.image a:hover {
  color: #fff;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/amucklow\/Sites\/dev\/beta\/assets\/styles\/custom\/csm\.scss}line{font-family:\0000329}}
.image .hidelink {
  background: #D10000;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/amucklow\/Sites\/dev\/beta\/assets\/styles\/custom\/csm\.scss}line{font-family:\0000332}}
=======
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/prichardson\/Dropbox\/htdocs\/beta\/assets\/styles\/custom\/csm\.scss}line{font-family:\0000323}}
.image a {
  color: #D10000;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/prichardson\/Dropbox\/htdocs\/beta\/assets\/styles\/custom\/csm\.scss}line{font-family:\0000325}}
.image a:hover {
  color: #fff;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/prichardson\/Dropbox\/htdocs\/beta\/assets\/styles\/custom\/csm\.scss}line{font-family:\0000329}}
.image .hidelink {
  background: #D10000;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/prichardson\/Dropbox\/htdocs\/beta\/assets\/styles\/custom\/csm\.scss}line{font-family:\0000332}}
>>>>>>> 1260333779ae0f68f9cdcc356b1dc08926ad1c75
.image .rotate {
  /* Safari */
  -webkit-transform: rotate(90deg);
  /* Firefox */
  -moz-transform: rotate(90deg);
  /* IE */
  -ms-transform: rotate(90deg);
  /* Opera */
  -o-transform: rotate(90deg);
  /* Internet Explorer */
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
}
