@media only screen and (min-width: 600px) and (max-width: 959px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mac\/Dropbox\/htdocs\/beta\/assets\/styles\/custom\/lcc\.scss}line{font-family:\0000339}}
  .wrapper-d5-d16 {
    clear: both;
    display: block;
    float: left;
    margin-left: 0;
    width: 100%;
  }
}
@media only screen and (min-width: 960px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mac\/Dropbox\/htdocs\/beta\/assets\/styles\/custom\/lcc\.scss}line{font-family:\0000339}}
  .wrapper-d5-d16 {
    display: block;
    float: left;
    margin-left: 25.89636%;
    margin-right: -100%;
    width: 74.05155%;
  }
}
@media only screen and (min-width: 600px) and (max-width: 959px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mac\/Dropbox\/htdocs\/beta\/assets\/styles\/custom\/lcc\.scss}line{font-family:\0000349}}
  .wrapper-d5-d16 .left-col-span8 {
    clear: both;
    display: block;
    float: left;
    margin-left: 0;
    width: 100%;
  }
}
@media only screen and (min-width: 960px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mac\/Dropbox\/htdocs\/beta\/assets\/styles\/custom\/lcc\.scss}line{font-family:\0000349}}
  .wrapper-d5-d16 .left-col-span8 {
    display: block;
    float: left;
    margin-left: 0%;
    margin-right: -100%;
    width: 65.54132%;
  }
}

@media only screen and (min-width: 600px) and (max-width: 959px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mac\/Dropbox\/htdocs\/beta\/assets\/styles\/custom\/lcc\.scss}line{font-family:\0000371}}
  .wrapper-d3-d14 {
    clear: both;
    display: block;
    float: left;
    margin-left: 0;
    width: 100%;
  }
}
@media only screen and (min-width: 960px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mac\/Dropbox\/htdocs\/beta\/assets\/styles\/custom\/lcc\.scss}line{font-family:\0000371}}
  .wrapper-d3-d14 {
    display: block;
    float: left;
    margin-left: 13.13777%;
    margin-right: -100%;
    width: 74.05155%;
  }
}
