@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/amucklow\/Sites\/dev\/beta\/assets\/styles\/custom\/lcf\.scss}line{font-family:\0000310}}
.lcf .content-wrapper h1, .lcf .content-wrapper h2, .lcf .content-wrapper h3, .lcf .content-wrapper h4, .lcf .content-wrapper h5, .lcf .content-wrapper h6 {
  font-family: "Swiss721BT-Black";
  text-align: center;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/amucklow\/Sites\/dev\/beta\/assets\/styles\/custom\/lcf\.scss}line{font-family:\0000314}}
.lcf .content-wrapper h1, .lcf .content-wrapper h2, .lcf .content-wrapper .swiss-black {
  text-transform: uppercase;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/amucklow\/Sites\/dev\/beta\/assets\/styles\/custom\/lcf\.scss}line{font-family:\0000317}}
.lcf .content-wrapper h1 {
  letter-spacing: 3px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/amucklow\/Sites\/dev\/beta\/assets\/styles\/custom\/lcf\.scss}line{font-family:\0000320}}
.lcf .content-wrapper h2 {
  padding-bottom: 0.25em;
  margin-bottom: 0.75em;
  background: url(../../img/lcf/lcf-title-underline.gif) bottom center no-repeat;
  letter-spacing: 5px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/amucklow\/Sites\/dev\/beta\/assets\/styles\/custom\/lcf\.scss}line{font-family:\0000328}}
.lcf hr {
  width: 248px;
  margin-top: 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/amucklow\/Sites\/dev\/beta\/assets\/styles\/custom\/lcf\.scss}line{font-family:\0000332}}
.lcf figcaption, .lcf .video-wrapper .caption {
  padding: 0 10px;
  color: #929292;
  font-family: Times, serif;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/amucklow\/Sites\/dev\/beta\/assets\/styles\/custom\/lcf\.scss}line{font-family:\0000336}}
.lcf figcaption a, .lcf .video-wrapper .caption a {
  color: #929292;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/amucklow\/Sites\/dev\/beta\/assets\/styles\/custom\/lcf\.scss}line{font-family:\0000340}}
.lcf p.leader {
  font-size: 1.125em;
  font-weight: bold;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/amucklow\/Sites\/dev\/beta\/assets\/styles\/custom\/lcf\.scss}line{font-family:\0000348}}
.lcf.home .sidebar {
  margin-top: 70px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/amucklow\/Sites\/dev\/beta\/assets\/styles\/custom\/lcf\.scss}line{font-family:\0000359}}
.graduate-school .content-wrapper h1, .graduate-school .content-wrapper h2, .graduate-school .content-wrapper h3, .graduate-school .content-wrapper h4, .graduate-school .content-wrapper h5, .graduate-school .content-wrapper h6 {
  font-family: Times, serif;
  font-weight: normal;
  border: 0 none;
  letter-spacing: 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/amucklow\/Sites\/dev\/beta\/assets\/styles\/custom\/lcf\.scss}line{font-family:\0000365}}
.graduate-school .content-wrapper h1 {
  font-size: 1.875em;
  padding-bottom: 0.2em;
  margin-bottom: 0.8em;
  background: url(../../img/lcf/lcf-title-underline.gif) bottom center no-repeat;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/amucklow\/Sites\/dev\/beta\/assets\/styles\/custom\/lcf\.scss}line{font-family:\0000371}}
.graduate-school .content-wrapper h2 {
  font-size: 1.25em;
  margin-bottom: 1em;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/amucklow\/Sites\/dev\/beta\/assets\/styles\/custom\/lcf\.scss}line{font-family:\0000375}}
.graduate-school .content-wrapper .main-content {
  margin-top: 40px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/amucklow\/Sites\/dev\/beta\/assets\/styles\/custom\/lcf\.scss}line{font-family:\0000378}}
.graduate-school .content-wrapper .sidebar {
  margin-top: 100px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/amucklow\/Sites\/dev\/beta\/assets\/styles\/custom\/lcf\.scss}line{font-family:\0000381}}
.graduate-school .content-wrapper .media-block {
  padding-bottom: 0;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/amucklow\/Sites\/dev\/beta\/assets\/styles\/custom\/lcf\.scss}line{font-family:\0000390}}
.feature-with-left-image {
  padding-bottom: 2.625em;
  margin-bottom: 2.25em;
}
@media only screen and (min-width: 600px) and (max-width: 959px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/amucklow\/Sites\/dev\/beta\/assets\/styles\/custom\/lcf\.scss}line{font-family:\0000390}}
  .feature-with-left-image {
    display: block;
    float: left;
    margin-left: 13.39732%;
    margin-right: -100%;
    width: 73.58801%;
  }
}
@media only screen and (min-width: 960px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/amucklow\/Sites\/dev\/beta\/assets\/styles\/custom\/lcf\.scss}line{font-family:\0000390}}
  .feature-with-left-image {
    display: block;
    float: left;
    margin-left: 0%;
    margin-right: -100%;
    width: 100%;
  }
}
@media only screen and (min-width: 600px) and (max-width: 959px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/amucklow\/Sites\/dev\/beta\/assets\/styles\/custom\/lcf\.scss}line{font-family:\0000399}}
  .feature-with-left-image figure {
    display: block;
    float: left;
    margin-left: 0%;
    margin-right: -100%;
    width: 48.19132%;
  }
}
@media only screen and (min-width: 960px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/amucklow\/Sites\/dev\/beta\/assets\/styles\/custom\/lcf\.scss}line{font-family:\0000399}}
  .feature-with-left-image figure {
    display: block;
    float: left;
    margin-left: 0%;
    margin-right: -100%;
    width: 39.69732%;
  }
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/amucklow\/Sites\/dev\/beta\/assets\/styles\/custom\/lcf\.scss}line{font-family:\00003106}}
.feature-with-left-image figure figcaption {
  font-size: 0.875em;
  text-align: center;
}
@media only screen and (min-width: 600px) and (max-width: 959px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/amucklow\/Sites\/dev\/beta\/assets\/styles\/custom\/lcf\.scss}line{font-family:\00003112}}
  .feature-with-left-image .content {
    display: block;
    float: left;
    margin-left: 52.19132%;
    margin-right: -100%;
    width: 47.72534%;
  }
}
@media only screen and (min-width: 960px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/amucklow\/Sites\/dev\/beta\/assets\/styles\/custom\/lcf\.scss}line{font-family:\00003112}}
  .feature-with-left-image .content {
    display: block;
    float: left;
    margin-left: 51.68801%;
    margin-right: -100%;
    width: 48.31199%;
  }
}
@media only screen and (min-width: 960px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/amucklow\/Sites\/dev\/beta\/assets\/styles\/custom\/lcf\.scss}line{font-family:\00003121}}
  .feature-with-left-image .leader {
    margin-left: -13.85331%;
  }
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/amucklow\/Sites\/dev\/beta\/assets\/styles\/custom\/lcf\.scss}line{font-family:\00003130}}
.boxout-deluxe {
  margin-bottom: 2.25em;
}
@media only screen and (min-width: 600px) and (max-width: 959px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/amucklow\/Sites\/dev\/beta\/assets\/styles\/custom\/lcf\.scss}line{font-family:\00003130}}
  .boxout-deluxe {
    display: block;
    float: left;
    margin-left: 13.39732%;
    margin-right: -100%;
    width: 73.58801%;
  }
}
@media only screen and (min-width: 960px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/amucklow\/Sites\/dev\/beta\/assets\/styles\/custom\/lcf\.scss}line{font-family:\00003130}}
  .boxout-deluxe {
    display: block;
    float: left;
    margin-left: 0%;
    margin-right: -100%;
    width: 100%;
  }
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/amucklow\/Sites\/dev\/beta\/assets\/styles\/custom\/lcf\.scss}line{font-family:\00003139}}
.boxout-deluxe p {
  padding: 1.5em;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/amucklow\/Sites\/dev\/beta\/assets\/styles\/custom\/lcf\.scss}line{font-family:\00003143}}
.boxout-deluxe figure figcaption {
  font-size: 0.875em;
}
@media only screen and (min-width: 600px) and (max-width: 959px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/amucklow\/Sites\/dev\/beta\/assets\/styles\/custom\/lcf\.scss}line{font-family:\00003143}}
  .boxout-deluxe figure figcaption {
    clear: both;
    display: block;
    float: left;
    margin-left: 0;
    width: 100%;
  }
}
@media only screen and (min-width: 960px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/amucklow\/Sites\/dev\/beta\/assets\/styles\/custom\/lcf\.scss}line{font-family:\00003143}}
  .boxout-deluxe figure figcaption {
    width: 65.54132%;
    clear: none;
    float: left;
    margin-left: 0;
    margin-right: 3.37603%;
  }
}
@media only screen and (min-width: 600px) and (max-width: 959px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/amucklow\/Sites\/dev\/beta\/assets\/styles\/custom\/lcf\.scss}line{font-family:\00003154}}
  .boxout-deluxe .left-col {
    display: block;
    float: left;
    margin-left: 13.39732%;
    margin-right: -100%;
    width: 73.58801%;
  }
}
@media only screen and (min-width: 960px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/amucklow\/Sites\/dev\/beta\/assets\/styles\/custom\/lcf\.scss}line{font-family:\00003154}}
  .boxout-deluxe .left-col {
    display: block;
    float: left;
    margin-left: 0%;
    margin-right: -100%;
    width: 39.69732%;
  }
}
@media only screen and (min-width: 600px) and (max-width: 959px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/amucklow\/Sites\/dev\/beta\/assets\/styles\/custom\/lcf\.scss}line{font-family:\00003162}}
  .boxout-deluxe .right-col {
    display: block;
    float: left;
    margin-left: 13.39732%;
    margin-right: -100%;
    width: 73.58801%;
  }
}
@media only screen and (min-width: 960px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/amucklow\/Sites\/dev\/beta\/assets\/styles\/custom\/lcf\.scss}line{font-family:\00003162}}
  .boxout-deluxe .right-col {
    display: block;
    float: left;
    margin-left: 43.07334%;
    margin-right: -100%;
    width: 56.92666%;
  }
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/amucklow\/Sites\/dev\/beta\/assets\/styles\/custom\/lcf\.scss}line{font-family:\00003170}}
.boxout-deluxe .right-col figure {
  width: 31.08265%;
  margin: 1.5em;
  float: right;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/amucklow\/Sites\/dev\/beta\/assets\/styles\/custom\/lcf\.scss}line{font-family:\00003176}}
.boxout-deluxe .view-more-bar {
  border-top: 1px solid #FFF;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/amucklow\/Sites\/dev\/beta\/assets\/styles\/custom\/lcf\.scss}line{font-family:\00003178}}
.boxout-deluxe .view-more-bar p {
  padding-left: 1.5em;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/amucklow\/Sites\/dev\/beta\/assets\/styles\/custom\/lcf\.scss}line{font-family:\00003187}}
.two-column-block {
  padding-bottom: 2.625em;
  margin-bottom: 2.25em;
}
@media only screen and (min-width: 600px) and (max-width: 959px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/amucklow\/Sites\/dev\/beta\/assets\/styles\/custom\/lcf\.scss}line{font-family:\00003187}}
  .two-column-block {
    display: block;
    float: left;
    margin-left: 13.39732%;
    margin-right: -100%;
    width: 73.58801%;
  }
}
@media only screen and (min-width: 960px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/amucklow\/Sites\/dev\/beta\/assets\/styles\/custom\/lcf\.scss}line{font-family:\00003187}}
  .two-column-block {
    display: block;
    float: left;
    margin-left: 0%;
    margin-right: -100%;
    width: 100%;
  }
}
@media only screen and (min-width: 960px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/amucklow\/Sites\/dev\/beta\/assets\/styles\/custom\/lcf\.scss}line{font-family:\00003197}}
  .two-column-block .left-col {
    display: block;
    float: left;
    margin-left: 0%;
    margin-right: -100%;
    width: 48.31199%;
  }
}
@media only screen and (min-width: 960px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/amucklow\/Sites\/dev\/beta\/assets\/styles\/custom\/lcf\.scss}line{font-family:\00003202}}
  .two-column-block .right-col {
    display: block;
    float: left;
    margin-left: 51.68801%;
    margin-right: -100%;
    width: 48.31199%;
  }
}

@media only screen and (min-width: 600px) and (max-width: 959px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/amucklow\/Sites\/dev\/beta\/assets\/styles\/custom\/lcf\.scss}line{font-family:\00003212}}
  .wrapper-d3-d14 {
    clear: both;
    display: block;
    float: left;
    margin-left: 0;
    width: 100%;
  }
}
@media only screen and (min-width: 960px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/amucklow\/Sites\/dev\/beta\/assets\/styles\/custom\/lcf\.scss}line{font-family:\00003212}}
  .wrapper-d3-d14 {
    display: block;
    float: left;
    margin-left: 13.13777%;
    margin-right: -100%;
    width: 74.05155%;
  }
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/amucklow\/Sites\/dev\/beta\/assets\/styles\/custom\/lcf\.scss}line{font-family:\00003225}}
.dark-bg {
  background-color: #000;
  color: #fff;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/amucklow\/Sites\/dev\/beta\/assets\/styles\/custom\/lcf\.scss}line{font-family:\00003228}}
.dark-bg .bordered {
  border-bottom-color: #fff;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/amucklow\/Sites\/dev\/beta\/assets\/styles\/custom\/lcf\.scss}line{font-family:\00003231}}
.dark-bg a {
  color: #fff;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/amucklow\/Sites\/dev\/beta\/assets\/styles\/custom\/lcf\.scss}line{font-family:\00003239}}
#showcase h2 {
  position: absolute;
  top: 40%;
  width: 100%;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/amucklow\/Sites\/dev\/beta\/assets\/styles\/custom\/lcf\.scss}line{font-family:\00003244}}
#showcase .box-text {
  width: 65%;
  min-height: 200px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/amucklow\/Sites\/dev\/beta\/assets\/styles\/custom\/lcf\.scss}line{font-family:\00003260}}
.cluster ul li {
  border-bottom: 1px solid #c8c8c8;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/amucklow\/Sites\/dev\/beta\/assets\/styles\/custom\/lcf\.scss}line{font-family:\00003263}}
.cluster ul a {
  border: 0;
}
