/* line 2, ../../styles/plugins/_animation.scss */
.animated.hinge {
  -webkit-animation-duration: 2s;
  -moz-animation-duration: 2s;
  -ms-animation-duration: 2s;
  -o-animation-duration: 2s;
  animation-duration: 2s;
}

@-webkit-keyframes fadeInDown {
  /* line 3, ../../styles/plugins/_animation.scss */
  0% {
    opacity: 0;
    -webkit-transform: translateY(-20px);
  }

  /* line 6, ../../styles/plugins/_animation.scss */
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
  }
}

@-moz-keyframes fadeInDown {
  /* line 13, ../../styles/plugins/_animation.scss */
  0% {
    opacity: 0;
    -moz-transform: translateY(-20px);
  }

  /* line 18, ../../styles/plugins/_animation.scss */
  100% {
    opacity: 1;
    -moz-transform: translateY(0);
  }
}

@-o-keyframes fadeInDown {
  /* line 25, ../../styles/plugins/_animation.scss */
  0% {
    opacity: 0;
    -ms-transform: translateY(-20px);
  }

  /* line 30, ../../styles/plugins/_animation.scss */
  100% {
    opacity: 1;
    -ms-transform: translateY(0);
  }
}

@keyframes fadeInDown {
  /* line 37, ../../styles/plugins/_animation.scss */
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }

  /* line 42, ../../styles/plugins/_animation.scss */
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

/* line 8, ../../styles/custom/lcf.scss */
.lcf h1, .lcf h2, .lcf h3, .lcf h4, .lcf h5, .lcf h6 {
  text-transform: uppercase;
}

/* line 17, ../../styles/custom/lcf.scss */
.section-title h2, .section-title h3 {
  display: inline-block;
}

/* line 22, ../../styles/custom/lcf.scss */
figcaption {
  padding: 0 10px;
  color: #929292;
  font-family: Times, serif;
  padding-top: 4px;
}
/* line 27, ../../styles/custom/lcf.scss */
figcaption a {
  color: #929292;
}

/* line 32, ../../styles/custom/lcf.scss */
.standfirst {
  font-size: 18px;
  margin-bottom: 3.375em;
}

/* line 38, ../../styles/custom/lcf.scss */
.bordered {
  border-bottom: 1px solid black;
}

/* line 42, ../../styles/custom/lcf.scss */
.dark-bg {
  background-color: #000;
  color: #fff;
}
/* line 45, ../../styles/custom/lcf.scss */
.dark-bg .bordered {
  border-bottom-color: #fff;
}
/* line 48, ../../styles/custom/lcf.scss */
.dark-bg a {
  color: #fff;
}

/* line 56, ../../styles/custom/lcf.scss */
#feature-carousel {
  overflow: hidden;
}

/* line 65, ../../styles/custom/lcf.scss */
#showcase h2 {
  position: absolute;
  top: 40%;
  width: 100%;
}
/* line 70, ../../styles/custom/lcf.scss */
#showcase .box-text {
  width: 65%;
}

/* line 77, ../../styles/custom/lcf.scss */
.sidebar {
  margin-top: 80px;
}

/* line 83, ../../styles/custom/lcf.scss */
footer.zone-footer {
  border-bottom: 1px dotted #666666;
}
/* line 87, ../../styles/custom/lcf.scss */
footer .flex-block .middle {
  border-left: 1px dotted #666666;
  border-right: 1px dotted #666666;
}
/* line 91, ../../styles/custom/lcf.scss */
footer .flex-block .inner {
  padding: 40px;
}

/* line 102, ../../styles/custom/lcf.scss */
.graduate-school header hr {
  width: 248px;
  margin-top: 0;
}
/* line 106, ../../styles/custom/lcf.scss */
.graduate-school h1 {
  font-family: Times, serif;
}
/* line 109, ../../styles/custom/lcf.scss */
.graduate-school section {
  *zoom: 1;
}
/* line 281, ../../styles/globals/_mixins.scss */
.graduate-school section:before, .graduate-school section:after {
  content: " ";
  display: table;
}
/* line 282, ../../styles/globals/_mixins.scss */
.graduate-school section:after {
  clear: both;
}

/* line 118, ../../styles/custom/lcf.scss */
.cluster ul li {
  border-bottom: 1px solid #c8c8c8;
}
/* line 121, ../../styles/custom/lcf.scss */
.cluster ul a {
  border: 0;
}