@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/prichardson\/Dropbox\/htdocs\/beta\/assets\/styles\/custom\/lcf\.scss}line{font-family:\0000310}}
.lcf .content-wrapper h1, .lcf .content-wrapper h2, .lcf .content-wrapper h3, .lcf .content-wrapper h4, .lcf .content-wrapper h5, .lcf .content-wrapper h6 {
  font-family: "Swiss721BT-Black";
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/prichardson\/Dropbox\/htdocs\/beta\/assets\/styles\/custom\/lcf\.scss}line{font-family:\0000313}}
.lcf .content-wrapper h1, .lcf .content-wrapper h2 {
  text-transform: uppercase;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/prichardson\/Dropbox\/htdocs\/beta\/assets\/styles\/custom\/lcf\.scss}line{font-family:\0000316}}
.lcf .content-wrapper h1 {
  letter-spacing: 3px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/prichardson\/Dropbox\/htdocs\/beta\/assets\/styles\/custom\/lcf\.scss}line{font-family:\0000319}}
.lcf .content-wrapper h2 {
  padding-bottom: 0.25em;
  margin-bottom: 0.75em;
  background: url(../../img/lcf/lcf-title-underline.gif) bottom center no-repeat;
  letter-spacing: 5px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/prichardson\/Dropbox\/htdocs\/beta\/assets\/styles\/custom\/lcf\.scss}line{font-family:\0000330}}
.lcf .main-content h1, .lcf .main-content h2, .lcf .main-content h3, .lcf .main-content h4, .lcf .main-content h5, .lcf .main-content h6,
.lcf .main-content .two-up {
  text-align: center;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/prichardson\/Dropbox\/htdocs\/beta\/assets\/styles\/custom\/lcf\.scss}line{font-family:\0000335}}
.lcf hr {
  width: 248px;
  margin-top: 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/prichardson\/Dropbox\/htdocs\/beta\/assets\/styles\/custom\/lcf\.scss}line{font-family:\0000339}}
.lcf figcaption, .lcf .video-wrapper .caption {
  padding: 0 10px;
  color: #929292;
  font-family: Times, serif;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/prichardson\/Dropbox\/htdocs\/beta\/assets\/styles\/custom\/lcf\.scss}line{font-family:\0000343}}
.lcf figcaption a, .lcf .video-wrapper .caption a {
  color: #929292;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/prichardson\/Dropbox\/htdocs\/beta\/assets\/styles\/custom\/lcf\.scss}line{font-family:\0000347}}
.lcf p.leader {
  font-size: 1.125em;
  font-weight: bold;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/prichardson\/Dropbox\/htdocs\/beta\/assets\/styles\/custom\/lcf\.scss}line{font-family:\0000355}}
.lcf.home .sidebar {
  margin-top: 70px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/prichardson\/Dropbox\/htdocs\/beta\/assets\/styles\/custom\/lcf\.scss}line{font-family:\0000366}}
.graduate-school .content-wrapper h1, .graduate-school .content-wrapper h2, .graduate-school .content-wrapper h3, .graduate-school .content-wrapper h4, .graduate-school .content-wrapper h5, .graduate-school .content-wrapper h6 {
  font-family: Times, serif;
  font-weight: normal;
  border: 0 none;
  letter-spacing: 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/prichardson\/Dropbox\/htdocs\/beta\/assets\/styles\/custom\/lcf\.scss}line{font-family:\0000372}}
.graduate-school .content-wrapper h1 {
  font-size: 1.875em;
  padding-bottom: 0.2em;
  margin-bottom: 0.8em;
  background: url(../../img/lcf/lcf-title-underline.gif) bottom center no-repeat;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/prichardson\/Dropbox\/htdocs\/beta\/assets\/styles\/custom\/lcf\.scss}line{font-family:\0000378}}
.graduate-school .content-wrapper h2 {
  font-size: 1.25em;
  margin-bottom: 1em;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/prichardson\/Dropbox\/htdocs\/beta\/assets\/styles\/custom\/lcf\.scss}line{font-family:\0000382}}
.graduate-school .content-wrapper .main-content {
  margin-top: 40px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/prichardson\/Dropbox\/htdocs\/beta\/assets\/styles\/custom\/lcf\.scss}line{font-family:\0000385}}
.graduate-school .content-wrapper .sidebar {
  margin-top: 100px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/prichardson\/Dropbox\/htdocs\/beta\/assets\/styles\/custom\/lcf\.scss}line{font-family:\0000388}}
.graduate-school .content-wrapper .media-block {
  padding-bottom: 0;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/prichardson\/Dropbox\/htdocs\/beta\/assets\/styles\/custom\/lcf\.scss}line{font-family:\0000397}}
.feature-with-left-image {
  padding-bottom: 2.625em;
  margin-bottom: 2.25em;
}
@media only screen and (min-width: 600px) and (max-width: 959px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/prichardson\/Dropbox\/htdocs\/beta\/assets\/styles\/custom\/lcf\.scss}line{font-family:\0000397}}
  .feature-with-left-image {
    display: block;
    float: left;
    margin-left: 13.39732%;
    margin-right: -100%;
    width: 73.58801%;
  }
}
@media only screen and (min-width: 960px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/prichardson\/Dropbox\/htdocs\/beta\/assets\/styles\/custom\/lcf\.scss}line{font-family:\0000397}}
  .feature-with-left-image {
    display: block;
    float: left;
    margin-left: 0%;
    margin-right: -100%;
    width: 100%;
  }
}
@media only screen and (min-width: 600px) and (max-width: 959px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/prichardson\/Dropbox\/htdocs\/beta\/assets\/styles\/custom\/lcf\.scss}line{font-family:\00003106}}
  .feature-with-left-image figure {
    display: block;
    float: left;
    margin-left: 0%;
    margin-right: -100%;
    width: 48.19132%;
  }
}
@media only screen and (min-width: 960px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/prichardson\/Dropbox\/htdocs\/beta\/assets\/styles\/custom\/lcf\.scss}line{font-family:\00003106}}
  .feature-with-left-image figure {
    display: block;
    float: left;
    margin-left: 0%;
    margin-right: -100%;
    width: 39.69732%;
  }
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/prichardson\/Dropbox\/htdocs\/beta\/assets\/styles\/custom\/lcf\.scss}line{font-family:\00003113}}
.feature-with-left-image figure figcaption {
  font-size: 0.875em;
  text-align: center;
}
@media only screen and (min-width: 600px) and (max-width: 959px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/prichardson\/Dropbox\/htdocs\/beta\/assets\/styles\/custom\/lcf\.scss}line{font-family:\00003119}}
  .feature-with-left-image .content {
    display: block;
    float: left;
    margin-left: 52.19132%;
    margin-right: -100%;
    width: 47.72534%;
  }
}
@media only screen and (min-width: 960px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/prichardson\/Dropbox\/htdocs\/beta\/assets\/styles\/custom\/lcf\.scss}line{font-family:\00003119}}
  .feature-with-left-image .content {
    display: block;
    float: left;
    margin-left: 51.68801%;
    margin-right: -100%;
    width: 48.31199%;
  }
}
@media only screen and (min-width: 960px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/prichardson\/Dropbox\/htdocs\/beta\/assets\/styles\/custom\/lcf\.scss}line{font-family:\00003128}}
  .feature-with-left-image .leader {
    margin-left: -13.85331%;
  }
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/prichardson\/Dropbox\/htdocs\/beta\/assets\/styles\/custom\/lcf\.scss}line{font-family:\00003137}}
.boxout-deluxe {
  margin-bottom: 2.25em;
}
@media only screen and (min-width: 600px) and (max-width: 959px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/prichardson\/Dropbox\/htdocs\/beta\/assets\/styles\/custom\/lcf\.scss}line{font-family:\00003137}}
  .boxout-deluxe {
    display: block;
    float: left;
    margin-left: 13.39732%;
    margin-right: -100%;
    width: 73.58801%;
  }
}
@media only screen and (min-width: 960px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/prichardson\/Dropbox\/htdocs\/beta\/assets\/styles\/custom\/lcf\.scss}line{font-family:\00003137}}
  .boxout-deluxe {
    display: block;
    float: left;
    margin-left: 0%;
    margin-right: -100%;
    width: 100%;
  }
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/prichardson\/Dropbox\/htdocs\/beta\/assets\/styles\/custom\/lcf\.scss}line{font-family:\00003146}}
.boxout-deluxe p {
  padding: 1.5em;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/prichardson\/Dropbox\/htdocs\/beta\/assets\/styles\/custom\/lcf\.scss}line{font-family:\00003150}}
.boxout-deluxe figure figcaption {
  font-size: 0.875em;
}
@media only screen and (min-width: 600px) and (max-width: 959px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/prichardson\/Dropbox\/htdocs\/beta\/assets\/styles\/custom\/lcf\.scss}line{font-family:\00003150}}
  .boxout-deluxe figure figcaption {
    clear: both;
    display: block;
    float: left;
    margin-left: 0;
    width: 100%;
  }
}
@media only screen and (min-width: 960px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/prichardson\/Dropbox\/htdocs\/beta\/assets\/styles\/custom\/lcf\.scss}line{font-family:\00003150}}
  .boxout-deluxe figure figcaption {
    width: 65.54132%;
    clear: none;
    float: left;
    margin-left: 0;
    margin-right: 3.37603%;
  }
}
@media only screen and (min-width: 600px) and (max-width: 959px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/prichardson\/Dropbox\/htdocs\/beta\/assets\/styles\/custom\/lcf\.scss}line{font-family:\00003161}}
  .boxout-deluxe .left-col {
    display: block;
    float: left;
    margin-left: 13.39732%;
    margin-right: -100%;
    width: 73.58801%;
  }
}
@media only screen and (min-width: 960px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/prichardson\/Dropbox\/htdocs\/beta\/assets\/styles\/custom\/lcf\.scss}line{font-family:\00003161}}
  .boxout-deluxe .left-col {
    display: block;
    float: left;
    margin-left: 0%;
    margin-right: -100%;
    width: 39.69732%;
  }
}
@media only screen and (min-width: 600px) and (max-width: 959px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/prichardson\/Dropbox\/htdocs\/beta\/assets\/styles\/custom\/lcf\.scss}line{font-family:\00003169}}
  .boxout-deluxe .right-col {
    display: block;
    float: left;
    margin-left: 13.39732%;
    margin-right: -100%;
    width: 73.58801%;
  }
}
@media only screen and (min-width: 960px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/prichardson\/Dropbox\/htdocs\/beta\/assets\/styles\/custom\/lcf\.scss}line{font-family:\00003169}}
  .boxout-deluxe .right-col {
    display: block;
    float: left;
    margin-left: 43.07334%;
    margin-right: -100%;
    width: 56.92666%;
  }
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/prichardson\/Dropbox\/htdocs\/beta\/assets\/styles\/custom\/lcf\.scss}line{font-family:\00003177}}
.boxout-deluxe .right-col figure {
  width: 31.08265%;
  margin: 1.5em;
  float: right;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/prichardson\/Dropbox\/htdocs\/beta\/assets\/styles\/custom\/lcf\.scss}line{font-family:\00003183}}
.boxout-deluxe .view-more-bar {
  border-top: 1px solid #FFF;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/prichardson\/Dropbox\/htdocs\/beta\/assets\/styles\/custom\/lcf\.scss}line{font-family:\00003185}}
.boxout-deluxe .view-more-bar p {
  padding-left: 1.5em;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/prichardson\/Dropbox\/htdocs\/beta\/assets\/styles\/custom\/lcf\.scss}line{font-family:\00003194}}
.two-column-block {
  padding-bottom: 2.625em;
  margin-bottom: 2.25em;
}
@media only screen and (min-width: 600px) and (max-width: 959px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/prichardson\/Dropbox\/htdocs\/beta\/assets\/styles\/custom\/lcf\.scss}line{font-family:\00003194}}
  .two-column-block {
    display: block;
    float: left;
    margin-left: 13.39732%;
    margin-right: -100%;
    width: 73.58801%;
  }
}
@media only screen and (min-width: 960px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/prichardson\/Dropbox\/htdocs\/beta\/assets\/styles\/custom\/lcf\.scss}line{font-family:\00003194}}
  .two-column-block {
    display: block;
    float: left;
    margin-left: 0%;
    margin-right: -100%;
    width: 100%;
  }
}
@media only screen and (min-width: 960px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/prichardson\/Dropbox\/htdocs\/beta\/assets\/styles\/custom\/lcf\.scss}line{font-family:\00003204}}
  .two-column-block .left-col {
    display: block;
    float: left;
    margin-left: 0%;
    margin-right: -100%;
    width: 48.31199%;
  }
}
@media only screen and (min-width: 960px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/prichardson\/Dropbox\/htdocs\/beta\/assets\/styles\/custom\/lcf\.scss}line{font-family:\00003209}}
  .two-column-block .right-col {
    display: block;
    float: left;
    margin-left: 51.68801%;
    margin-right: -100%;
    width: 48.31199%;
  }
}

@media only screen and (min-width: 600px) and (max-width: 959px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/prichardson\/Dropbox\/htdocs\/beta\/assets\/styles\/custom\/lcf\.scss}line{font-family:\00003219}}
  .wrapper-d3-d14 {
    clear: both;
    display: block;
    float: left;
    margin-left: 0;
    width: 100%;
  }
}
@media only screen and (min-width: 960px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/prichardson\/Dropbox\/htdocs\/beta\/assets\/styles\/custom\/lcf\.scss}line{font-family:\00003219}}
  .wrapper-d3-d14 {
    display: block;
    float: left;
    margin-left: 13.13777%;
    margin-right: -100%;
    width: 74.05155%;
  }
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/prichardson\/Dropbox\/htdocs\/beta\/assets\/styles\/custom\/lcf\.scss}line{font-family:\00003232}}
.dark-bg {
  background-color: #000;
  color: #fff;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/prichardson\/Dropbox\/htdocs\/beta\/assets\/styles\/custom\/lcf\.scss}line{font-family:\00003235}}
.dark-bg .bordered {
  border-bottom-color: #fff;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/prichardson\/Dropbox\/htdocs\/beta\/assets\/styles\/custom\/lcf\.scss}line{font-family:\00003238}}
.dark-bg a {
  color: #fff;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/prichardson\/Dropbox\/htdocs\/beta\/assets\/styles\/custom\/lcf\.scss}line{font-family:\00003246}}
#showcase h2 {
  position: absolute;
  top: 40%;
  width: 100%;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/prichardson\/Dropbox\/htdocs\/beta\/assets\/styles\/custom\/lcf\.scss}line{font-family:\00003251}}
#showcase .box-text {
  width: 65%;
  min-height: 200px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/prichardson\/Dropbox\/htdocs\/beta\/assets\/styles\/custom\/lcf\.scss}line{font-family:\00003267}}
.cluster ul li {
  border-bottom: 1px solid #c8c8c8;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/prichardson\/Dropbox\/htdocs\/beta\/assets\/styles\/custom\/lcf\.scss}line{font-family:\00003270}}
.cluster ul a {
  border: 0;
}
