<<<<<<< HEAD
<<<<<<< HEAD
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mattwisbey\/Dropbox\/htdocs\/beta\/assets\/styles\/plugins\/_animation\.scss}line{font-family:\000032}}
.animated.hinge {
  -webkit-animation-duration: 2s;
  -moz-animation-duration: 2s;
  -ms-animation-duration: 2s;
  -o-animation-duration: 2s;
  animation-duration: 2s;
}

@-webkit-keyframes fadeInDown {
  /* line 3, ../../styles/plugins/_animation.scss */
  0% {
    opacity: 0;
    -webkit-transform: translateY(-20px);
  }

  /* line 6, ../../styles/plugins/_animation.scss */
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
  }
}

@-moz-keyframes fadeInDown {
  /* line 13, ../../styles/plugins/_animation.scss */
  0% {
    opacity: 0;
    -moz-transform: translateY(-20px);
  }

  /* line 18, ../../styles/plugins/_animation.scss */
  100% {
    opacity: 1;
    -moz-transform: translateY(0);
  }
}

@-o-keyframes fadeInDown {
  /* line 25, ../../styles/plugins/_animation.scss */
  0% {
    opacity: 0;
    -ms-transform: translateY(-20px);
  }

  /* line 30, ../../styles/plugins/_animation.scss */
  100% {
    opacity: 1;
    -ms-transform: translateY(0);
  }
}

@keyframes fadeInDown {
  /* line 37, ../../styles/plugins/_animation.scss */
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }

  /* line 42, ../../styles/plugins/_animation.scss */
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mattwisbey\/Dropbox\/htdocs\/beta\/assets\/styles\/custom\/ual\.scss}line{font-family:\000035}}
#feature {
  margin-top: 1px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mattwisbey\/Dropbox\/htdocs\/beta\/assets\/styles\/custom\/ual\.scss}line{font-family:\000039}}
#feature .flexslider {
  margin: 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mattwisbey\/Dropbox\/htdocs\/beta\/assets\/styles\/custom\/ual\.scss}line{font-family:\0000314}}
=======
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/howard\/Dropbox\/htdocs\/beta\/assets\/styles\/custom\/ual\.scss}line{font-family:\000035}}
=======
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/prichardson\/Dropbox\/htdocs\/beta\/assets\/styles\/custom\/ual\.scss}line{font-family:\000035}}
>>>>>>> f94fb3c6360eb1712ebd20143106233c3374e6e9
#feature {
  margin-top: 1px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/prichardson\/Dropbox\/htdocs\/beta\/assets\/styles\/custom\/ual\.scss}line{font-family:\000039}}
#feature .flexslider {
  margin: 0;
}
<<<<<<< HEAD
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/howard\/Dropbox\/htdocs\/beta\/assets\/styles\/custom\/ual\.scss}line{font-family:\0000314}}
>>>>>>> e6fd9746b060d502fb96e6e20b4abbe9e73bc506
=======
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/prichardson\/Dropbox\/htdocs\/beta\/assets\/styles\/custom\/ual\.scss}line{font-family:\0000314}}
>>>>>>> f94fb3c6360eb1712ebd20143106233c3374e6e9
#feature .flex-caption {
  position: absolute;
  top: 40%;
  left: 15%;
  width: 70%;
  background: #000;
  color: #fff;
  padding: 0px;
  text-align: center;
}
<<<<<<< HEAD
<<<<<<< HEAD
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mattwisbey\/Dropbox\/htdocs\/beta\/assets\/styles\/custom\/ual\.scss}line{font-family:\0000325}}
=======
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/howard\/Dropbox\/htdocs\/beta\/assets\/styles\/custom\/ual\.scss}line{font-family:\0000325}}
>>>>>>> e6fd9746b060d502fb96e6e20b4abbe9e73bc506
=======
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/prichardson\/Dropbox\/htdocs\/beta\/assets\/styles\/custom\/ual\.scss}line{font-family:\0000325}}
>>>>>>> f94fb3c6360eb1712ebd20143106233c3374e6e9
#feature .ual-caption {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  background: #000;
  color: #fff;
  padding: 20px;
  font-size: 26px;
}
<<<<<<< HEAD
<<<<<<< HEAD
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mattwisbey\/Dropbox\/htdocs\/beta\/assets\/styles\/custom\/ual\.scss}line{font-family:\0000336}}
#feature .ual-caption a {
  color: #fff;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mattwisbey\/Dropbox\/htdocs\/beta\/assets\/styles\/custom\/ual\.scss}line{font-family:\0000377}}
=======
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/howard\/Dropbox\/htdocs\/beta\/assets\/styles\/custom\/ual\.scss}line{font-family:\0000336}}
#feature .ual-caption a {
  color: #fff;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/howard\/Dropbox\/htdocs\/beta\/assets\/styles\/custom\/ual\.scss}line{font-family:\0000377}}
>>>>>>> e6fd9746b060d502fb96e6e20b4abbe9e73bc506
=======
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/prichardson\/Dropbox\/htdocs\/beta\/assets\/styles\/custom\/ual\.scss}line{font-family:\0000336}}
#feature .ual-caption a {
  color: #fff;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/prichardson\/Dropbox\/htdocs\/beta\/assets\/styles\/custom\/ual\.scss}line{font-family:\0000377}}
>>>>>>> f94fb3c6360eb1712ebd20143106233c3374e6e9
#feature .flex-direction-nav .flex-next {
  background-position: 100% 0;
  right: 0px;
  border-bottom: none;
}
<<<<<<< HEAD
<<<<<<< HEAD
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mattwisbey\/Dropbox\/htdocs\/beta\/assets\/styles\/custom\/ual\.scss}line{font-family:\0000382}}
=======
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/howard\/Dropbox\/htdocs\/beta\/assets\/styles\/custom\/ual\.scss}line{font-family:\0000382}}
>>>>>>> e6fd9746b060d502fb96e6e20b4abbe9e73bc506
=======
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/prichardson\/Dropbox\/htdocs\/beta\/assets\/styles\/custom\/ual\.scss}line{font-family:\0000382}}
>>>>>>> f94fb3c6360eb1712ebd20143106233c3374e6e9
#feature .flex-direction-nav .flex-prev {
  left: 0px;
  border-bottom: none;
}
<<<<<<< HEAD
<<<<<<< HEAD
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mattwisbey\/Dropbox\/htdocs\/beta\/assets\/styles\/custom\/ual\.scss}line{font-family:\0000386}}
=======
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/howard\/Dropbox\/htdocs\/beta\/assets\/styles\/custom\/ual\.scss}line{font-family:\0000386}}
>>>>>>> e6fd9746b060d502fb96e6e20b4abbe9e73bc506
=======
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/prichardson\/Dropbox\/htdocs\/beta\/assets\/styles\/custom\/ual\.scss}line{font-family:\0000386}}
>>>>>>> f94fb3c6360eb1712ebd20143106233c3374e6e9
#feature .flexslider:hover .flex-next {
  opacity: 0.8;
  right: 30px;
}
<<<<<<< HEAD
<<<<<<< HEAD
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mattwisbey\/Dropbox\/htdocs\/beta\/assets\/styles\/custom\/ual\.scss}line{font-family:\0000391}}
=======
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/howard\/Dropbox\/htdocs\/beta\/assets\/styles\/custom\/ual\.scss}line{font-family:\0000391}}
>>>>>>> e6fd9746b060d502fb96e6e20b4abbe9e73bc506
=======
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/prichardson\/Dropbox\/htdocs\/beta\/assets\/styles\/custom\/ual\.scss}line{font-family:\0000391}}
>>>>>>> f94fb3c6360eb1712ebd20143106233c3374e6e9
#feature .flexslider:hover .flex-prev {
  opacity: 0.8;
  left: 30px;
}
<<<<<<< HEAD
<<<<<<< HEAD
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mattwisbey\/Dropbox\/htdocs\/beta\/assets\/styles\/custom\/ual\.scss}line{font-family:\00003105}}
=======
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/howard\/Dropbox\/htdocs\/beta\/assets\/styles\/custom\/ual\.scss}line{font-family:\00003105}}
>>>>>>> e6fd9746b060d502fb96e6e20b4abbe9e73bc506
=======
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/prichardson\/Dropbox\/htdocs\/beta\/assets\/styles\/custom\/ual\.scss}line{font-family:\00003105}}
>>>>>>> f94fb3c6360eb1712ebd20143106233c3374e6e9
#feature .flex-control-nav {
  width: 100%;
  position: absolute;
  bottom: 5px;
  right: 5px;
  text-align: right;
  z-index: 9;
}
<<<<<<< HEAD
<<<<<<< HEAD
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mattwisbey\/Dropbox\/htdocs\/beta\/assets\/styles\/custom\/ual\.scss}line{font-family:\00003113}}
=======
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/howard\/Dropbox\/htdocs\/beta\/assets\/styles\/custom\/ual\.scss}line{font-family:\00003113}}
>>>>>>> e6fd9746b060d502fb96e6e20b4abbe9e73bc506
=======
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/prichardson\/Dropbox\/htdocs\/beta\/assets\/styles\/custom\/ual\.scss}line{font-family:\00003113}}
>>>>>>> f94fb3c6360eb1712ebd20143106233c3374e6e9
#feature .flex-control-nav li {
  margin: 0 6px;
  display: inline-block;
  zoom: 1;
  *display: inline;
}
<<<<<<< HEAD
<<<<<<< HEAD
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mattwisbey\/Dropbox\/htdocs\/beta\/assets\/styles\/custom\/ual\.scss}line{font-family:\00003119}}
=======
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/howard\/Dropbox\/htdocs\/beta\/assets\/styles\/custom\/ual\.scss}line{font-family:\00003119}}
>>>>>>> e6fd9746b060d502fb96e6e20b4abbe9e73bc506
=======
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/prichardson\/Dropbox\/htdocs\/beta\/assets\/styles\/custom\/ual\.scss}line{font-family:\00003119}}
>>>>>>> f94fb3c6360eb1712ebd20143106233c3374e6e9
#feature .flex-control-paging li a {
  width: 8px;
  height: 8px;
  display: block;
  background: #fff;
  background: rgba(255, 255, 255, 0.7);
  cursor: pointer;
  text-indent: -9999px;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  -o-border-radius: 0px;
  border-radius: 0px;
  box-shadow: inset 0 0 0px rgba(0, 0, 0, 0);
  color: transparent;
}
<<<<<<< HEAD
<<<<<<< HEAD
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mattwisbey\/Dropbox\/htdocs\/beta\/assets\/styles\/custom\/ual\.scss}line{font-family:\00003134}}
=======
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/howard\/Dropbox\/htdocs\/beta\/assets\/styles\/custom\/ual\.scss}line{font-family:\00003134}}
>>>>>>> e6fd9746b060d502fb96e6e20b4abbe9e73bc506
=======
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/prichardson\/Dropbox\/htdocs\/beta\/assets\/styles\/custom\/ual\.scss}line{font-family:\00003134}}
>>>>>>> f94fb3c6360eb1712ebd20143106233c3374e6e9
#feature .flex-control-paging li a:hover {
  background: #fff;
  background: rgba(255, 255, 255, 0.7);
}
<<<<<<< HEAD
<<<<<<< HEAD
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mattwisbey\/Dropbox\/htdocs\/beta\/assets\/styles\/custom\/ual\.scss}line{font-family:\00003138}}
=======
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/howard\/Dropbox\/htdocs\/beta\/assets\/styles\/custom\/ual\.scss}line{font-family:\00003138}}
>>>>>>> e6fd9746b060d502fb96e6e20b4abbe9e73bc506
=======
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/prichardson\/Dropbox\/htdocs\/beta\/assets\/styles\/custom\/ual\.scss}line{font-family:\00003138}}
>>>>>>> f94fb3c6360eb1712ebd20143106233c3374e6e9
#feature .flex-control-paging li a.flex-active {
  background: #fff;
  background: rgba(255, 255, 255, 0.9);
  cursor: default;
}

<<<<<<< HEAD
<<<<<<< HEAD
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mattwisbey\/Dropbox\/htdocs\/beta\/assets\/styles\/custom\/ual\.scss}line{font-family:\00003152}}
.imageWrapper {
  position: relative;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mattwisbey\/Dropbox\/htdocs\/beta\/assets\/styles\/custom\/ual\.scss}line{font-family:\00003154}}
=======
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/howard\/Dropbox\/htdocs\/beta\/assets\/styles\/custom\/ual\.scss}line{font-family:\00003152}}
.imageWrapper {
  position: relative;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/howard\/Dropbox\/htdocs\/beta\/assets\/styles\/custom\/ual\.scss}line{font-family:\00003154}}
>>>>>>> e6fd9746b060d502fb96e6e20b4abbe9e73bc506
=======
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/prichardson\/Dropbox\/htdocs\/beta\/assets\/styles\/custom\/ual\.scss}line{font-family:\00003152}}
.imageWrapper {
  position: relative;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/prichardson\/Dropbox\/htdocs\/beta\/assets\/styles\/custom\/ual\.scss}line{font-family:\00003154}}
>>>>>>> f94fb3c6360eb1712ebd20143106233c3374e6e9
.imageWrapper a {
  border-bottom: none;
}

<<<<<<< HEAD
<<<<<<< HEAD
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mattwisbey\/Dropbox\/htdocs\/beta\/assets\/styles\/custom\/ual\.scss}line{font-family:\00003158}}
=======
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/howard\/Dropbox\/htdocs\/beta\/assets\/styles\/custom\/ual\.scss}line{font-family:\00003158}}
>>>>>>> e6fd9746b060d502fb96e6e20b4abbe9e73bc506
=======
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/prichardson\/Dropbox\/htdocs\/beta\/assets\/styles\/custom\/ual\.scss}line{font-family:\00003158}}
>>>>>>> f94fb3c6360eb1712ebd20143106233c3374e6e9
.imageWrapper img {
  display: block;
  width: 100%;
}

<<<<<<< HEAD
<<<<<<< HEAD
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mattwisbey\/Dropbox\/htdocs\/beta\/assets\/styles\/custom\/ual\.scss}line{font-family:\00003162}}
=======
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/howard\/Dropbox\/htdocs\/beta\/assets\/styles\/custom\/ual\.scss}line{font-family:\00003162}}
>>>>>>> e6fd9746b060d502fb96e6e20b4abbe9e73bc506
=======
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/prichardson\/Dropbox\/htdocs\/beta\/assets\/styles\/custom\/ual\.scss}line{font-family:\00003162}}
>>>>>>> f94fb3c6360eb1712ebd20143106233c3374e6e9
.imageWrapper .cornerLink {
  opacity: 0;
  position: absolute;
  bottom: 0px;
  left: 0px;
  right: 0px;
  top: 0px;
  padding-top: 50%;
  color: #ffffff;
  background: #000000;
  text-decoration: none;
  text-align: center;
  -webkit-transition: opacity 500ms;
  -moz-transition: opacity 500ms;
  -o-transition: opacity 500ms;
  transition: opacity 500ms;
  z-index: 3;
}

<<<<<<< HEAD
<<<<<<< HEAD
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mattwisbey\/Dropbox\/htdocs\/beta\/assets\/styles\/custom\/ual\.scss}line{font-family:\00003181}}
=======
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/howard\/Dropbox\/htdocs\/beta\/assets\/styles\/custom\/ual\.scss}line{font-family:\00003181}}
>>>>>>> e6fd9746b060d502fb96e6e20b4abbe9e73bc506
=======
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/prichardson\/Dropbox\/htdocs\/beta\/assets\/styles\/custom\/ual\.scss}line{font-family:\00003181}}
>>>>>>> f94fb3c6360eb1712ebd20143106233c3374e6e9
.imageWrapper:hover .cornerLink {
  opacity: 1;
  padding-top: 50%;
}

<<<<<<< HEAD
<<<<<<< HEAD
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mattwisbey\/Dropbox\/htdocs\/beta\/assets\/styles\/custom\/ual\.scss}line{font-family:\00003191}}
=======
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/howard\/Dropbox\/htdocs\/beta\/assets\/styles\/custom\/ual\.scss}line{font-family:\00003191}}
>>>>>>> e6fd9746b060d502fb96e6e20b4abbe9e73bc506
=======
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/prichardson\/Dropbox\/htdocs\/beta\/assets\/styles\/custom\/ual\.scss}line{font-family:\00003191}}
>>>>>>> f94fb3c6360eb1712ebd20143106233c3374e6e9
.heading {
  margin: 0;
  padding: 0;
  margin-top: 6em;
  margin-bottom: 3em;
  border-top: 1px solid #000;
  border-bottom: 1px solid #ccc;
}

<<<<<<< HEAD
<<<<<<< HEAD
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mattwisbey\/Dropbox\/htdocs\/beta\/assets\/styles\/custom\/ual\.scss}line{font-family:\00003200}}
=======
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/howard\/Dropbox\/htdocs\/beta\/assets\/styles\/custom\/ual\.scss}line{font-family:\00003200}}
>>>>>>> e6fd9746b060d502fb96e6e20b4abbe9e73bc506
=======
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/prichardson\/Dropbox\/htdocs\/beta\/assets\/styles\/custom\/ual\.scss}line{font-family:\00003200}}
>>>>>>> f94fb3c6360eb1712ebd20143106233c3374e6e9
.sub-heading {
  margin: 0;
  padding: 0;
  padding-top: 0.75em;
  padding-bottom: 0.75em;
  margin-bottom: 0.75em;
  border-top: 1px solid #000;
  border-bottom: 1px solid #ccc;
}

<<<<<<< HEAD
<<<<<<< HEAD
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mattwisbey\/Dropbox\/htdocs\/beta\/assets\/styles\/custom\/ual\.scss}line{font-family:\00003213}}
=======
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/howard\/Dropbox\/htdocs\/beta\/assets\/styles\/custom\/ual\.scss}line{font-family:\00003213}}
>>>>>>> e6fd9746b060d502fb96e6e20b4abbe9e73bc506
=======
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/prichardson\/Dropbox\/htdocs\/beta\/assets\/styles\/custom\/ual\.scss}line{font-family:\00003213}}
>>>>>>> f94fb3c6360eb1712ebd20143106233c3374e6e9
.leader4xbl {
  margin-top: 1.5em;
}

<<<<<<< HEAD
<<<<<<< HEAD
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mattwisbey\/Dropbox\/htdocs\/beta\/assets\/styles\/custom\/ual\.scss}line{font-family:\00003216}}
=======
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/howard\/Dropbox\/htdocs\/beta\/assets\/styles\/custom\/ual\.scss}line{font-family:\00003216}}
>>>>>>> e6fd9746b060d502fb96e6e20b4abbe9e73bc506
=======
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/prichardson\/Dropbox\/htdocs\/beta\/assets\/styles\/custom\/ual\.scss}line{font-family:\00003216}}
>>>>>>> f94fb3c6360eb1712ebd20143106233c3374e6e9
.leader8xbl {
  margin-top: 3em;
}

<<<<<<< HEAD
<<<<<<< HEAD
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mattwisbey\/Dropbox\/htdocs\/beta\/assets\/styles\/custom\/ual\.scss}line{font-family:\00003219}}
=======
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/howard\/Dropbox\/htdocs\/beta\/assets\/styles\/custom\/ual\.scss}line{font-family:\00003219}}
>>>>>>> e6fd9746b060d502fb96e6e20b4abbe9e73bc506
=======
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/prichardson\/Dropbox\/htdocs\/beta\/assets\/styles\/custom\/ual\.scss}line{font-family:\00003219}}
>>>>>>> f94fb3c6360eb1712ebd20143106233c3374e6e9
.trailer4xbl {
  margin-bottom: 1.5em;
}

<<<<<<< HEAD
<<<<<<< HEAD
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mattwisbey\/Dropbox\/htdocs\/beta\/assets\/styles\/custom\/ual\.scss}line{font-family:\00003223}}
=======
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/howard\/Dropbox\/htdocs\/beta\/assets\/styles\/custom\/ual\.scss}line{font-family:\00003223}}
>>>>>>> e6fd9746b060d502fb96e6e20b4abbe9e73bc506
=======
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/prichardson\/Dropbox\/htdocs\/beta\/assets\/styles\/custom\/ual\.scss}line{font-family:\00003223}}
>>>>>>> f94fb3c6360eb1712ebd20143106233c3374e6e9
.college-links {
  margin: 0;
  padding: 0;
}
<<<<<<< HEAD
<<<<<<< HEAD
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mattwisbey\/Dropbox\/htdocs\/beta\/assets\/styles\/custom\/ual\.scss}line{font-family:\00003226}}
=======
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/howard\/Dropbox\/htdocs\/beta\/assets\/styles\/custom\/ual\.scss}line{font-family:\00003226}}
>>>>>>> e6fd9746b060d502fb96e6e20b4abbe9e73bc506
=======
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/prichardson\/Dropbox\/htdocs\/beta\/assets\/styles\/custom\/ual\.scss}line{font-family:\00003226}}
>>>>>>> f94fb3c6360eb1712ebd20143106233c3374e6e9
.college-links li {
  list-style-type: none;
}

<<<<<<< HEAD
<<<<<<< HEAD
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mattwisbey\/Dropbox\/htdocs\/beta\/assets\/styles\/custom\/ual\.scss}line{font-family:\00003234}}
=======
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/howard\/Dropbox\/htdocs\/beta\/assets\/styles\/custom\/ual\.scss}line{font-family:\00003234}}
>>>>>>> e6fd9746b060d502fb96e6e20b4abbe9e73bc506
=======
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/prichardson\/Dropbox\/htdocs\/beta\/assets\/styles\/custom\/ual\.scss}line{font-family:\00003234}}
>>>>>>> f94fb3c6360eb1712ebd20143106233c3374e6e9
.panel {
  width: 100%;
  height: auto;
  float: left;
  position: relative;
}

<<<<<<< HEAD
<<<<<<< HEAD
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mattwisbey\/Dropbox\/htdocs\/beta\/assets\/styles\/custom\/ual\.scss}line{font-family:\00003241}}
=======
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/howard\/Dropbox\/htdocs\/beta\/assets\/styles\/custom\/ual\.scss}line{font-family:\00003241}}
>>>>>>> e6fd9746b060d502fb96e6e20b4abbe9e73bc506
=======
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/prichardson\/Dropbox\/htdocs\/beta\/assets\/styles\/custom\/ual\.scss}line{font-family:\00003241}}
>>>>>>> f94fb3c6360eb1712ebd20143106233c3374e6e9
.gray {
  margin-top: 6em;
  padding-top: 3em;
  padding-bottom: 3em;
  background-color: #f2f2f2;
}

<<<<<<< HEAD
<<<<<<< HEAD
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mattwisbey\/Dropbox\/htdocs\/beta\/assets\/styles\/custom\/ual\.scss}line{font-family:\00003248}}
=======
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/howard\/Dropbox\/htdocs\/beta\/assets\/styles\/custom\/ual\.scss}line{font-family:\00003248}}
>>>>>>> e6fd9746b060d502fb96e6e20b4abbe9e73bc506
=======
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/prichardson\/Dropbox\/htdocs\/beta\/assets\/styles\/custom\/ual\.scss}line{font-family:\00003248}}
>>>>>>> f94fb3c6360eb1712ebd20143106233c3374e6e9
.black {
  padding-bottom: 3em;
  background-color: #000;
  color: #fff;
}
<<<<<<< HEAD
<<<<<<< HEAD
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mattwisbey\/Dropbox\/htdocs\/beta\/assets\/styles\/custom\/ual\.scss}line{font-family:\00003252}}
.black a {
  color: #fff;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mattwisbey\/Dropbox\/htdocs\/beta\/assets\/styles\/custom\/ual\.scss}line{font-family:\00003254}}
.black a:hover {
  border-bottom: 2px solid white;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mattwisbey\/Dropbox\/htdocs\/beta\/assets\/styles\/custom\/ual\.scss}line{font-family:\00003258}}
=======
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/howard\/Dropbox\/htdocs\/beta\/assets\/styles\/custom\/ual\.scss}line{font-family:\00003252}}
=======
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/prichardson\/Dropbox\/htdocs\/beta\/assets\/styles\/custom\/ual\.scss}line{font-family:\00003252}}
>>>>>>> f94fb3c6360eb1712ebd20143106233c3374e6e9
.black a {
  color: #fff;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/prichardson\/Dropbox\/htdocs\/beta\/assets\/styles\/custom\/ual\.scss}line{font-family:\00003254}}
.black a:hover {
  border-bottom: 2px solid #fff;
}
<<<<<<< HEAD
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/howard\/Dropbox\/htdocs\/beta\/assets\/styles\/custom\/ual\.scss}line{font-family:\00003258}}
>>>>>>> e6fd9746b060d502fb96e6e20b4abbe9e73bc506
=======
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/prichardson\/Dropbox\/htdocs\/beta\/assets\/styles\/custom\/ual\.scss}line{font-family:\00003258}}
>>>>>>> f94fb3c6360eb1712ebd20143106233c3374e6e9
.black .sub-heading {
  margin: 0;
  padding: 0;
  margin-top: 1.5em;
  padding-top: 0.75em;
  padding-bottom: 0.75em;
  margin-bottom: 1.5em;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
}

<<<<<<< HEAD
<<<<<<< HEAD
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mattwisbey\/Dropbox\/htdocs\/beta\/assets\/styles\/custom\/ual\.scss}line{font-family:\00003275}}
=======
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/howard\/Dropbox\/htdocs\/beta\/assets\/styles\/custom\/ual\.scss}line{font-family:\00003275}}
>>>>>>> e6fd9746b060d502fb96e6e20b4abbe9e73bc506
=======
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/prichardson\/Dropbox\/htdocs\/beta\/assets\/styles\/custom\/ual\.scss}line{font-family:\00003275}}
>>>>>>> f94fb3c6360eb1712ebd20143106233c3374e6e9
.content-test .medium-22 {
  font-size: 1.375em;
  line-height: 1.36364em;
  font-weight: normal;
}
<<<<<<< HEAD
<<<<<<< HEAD
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mattwisbey\/Dropbox\/htdocs\/beta\/assets\/styles\/custom\/ual\.scss}line{font-family:\00003280}}
=======
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/howard\/Dropbox\/htdocs\/beta\/assets\/styles\/custom\/ual\.scss}line{font-family:\00003280}}
>>>>>>> e6fd9746b060d502fb96e6e20b4abbe9e73bc506
=======
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/prichardson\/Dropbox\/htdocs\/beta\/assets\/styles\/custom\/ual\.scss}line{font-family:\00003280}}
>>>>>>> f94fb3c6360eb1712ebd20143106233c3374e6e9
.content-test .light-16-gray-AAA {
  font-size: 1em;
  line-height: 1.5em;
  font-weight: 300;
  color: #757575;
}
<<<<<<< HEAD
<<<<<<< HEAD
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mattwisbey\/Dropbox\/htdocs\/beta\/assets\/styles\/custom\/ual\.scss}line{font-family:\00003286}}
.content-test .border-bottom-dotted, .content-test .sidebar a {
  border-bottom: 1px dotted #c8c8c8;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mattwisbey\/Dropbox\/htdocs\/beta\/assets\/styles\/custom\/ual\.scss}line{font-family:\00003292}}
=======
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/howard\/Dropbox\/htdocs\/beta\/assets\/styles\/custom\/ual\.scss}line{font-family:\00003286}}
.content-test .border-bottom-dotted, .content-test .sidebar a {
  border-bottom: 1px dotted #c8c8c8;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/howard\/Dropbox\/htdocs\/beta\/assets\/styles\/custom\/ual\.scss}line{font-family:\00003292}}
>>>>>>> e6fd9746b060d502fb96e6e20b4abbe9e73bc506
=======
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/prichardson\/Dropbox\/htdocs\/beta\/assets\/styles\/custom\/ual\.scss}line{font-family:\00003286}}
.content-test .border-bottom-dotted, .content-test .sidebar a {
  border-bottom: 1px dotted #c8c8c8;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/prichardson\/Dropbox\/htdocs\/beta\/assets\/styles\/custom\/ual\.scss}line{font-family:\00003292}}
>>>>>>> f94fb3c6360eb1712ebd20143106233c3374e6e9
.content-test .sidebar a {
  line-height: 34px;
  font-weight: 300;
}
