/* line 1, ../../styles/custom/ual.scss */
#feature {
  margin-top: 1px;
}
/* line 5, ../../styles/custom/ual.scss */
#feature .flexslider {
  margin: 0;
}
/* line 10, ../../styles/custom/ual.scss */
#feature .flex-caption {
  position: absolute;
  top: 40%;
  left: 15%;
  width: 70%;
  background: #000;
  color: #fff;
  padding: 0px;
  text-align: center;
}
/* line 21, ../../styles/custom/ual.scss */
#feature .ual-caption {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  background: #000;
  color: #fff;
  padding: 20px;
  font-size: 26px;
}
/* line 32, ../../styles/custom/ual.scss */
#feature .ual-caption a {
  color: #fff;
}
/* line 73, ../../styles/custom/ual.scss */
#feature .flex-direction-nav .flex-next {
  background-position: 100% 0;
  right: 0px;
  border-bottom: none;
}
/* line 78, ../../styles/custom/ual.scss */
#feature .flex-direction-nav .flex-prev {
  left: 0px;
  border-bottom: none;
}
/* line 82, ../../styles/custom/ual.scss */
#feature .flexslider:hover .flex-next {
  opacity: 0.8;
  right: 30px;
}
/* line 87, ../../styles/custom/ual.scss */
#feature .flexslider:hover .flex-prev {
  opacity: 0.8;
  left: 30px;
}
/* line 101, ../../styles/custom/ual.scss */
#feature .flex-control-nav {
  width: 100%;
  position: absolute;
  bottom: 5px;
  right: 5px;
  text-align: right;
  z-index: 9;
}
/* line 109, ../../styles/custom/ual.scss */
#feature .flex-control-nav li {
  margin: 0 6px;
  display: inline-block;
  zoom: 1;
  *display: inline;
}
/* line 115, ../../styles/custom/ual.scss */
#feature .flex-control-paging li a {
  width: 8px;
  height: 8px;
  display: block;
  background: #fff;
  background: rgba(255, 255, 255, 0.7);
  cursor: pointer;
  text-indent: -9999px;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  -o-border-radius: 0px;
  border-radius: 0px;
  box-shadow: inset 0 0 0px rgba(0, 0, 0, 0);
  color: transparent;
}
/* line 130, ../../styles/custom/ual.scss */
#feature .flex-control-paging li a:hover {
  background: #fff;
  background: rgba(255, 255, 255, 0.7);
}
/* line 134, ../../styles/custom/ual.scss */
#feature .flex-control-paging li a.flex-active {
  background: #fff;
  background: rgba(255, 255, 255, 0.9);
  cursor: default;
}

/* line 148, ../../styles/custom/ual.scss */
.imageWrapper {
  position: relative;
}
/* line 150, ../../styles/custom/ual.scss */
.imageWrapper a {
  border-bottom: none;
}

/* line 154, ../../styles/custom/ual.scss */
.imageWrapper img {
  display: block;
  width: 100%;
}

/* line 158, ../../styles/custom/ual.scss */
.imageWrapper .cornerLink {
  opacity: 0;
  position: absolute;
  bottom: 0px;
  left: 0px;
  right: 0px;
  top: 0px;
  padding-top: 50%;
  color: #ffffff;
  background: #000000;
  text-decoration: none;
  text-align: center;
  -webkit-transition: opacity 500ms;
  -moz-transition: opacity 500ms;
  -o-transition: opacity 500ms;
  transition: opacity 500ms;
  z-index: 3;
}

/* line 177, ../../styles/custom/ual.scss */
.imageWrapper:hover .cornerLink {
  opacity: 1;
  padding-top: 50%;
}

/* line 183, ../../styles/custom/ual.scss */
.college-links {
  margin: 0;
  padding: 0;
}
/* line 186, ../../styles/custom/ual.scss */
.college-links li {
  list-style-type: none;
}

/* line 195, ../../styles/custom/ual.scss */
.panel {
  width: 100%;
  height: auto;
  float: left;
  position: relative;
}

/* line 202, ../../styles/custom/ual.scss */
.gray {
  background-color: #f2f2f2;
}

/* line 206, ../../styles/custom/ual.scss */
.black {
  background-color: #000;
  color: #fff;
}
/* line 209, ../../styles/custom/ual.scss */
.black a {
  color: #fff;
}
/* line 211, ../../styles/custom/ual.scss */
.black a:hover {
  border-bottom: 2px solid white;
}
