
// --------------------------------
// text elements with icons applied
// --------------------------------

%icon { font-family: "fontello"; }
%icon-social { font-family: "fontello"; }
.icon { font-family: "fontello"; }
.icon-social { font-family: "fontello"; }

// add a PDF icon to links to a PDF download
// .l-content ul.download,  {
//   padding-left: 0px;
//   margin-left: 0px;
//   list-style-type: none;
//   a:before {
//     @extend %icon;
//     @include font-size(16);
//     min-width: 1.3em;
//     display: inline-block;
//     content: '\e808';
//     padding-right: 0;
//   }
// }

// styling for PDF link lists
// (remove default list icons in aside)


// // positioning for download link icons
// .download:before {
// 	min-width: 1.5em;
// 	padding-right: 0.65em;
// 	margin-left: 1px;
// }

// // hide external link after download links
// .download.external:after, .download.external.button-link:after {
//  	display: none;
// }

// add icon to any external links within l-content or aside
.l-content .external:after, aside .external:after{
		@extend %icon;
		min-width: 1.5em;
		text-align: right;
		vertical-align: middle;
		display: inline-block;
		content: '\e837';
}

// social media links icons
.l-content a[href*="facebook"]:before, aside a[href*="facebook"]:before,
.l-content a[href*="twitter"]:before, aside a[href*="twitter"]:before,
.l-content a[href*="flickr"]:before, aside a[href*="flickr"]:before,
.l-content a[href*="youtube"]:before, aside a[href*="youtube"]:before,
.l-content a[href*="linkedin"]:before, aside a[href*="linkedin"]:before,
.l-content a[href*="tumblr"]:before, aside a[href*="tumblr"]:before,
.l-content a[href*="vimeo"]:before, aside a[href*="vimeo"]:before,
.l-content a[href*="pinterest"]:before, aside a[href*="pinterest"]:before,
.l-content a[href*="plus.google"]:before, aside a[href*="plus.google"]:before,
.l-content a[href*="github."]:before, aside a[href*="github"]:before,
.l-content a[href^="mailto"]:before, aside a[href^="mailto"]:before {
	@extend %icon;
	min-width: 1.5em;
	display: inline-block;
	text-align: left;
	border-bottom: 0;
	text-decoration: none;
}

.l-content a[href*="facebook"]:before, aside a[href*="facebook"]:before { content: '\e816'; }

.l-content a[href*="twitter"]:before, aside a[href*="twitter"]:before { content: '\e817'; }

.l-content a[href*="flickr"]:before, aside a[href*="flickr"]:before { content: '\e819'; }

.l-content a[href*="youtube"]:before, aside a[href*="youtube"]:before { content: '\e835'; }

.l-content a[href*="linkedin"]:before, aside a[href*="linkedin"]:before { content: '\e832'; }

.l-content a[href*="tumblr"]:before, aside a[href*="tumblr"]:before { content: '\e830'; }

.l-content a[href*="vimeo"]:before, aside a[href*="vimeo"]:before { content: '\e81b'; }

.l-content a[href*="pinterest"]:before, aside a[href*="pinterest"]:before { content: '\e82e'; }

.l-content a[href*="plus.google"]:before, aside a[href*="plus.google"]:before { content: '\e834'; }

.l-content a[href*="github."]:before, aside a[href*="github"]:before { content: '\e81d'; }

.l-content a[href^="mailto"]:before, aside a[href^="mailto"]:before,
.l-content a[href^="Mailto"]:before, aside a[href^="Mailto"]:before  { content: '\e811'; }

// pdf and doc link icons
.l-content a[href$=".pdf"]:before, .l-content a[href$=".doc"]:before,
aside a[href$=".pdf"]:before, aside a[href$=".doc"]:before {
	font-family: "fontello";
	content: '\e808';
	min-width: 1.5em;
	padding-right: 0.65em;
	margin-left: 1px;
}

// adjust position of pdf icon for download lists
.l-content li a[href$=".pdf"]:before, .l-content li a[href$=".doc"]:before {
	margin-left: -1.3em;
}


// icon alignment tweaks
.l-content a[href*="facebook"]:before, aside a[href*="facebook"]:before {
	margin-right: -5px;
	margin-left: 3px;
}
// icon alignment tweaks
.l-content a[href*="tumblr"]:before, aside a[href*="tumblr"]:before,
.l-content a[href*="plus.google"]:before, aside a[href*="plus.google"]:before {
	margin-right: -3px;
	margin-left: 2px;
}
// icon alignment tweaks
.l-content a[href*="pinterest"]:before, aside a[href*="pinterest"]:before {
	margin-right: -1px;
	margin-left: 1px;
}


// don't show external link icon on links with social media icons
.l-content a[href*="facebook"].external:after, aside a[href*="facebook"].external:after,
.l-content a[href*="twitter"].external:after, aside a[href*="twitter"].external:after,
.l-content a[href*="flickr"].external:after, aside a[href*="flickr"].external:after,
.l-content a[href*="youtube"].external:after, aside a[href*="youtube"].external:after,
.l-content a[href*="linkedin"].external:after, aside a[href*="linkedin"].external:after,
.l-content a[href*="tumblr"].external:after, aside a[href*="tumblr"].external:after,
.l-content a[href*="vimeo"].external:after, aside a[href*="vimeo"].external:after,
.l-content a[href*="pinterest"].external:after, aside a[href*="pinterest"].external:after,
.l-content a[href*="plus.google"].external:after, aside a[href*="plus.google"].external:after,
.l-content a[href*="github."].external:after, aside a[href*="github"].external:after,
.l-content a[href^="mailto"].external:after, aside a[href^="mailto"].external:after,
.l-content a[href^="Mailto"].external:after, aside a[href^="Mailto"].external:after,
.l-content a[href$=".pdf"]:after, .l-content a[href$=".doc"]:after,
aside a[href$=".pdf"]:after, aside a[href$=".doc"]:after  {
	display: none;
}
