//
// Forms
// --------------------------------------------------

/* Add-on form styling for icon-enhanced form controls */

@import "globals/sprites";

// Custom checkbox & radio button styling
// --------------------------------------

// styling based from example seen here:
// http://webdesign.tutsplus.com/tutorials/htmlcss-tutorials/quick-tip-easy-css3-checkboxes-and-radio-buttons/

// used for the bg sprites to style checkboxes and radioboxes
.form-ico {
  //height: 16px;
  //width: 16px;
  //@extend .ui-icons-sprite;
}

// --------------------------------------------------

// link styling within forms
.form-link {
  @include font-size(14);
  line-height: 14px;
  @include margin-trailer(2);
}

// checkbox and radio button styling
// default: boxes appear to the right of the label
// add class "before-label" to make the checkbox or radio button appear before the label

// remove default iphone border radius
input {
   -webkit-appearance: none;
   @include border-radius(0);
}

input[type="checkbox"],
input[type="radio"] {
  vertical-align: middle;
  display: none;
  //opacity: 0;
  &.unstyled {
    display: inline-block;
    -webkit-appearance: checkbox;
    width: 12px;
    height: 18px;
    cursor: pointer;
    margin-left: 6px;
    margin-right: 18px;
  }
}

input[type="checkbox"]+label,
input[type="radio"]+label {
  @include font-size(16);
  padding-bottom: 6px;
  //margin-left: -12px;
  display: inline-block;
  cursor: pointer;
}
input[type="checkbox"]+label:after,
input[type="radio"]+label:after {
  // @extend .form-ico;
  content: "";
  display: inline-block;
  margin: -2px 12px 0 12px;
  vertical-align: middle;
}

input[type="checkbox"]+label:after {
  //@include use-sprite(checkbox-un-checked);
  @extend .ui-icons-checkbox-un-checked;
}

input[type="checkbox"]:checked+label:after {
  @extend .ui-icons-checkbox-checked;
}

input[type="checkbox"]:disabled+label:after {
  @extend .ui-icons-checkbox-un-checked-disabled;
  cursor: default;
}

input[type="radio"]+label:after {
  @extend .ui-icons-radio-un-selected;
}

input[type="radio"]:checked+label:after {
  @extend .ui-icons-radio-selected;
}

input[type="radio"]:disabled+label:after {
  @extend .ui-icons-radio-un-selected-disabled;
  cursor: default;
}

// unstyled checkboxes & labels for events in salesforce
label.unstyled { display: inline-block; cursor: pointer; }
label.unstyled:after, input[type="checkbox"].unstyled+label:after, input[type="checkbox"].unstyled:checked+label:after {
    display: none ;
    cursor: pointer;
}

// styles for boxes before the label
input[type="checkbox"].before-label,
input[type="radio"].before-label {
  vertical-align: middle;
  display: none;
  //opacity: 0;
}

input[type="checkbox"].before-label+label,
input[type="radio"].before-label+label {
  @include font-size(16);
  margin-left: -12px;
  margin-right: 12px;
  display: inline-block;
  cursor:pointer;
}
input[type="checkbox"].before-label+label:before,
input[type="radio"].before-label+label:before {
  // @extend .form-ico;
  content: "";
  display: inline-block;
  margin: -2px 12px 0 12px;
  vertical-align: middle;
}

input[type="checkbox"].before-label+label:after,
input[type="radio"].before-label+label:after{
  display: none;
}


input[type="checkbox"].before-label+label:before {
  @extend .ui-icons-checkbox-un-checked;
}
input[type="checkbox"].before-label:checked+label:before {
  @extend .ui-icons-checkbox-checked;
}
input[type="checkbox"].before-label:disabled+label:before {
  @extend .ui-icons-checkbox-un-checked-disabled;
  cursor: default;
}
input[type="radio"].before-label+label:before {
  @extend .ui-icons-radio-un-selected;
}
input[type="radio"].before-label:checked+label:before {
  @extend .ui-icons-radio-selected;
}
input[type="radio"].before-label:disabled+label:before {
  @extend .ui-icons-radio-un-selected-disabled;
  cursor: default;
}

/* END FORM STYLES */
