/*
Syntax error: Invalid CSS after "		padding-left:": expected pseudoclass or pseudoelement, was "12px;"
        on line 255 of /Users/howard/Dropbox/htdocs/beta/assets/styles/globals/_layout.scss
        from line 9 of /Users/howard/Dropbox/htdocs/beta/assets/styles/header-only.scss

Backtrace:
/Users/howard/Dropbox/htdocs/beta/assets/styles/globals/_layout.scss:255
/Users/howard/Dropbox/htdocs/beta/assets/styles/header-only.scss:9
/Users/howard/.rvm/gems/ruby-1.9.3-p392/gems/sass-3.2.6/lib/sass/scss/parser.rb:1148:in `expected'
/Users/howard/.rvm/gems/ruby-1.9.3-p392/gems/sass-3.2.6/lib/sass/scss/parser.rb:1084:in `expected'
/Users/howard/.rvm/gems/ruby-1.9.3-p392/gems/sass-3.2.6/lib/sass/scss/parser.rb:1066:in `expr!'
/Users/howard/.rvm/gems/ruby-1.9.3-p392/gems/sass-3.2.6/lib/sass/scss/parser.rb:794:in `pseudo'
/Users/howard/.rvm/gems/ruby-1.9.3-p392/gems/sass-3.2.6/lib/sass/scss/parser.rb:678:in `simple_selector_sequence'
/Users/howard/.rvm/gems/ruby-1.9.3-p392/gems/sass-3.2.6/lib/sass/scss/parser.rb:646:in `_selector'
/Users/howard/.rvm/gems/ruby-1.9.3-p392/gems/sass-3.2.6/lib/sass/scss/parser.rb:619:in `selector'
/Users/howard/.rvm/gems/ruby-1.9.3-p392/gems/sass-3.2.6/lib/sass/scss/parser.rb:609:in `selector_sequence'
/Users/howard/.rvm/gems/ruby-1.9.3-p392/gems/sass-3.2.6/lib/sass/scss/parser.rb:528:in `ruleset'
/Users/howard/.rvm/gems/ruby-1.9.3-p392/gems/sass-3.2.6/lib/sass/scss/parser.rb:591:in `block in declaration_or_ruleset'
/Users/howard/.rvm/gems/ruby-1.9.3-p392/gems/sass-3.2.6/lib/sass/scss/parser.rb:1122:in `call'
/Users/howard/.rvm/gems/ruby-1.9.3-p392/gems/sass-3.2.6/lib/sass/scss/parser.rb:1122:in `rethrow'
/Users/howard/.rvm/gems/ruby-1.9.3-p392/gems/sass-3.2.6/lib/sass/scss/parser.rb:592:in `declaration_or_ruleset'
/Users/howard/.rvm/gems/ruby-1.9.3-p392/gems/sass-3.2.6/lib/sass/scss/parser.rb:554:in `block_child'
/Users/howard/.rvm/gems/ruby-1.9.3-p392/gems/sass-3.2.6/lib/sass/scss/parser.rb:543:in `block_contents'
/Users/howard/.rvm/gems/ruby-1.9.3-p392/gems/sass-3.2.6/lib/sass/scss/parser.rb:535:in `block'
/Users/howard/.rvm/gems/ruby-1.9.3-p392/gems/sass-3.2.6/lib/sass/scss/parser.rb:197:in `include_directive'
/Users/howard/.rvm/gems/ruby-1.9.3-p392/gems/sass-3.2.6/lib/sass/scss/parser.rb:175:in `special_directive'
/Users/howard/.rvm/gems/ruby-1.9.3-p392/gems/sass-3.2.6/lib/sass/scss/parser.rb:147:in `directive'
/Users/howard/.rvm/gems/ruby-1.9.3-p392/gems/sass-3.2.6/lib/sass/scss/parser.rb:554:in `block_child'
/Users/howard/.rvm/gems/ruby-1.9.3-p392/gems/sass-3.2.6/lib/sass/scss/parser.rb:546:in `block_contents'
/Users/howard/.rvm/gems/ruby-1.9.3-p392/gems/sass-3.2.6/lib/sass/scss/parser.rb:535:in `block'
/Users/howard/.rvm/gems/ruby-1.9.3-p392/gems/sass-3.2.6/lib/sass/scss/parser.rb:529:in `ruleset'
/Users/howard/.rvm/gems/ruby-1.9.3-p392/gems/sass-3.2.6/lib/sass/scss/parser.rb:553:in `block_child'
/Users/howard/.rvm/gems/ruby-1.9.3-p392/gems/sass-3.2.6/lib/sass/scss/parser.rb:546:in `block_contents'
/Users/howard/.rvm/gems/ruby-1.9.3-p392/gems/sass-3.2.6/lib/sass/scss/parser.rb:82:in `stylesheet'
/Users/howard/.rvm/gems/ruby-1.9.3-p392/gems/sass-3.2.6/lib/sass/scss/parser.rb:27:in `parse'
/Users/howard/.rvm/gems/ruby-1.9.3-p392/gems/sass-3.2.6/lib/sass/engine.rb:342:in `_to_tree'
/Users/howard/.rvm/gems/ruby-1.9.3-p392/gems/sass-3.2.6/lib/sass/engine.rb:274:in `to_tree'
/Users/howard/.rvm/gems/ruby-1.9.3-p392/gems/sass-3.2.6/lib/sass/tree/visitors/perform.rb:225:in `visit_import'
/Users/howard/.rvm/gems/ruby-1.9.3-p392/gems/sass-3.2.6/lib/sass/tree/visitors/base.rb:37:in `visit'
/Users/howard/.rvm/gems/ruby-1.9.3-p392/gems/sass-3.2.6/lib/sass/tree/visitors/perform.rb:100:in `visit'
/Users/howard/.rvm/gems/ruby-1.9.3-p392/gems/sass-3.2.6/lib/sass/tree/visitors/base.rb:53:in `block in visit_children'
/Users/howard/.rvm/gems/ruby-1.9.3-p392/gems/sass-3.2.6/lib/sass/tree/visitors/base.rb:53:in `map'
/Users/howard/.rvm/gems/ruby-1.9.3-p392/gems/sass-3.2.6/lib/sass/tree/visitors/base.rb:53:in `visit_children'
/Users/howard/.rvm/gems/ruby-1.9.3-p392/gems/sass-3.2.6/lib/sass/tree/visitors/perform.rb:109:in `block in visit_children'
/Users/howard/.rvm/gems/ruby-1.9.3-p392/gems/sass-3.2.6/lib/sass/tree/visitors/perform.rb:121:in `with_environment'
/Users/howard/.rvm/gems/ruby-1.9.3-p392/gems/sass-3.2.6/lib/sass/tree/visitors/perform.rb:108:in `visit_children'
/Users/howard/.rvm/gems/ruby-1.9.3-p392/gems/sass-3.2.6/lib/sass/tree/visitors/base.rb:37:in `block in visit'
/Users/howard/.rvm/gems/ruby-1.9.3-p392/gems/sass-3.2.6/lib/sass/tree/visitors/perform.rb:128:in `visit_root'
/Users/howard/.rvm/gems/ruby-1.9.3-p392/gems/sass-3.2.6/lib/sass/tree/visitors/base.rb:37:in `visit'
/Users/howard/.rvm/gems/ruby-1.9.3-p392/gems/sass-3.2.6/lib/sass/tree/visitors/perform.rb:100:in `visit'
/Users/howard/.rvm/gems/ruby-1.9.3-p392/gems/sass-3.2.6/lib/sass/tree/visitors/perform.rb:7:in `visit'
/Users/howard/.rvm/gems/ruby-1.9.3-p392/gems/sass-3.2.6/lib/sass/tree/root_node.rb:20:in `render'
/Users/howard/.rvm/gems/ruby-1.9.3-p392/gems/sass-3.2.6/lib/sass/engine.rb:315:in `_render'
/Users/howard/.rvm/gems/ruby-1.9.3-p392/gems/sass-3.2.6/lib/sass/engine.rb:262:in `render'
/Users/howard/.rvm/gems/ruby-1.9.3-p392/gems/compass-0.12.2/lib/compass/compiler.rb:140:in `block (2 levels) in compile'
/Users/howard/.rvm/gems/ruby-1.9.3-p392/gems/compass-0.12.2/lib/compass/compiler.rb:126:in `timed'
/Users/howard/.rvm/gems/ruby-1.9.3-p392/gems/compass-0.12.2/lib/compass/compiler.rb:139:in `block in compile'
/Users/howard/.rvm/gems/ruby-1.9.3-p392/gems/compass-0.12.2/lib/compass/logger.rb:45:in `red'
/Users/howard/.rvm/gems/ruby-1.9.3-p392/gems/compass-0.12.2/lib/compass/compiler.rb:138:in `compile'
/Users/howard/.rvm/gems/ruby-1.9.3-p392/gems/compass-0.12.2/lib/compass/compiler.rb:118:in `compile_if_required'
/Users/howard/.rvm/gems/ruby-1.9.3-p392/gems/compass-0.12.2/lib/compass/compiler.rb:103:in `block (2 levels) in run'
/Users/howard/.rvm/gems/ruby-1.9.3-p392/gems/compass-0.12.2/lib/compass/compiler.rb:101:in `each'
/Users/howard/.rvm/gems/ruby-1.9.3-p392/gems/compass-0.12.2/lib/compass/compiler.rb:101:in `block in run'
/Users/howard/.rvm/gems/ruby-1.9.3-p392/gems/compass-0.12.2/lib/compass/compiler.rb:126:in `timed'
/Users/howard/.rvm/gems/ruby-1.9.3-p392/gems/compass-0.12.2/lib/compass/compiler.rb:100:in `run'
/Users/howard/.rvm/gems/ruby-1.9.3-p392/gems/compass-0.12.2/lib/compass/commands/watch_project.rb:147:in `recompile'
/Users/howard/.rvm/gems/ruby-1.9.3-p392/gems/fssm-0.2.10/lib/fssm/path.rb:73:in `call'
/Users/howard/.rvm/gems/ruby-1.9.3-p392/gems/fssm-0.2.10/lib/fssm/path.rb:73:in `run_callback'
/Users/howard/.rvm/gems/ruby-1.9.3-p392/gems/fssm-0.2.10/lib/fssm/path.rb:55:in `callback_action'
/Users/howard/.rvm/gems/ruby-1.9.3-p392/gems/fssm-0.2.10/lib/fssm/path.rb:35:in `update'
/Users/howard/.rvm/gems/ruby-1.9.3-p392/gems/fssm-0.2.10/lib/fssm/state/directory.rb:39:in `block in modified'
/Users/howard/.rvm/gems/ruby-1.9.3-p392/gems/fssm-0.2.10/lib/fssm/state/directory.rb:37:in `each'
/Users/howard/.rvm/gems/ruby-1.9.3-p392/gems/fssm-0.2.10/lib/fssm/state/directory.rb:37:in `modified'
/Users/howard/.rvm/gems/ruby-1.9.3-p392/gems/fssm-0.2.10/lib/fssm/state/directory.rb:18:in `refresh'
/Users/howard/.rvm/gems/ruby-1.9.3-p392/gems/fssm-0.2.10/lib/fssm/backends/polling.rb:17:in `block (2 levels) in run'
/Users/howard/.rvm/gems/ruby-1.9.3-p392/gems/fssm-0.2.10/lib/fssm/backends/polling.rb:17:in `each'
/Users/howard/.rvm/gems/ruby-1.9.3-p392/gems/fssm-0.2.10/lib/fssm/backends/polling.rb:17:in `block in run'
/Users/howard/.rvm/gems/ruby-1.9.3-p392/gems/fssm-0.2.10/lib/fssm/backends/polling.rb:15:in `loop'
/Users/howard/.rvm/gems/ruby-1.9.3-p392/gems/fssm-0.2.10/lib/fssm/backends/polling.rb:15:in `run'
/Users/howard/.rvm/gems/ruby-1.9.3-p392/gems/fssm-0.2.10/lib/fssm/monitor.rb:26:in `run'
/Users/howard/.rvm/gems/ruby-1.9.3-p392/gems/fssm-0.2.10/lib/fssm.rb:70:in `monitor'
/Users/howard/.rvm/gems/ruby-1.9.3-p392/gems/compass-0.12.2/lib/compass/commands/watch_project.rb:87:in `perform'
/Users/howard/.rvm/gems/ruby-1.9.3-p392/gems/compass-0.12.2/lib/compass/commands/base.rb:18:in `execute'
/Users/howard/.rvm/gems/ruby-1.9.3-p392/gems/compass-0.12.2/lib/compass/commands/project_base.rb:19:in `execute'
/Users/howard/.rvm/gems/ruby-1.9.3-p392/gems/compass-0.12.2/lib/compass/exec/sub_command_ui.rb:43:in `perform!'
/Users/howard/.rvm/gems/ruby-1.9.3-p392/gems/compass-0.12.2/lib/compass/exec/sub_command_ui.rb:15:in `run!'
/Users/howard/.rvm/gems/ruby-1.9.3-p392/gems/compass-0.12.2/bin/compass:30:in `block in <top (required)>'
/Users/howard/.rvm/gems/ruby-1.9.3-p392/gems/compass-0.12.2/bin/compass:44:in `call'
/Users/howard/.rvm/gems/ruby-1.9.3-p392/gems/compass-0.12.2/bin/compass:44:in `<top (required)>'
/Users/howard/.rvm/gems/ruby-1.9.3-p392/bin/compass:19:in `load'
/Users/howard/.rvm/gems/ruby-1.9.3-p392/bin/compass:19:in `<main>'
/Users/howard/.rvm/gems/ruby-1.9.3-p392/bin/ruby_noexec_wrapper:14:in `eval'
/Users/howard/.rvm/gems/ruby-1.9.3-p392/bin/ruby_noexec_wrapper:14:in `<main>'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Syntax error: Invalid CSS after \"		padding-left:\": expected pseudoclass or pseudoelement, was \"12px;\"\A         on line 255 of /Users/howard/Dropbox/htdocs/beta/assets/styles/globals/_layout.scss\A         from line 9 of /Users/howard/Dropbox/htdocs/beta/assets/styles/header-only.scss"; }
