// Import global variables and mixins
@import "globals/variables";
@import "globals/mixins";

// color names as defined in style guide 
// $ual-black   : 	$ual-primary;  		// full black
// $soft-black  : 	#282828;   			// softer black
// $aaa-gray 	: 	$ual-secondary;   	// AAA gray
// $light-gray  : 	#c8c8c8;   			// light gray 
// $mid-gray 	: 	#666666;			// mid gray for LCF footer
// $bg-gray 	: 	#eeeeee;   			// lighter gray for bg

.search-results-wrap {
	@include clearfix();
	background-color: $bg-gray;
}


.search-filters{
  
  @include gs-media(d, min-max) {
    @include gs-span(d,1,4);
    @include margin-leader(9);
  }

  @include gs-media(t, min-max) {
    @include gs-span(t,2,7);
  }

  @include gs-media(m, min-max) {
    @include gs-span(m,all);
  }
}


.filter-module {
  
  h2 {
      padding: 12px 18px 12px 18px;
      background-color: $ual-black;
      color: $ual-white;
      font-size: emCalc(14px);
      font-weight: 300;
  }

  ul { padding-top: 0; }
    li {
        background-color: white;
        @include border-image-dot();
        background-image: url("http://artslondon.github.io/beta/assets/img/sprite/ui-icons/placehold-search-filter-unselected.png");
        background-repeat: no-repeat;
        background-position: 95% 50%;

        &:last-child { border-bottom: 0; } 
      
        a { 
          padding: 0 30px 0 18px;
          border-bottom: 0; 
          color: $aaa-gray;
          font-size: emCalc(14px);
          font-weight: 300;
          height:100%;
          display:block;
        }
    }

  li.active {
    background-image: url("http://artslondon.github.io/beta/assets/img/sprite/ui-icons/placehold-search-filter-cross.png");
    background-repeat: no-repeat;
    background-position: 95% 50%;
    > a { color: $ual-black;
        font-weight: bold;
    }
  }

}

.filter-module-short-courses{
  @extend .filter-module;

  .collapsible {
    display: none;
    .active &{
      display: block;
    }
  }

}

.filter-menu-list > li {
    background-color: $aaa-gray;
    background-image: url("http://artslondon.github.io/beta/assets/img/sprite/ui-icons/transparent-plus-19px.png");
    background-repeat: no-repeat;
    background-position: 95% 50%;
    
    > a { color: white; }
    
    &.active {
      background-image: url("http://artslondon.github.io/beta/assets/img/sprite/ui-icons/transparent-close-19px.png");
      background-position: 95% 12px;
      padding-bottom: 0;
      > a {
        color: $ual-white;
        font-weight: 300;
        padding-bottom: 6px;

      }
      ul {
        display: block;
      }

    }
    &.expanded {
      background-image: url("http://artslondon.github.io/beta/assets/img/sprite/ui-icons/transparent-close-19px.png");
    }

    ul { 
      margin-bottom: 0;
      padding-bottom: 0;
      display:none;
    }

    ul > li {
      background-color: white;
      @include border-image-dot();
      a { 
         color: $soft-black;
         font-weight: 300;
      }

      &:last-child { border-bottom: 0; } 
    } 
  }


.filter-menu-list input {
  display: block;
  width: 100%;
  padding-left: 12px;
  padding-right: 12px;
}





.search-results {
	//@include margin-leader(4);
	@include gs-media (d,min-max) {
		@include gs-span(d,6,16);
	}
  h2 {
    padding-top: 0;
  }
	h3 {
		@include adjust-font-size-to (18px);
    font-weight: bold;
		margin-top: 0;
    padding-top: 0;
	}

}

.search-results-list {
  margin-left: 0;
}

.search-results-list > li {
	list-style: none;
}

// styling the text-input field for searching courses
.course-finder-input {
	width: 100%;
	height: 70px;
	float: left;
	border: none;
	padding-left: 12px;
	@include adjust-font-size-to (16px);
	@include margin-trailer (4);
}

input {
	-webkit-transition: -webkit-box-shadow 1s;
	-moz-transition: -moz-box-shadow 1s;
	-o-transition: -o-box-shadow 1s;
	transition: box-shadow 1s;
}

input:hover, input:focus {
	-moz-box-shadow: inset 0 0 4px rgba(0,0,0,0.2); 
	-webkit-box-shadow: inset 0 0 4px rgba(0, 0, 0, 0.2); 
	box-shadow: inner 0 0 4px rgba(0, 0, 0, 0.2);
}

.search-button {
	height: 70px;
	width: 70px;
	float:left;
	background-color: black;
}



// main course title in search results list
.course-details > h3 {
	color: black;
	font-weight: bold;
	@include adjust-font-size-to (16px);
}

.search-results input:focus{
  outline:none;
}

.search-input-wrap {
  background: white;
  //height: 60px;
  //width: 100%;
  margin-bottom: 24px;
  border: 6px solid white;
}

.course-search-form {
  position: relative;
  width:100%;
}

.course-finder-input {
	@include single-transition();
	height: 44px;
  margin-top: 3px;
  margin-bottom: 0;
	border: none;
	margin-left: 18px;
  background-color: rgba(255,255,255, 0);
  box-shadow: none !important;

  @include gs-media(t, min-max) {
    margin-left: 6px;
  }

  @include gs-media(m, min-max) {
    max-width: 90%;
    width:90%;
    margin-left: 0;
  }

  &::-webkit-input-placeholder {
   color: #eeeeee; 
  }

  &:-moz-placeholder { /* Firefox 18- */
   color: #eeeeee; 
  }

  &::-moz-placeholder {  /* Firefox 19+ */
   color: #eeeeee;   
  }
  
  &:-ms-input-placeholder {  
   color: #eeeeee;   
  }
  
  &:focus {
    &::-webkit-input-placeholder {
     color: $aaa-gray; 
    }
    &:-moz-placeholder { /* Firefox 18- */
     color: $aaa-gray; 
    }
    &::-moz-placeholder {  /* Firefox 19+ */
     color: $aaa-gray;   
    }
    &:-ms-input-placeholder {  
     color: $aaa-gray;   
    }
  }
}



.search-link {
  position: absolute;
  top: 0;
  right: 0;
  display: block;
  background-color: black;
  height:48px;
  width: 48px; 
  img{
     margin-top: -3px; 
  }
  a {
    border-bottom: 0;
  }
}


input, .search-result-module, .search-input-wrap {
	-webkit-transition: -webkit-box-shadow 450ms;
	-moz-transition: -moz-box-shadow 450ms;
	-o-transition: -o-box-shadow 450ms;
	transition: border 450ms ease;
  border: 6px solid rgba(0,0,0,0);
}

.search-gray-border {
  border: 6px solid #DDDDDD;
}

.search-input-wrap:hover, .search-input-wrap:focus, .search-result-module:hover, .search-result-module:focus {
  @extend .search-gray-border;
}


.arrow-next a {
  right: 0px;
  border-left: 20px solid #c8c8c8;
  border-top: 20px solid transparent;
  border-bottom: 20px solid transparent;
  border-right: 20px solid transparent;
  font-size: 0;
  line-height: 0;
  width: 0;
}



.course-finder-right-arrow {
  position: absolute;
  right: 12px;
  top:30%;
  width: 43px;
  height: 77px;
  background-repeat: no-repeat;
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACsAAABNCAMAAAAILm21AAAAMFBMVEX////5+frj5OX9/f319fbT1Nbe3+D19fXe3uDR0tTx8fLo6Ons7e3w8fH+/v7z8/QfYEHbAAAAP0lEQVR42u3KwRGAIBAEwUX09AAl/2zNgNo/0++WVI4q13mFn28ymUwmk1f58XNkk6nnoFKpVOrm9fWrvinPD2ymB+dkUM+3AAAAAElFTkSuQmCC);
  
  @include gs-media(t, min-max) {
    display: none;
  }

  @include gs-media(m, min-max) {
    display: none;
  }


}

.search-result-module{
  position: relative;
  background-color: white;
  min-height: 138px;
  height: auto;
  padding: 24px;
  padding-bottom: 60px;
  @include margin-trailer (4);
}

.search-results-summary{
  clear:left;
  min-height: 120px;
}

.search-results-info {
   @include gs-media (d,min-max) {
      @include gs-span(d,10,16);
    }

    @include gs-media (t,min-max) {
      @include gs-span(t,5,8);
    }

    @include gs-media (m,min-max) {
      @include gs-span(m,all);
      display: block;
      clear: left;
      p { margin-bottom:  24px; }
    }
  
  p {
    padding-top: 0; 
    font-size:16px; 
    font-weight: 300;
    padding-bottom: 12px;
  }
}

.search-pagination-btns {
    a { margin-right: 1px; }

    @include gs-media (d,min-max) {
      @include gs-span(d,6,10,(6,16));
    }

    @include gs-media (t,min-max) {
      @include gs-span(t,1,4);
    }

    @include gs-media (m,min-max) {
      @include gs-span(m,all);
      width: 100%;
      display: block;
      clear: left;
    }
  }

.course-title {
  display: block;
  width: 32%;
  float: left;
  
  h3 {
    text-decoration: none;
    font-weight: bold;
    font-size: 18px;
    margin-top: 0;
    padding-bottom: 1px;
    a { 
      @include hyphenation;
      text-decoration: none; }
  }
  
  @include gs-media (m,min-max) {
    width: 100%;
    clear:left;
  }  

  
}
.course-description {
  
  width: 60%;
  float: left;
  margin-left: 18px;
  p {
    padding-top: 0;
  }

  @include gs-media (t,min-max) {
    width: 64%;
  }

  @include gs-media (m,min-max) {
    width: 100%;
    clear:left;
    margin-left: 0;

    p {
      @include margin-leader(4);
      @include margin-trailer(4);
    }
  
  }  
}

.search-results-lower-wrap {
  position: absolute;
  bottom: 20px;
  left:0;
  padding-left: 25px;
  font-size: emCalc(16px);
  width: 100%;
  @include gs-media (m,min-max) {
    font-size: emCalc(14px);
  }

}


.enrolment-type { 
  width: 32%;
  float: left;
  font-size: emCalc(16px);
  @include gs-media (m,min-max) {
    width: 100%;
    clear:left;
    font-size: emCalc(14px);
  }
}

.college-name {
  width: 60%;
  float: left;
  font-size: emCalc(16px);
  margin-left: 10px;
  @include gs-media (m,min-max) {
    width: 100%;
    clear: left;
    font-size: emCalc(14px);
    margin-left: 0;
  }
}

.no-results-found {
  text-align: center;
  margin: 0 auto;
}


.ui-autocomplete {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  float: left;
  display: none;
  min-width: 160px;
  _width: 160px;
  padding: 4px 0;
  margin: 2px 0 0 0;
  list-style: none;
  background-color: #ffffff;
  border-color: #ccc;
  border-color: rgba(0, 0, 0, 0.2);
  border-style: solid;
  border-width: 1px;
  *border-right-width: 2px;
  *border-bottom-width: 2px;
 
  .ui-menu-item > a.ui-corner-all {
    display: block;
    padding: 3px 15px;
    clear: both;
    font-weight: normal;
    line-height: 18px;
    color: #555555;
    white-space: nowrap;
 
    &.ui-state-hover, &.ui-state-active {
      color: #ffffff;
      text-decoration: none;
      background-color: #0088cc;
      border-radius: 0px;
      -webkit-border-radius: 0px;
      -moz-border-radius: 0px;
      background-image: none;
    }
  }
}


