// Table of Contents

// See mark-down file for how to use compass' rhythm and trailer/leader functions or check the compass documentation
// As a rule of thumb, don't nest further than 3 levels deep
// -------------------------------------------------------------

// This is a good example!
// .styleguide-format {
//   border: 1px solid #0f0;
//   color: #000;
//   background: rgba(0,0,0,0.5);
// }

// ::Layout styles 
	// ::Media queries 

.content-wrapper {
	width: 92.5%;
	max-width: 1260px;
	margin: 0 auto;
}


#header {
	background: $background;
	width:100%;
	@extend .clearfix;
	@include padding-leader(6);
	border-top: 6px solid #000000;

	@include gs-media(m, min-max) {
		padding-top: 0px;
		border-top:0px;
	}

	.banner {
		@extend .content-wrapper;
		@extend .clearfix;
		position: relative;
		@include gs-media(m, min-max) {
			@include gs-span(m, all);
			background:black;
			padding-left:3.75%;
			padding-right:3.75%;
			overflow: visible;
			@include padding-leader(1);
			@include padding-trailer(2);
		}


		
		.header {
			@include gs-span(d, all);
		}
	}

}

.footer {
		width:100%;
		@extend .clearfix;
		background: black;

		> div {
			@include gs-span(d, all);
			@include padding-leader(4);
			margin-left:12px;

			ul {
				clear:left;
				margin-bottom:0;
			}

		}

		li {
				@include nobullet;
				float:left;
				display:inline;
			a {
				color:#fff;
				margin-right:24px;
				font-size:12px;
				text-decoration:none;
				border-bottom:none;
			}
		}


		.primary-links {
			@include gs-span(d, 1, 10);
			@include padding-trailer(2);
		}

		.secondary-links {
			@include gs-span(d, 1, 12);
			@include padding-trailer(3);
		}

		.copyright {
			@extend .clearfix;
			@include gs-span(d, all);
			border-top: 1px solid #fff;

			p {
				color:#fff;
				font-size:12px;
				margin-left:12px;
			}
		}

		span {
			@include gs-span(d, 15, 16);
			a {
				float:right;
				color:#fff;
				margin-right:24px;
				font-size:12px;
				text-decoration:none;
				border-bottom:none;
			}
		}
}

header.title {
	@include gs-span(d, all);

		h1 {
			@include leader(5);
			@include trailer(5);
	
			}
}
.row {
	@include gs-span(d, all);
}

.typography {

	@include gs-media(d, min) {
		@include gs-span(d, 1,16);
	}

	@include gs-media(t, min-max) {
		@include gs-span(t, all);
	}
}

.paragraph {

	@include gs-media(d, min) {
		@include gs-span(d, 1,12);
	}
		@include gs-media(t, min-max) {
		@include gs-span(t, all);
	}
}

.half[data-float*=right] {

	@include gs-media(d, min) {
		@include gs-span(d, 9,16);
	}

	@include gs-media(t, min-max) {
		@include gs-span(t, 5,8);
	}
}

.half[data-float*=left] {

	@include gs-media(d, min) {
		@include gs-span(t, 1,4);
	}

	@include gs-media(t, min-max) {
		@include gs-span(t, all);
	}
}	




