// ::Imports pre-render. Must be after reset 
// ------------------------------------------------------------

@import "globals/variables";

// Mixins also references various Compass plugins e.g. vertical rhythm
@import "globals/mixins";
@import "plugins/normalize";
@import "globals/sprites";


/* ::Grid styles - using CSS files css/grid and css/grid-feature */
/* ------------------------------------------------------------ */
@import "globals/gridset";


//  camberwell colors - for quick reference
//  $camberwell-primary : #5ac882;   // Light Green
//  $camberwell-secondary : #8cd2f0; // Light blue
//  $camberwell-light-grey : #f2f2f2;   // Very Light Grey 
//  $camberwell-background-highlight : #f2f2f2;  // Very Light Grey 
//  $camberwell-footer-bg : #333333;	// dark grey



// This SlabText plugin styling should be moved to a shared file 
// if it will be used across multiple pages

.slabtexted .slabtext {
    display:-moz-inline-box;
    display:inline-block;
    white-space:nowrap;
}

.slabtextinactive .slabtext {
    display:inline;
    white-space:normal;
    font-size:1em !important;
    letter-spacing:inherit !important;
    word-spacing:inherit !important;
    *letter-spacing:0 !important;
    *word-spacing:0 !important;
}

.slabtextdone .slabtext {
	display:block;
}

// END SLAB TEXT STYLING



//  Camberwell Styling

//------------ TYPOGRAPHY / HEADINGS -------------- // 

// camberwell class applied to page-wrapper (after UAL header and main navigation)
.camberwell{
	
	// don't turn college level links green
	.global-college-links ul li a {
		color: black;
	}
	
	// remove and reset padding and margins for lists
	ul {
		margin-left: 0;
		padding-left: 0;
	}

	h1, h2, h3, h4, h5 {
		font-family: "Brandon Text", Helvetica, Arial, sans-serif;
		font-weight: bold;
	}

	
	// TEMP HIDE CLASS for prototype only
	// currently hiding: footer
	.cw-hide {
		display: none !important;
	}

	.cw-heading {
		@include padding-leader(1);
		// @mixin adjust-font-size-to("48px");
		border-top: solid 12px $camberwell-secondary; // baseline x2 
		color: $camberwell-primary;
		@include adjust-font-size-to(36px);
		width: 100%;

		a{
			//border-bottom: solid 1px $camberwell-light-grey;
			border-bottom: none;
		}


	}

	.cw-small-heading {
		//@include adjust-font-size-to(16px);
		// set to standard UAL font
		// TO DO: need to set this to variable
		font-family: "Swiss 721", Helvetica Neue, Helvetica, Arial, sans-serif;
		font-size: $base-font-size;
		font-weight: bold;
		color: $camberwell-primary;

	}
	
	.cw-courses-heading {
		@include adjust-font-size-to(78px);
		color: $camberwell-navy;

	}

	.cw-course-title {
		@include padding-leader(1);
		@include trailer(4);
		// @mixin adjust-font-size-to("48px");
		border-top: solid 12px $camberwell-secondary; // baseline x2 
		color: $camberwell-navy;
		@include adjust-font-size-to(42px);
		width: 100%;

		a{
			//border-bottom: solid 1px $camberwell-light-grey;
			border-bottom: none;
		}


	}
	
	.cw-course-list {
		color: $camberwell-navy;
		@include adjust-font-size-to(29px);
	}

	
	a {
		color: $camberwell-primary;
		text-decoration: none;
		border-bottom: solid 1px $camberwell-light-grey;
	}

	a.with-arrow {
		&:after{
			content: "&rarr;";
			color: $camberwell-secondary;
		}
	}




	.header-box {
		@include leader(4);
		@include gs-span(d, 1, 8);
		background-color: $camberwell-secondary;
		max-height: 100%;
		height: auto;
		
	    @include display(flex);
	    @include align-items(center);

	    @include gs-media(m,min-max) {
			display: none;

	    }
	   


	}

	.box-header {
		text-align: center;
		color: white;
		width:100%;
		margin: 0 auto;
		float: none;
		@include adjust-font-size-to(66px);

	}
	

	.top-slider {
		// @include clearfix;
		@include gs-span(d, 8, 16);
		padding-left:2.5%;
		// @include gs-span(t, all);
		// @include gs-span(m, all);
		@include leader(4);
		
		img{ 
		 	width: 100%;
		 	height: auto;
		}	
		
		@include gs-media(m,min-max) {
			@include gs-span(d, all);
			padding-left: 0;
	    }

	}

	.sidebar{
		@include gs-span(d, 1, 4);
		
		@include leader(7);
			
		clear: left;
		
		h2 {
			
			padding: 5px;
			@include leader(1);
			@include padding-leader(2);
			@include padding-trailer(2);
			@include background-opacity($camberwell-secondary, 0.2);
			color: black;
			// background-color: black;
			border-bottom: none;
			text-indent:10px;
			@include adjust-font-size-to(14px);
		}

		ul{
			
			@include adjust-font-size-to(14px);
			list-style-type: none;
			
			li {
				@include padding-leader(1);
				border-bottom: solid 1px #dbdbdb;
				text-indent:10px;
				padding: 5px;
				// &:first-of-type{
				// @include padding-leader(2);
				// @include padding-trailer(2);
				// @include background-opacity($camberwell-secondary, 0.2);
				// color: black;
				// // background-color: black;
				// border-bottom: none;
				
				&:nth-of-type(1){
					@include padding-leader(4);
				}

				a{
					font-weight: normal;
					color: black;
					@include adjust-font-size-to(14px);
					border-bottom: none;

				}

			}

		}

		@include gs-media(t, min-max) {
			// @include gs-span(t, all);
			display: none;
		}

		@include gs-media(m, min-max) {
			display: none;
		}

	}


	.course-info-container {
		// @include clearfix;
		@include gs-span(d, 5, 16);
		
		@include leader(8);
		@include trailer(15);
		
		
		@include gs-media(t, min-max) {
			@include gs-span(t, all);
		}

		@include gs-media(m, min-max) {
			@include gs-span(m, all);
		}

		.cw-heading{
			margin-top: 0;
			@include trailer(4);
		}
		.intro-text{
			@include gs-span(d, 5, 10, (5, 16));
			
			padding-top: 0;

		}
		
		img {
			@include gs-span(d, 11, 16, (5, 16));
		}
	}
	
	// lower 1 container (experience, student profiles, alumi)
	.lower1-container{ 
		clear: left;

		a {
			border-bottom: none;
		}
	}

	.cw-experience {
		@include padding-leader(4);
		@include gs-span(d, 1, 6);
		
		
		h2 {
			@include trailer(8);
		}

		ul{
			list-style-type: none;
			li{
				float:none;
				img{
					@include trailer(4);
					border-bottom: none;
				}
			
			}
		}

		@include gs-media(t,min-max) {
			@include gs-span(t, 3, 6);
			float: none;

	    }

		@include gs-media(m,min-max) {
			@include gs-span(m, all);
	    }
		
		

	}

	.student-profiles {
		@include padding-leader(4);
		@include gs-span(d, 8, 12);
		
		
		h2 {
			@include trailer(8);
		}
		ul{
			list-style-type: none;
			float:none;
			@include gs-span(d, 8, 9, (8, 12));
			li{
				
				img{
					@include trailer(4);
				}
				
			}
			@include gs-media(t,min-max) {
				@include gs-span(t, 3, 4,(3,6));
				float: none;
		    }

			@include gs-media(m,min-max) {
				@include gs-span(m, 1, 2);
		    }
		}

		ul:nth-child(2){
			list-style-type: none;
			@include gs-span(d, 10, 11, (8, 12));
			
			li{
				float:none;
				img{
					@include trailer(4);
				}
				
			}
			@include gs-media(t, min-max) {
				@include gs-span(t, 5, 6, (3,6));

		    }

			@include gs-media(m, min-max) {
				@include gs-span(m, 3, 4);
		    }
		}

		@include gs-media(t, min-max) {
			@include gs-span(t, 3, 6);
			float: none;
		}

		@include gs-media(m, min-max) {
			@include gs-span(m, all);

			// ul:nth-child(n+2) {
			// 	display: none;
			// }
		}
	}

	.alumni {
		@include padding-leader(4);
		// @include gs-span(d, 13, 16, (8, 12));
		@include gs-span(d, 13, 16);

		
		h2 {
			@include trailer(8);
		}

		ul{
			list-style-type: none;
			float:none;
			li{
				img{
					@include trailer(4);
				}
			}
		}

		@include gs-media(t, min-max) {
		 	@include gs-span(t, 3, 6);

		 	ul li {
		 		@include gs-span(t, 3, 4, (3, 6));
		 	}
			
			ul li:nth-child(even) {
				@include gs-span(t, 5, 6, (3, 6 ));
			}

		}

		@include gs-media(m, min-max) {
		 	@include gs-span(m, all);

		 	ul li {
		 		@include gs-span(m, 1, 2);
		 	}
			
			ul li:nth-child(even) {
				@include gs-span(m, 3, 4);
			}

		}

	}
	
	// lower 2 container (news, events, related-content)
	.lower2-container{ 
		clear: left;
	}
	.courses-by-sub-header {
		@include gs-span(d, 2, 11);

		@include gs-media (t, min-max) {
			@include gs-span(t, 1, 7);
		}

		@include gs-media (m, min-max) {
			@include gs-span(t, all);
		}



	}

	// lower 3 container (Courses by Subject -content section)
	.lower3-container{ 
		clear: left;
		@include clearfix;
		
		@include padding-leader(4);
			
		
			
		ul.col1 {
			@include gs-span(d, 5, 9);
			list-style-type: none;

			li {
				
				clear: left;
				list-style-type: none;
				@include margin-trailer(7);
				
				img {
					@include margin-trailer(7);
					clear:left;
				}
				

				a div {
					position: relative;
				    float: left;
				    overflow: hidden;
				    @include clearfix;
					
					div {
						position: absolute;
					    left: 5%;
					    top: 5%;
					    right: 5%;
					    bottom: 17%;
					    @include background-opacity($camberwell-secondary, 0.4);
					    text-align: center;
					    opacity: 0;
					    @include single-transition (all .2s ease-in);
					
						h3 {
							width: 100%;
						    color: #fff;
						    padding: 0 10px;
						    @include adjust-font-size-to(18px);
						}
					}
					
				}

				& a:hover div div { opacity: 1; }
			}


			@include gs-media(t, min-max) {
				@include gs-span(t, 2, 4);
			}

			@include gs-media(m, min-max) {
				@include gs-span(m, all);
			}


	
		}
	
		
		

		ul.col2 {
			// @include padding-leader(4);
			@include gs-span(d, 11, 15);
			list-style-type: none;
			li {
				clear:left;
				list-style-type: none;
				@include margin-trailer(7);
				position: relative;
			    float: left;
			    overflow: hidden;

				img {
					clear:left;
					@include margin-trailer(7);
				}
				
				a div {
					position: relative;
				    float: left;
				    overflow: hidden;
				    @include clearfix;
					
					div {
					    position: absolute;
					    left: 5%;
					    top: 5%;
					    right: 5%;
					    bottom: 17%;
					    @include background-opacity($camberwell-secondary, 0.4);
					    text-align: center;
					    opacity: 0;
					    @include single-transition (all .2s ease-in);

					    h3 {
						    width: 100%;
						    color: #fff;
						    padding: 0 10px;
						    @include adjust-font-size-to(18px);
						}
					}

				}

				& a:hover div div { opacity: 1; }
			}

			@include gs-media(t, min-max) {
				@include gs-span(t, 5, 7);
			}

			@include gs-media(m, min-max) {
				@include gs-span(m, all);
			}

		}
		
	}

	.news {
		@include padding-leader(4);
		@include gs-span(d, 5, 9);
		
		ul {
			
			list-style-type: none;
			li {
				img{ @include trailer(4); }
				
				a { border-bottom: none; }

				h3 {
					// //@include adjust-font-size-to(16px);
					// // set to standard UAL font
					// // TO DO: need to set this to variable
					// font-family: "Swiss 721", Helvetica Neue, Helvetica, Arial, sans-serif;
					// font-size: $base-font-size;
					// font-weight: bold;


				}

			}
		}

		@include gs-media(t, min-max) {
			@include gs-span(t, 2, 4);

			h3 {
					

			}
		}

		@include gs-media(m, min-max) {
			@include gs-span(m, all);

			h3 {
				color: $camberwell-primary;
			}
		}



	}
	
	.events {
		@include padding-leader(4);
		@include gs-span(d, 11, 15);

		ul {
			list-style-type: none;
			li {
				img{ @include trailer(4); }
				
				a { border-bottom: none; }

				h3 {
					//@include adjust-font-size-to(16px);
					// set to standard UAL font
					font-family: $font-family;
					font-size: $base-font-size;
					font-weight: bold;
					 color: $camberwell-primary;

				}
				
			}
		}

		@include gs-media(t, min-max) {
			@include gs-span(t, 5, 7);
		}

		@include gs-media(m, min-max) {
			@include gs-span(m, all);
		}
	}

	.related-content {
		@include leader(4);
		@include gs-span(d, 2, 15);
		@include clearfix;

		h2.cw-heading {
			@include trailer(8)
			


		}
		

	}

	.rc-1{
		@include padding-leader(4);
		@include gs-span(d, 2, 5, (2,15));

		@include gs-media(t, min-max) {
			@include gs-span(t, 2, 7);
			float: none;
		}

		@include gs-media(m, min-max) {
			@include gs-span(m, all);
			float: none;
		}

	}

	.rc-2{
		@include padding-leader(4);
		@include gs-span(d, 7, 10, (2,15));

		@include gs-media(t, min-max) {
			@include gs-span(t, 2, 7);
			float: none;
		}

		@include gs-media(m, min-max) {
			@include gs-span(m, all);
			float: none;
		}
	}

	.rc-3{
		@include padding-leader(4);
		@include gs-span(d, 12, 15, (2,15));

	}

	@include gs-media(t, min-max) {
		
		h2.cw-heading { @include trailer(1) }
		
		.rc1, .rc-2, .rc-3{
			@include gs-span(t, 2, 7);
			float: none;
		}
	}

	@include gs-media(m, min-max) {
		
		h2.cw-heading { @include trailer(1) }
		
		.rc1, .rc-2, .rc-3{
			@include gs-span(m, all);
			float: none;
		}
	}
	
}

.cw-footer {
		//@include gs-span(d, all);
		width: 100%;
		background-color: $camberwell-footer-bg;
		
		// text stylin
		color: white;
		a {
			color: white;
			text-decoration: none;
			border-bottom: none;
		}
		
		h3 {
			@include padding-leader(1);			
			border-top: solid 12px white; // baseline x2 
			color: white;
			@include adjust-font-size-to(36px);
			width: 100%;

			a{
				border-bottom: solid 1px $camberwell-light-grey;
			}
		}
		.contact-us{
			@include gs-span(d, 1, 4);
			
			// @include gs-span(t, 2, 7);
			// @include gs-span(m, all);
			ul{
				@include nobullet;
				width: 100%;
			}

			@include gs-media(t, min-max) {
				
				@include gs-span(t, 2, 7);
			}

			@include gs-media(m, min-max) {

				@include gs-span(m, all);
			}
		}

		.get-prospectus{

			@include gs-span(d, 6, 10);	
			ul{
				@include nobullet;
			}
		}

		.socials{
			@include gs-span(d, 12, 16);
			ul{
				@include nobullet;
				li {
					display: inline-block;
				}
			}
		}

		@include gs-media (t, min-max) {
			@include gs-span(t, 2, 7); 
		}

		@include gs-media (m, min-max) {
			@include gs-span(m, all); 
		}
		
	}

.open-days-container {
		@include clearfix;
		@include padding-leader(4);
		@include padding-trailer(4);

		width: 100%;
		min-height: 465px;
		height:auto;
		// hacky way to set height
		// height: 465px;
		float: left;
		background-color: $camberwell-bg-highlight;
		position: relative;
		
		// .come-visit {
		// 	@include gs-span(d, 5, 8);

		// }
		
		// .explore {
		// 	@include gs-span(d, 12, 16);

		// }

		.c-wrap {
			max-width: 800px;
			position: relative;
			margin-left: auto;
			margin-right: auto;
			@include gs-media(t, min-max) {
				max-width: 80%;
				margin-left: auto;
				margin-right: auto;
			}

			@include gs-media(m, min-max) {
				max-width: 90%;
				margin-left: auto;
				margin-right: auto;
			}

		}
		
		// Need to condense similar styles 
		// for circle callout into one parent class
		.circle-callout {
			// @include gs-span(d, 7, 12);
			
			@include circle ($camberwell-primary, 0.8);

			position: absolute;
			left:0;
			max-width: 400px;
			max-height: 400px;
			text-align: center;
			
			// line-height: 400px; /* = the height of the containing div */
			
			
			height: 400px;
			width: 400px;
			padding-top:120px;
			color: white;
			box-sizing: border-box;
			//transition: background 0.2s ease-in;
			
			&:hover {
				//background-image: url('../../img/camberwell/cw-college.png');
				//transition: background 0.2s ease-in;
				//-webkit-filter: grayscale(100%);
			}

			h2{
				@include adjust-font-size-to(36px);
				max-width: 300px;
				margin: 0 auto;
				text-align: center;
				@include padding-trailer(2);
			}

			a{
				@include adjust-font-size-to(14px);
				font-weight: normal;
				text-decoration: none;
				border-bottom: none;
				color: white;
			}

			a:after{
					content: "→";
					color: white;
			}
			
			.border-radius & {
				// fallback for IE and browsers which don't support border radius,
				// serve a transparent png background
				background: url('../../img/camberwell/green-circle-bg.png') no-repeat ;
				background-position: center;
				
			}

			@include gs-media(t, min-max) {
				position: static;
				margin-left: auto;
				margin-right: auto;
				opacity: 1 !important;
			}

			@include gs-media(m, min-max) {
				position: static;
				margin-left: auto;
				margin-right: auto;
				opacity: 1 !important;
			}

		}



		.circle-callout2 {
			// @include gs-span(d, 1, 6);
			
			@include circle ($camberwell-secondary, 0.8);
			position:absolute;
			right:0;
			max-width: 400px;
			max-height: 400px;
			height: 400px;
			width:400px;
			padding-top:120px;

			text-align: center;
			// @include adjust-font-size-to(54px);
			color: white;
			box-sizing: border-box;
			//transition: background 0.2s ease-in;

			&:hover {
				//background-image: url('../../img/camberwell/cw-placeholder1.png');
				//transition: background 0.2s ease-in;
				//-webkit-filter: grayscale(100%);
			}
			h2{
				@include adjust-font-size-to(36px);
				max-width: 300px;
				margin: 0 auto;
				text-align: center;
				@include padding-trailer(2);
			}

			a{
				@include adjust-font-size-to(14px);
				font-weight: normal;
				color: white;
				text-decoration: none;
				border-bottom: none;
			}

			a:after{
					content: "→";
					color: white;
			}
			
			.border-radius & {
				// fallback for IE and browsers which don't support border radius,
				// serve a transparent png background
				background: url ('../../img/camberwell/blue-circle-bg.png') no-repeat ;
				background-position: center;

			}
			
			@include gs-media(t, min-max) {
				position: static;
				margin-left: auto;
				margin-right: auto;
				margin-top: -40px;
				opacity: 1 !important;

			}
			
			@include gs-media(m, min-max) {
				position: static;
				margin-left: auto;
				margin-right: auto;
				margin-top: -40px;
				opacity: 1 !important;
			}


		}

		
	}

	// styling for the camberwell slider

	.slider-container {
		position: relative;
		top: 0;
		left: 0;
		max-width: 100%;
		height: 100%; 

		@include clearfix;
	}

	.flex-direction-nav {
		z-index: 3;

		.flex-next, .flex-prev {
			border-bottom: none;
		}

		

		// @include gs-media (d, min-max) {
		// 	.flex-prev {
		// 	left: -50%;
		// 	}
		// }
	}
	
	
