// Import global variables, mixins and utilities
@import "../globals/variables",
				"../globals/mixins";

.remove-margin-bottom {
	margin-bottom: -4px;
}

.image {
	position: relative; 
	width: 100%; /* for IE 6 */	
	p { 
		position: absolute;
		top: 50%;
		left: 50%;
		margin-top: -10%;
		margin-left: -50%;
		width: 100%; 
		text-align: center;
		font-style: italic;
	}
	a {
		color: #D10000;
		&:hover {
			background: #D10000;
			color: #fff;
		}
	}
	.hidelink {
		background: #D10000;
	}
	.rotate {
		/* Safari */
		-webkit-transform: rotate(90deg);
		/* Firefox */
		-moz-transform: rotate(90deg);
		/* IE */
		-ms-transform: rotate(90deg);
		/* Opera */
		-o-transform: rotate(90deg);
		/* Internet Explorer */
		filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
	}	
}

