// Import global variables and mixins
@import "globals/variables";
@import "globals/mixins";


// Type
.lcf {
    h1,h2,h3,h4,h5,h6 {
        text-transform: uppercase;
    }
    .sidebar {
        
    }
}

.section-title {
    h2, h3 {
        display: inline-block; // so that borders run as far as the text but no further
    }
}

figcaption {
    padding: 0 10px;
    color: $ual-secondary;
    font-family: $alt-font-family;
    padding-top: 4px;
    a {
       color: $ual-secondary; 
    }
}

.standfirst {
    font-size: 18px; // whoa are we using ems?
    @include margin-trailer(9);
}

// Modular classes
.bordered {
    border-bottom: 1px solid #000;
}

.dark-bg {
    background-color: #000;
    color: #fff;
    .bordered {
        border-bottom-color: #fff; 
    }
    a {
        color: #fff;
    }
}



// FEATURE CAROUSEL
#feature-carousel {
    overflow: hidden; // for flexslider controls
}




// SHOWCASE
#showcase {
    h2 {
        position: absolute;
        top: 40%;
        width: 100%;
    }
    .box-text {
        width: 65%;
    }
}


// SIDEBAR
.sidebar {
    margin-top: 80px;
}

// FOOTER
footer {
    &.zone-footer {
        border-bottom: 1px dotted $mid-gray;
    }
    .flex-block {
        .middle {
            border-left: 1px dotted $mid-gray;
            border-right: 1px dotted $mid-gray;
        }
        .inner {
            padding: 40px;
        }
    }
}
 



// GRADUATE SCHOOL
.graduate-school {
    header hr {
        width: 248px;
        margin-top: 0;
    }
    h1 {
        font-family: $alt-font-family;
    }
    section {
        @include clearfix();
    }
}

.cluster {

    ul {

        li {
            border-bottom: 1px solid $light-gray;
        } 
        a {
            border: 0;
        }
    }
}


