// Import global variables and mixins
@import "globals/variables";
@import "globals/mixins";


// Baseline classes
.buffer {
    @include margin-trailer(5);
}
.buffer-plus {
    @include margin-trailer(9);
}
.buffer-max {
    @include margin-trailer(18);
}
.buffer-top {
    @include margin-leader(5);
}
.buffer-top-plus {
    @include margin-leader(9);
}
.buffer-top-max {
    @include margin-leader(18);
}

// Type
.lcf {
    h1,h2,h3,h4,h5,h6 {
        text-transform: uppercase;
    }
}

.section-title {
    h2, h3 {
        display: inline-block; // so that borders run as far as the text but no further
    }
}

figcaption {
    padding: 0 10px;
    color: $ual-secondary;
    font-family: $alt-font-family;
    padding-top: 4px;
    a {
       color: $ual-secondary; 
    }
}

.standfirst {
    font-size: 18px; // whoa are we using ems?
    @include margin-trailer(9);
}

.two-columns {
   -moz-column-count: 2;
   -moz-column-gap: 20px; // best way to do gutter width?
   -webkit-column-count: 2;
   -webkit-column-gap: 20px;
}


// Modular classes
.bordered {
    border-bottom: 1px solid #000;
}

.dark-bg {
    background-color: #000;
    color: #fff;
    .bordered {
        border-bottom-color: #fff; 
    }
    a {
        color: #fff;
    }
}






// FEATURE CAROUSEL
#feature-carousel {
    overflow: hidden; // for flexslider controls
}




// SHOWCASE
#showcase {
    h2 {
        position: absolute;
        top: 40%;
        width: 100%;
    }
    .box-text {
        width: 65%;
    }
}


// SIDEBAR
.sidebar {
    margin-top: 80px;
}


// GRADUATE SCHOOL
.graduate-school {
    header hr {
        width: 248px;
        margin-top: 0;
    }
    h1 {
        font-family: $alt-font-family;
    }
}


