// Import global variables and mixins
@import "globals/variables";
@import "globals/gridset";
@import "style-guide/mixins";


// Type
.lcf {

    .two-up {
        text-align: center;
    }
    
    hr {
        width: 248px; // mini hr 
        margin-top: 0;
    }
    
    p.leader {
        font-size: emCalc(18px);
        font-weight: bold;
    }
    // SIDEBAR
    &.home .sidebar {
        margin-top: 70px;
    }


}



// Deluxe boxout with columns and image
.boxout-deluxe {
    //@include component-spacing-bottom;
    margin-bottom: rhythm(6, 16px);
    padding-top: rhythm(4, 16px); 
    @include gs-media(t,min-max) {
        @include gs-span(t,2,7);
    }
    @include gs-media(d,min-max) {
        @include gs-span(d, 5, 16, (5, 16));
    }
    .pad-left {
        padding-left: rhythm(4, 16px); 
    }
    /*figure {
        figcaption {
            @include gs-media(t,min-max) {
                @include gs-span(t,all);
            }
            @include gs-media(d,min-max) {
                width: gs-width(d, 5, 12, (5,16), true);
                @include gs-float(d, left, (5,16));
            }
            font-size: emCalc(14px);
        }
    }*/
    .left-col {
        @include gs-media(t,min-max) {
            @include gs-span(t,2,7);
        }
        @include gs-media(d,min-max) {
            @include gs-span(d, 5, 9, (5, 16));
        }
    }
    .right-col {
        @include gs-media(t,min-max) {
            @include gs-span(t,2,7);
        }
        @include gs-media(d,min-max) {
            @include gs-span(d, 10, 16, (5, 16));
        }
        //position: relative;
        figure {
            width: gs-width(d, 13, 16, (5, 16), true);
            margin: 0 rhythm(4, 16px) rhythm(4, 16px);
            float: right;
        }
    }
    .view-more-bar {
        border-top: 1px solid #FFF;
        p {
            padding-left: rhythm(4, 16px);  
        }
    }
}

// Two column block
// ------------------------------------------------------------

.two-column-block {
    @include component-spacing-bottom;

    @include gs-media(t,min-max) {
        @include gs-span(t,2,7);
    }

    @include gs-media(d,min-max) {
        @include gs-span(d, 5, 16, (5, 16));
    }
    .left-col {
        @include gs-media(d,min-max) {
            @include gs-span(d, 5, 10, (5, 16));
        }
    }
    .right-col {
        @include gs-media(d,min-max) {
            @include gs-span(d, 11, 16, (5, 16));
        }
    }
}




.wrapper-d3-d14 {
    @include gs-media (t,min-max) {
        @include gs-span(t,all);
    }

    @include gs-media (d,min-max) {
        @include gs-span(d,3,14);
    }
}



// Modular classes
.dark-bg {
    background-color: #000;
    color: #fff;
    .bordered {
        border-bottom-color: #fff; 
    }
    a {
        color: #fff;
    }
}


// SHOWCASE
#showcase {
    h2 {
        position: absolute;
        top: 40%;
        width: 100%;
    }
    .box-text {
        width: 65%;
        min-height: 200px; // bit weird
    }
}


.cluster {

    ul {

        li {
            border-bottom: 1px solid $light-gray;
        } 
        a {
            border: 0;
        }
    }
}