---
layout: main.tpl
college: lcc
title: London College of Communication
template: true

---
<div class="content-wrapper">
  
  <div class="row">
    <nav class="sidebar">
      {% include _lcc_navigation.html %}    
    </nav>
    <div class="main-content">
      <div class="slider-container">
        <ul class="slider" data-pager="true">
          <li><img src="http://placehold.it/1280x800" alt=""></li>
          <li><img src="http://placehold.it/1280x800" title="" alt=""></li>
          <li><img src="http://placehold.it/1280x800" title="" alt=""></li>
        </ul>
      </div>

      {% include components/_image-block-with-aside.html %}
    </div> 
  </div>  

  
  <div class="wrapper-d5-d16">
        
    <div class="row">
      
      <div class="left-col-span8">
        
        <div class="image-block">
          <h2>Image block with optional title</h2>
          <figure>
            <img src="http://placehold.it/1000x500&text=IMAGE, VIDEO OR SLIDER" alt="Image Alt">
            <figcaption>
              <p>This is a information for the image above, it can be either accreditation or a caption. This should not run more than 2 lines. (optional)</p>
            </figcaption> 
          </figure>
        </div>

        <div class="image-block">
          <h2>Image block with optional title</h2>
          <figure>
            <img src="http://placehold.it/1000x500&text=IMAGE, VIDEO OR SLIDER" alt="Image Alt">
            <figcaption>
              <p>This is a information for the image above, it can be either accreditation or a caption. This should not run more than 2 lines. (optional)</p>
            </figcaption> 
          </figure>
        </div>
      </div>
      
      <div class="span4-boxout-aside light-gray-bg">
        <ul>
          <li><a href="#">link list item here</a></li>
          <li><a href="#">link list item here</a></li>
          <li><a href="#">link list item here</a></li>
          <li><a href="#">link list item here</a></li>
          <li><a href="#">link list item here</a></li>
        </ul>
      </div>

  


    </div>

     

      
   
  </div>   
    
  
  

  
    
      
  


</div>



    
