
.swatch-list {
	margin-left:0px;
	@include leader(2);
	@include trailer(12);

	li {
		list-style:none;
	}
}
.swatch {
	width: 128px;
	height: 128px;
	margin-right: 30px;
	display:inline;
	float:left;
	position:relative;
	margin-bottom: 50px;

	span {
		position: absolute;
		bottom: -30px;
	}

}
.ual-primary-black {
	background: $ual-primary;
}

.ual-secondary-grey {
	background: $ual-secondary;
}

.camberwell-primary {
	background: $camberwell-primary;
}

.camberwell-secondary {
	background: $camberwell-secondary;
}

.csm-primary {
	background: $csm-primary;
}

.csm-secondary {
	background: $csm-secondary;
}

.chelsea-primary {
	background: $chelsea-primary;
}

.chelsea-secondary {
	background: $chelsea-secondary;
}

.chelsea-turqouise-green {
	background: $chelsea-turqouise-green;
}

.chelsea-light-green {
	background: $chelsea-light-green;
}