.white-bg {
	background: $background;
}

.ual-primary-black-bg {
	background: $ual-primary;
}

.ual-secondary-grey-bg {
	background: $ual-secondary;
}


.camberwell-primary-bg {
	background: $camberwell-primary;
}

.camberwell-secondary-bg {
	background: $camberwell-secondary;
}

.csm-primary-bg {
	background: $csm-primary;
}

.csm-secondary-bg {
	background: $csm-secondary;
}

.chelsea-primary-bg {
	background: $chelsea-primary;
}

.chelsea-secondary-bg {
	background: $chelsea-secondary;
}

.chelsea-turqouise-green-bg {
	background: $chelsea-turqouise-green;
}

.chelsea-light-green-bg {
	background: $chelsea-light-green;
}

// UAL global base colors 
.ual-black {
	color: $primary;
}

.soft-black {
	color: $soft-black;
}

.aaa-gray {
	color: $aaa-gray;
}

.light-gray {
	color: $light-gray;
}


.ual-black-bg {
	background: $primary;
	color: #ffffff;
}

.soft-black-bg {
	background: $soft-black;
}

.aaa-gray-bg {
	background: $aaa-gray;
}

.light-gray-bg {
	background: $light-gray;
}

.bg-gray-bg {
	background: $bg-gray;
}



