
// -------- UAL global base colors 

// -------- type colors
.ual-black {
	color: $primary;
}

.ual-white {
	color: $ual-white;
}

.soft-black {
	color: $soft-black;
}

.dark-gray {
	color: $dark-gray;
}

.aaa-gray {
	color: $aaa-gray;
}

.college-logo-gray {
	color: $college-logo-gray;
}


.light-gray {
	color: $light-gray;
}

// -------- Background Colors

.ual-black-bg {
	background: $primary;
}

.soft-black-bg {
	background: $soft-black;
}

.dark-gray-bg {
	background: $dark-gray;
}

.aaa-gray-bg {
	background: $aaa-gray;
}

.light-gray-bg {
	background: $light-gray;
}

.bg-gray-bg {
	background: $bg-gray;
}

.white-bg {
	background: $background;
}

.ual-white-bg {
	background: $ual-white;
}

.ual-primary-black-bg {
	background: $ual-primary;
}

.ual-secondary-grey-bg {
	background: $ual-secondary;
}

// College background color classes

.camberwell-primary-bg {
	background: $camberwell-primary;
}

.camberwell-secondary-bg {
	background: $camberwell-secondary;
}

.csm-primary-bg {
	background: $csm-primary;
}

.csm-secondary-bg {
	background: $csm-secondary;
}

.chelsea-primary-bg {
	background: $chelsea-primary;
}

.chelsea-secondary-bg {
	background: $chelsea-secondary;
}

.chelsea-turqouise-green-bg {
	background: $chelsea-turqouise-green;
}

.chelsea-light-green-bg {
	background: $chelsea-light-green;
}



