/*------------------------------------*\
    $SPRITES
\*------------------------------------*/

// use this to re-build sprites and sprite classes with compass
//$ico-sprite-dimensions: true;
//@import "globals/retina-sprites"; 
// @import "/sprite/ui-icons/*.png";
// @include all-ui-icons-sprites(true);


.ui-icons-sprite, .ui-icons-cf-selected, .ui-icons-cf-unselected-disabled, .ui-icons-cf-unselected, .ui-icons-checkbox-checked-disabled, .ui-icons-checkbox-checked, input[type="checkbox"]:checked + label:after, input[type="checkbox"].before-label:checked + label:before, .ui-icons-checkbox-un-checked-disabled, input[type="checkbox"]:disabled + label:after, input[type="checkbox"].before-label:disabled + label:before, .ui-icons-checkbox-un-checked, input[type="checkbox"] + label:after, input[type="checkbox"].before-label + label:before, .ui-icons-dashline_border_img, .ui-icons-grey-search, .with-search-icon, .ui-icons-quote_marks, blockquote span, .tab_container .tab-content-caption-block blockquote span, .ui-icons-quote_marks_big, .pull-quote span, .ui-icons-radio-selected-disabled, .ui-icons-radio-selected, input[type="radio"]:checked + label:after, input[type="radio"].before-label:checked + label:before, .ui-icons-radio-un-selected-disabled, input[type="radio"]:disabled + label:after, input[type="radio"].before-label:disabled + label:before, .ui-icons-radio-un-selected, input[type="radio"] + label:after, input[type="radio"].before-label + label:before, .form-ico {
  background: url(http://ual-beta.s3.amazonaws.com/assets/img/sprite/ui-icons-sfc9817bee5.png) no-repeat;
}

.ui-icons-cf-selected {
  background-position: 0 -56px;
  height: 16px;
  width: 16px;
}

.ui-icons-cf-unselected-disabled {
  background-position: 0 -164px;
  height: 16px;
  width: 16px;
}

.ui-icons-cf-unselected {
  background-position: 0 -132px;
  height: 16px;
  width: 16px;
}

.ui-icons-checkbox-checked-disabled {
  background-position: 0 -212px;
  height: 16px;
  width: 16px;
}

.ui-icons-checkbox-checked, input[type="checkbox"]:checked + label:after, input[type="checkbox"].before-label:checked + label:before {
  background-position: 0 -228px;
  height: 16px;
  width: 16px;
}

.ui-icons-checkbox-un-checked-disabled, input[type="checkbox"]:disabled + label:after, input[type="checkbox"].before-label:disabled + label:before {
  background-position: 0 -260px;
  height: 16px;
  width: 16px;
}

.ui-icons-checkbox-un-checked, input[type="checkbox"] + label:after, input[type="checkbox"].before-label + label:before {
  background-position: 0 -244px;
  height: 16px;
  width: 16px;
}

.ui-icons-dashline_border_img {
  background-position: 0 -276px;
  height: 1px;
  width: 4px;
}

.ui-icons-grey-search, .with-search-icon {
  background-position: 0 -277px;
  height: 16px;
  width: 16px;
}

.ui-icons-quote_marks, blockquote span, .tab_container .tab-content-caption-block blockquote span {
  background-position: 0 -72px;
  height: 44px;
  width: 64px;
}

.ui-icons-quote_marks_big, .pull-quote span {
  background-position: 0 0;
  height: 56px;
  width: 78px;
}

.ui-icons-radio-selected-disabled {
  background-position: 0 -116px;
  height: 16px;
  width: 16px;
}

.ui-icons-radio-selected, input[type="radio"]:checked + label:after, input[type="radio"].before-label:checked + label:before {
  background-position: 0 -180px;
  height: 16px;
  width: 16px;
}

.ui-icons-radio-un-selected-disabled, input[type="radio"]:disabled + label:after, input[type="radio"].before-label:disabled + label:before {
  background-position: 0 -148px;
  height: 16px;
  width: 16px;
}

.ui-icons-radio-un-selected, input[type="radio"] + label:after, input[type="radio"].before-label + label:before {
  background-position: 0 -196px;
  height: 16px;
  width: 16px;
}