@import "variables";
@import "mixins";


// SET-UP CORE FONT SIZING AND RHYTHM


// Default Sizing and spacing
// ------------------------------------------------------------

// You'll often get better results here if you work in numbers the divide into the baseline.
// IE, if you have a baseline of 6px, multiples or divisions of often provide best results in ems 

h1 { 
	@include adjust-font-size-to(34px, 6); 
	margin: rhythm(4, 34px) 0 rhythm(4, 34px) 0;  						// 3 lines below, based on font size
} 
			
h2 { 
	@include adjust-font-size-to(32px); 
	margin: rhythm(3, 32px) 0 rhythm(3, 32px) 0;  			// 4 lines above / 2 lines below, based on font size 
}

h3 { 
	@include adjust-font-size-to(24px); 
	margin: rhythm(2, 24px) 0 rhythm(2, 24px) 0;  			// 4 lines above / 2 lines below, based on font size 
} 

h4 { 
	@include adjust-font-size-to(22px); 
	margin: 0 0 rhythm(1, 22px) 0;  						// 1 lines below, based on font size 
} 

h5 { 
	@include adjust-font-size-to(22px); 
	margin: 0 0 rhythm(1, 22px) 0;  						// 1 lines below, based on font size 
} 

h6 { 
	@include adjust-font-size-to(18px); 
	margin: 0 0 rhythm(1, 18px) 0;  						// 1 lines below, based on font size 
} 	

p, pre, label { 
	@include adjust-font-size-to(16px); 
	margin: 0 0 rhythm(2, 16px) 0;							// 2 lines below, based on font size
}

h1, h2, h3, h4, h5, h6 {
	font-weight:bold;
}


// Display Header styles  
.heading-x7 {
	@include adjust-font-size-to(78px); 
	margin: 0 0 rhythm(5, 78px) 0; 
}

.heading-x6 {
	@include adjust-font-size-to(66px); 
	margin: 0 0 rhythm(5, 66px) 0; 
}

.heading-x5 {
	@include adjust-font-size-to(56px); 
	margin: 0 0 rhythm(5, 56px) 0; 
}

.heading-x4 {
	@include adjust-font-size-to(44px); 
	margin: 0 0 rhythm(4, 44px) 0; 
}

.heading-x3 {
	@include adjust-font-size-to(34px, 6); 
	margin: 0 0 rhythm(3, 34px) 0; 
}

.heading-x2 {
	@include adjust-font-size-to(22px, 6); 
	margin: 0 0 rhythm(2, 22px) 0; 
}

.heading-x1 {
	@include adjust-font-size-to(18px); 
	margin: 0 0 rhythm(2, 18px) 0; 
}

// Title styles

//base title class
.title {
	font-weight: bold;
	color: $ual-black;
}

.title-x8 {
	@extend .title;
	@include adjust-font-size-to(90px);
	line-height: rhythm(15, 90px);
	margin: 0 0 rhythm(5, 90px);
}

.title-x5 {
	@extend .title;
	@include adjust-font-size-to(56px);
	line-height: rhythm(10, 56px);
	margin: 0 0 rhythm(5, 56px);
}

.title-x3 {
	@extend .title;
	@include adjust-font-size-to(34px);
	line-height: rhythm(6, 34px);
	margin: 0 0 rhythm(3, 34px);
}

.title-x2 {
	@extend .title;
	@include adjust-font-size-to(22px);
	line-height: rhythm(4, 22px);
	margin: 0 0 rhythm(2, 22px);
}

.title-x1 {
	@extend .title;
	@include adjust-font-size-to(18px);
	line-height: rhythm(4, 18px);
	margin: 0 0 rhythm(2, 18px);
}

// paragraph styles

.para-x5 {
	@include adjust-font-size-to(56px);
	line-height: rhythm(10, 56px);
	margin: 0 0 rhythm(10, 56px);
}

.para-x3 {
	@include adjust-font-size-to(34px);
	line-height: rhythm(6, 34px);
	margin: 0 0 rhythm(3, 34px);
	font-weight: bold;
}

.para-x2 {
	@include adjust-font-size-to(22px);
	line-height: rhythm(5, 22px);
	margin: 0 0 rhythm(2, 22px);
}

.para-x1 {
	@include adjust-font-size-to(18px);
	line-height: rhythm(5, 18px);
	margin: 0 0 rhythm(2, 18px);
}

// default UAL paragraph
p {
	@include adjust-font-size-to(16px);
	line-height: rhythm(4, 16px);
	margin: 0 0 rhythm(2, 16px);
}

p.intro {
	@include adjust-font-size-to(22px); 
	margin: 0 0 rhythm(4, 22px) 0;		
}

p.small{
	@include adjust-font-size-to(14px); 
	line-height: rhythm(2, 14px);
	margin: 0 0 rhythm(2, 14px) 0;		
}

p.smallest{
	@include adjust-font-size-to(13px); 
	line-height: rhythm(4, 13px);
	margin: 0 0 rhythm(2, 13px) 0;		
}

small {
	@include adjust-font-size-to(14px);
		margin: 0 0 rhythm(2, 14px) 0;	
}

ol, ul {
	@include adjust-font-size-to(16px);
	margin: 0 0 rhythm(4, 16px) 0;							// 4 lines below, based on font size
}

li {
	line-height: auto;
}

// Horizontal rules - could create a sweet mixin for this?
hr {
  border: $hr-border-style $hr-border-color;
  border-width: $hr-border-width 0 0;
  clear: both;
  height: 0;
  @include margin-leader(5);
  @include margin-trailer(5);
  margin-left: 0;
  margin-right: 0;
}


// Blockquotes
// -----------------------------------------------------------


blockquote {
	font-style: italic;
	padding-left: em-font(23px);  
	border-left: 1px solid $light-gray;
	line-height: em-font(24px);
	font-weight: normal;
}

cite, cite a {
	color: $aaa-gray;
	font-style: normal;
	@include adjust-font-size-to(14px); 
	line-height: em-font(18px);
	margin-bottom: none;
	padding-bottom: none;
}

// blockquote with wider border on left side
.bquote-wider-border {
	padding-left: emCalc(12px); 
	border-left: 12px solid $light-gray;
	
}


// Lists
// -----------------------------------------------------------
ul 			{ @include unordered; } 	// Include unordered list from mixins by default
ol 			{ @include ordered; }		// Include ordered list from mixins by default



// .content-wrapper ul {
// 	list-style-type: none;
// 	li { 
// 	    padding-left: 0; 
// 		margin-left: 0;
// 	    // text-indent: em-font(24px);
// 	}
// 	li:before {
//     content: "■ ";
//     color: $ual-black;
// 	}
// }

// .content-wrapper ol{

// }



// Core typography
// ------------------------------------------------------------


strong, b 	{ font-weight: 600; }
em, i, q 	{ font-style: italic; }

// blockquote {
// 	padding-left: em-font(16px);
// 	border-left: em-font(5px) solid gray;
// 	line-height: normal;
// 	margin: 0;
// 	p {
// 		font-style: italic;
// 		margin: 0;
// 		color: $body-color;
// 		@include adjust-font-size-to(20px); 
// 		margin: rhythm(3, 20px) 0 rhythm(3, 20px) 0; 		//  3 lines above / 3 lines below, based on font size
// 	}
// }

@include gs-media(t, min-max) {

		h1, h2, h3, h4, h5, h6, .h12, .h11, .h10, .h9, .h8, .h7, .h6, .h5, .h4, .h3, .h2, .h1 {
			@include adjust-font-size-to(44px); 
	margin: 0 0 rhythm(2, 34px) 0;  
	}
}

@include gs-media(m, min-max) {
	h1, h2, h3, h4, h5, h6, .h12, .h11, .h10, .h9, .h8, .h7, .h6, .h5, .h4, .h3, .h2, .h1 {
			@include adjust-font-size-to(34px); 
	margin: 0 0 rhythm(2, 27px) 0;  
	}
}



