/*------------------------------------*\
    $CONTENTS
\*------------------------------------*/
/**
 * CONTENTS............You’re reading it!
 * RESET...............Set our reset defaults
 * FONT-FACE...........Import brand font files
 */

@include establish-baseline(16px);

// Always show scrollbar to prevent jumps when content is expanded
html {
  overflow-y: scroll;
	overflow-x: hidden;
}

// Set box-sizing rules to all Div's.
* {
 	@include box-sizing(border-box);
}

// Apply UAL global font to body
body {
	font-family: $ual-global-font-stack;
	overflow-x: hidden;
	@include font-size(16);
}

// Global link colors

a {
	// @extend %Swiss721BT-Roman;
	color: $black;
	text-decoration: none;
	padding-bottom: 1px;
	border-bottom: 1px dotted $soft-black  ;
	&:hover {
		color: $aaa-gray;
		padding-bottom: 1px;
		border-bottom: 1px dotted $black;
		.lcc h2 & , .lcc h3 & {
			color: $lcc-secondary-pink;
		}
	}
	// h2 & {
	// 	@extend %Swiss721BT-Bold;
	// }
	h3 & {
		.lcc & {
			border-bottom: none;
		}
	}
	// h4 & {
	// 	@extend %Swiss721BT-Bold;
	// }
	.size-big & {
		border-bottom: none;
	}
}

h1, .size-h1 {
	@include font-size(54);
	@include adjust-leading-to(10, 54px); 	
	padding: rhythm(2, 54px) 0 rhythm(4, 54px) 0;
	.csm & {
		font-family: 'Leviathan A', 'Leviathan B'; font-weight: 800; font-style: italic;
		// @extend %LeviathanBlackItalic;
	}
	.camberwell &, .chelsea &, .wimbledon & {
		@extend %BrandonText-Bold;		
	}
	.lcc & {
		@extend %LeagueGothicRegular;
	  text-transform: uppercase;
	}
}

h2 {
	.csm & {
		font-family: 'Leviathan A', 'Leviathan B'; font-weight: 800; font-style: italic;
	}
	.lcc & {
		@include font-size(54);
		border-top: 4px solid $black;
		@extend %LeagueGothicRegular;
	  text-transform: uppercase;
	}	
}

h3 {
	.csm & {
    @extend %BureauGrotBold;
	}
	.lcc & {
		@include font-size(36);
		@include adjust-leading-to(7, 36px); 	
		@extend %LeagueGothicRegular;
		padding: rhythm(3, 36px) 0 rhythm(1, 36px) 0;
	  text-transform: uppercase;
	  border-bottom: 4px solid $black;
	  margin-bottom: 18px;
	}	
}






h2, h3, h4 {
	@extend %Swiss721BT-Bold;
}

h2, h3 {
	.camberwell &, .chelsea &, .wimbledon & {
		@extend %BrandonText-Bold;		
	}
  // .csm & {
		// font-family: 'Leviathan A', 'Leviathan B'; font-weight: 800; font-style: italic;
  //   // @extend %BureauGrotBold;
  // }	
}



h2 a, h3 a {
	.camberwell &, .chelsea &, .wimbledon & {
		@extend %BrandonText-Bold;		
	}
  // .csm & {
		// font-family: 'Leviathan A', 'Leviathan B'; font-weight: 800; font-style: italic;
  //   // @extend %BureauGrotBold;
  // }	
 // 	.lcc & {
	// 	@extend %LeagueGothicRegular;
	//   text-transform: uppercase;
	//   border-bottom: none;
	//   &:hover {
	//   	color: $lcc-secondary-pink;
	//   }
	// }
}

h2, .size-h2 {
	@include font-size(36);
	@include adjust-leading-to(7, 36px); 	
	padding: rhythm(3, 36px) 0 rhythm(3, 36px) 0;
}

h3, .size-h3 {
	@include font-size(22);
	@include adjust-leading-to(5, 22px); 	
	padding: rhythm(3, 22px) 0;
}

h4, .size-h4 {
	@include font-size(18);
	@include adjust-leading-to(4, 18px); 	
	padding: rhythm(2, 18px) 0 rhythm(3, 18px) 0;
}

.size-big {
	.lcc & {
		@include font-size(54); 
		border-top: none;
	  border-bottom: 4px solid $black;
	  padding-bottom: 18px;
	  margin-bottom: 18px;
	}
}

h5 {
	@include font-size(16);
}

h6 {
	@include font-size(14);
}

p {
	@include font-size(16);
	@include adjust-leading-to(4, 16px); 	
	padding-bottom: rhythm(3, 16px);
}

nav ul {
	margin-left: 0;
	list-style-type: none;	
}

ul, ol, dl {
	margin-bottom: rhythm(3, 16px);

	li {
		@include font-size(16);
		@include adjust-leading-to(4, 16px); 	
		padding-bottom: rhythm(2, 16px);
	}	
}

ul li ul, ol li ol {
  padding-top: rhythm(2, 16px);
  padding-bottom: 0;
  li {
    padding-bottom: rhythm(2, 16px);
  }
}

p {
	@include font-size(16);
}

aside, .l-content {
	ul {
		li {
			padding-left: 9px;
			margin-left: 16px;
			list-style-type: square;
		}
	}
	// h3 {
	// 	@extend .size-h4;
	// 	@include padding-leader(1);
	// }
}

aside p {
	@include font-size(14);
}

ol {
	margin-left: rhythm(4, 16px);
	list-style-type: decimal-leading-zero;
	li {
		
	}
}

strong, b,{
	@extend %Swiss721BT-Bold;
}

em {
  @extend %Swiss721BT-Italic;
}

code {
	@extend %Swiss721BT-Italic;
	background: $bg-gray;
	@include font-size(12);
	padding: rhythm(1, 12px);
}

dl {
	@include adjust-leading-to(4, 16px); 
	padding-bottom: rhythm(1, 16px);
	dt {
		@extend %Swiss721BT-Bold;
	}
	dd {
		padding-bottom: rhythm(2, 16px);
		padding-left: rhythm(4, 16px);
	}
}

table {
	width: 100%;
	@include font-size(14);
	@include adjust-leading-to(4, 14px); 	
	padding-bottom: rhythm(2, 14px);
	margin-bottom: rhythm(3, 14px);
	th, td {
		padding-top: rhythm(1, 14px);
		padding-right: rhythm(1, 14px);
		padding-bottom: rhythm(1, 14px);
		padding-left: rhythm(2, 14px);
	}
	th{
		text-align: left;
		vertical-align: top;
	}
	thead {
		@extend .aaa-gray-bg; 
		@extend .ual-white;
	}
	tr {
		&:nth-child(odd) { 
		}
		&:nth-child(even) {
			@extend .bg-gray-bg;


		}
	}
}

figure {
	position: relative; // for credits
	// margin-bottom: rhythm(3, 14px);
	line-height: 0;
	a {
		@extend %Swiss721BT-Light;
		color: $black;
		text-decoration: none;
		padding-bottom: 0;
		border-bottom: 0;
		&:hover {
			padding-bottom: 0;
			border-bottom: 0;
		}
	}
}

figcaption, .rsCaption, .caption {
	@extend %Swiss721BT-Light;
	@include font-size(14);
	@include adjust-leading-to(3, 14px); 	
	span { // this span is required for complicated reasons related to Royal Slider's default presentation of the ALT text as the caption
		display: block;
		padding: 8px 12px 6px 12px;
		p {
			padding-bottom: 0;
		}
	}
	
}


%blockquote {
  position: relative;
  span { 
    @extend .ui-icons-quote_marks;
    position: absolute;
    top: 0px;
    left: 0px;
    background-repeat: no-repeat;
    background-position: top left; 
  }
  
  @include font-size(16);
  @include adjust-leading-to(4, 16px);  
  margin-top: rhythm(2, 16px);
  padding-bottom: rhythm(2, 16px);
  padding-left: 68px;
  padding-right: 18%;
}

blockquote {
	@extend %blockquote;
}

hr {
	clear: both;
}

// // // Custom Web Fonts

// // .Swiss721BT-Light { font-family: Swiss721BT-Light; }
// // .Swiss721BT-Roman { font-family: Swiss721BT-Roman; }
// // .Swiss721BT-Italic { font-family: Swiss721BT-Italic; }
// // .Swiss721BT-Bold { font-family: Swiss721BT-Bold; }
// // .Swiss721BT-Black { font-family: Swiss721BT-Black; }
// // .Swiss721BT-Medium { font-family: Swiss721BT-Medium; }

// // // CCW
// // .BrandonText-Bold { font-family: BrandonText-Bold; }
// // .BrandonText-Regular { font-family: BrandonText-Regular; }

// // // LCC
// // .LeagueGothicRegular { font-family: LeagueGothicRegular; }
// // .LeagueGothicItalic { font-family: LeagueGothicItalic; }
// // .LeagueGothicCondensedRegular { font-family: LeagueGothicCondensedRegular; }
// // .LeagueGothicCondensedItalic { font-family: LeagueGothicCondensedItalic; }

// // // CSM
// // .BureauGrotBold { font-family: BureauGrotBold; }


// LCF Variants 

b, strong, h2, h3, h4 {
	@extend %Swiss721BT-Bold;
}

.lcf {
	// Swiss Black
	h1,h2,h2 a,h3,h3 a {
		@extend %Swiss721BT-Black;
	}
	h1 {
		@include font-size(48);
	}
	.search-results-list h3 a, 
	.accordion h3,
	.dd-menu h3,
	.boxout h3,
	.__gallery h3 a,
	h4,h5,h6 {
	   @extend %Swiss721BT-Bold;
	}
	// Bottom margin
	&.home h2, 
	.l-content-full-width h2, 
	.__gallery h2, 
	.intro-block-with-left-image h2, 
	&.graduate-school h1,
	&.graduate-school h2 {
		margin-bottom: rhythm(4, 24px);
	}
	h2, .__media.block h3, .footer-block h3 {
		text-transform: uppercase;
		letter-spacing: 2px;
		span, a {
			border-bottom: 1px solid black;
		}
	}
	.box-text h3 a {
		border-color: $white;
	}
	h2 {
		letter-spacing: 4px;
	}
	.college-footer .size-h2 {
		@include font-size(24);
   		@include margin-trailer(4);
   		padding-bottom: 0;
   
	}


    // centered headings
    .l-content-full-width.two-up, 
    .three-up, 
    .content h1, 
    &.home h2,
    .content .four-up h2, 
    .content .four-up h3,
    .call-to-action h3,
    &.graduate-school h2 {
        text-align: center;
    }

    .content {
        .text-block, .l-content {
        	h2, h3, h4 {
        		text-align: left;
         	}
        }
     }
}


// // GRADUATE SCHOOL

.graduate-school {
	.header-wrapper h1 {
		display: none;
	}
    .content-wrapper {
        h1,h2,.call-to-action h3 a {
            font-family: $lcf-heading-font;
            font-weight: normal;
            letter-spacing: 1px;
        }
        h1, h2 {
        	background: url(http://beta.arts.ac.uk/media/beta/beta-assets/img/lcf-title-underline.gif) bottom center no-repeat;
        }
        h1 {
            @include font-size(36);
            text-transform: uppercase;
            margin-bottom: rhythm(4, 30px);
            letter-spacing: 5px;
        }
        h2 {
        	@include font-size(20);
        }
    }
    .call-to-action h3 {
		@include font-size(20);
		text-transform: uppercase;
	}
}
