.logo {
  @include gs-span(d, 1,4);
  @include padding-leader(6);
  @include padding-trailer(4);
   
  @include gs-media(t, min-max) {
    margin-bottom:0px;
    padding-left: 12px;
  }
  @include gs-media(m, min-max) {
    // padding-left: 12px;
    // padding-top: 12px;
  @include gs-span(m, all);
    margin-bottom:0px;
    // padding-top: 12px;
  }

  img {
    max-width:none;
  }

  .service-manual & {
    @include gs-span(d, 1);
  }
}
