// VARIABLES FOR GLOBAL USE

@import "compass/typography/vertical_rhythm";

// Colours
// ---------------------------------------------------------------------

// Define your main colour palette

$ual-secondary 			      :rgb(146, 146, 146); // Light gray
$black 							      :rgb(0, 0, 0);
$white 							      :rgb(255, 255, 255);
      
$soft-black 				      :rgb(40, 40, 40); 		// Softer black
$dark-gray 					      :rgb(51, 51, 51); 		// Dark gray
$aaa-gray 					      :rgb(117, 117, 117);	// AAA gray
$college-logo-gray 	      :rgb(153, 153, 153);	// College logo lockup text only
$light-gray  				      :rgb(200, 200, 200);  // Light gray 
$bg-gray 						      :rgb(238, 238, 238);  // Lighter gray for bg
$logo-gray 					      :rgb(167, 169, 172);	// Logo lock up gray

// CSM Colours------------------------------------------------------------

$csm-primary 				      :rgb(255, 12, 0);   	// Bright red

// LCC Colours------------------------------------------------------------

$lcc-primary-yellow       :rgb(255, 255, 0);   	// Light yellow
$lcc-secondary-pink       :rgb(229, 0, 110); 		// Light pink
$lcc-green                :rgb(40, 229, 152);   // Light Green

// LCF Colours------------------------------------------------------------

$mid-gray                 :rgb(102, 102, 102);	// Mid gray for LCF footer

// CCW Shared Colours-----------------------------------------------------

$ccw-green                :rgb(88, 191, 88);    // Light green
$ccw-salmon               :rgb(237, 110, 107);  // Salmon pink
$ccw-blue                 :rgb(74, 151, 221);   // Light blue

// Fonts, measure, leading and typefaces----------------------------------

$base-font-size					  :16px; 				        // Sets the browser default size. Shouldn't need to change this.
$base-line-height				  :6px;					        // Baseline grid. Set to a sensible, small size.
$base-line						    :24px;					      // Baseline grid. Set to a sensible, small size.
$ual-global-font-stack : "Swiss721BT-Light", Helvetica Neue, Helvetica, Arial, sans-serif;
$lcf-heading-font: Times, serif;
$ccw-brandon-font: "BrandonText-Regular", Helvetica, Arial, sans-serif;

