extends ../../_layout/_base
block vars
	- var bodyClass = "lcc";
	- var Title = "lcc-figcaption";
	- var Sidebar = true;
	- var Banner = true;
block content
	include ../../_includes/components/_slider-12.html
	include ../../_includes/components/_slider-8.html
