extends ../../_layout/_base
block vars
    - var bodyClass = "ual";
    - var Title = "Industry Links";
    - var Sidebar = false;
    - var Banner = true;
block content
    .row
        .content-wrapper
            .row
                .l-content-full-width.block.__media.four-up-full
                    ul.stories
                        li
                            figure.feature
                                a(href="http://", title="Link title to go here")
                                    img(src="http://dummyimage.com/1112x696/000/fff", alt="Image alt text to go here")
                            h3
                                a(href="http://", title="Link title to go here") Current story 01
                        li
                            figure.feature
                                a(href="http://", title="Link title to go here")
                                    img(src="http://dummyimage.com/1112x696/000/fff", alt="Image alt text to go here")
                            h3
                                a(href="http://", title="Link title to go here") Current story 02
                        li
                            figure.feature
                                a(href="http://", title="Link title to go here")
                                    img(src="http://dummyimage.com/1112x696/000/fff", alt="Image alt text to go here")
                            h3
                                a(href="http://", title="Link title to go here") Current story 03
                        li
                            figure.feature
                                a(href="http://", title="Link title to go here")
                                    img(src="http://dummyimage.com/1112x696/000/fff", alt="Image alt text to go here")
                            h3
                                a(href="http://", title="Link title to go here") Current story 04

            .row
                .l-content-full-width.block.__media.two-up-full
                    ul.text-only
                        li
                            p.leader Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce commodo mattis libero vitae elementum. Vivamus viverra, leo a pharetra sollicitudin, nisl tortor vestibulum ligula, vitae mollis lacus elit commodo nisi. Maecenas viverra tempus sapien, id fermentum ipsum aliquam non. Nunc feugiat dui velit. Ut blandit velit fringilla est tincidunt, et feugiat tortor venenatis. Mauris fringilla condimentum diam ac pretium. Morbi quis ullamcorper velit.

                        li
                            p  If you would like to find out more about how your business or organization can access UAL’s creative expertise, then please contact:
                            p
                                | Eleanor Wintram
                                br
                                | PA to University Enterprise Development Manager
                            p
                                | +44 (0)20 7514 7296
                                br
                                a(href="mailto:e.wintram@arts.ac.uk", title="Email Eleanor Wintram")  Eleanor Wintram



            .row
                .l-content-full-width.block.__media.two-up-full.industry-links
                    ul
                        li
                            figure.feature
                                img(src="http://dummyimage.com/1112x696/000/fff", alt="Image alt text to go here")
                            h2 Working with our students
                            ul.il-list
                                li
                                    a(href="http://", title="Link to to go here") Camberwell students
                                li
                                    a(href="http://", title="Link to to go here") Central Saint Martins students
                                li
                                    a(href="http://", title="Link to to go here") Chelsea students
                                li
                                    a(href="http://", title="Link to to go here") London College of Communication students
                                li
                                    a(href="http://", title="Link to to go here") London College of Fashion students
                                li
                                    a(href="http://", title="Link to to go here") Wimbledon students
                        li
                            figure.feature
                                img(src="http://dummyimage.com/1112x696/000/fff", alt="Image alt text to go here")
                            h2 Working with our staff
                            ul.il-list
                                li
                                    a(href="http://", title="Link to to go here") Camberwell staff
                                li
                                    a(href="http://", title="Link to to go here") Central Saint Martins staff
                                li
                                    a(href="http://", title="Link to to go here") Chelsea staff
                                li
                                    a(href="http://", title="Link to to go here") London College of Communication staff
                                li
                                    a(href="http://", title="Link to to go here") London College of Fashion staff
                                li
                                    a(href="http://", title="Link to to go here") Wimbledon staff

            .row
                .l-content-full-width.block.__media.two-up-full.industry-links
                    ul
                        li
                            figure.feature
                                img(src="http://dummyimage.com/1112x696/000/fff", alt="Image alt text to go here")
                            h2 Our communities and networks
                            ul.il-list
                                li
                                    a(href="http://", title="Link to to go here") Camberwell communities and networks
                                li
                                    a(href="http://", title="Link to to go here") Central Saint Martins communities and networks
                                li
                                    a(href="http://", title="Link to to go here") Chelsea communities and networks
                                li
                                    a(href="http://", title="Link to to go here") London College of Communication communities and networks
                                li
                                    a(href="http://", title="Link to to go here") London College of Fashion communities and networks
                                li
                                    a(href="http://", title="Link to to go here") Wimbledon communities and networks
                        li
                            figure.feature
                                img(src="http://dummyimage.com/1112x696/000/fff", alt="Image alt text to go here")
                            h2 Short courses &amp; professional training
                            ul.il-list
                                li
                                    a(href="http://", title="Link to to go here") Camberwell short courses &amp; professional training
                                li
                                    a(href="http://", title="Link to to go here") Central Saint Martins short courses &amp; professional training
                                li
                                    a(href="http://", title="Link to to go here") Chelsea short courses &amp; professional training
                                li
                                    a(href="http://", title="Link to to go here") London College of Communication short courses &amp; professional training
                                li
                                    a(href="http://", title="Link to to go here") London College of Fashion short courses &amp; professional training
                                li
                                    a(href="http://", title="Link to to go here") Wimbledon short courses &amp; professional training

            .row
                .l-content-full-width.block.__media.two-up-full.industry-links
                    ul
                        li
                            figure.feature
                                img(src="http://dummyimage.com/1112x696/000/fff", alt="Image alt text to go here")
                            h2 Venue hire and conferences
                            ul.il-list
                                li
                                    a(href="http://", title="Link to to go here") Camberwell venue hire and conferences
                                li
                                    a(href="http://", title="Link to to go here") Central Saint Martins venue hire and conferences
                                li
                                    a(href="http://", title="Link to to go here") Chelsea venue hire and conferences
                                li
                                    a(href="http://", title="Link to to go here") London College of Communication venue hire and conferences
                                li
                                    a(href="http://", title="Link to to go here") London College of Fashion venue hire and conferences
                                li
                                    a(href="http://", title="Link to to go here") Wimbledon venue hire and conferences
                        li
                            figure.feature
                                img(src="http://dummyimage.com/1112x696/000/fff", alt="Image alt text to go here")
                            h2 Business mentoring and enterprise support
                            ul.il-list
                                li
                                    a(href="http://", title="Link to to go here") Camberwell mentoring and enterprise support
                                li
                                    a(href="http://", title="Link to to go here") Central Saint Martins mentoring and enterprise support
                                li
                                    a(href="http://", title="Link to to go here") Chelsea mentoring and enterprise support
                                li
                                    a(href="http://", title="Link to to go here") London College of Communication mentoring and enterprise support
                                li
                                    a(href="http://", title="Link to to go here") London College of Fashion mentoring and enterprise support
                                li
                                    a(href="http://", title="Link to to go here") Wimbledon mentoring and enterprise support

