---
layout: main.tpl
college: lcf
section: college home
title: London College of Fashion
template: true
---

<div class="content-wrapper">

	<div class="row slider-container">
		<div class="royalSlider contentSlider rsDefault  block" data-slider-item-width="1280" data-slider-item-height="480">
			<figure>
	        	<img class="rsImg" src="{{ site.url }}//assets/img/lcf/ba13-catwalk1280-480.jpg" alt="some alt text" data-rsvideo="http://www.youtube.com/watch?v=CrEq3QWQgvo" />
	        	<div class="rsCaption"></div>
	    	</figure>
	    	<figure>
	        	<img class="rsImg" src="{{ site.url }}//assets/img/lcf/lcf-slide-ba13-2.jpg" alt="some alt text" />
	        	<figcaption class="rsCaption"><span>1280 x 480</span></figcaption>
	    	</figure>
	    	<figure>
	        	<img class="rsImg" src="{{ site.url }}//assets/img/lcf/lcf-slide-ba13-2.jpg" alt="no caption test alt" />
	        	<figcaption class="rsCaption"></figcaption>
	    	</figure>
		</div>
	</div><!-- .slider-container -->


	<div class="row">
		<nav class="sidebar">
			{% include _lcf_navigation.html %}		
		</nav>	

		<div class="content">
			{% include components/_intro-block-with-left-image.html %}
		</div><!-- .content -->
	</div><!-- .row -->

	<div class="row">
		<div class="l-content-full-width  __media">
			<h2>What's On</h2>
			<figure><img src="{{ site.url }}//assets/img/lcf/lcf-whats-on.jpg"></figure>
		</div>
	</div>	

	<div class="row">

		<ul class="whats-on">
      <a href="" title="Courses" class="d-hide"><li>Courses</li></a>
      
      <li class="t-hide m-hide">
        <a href="" title="Courses" title="Courses">
        <figure>
          <img src="http://beta.arts.ac.uk/media/beta/beta-colleges/beta-csm/Jy-Yeon-Suh@1.jpg" alt="Courses">
          <div class='credits'>Jy-Yeon Suh - MA Industrial Design 2011</div>
        </figure>
      </a></li>

      <li>
        <iframe width="560" height="315" src="//www.youtube.com/embed/wgQi0e0kG6Y" frameborder="0" allowfullscreen></iframe>
        <a href="" title="News" class="t-hide m-hide">
        <figure>
          <img src="http://beta.arts.ac.uk/media/beta/beta-colleges/beta-csm/images/news.jpg" alt="News"></a>
          <div class='credits'>Martha Zmpounou - MA Communication Design 2011</div>
        </figure>
      </li>

      <a href="" title="News" class="d-hide"><li>News</li></a>

      <a href="" title="Events" class="d-hide"><li>Events</li></a>

      <li>
        <a href="" title="Events" class="t-hide m-hide">
        <figure>
          <img src="http://beta.arts.ac.uk/media/beta/beta-colleges/beta-csm/images/events.jpg" alt="Events"></a>
          <div class='credits'>Wai Yin Li - BA (Hons) Fashion: Design With Marketing 2011</div>
        </figure>
        <iframe height="315" src="https://www.youtube.com/embed/bY4i5pZckMw?rel=0" frameborder="0" allowfullscreen></iframe>
      </li>

      <a href="" title="Open Days" class="d-hide"><li>Open Days</li></a>

      <li class="t-hide m-hide">
        <a href="" title="Open Days" >
        <figure>
          <img src="http://beta.arts.ac.uk/media/beta/beta-colleges/beta-csm/Tea-Mulabdic@1.JPG" alt="Open Days"></a>
          <div class='credits'>Tea Mulabdic - BA (Hons) Performance Design And Practice 2010</div>
        </figure>
      </li>

    </ul>

	</div>
	
	<div class="row">
		<div>
			<h2>News</h2>
		</div>
	</div>

	<div class="row"><!-- same as existing image-list-with-text but uses H3 for item title -->
		<div class="l-content-d3-d14 news-feed">
			<ul>
				<li class="row">
					<figure>
						<a href="" title=""><img src="{{ site.url }}//assets/img/lcf/lcf-news-1.jpg" alt="Image Alt"></a>
					</figure>
					<div class="text">
						<h3><a href="" title="">News Title</a></h3>
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce nulla turpis, ullamcorper congue pharetra sit amet, varius sit amet diam. Sed bibendum porttitor mattis. Phasellus nisl mi, gravida in porta nec, hendrerit quis arcu. (max XX words)</p>
					</div>
				</li>
				<li class="row">
					<figure>
						<a href="" title=""><img src="{{ site.url }}//assets/img/lcf/lcf-news-2.jpg" alt="Image Alt"></a>
					</figure>
					<div class="text">
						<h3><a href="" title="">News Title</a></h3>
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce nulla turpis, ullamcorper congue pharetra sit amet, varius sit amet diam. Sed bibendum porttitor mattis. Phasellus nisl mi, gravida in porta nec, hendrerit quis arcu. (max XX words)</p>
					</div>
				</li>
	      	</ul>
	    </div>
	</div><!-- .row -->

	<div class="row slider-container">
		<div class="slider-3-14">
			<div class="royalSlider rsDefault block gala-slider" data-slider-item-width="948" data-slider-item-height="900">
				<div class="slide">
	    			<figure><img src="{{ site.url }}//assets/img/lcf/lcf-showcase1.jpg" /></figure>
	    			<div class="box-text aligncenter centered">
						<h3><a href="">Film Series</a></h3>
						<p class="m-hide">LCF, Sophie Countess of Wessex and Kurt Geiger welcomed London&rsquo;s fashion industry elite to Mansion House to invest in the fashion talent of the future. The Fashion Matters Gala, a grand dinner followed by an exclusive auction, raised money for Cordwainers courses at LCF and celebrated 125 years of Cordwainers at the College. Read more on the&nbsp;<a href="http://blogs.arts.ac.uk/fashion/2013/09/09/a-glittering-gala-for-the-future-of-fashion/">LCF News blog &gt;</a></p>

					</div>
	    		</div>
				<div class="slide">
					<figure><img src="{{ site.url }}//assets/img/lcf/lcf-showcase2.jpg" /></figure>
					<div class="box-text aligncenter centered">
						<h3>Catwalk Shows</h3>
						<p class="m-hide">We have an awesome selection of catwalk shows that may contain some nudity.</p>
					</div>
				</div>
			</div>
		</div>	
	</div>

	<div class="row">
		<div class="media-block">
			<h2>Explore</h2>
			<figure><img src="{{ site.url }}//assets/img/lcf/lcf-gallery.jpg"></figure>
		</div>
	</div>	

</div><!-- .content-wrapper -->
