---
layout: main.tpl
college: lcf
section: college home
title: London College of Fashion
template: true
---

<div class="content-wrapper">

	<div class="row slider-container">
		<div class="royalSlider contentSlider rsDefault  block" data-slider-item-width="1280" data-slider-item-height="480">
			<figure>
	        	<img class="rsImg" src="{{ site.url }}//assets/img/lcf/lcf-slide-ba13-1.jpg" alt="some alt text" />
	        	<figcaption class="rsCaption"><span>1280 x 480</span></figcaption>
	    	</figure>
	    	<figure>
	        	<img class="rsImg" src="{{ site.url }}//assets/img/lcf/lcf-slide-ba13-2.jpg" alt="some alt text" />
	        	<figcaption class="rsCaption"><span>1280 x 480</span></figcaption>
	    	</figure>
	    	<figure>
	        	<img class="rsImg" src="{{ site.url }}//assets/img/lcf/lcf-slide-ba13-2.jpg" alt="no caption test alt" />
	        	<figcaption class="rsCaption"></figcaption>
	    	</figure>
		</div>
	</div><!-- .slider-container -->


	<div class="row">
		<nav class="sidebar">
			{% include _lcf_navigation.html %}		
		</nav>	

		<div class="content">
			{% include components/_intro-block-with-left-image.html %}
		</div><!-- .content -->
	</div><!-- .row -->

	<div class="row">
		<div class="l-content-full-width  __media">
			<h2>What's On</h2>
			<figure><img src="{{ site.url }}//assets/img/lcf/lcf-whats-on.jpg"></figure>
		</div>
	</div>	

	{% include components/_image-list-with-text-feature.html %}
	

	<div class="row">
		<div>
			<h2>News</h2>
		</div>
	</div>

	<div class="row"><!-- same as existing image-list-with-text but uses H3 for item title -->
		<div class="l-content-d3-d14 image-list-with-text image-right">
			<ul>
				<li>
					<figure>
						<a href="" title=""><img src="{{ site.url }}//assets/img/lcf/lcf-news-1.jpg" alt="Image Alt"></a>
					</figure>
					
					<div class="text">
						<h3 class="title"><a href="" title="">News Title</a></h3>
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce nulla turpis, ullamcorper congue pharetra sit amet, varius sit amet diam. Sed bibendum porttitor mattis. Phasellus nisl mi, gravida in porta nec, hendrerit quis arcu. (max XX words)</p>
					</div>
				</li>
				<li>
					<figure>
						<a href="" title=""><img src="{{ site.url }}//assets/img/lcf/lcf-news-2.jpg" alt="Image Alt"></a>
					</figure>
					
					<div class="text">
						<h3 class="title"><a href="" title="">News Title</a></h3>
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce nulla turpis, ullamcorper congue pharetra sit amet, varius sit amet diam. Sed bibendum porttitor mattis. Phasellus nisl mi, gravida in porta nec, hendrerit quis arcu. (max XX words)</p>
					</div>
				</li>
	      	</ul>
	    </div>
	</div><!-- .row -->

	<div class="row slider-container">
		<div class="slider-3-14">
			<div class="royalSlider rsDefault block" data-slider-item-width="948" data-slider-item-height="830">
				<div class="slide">
	    			<figure><img src="{{ site.url }}//assets/img/lcf/lcf-showcase1.jpg" /></figure>
	    			<div class="box-text aligncenter centered">
						<h3><a href="">Film Series</a></h3>
						<p>LCF Men is a series of seven short films produced by London College of Fashion to mark the launch of London Collections: Men, the kick-start to the menswear calendar. Released throughout January 2013, the films feature a selection of Britain’s most stylish men. <a href="#">Watch all of the LCF Men films</a>.</p>
					</div>
	    		</div>
				<div class="slide">
					<figure><img src="{{ site.url }}//assets/img/lcf/lcf-showcase2.jpg" /></figure>
					<div class="box-text aligncenter centered">
						<h3>Catwalk Shows</h3>
						<p>We have an awesome selection of catwalk shows that may contain some nudity.</p>
					</div>
				</div>
			</div>
		</div>	
	</div>

	<div class="row">
		<div class="media-block">
			<h2>Explore</h2>
			<figure><img src="{{ site.url }}//assets/img/lcf/lcf-gallery.jpg"></figure>
		</div>
	</div>	

</div><!-- .content-wrapper -->
