{% include docs/_docs_head.html %}
 
<body class="style">

  {% include docs/_docs_header.html %}

  {% include docs/_docs_navigation.html %}

  <div class="content-wrapper">

    {{ content }}

  </div><!-- .content-wrapper -->

  <script src='{{ site.url }}assets/js/libs/jquery-1.8.2.min.js' type='text/javascript'></script>
  <script>
    if (typeof jQuery == 'undefined') {
    document.write(unescape("%3Cscript src='{{ site.url }}assets/js/libs/jquery-1.8.2.min.js' type='text/javascript'%3E%3C/script%3E"));
  }
  </script>

  <!-- Development scripts, not for production -->
  <script src='{{ site.url }}assets/js/dev/gridset-overlay.js' type='text/javascript'></script>
  <script src='{{ site.url }}assets/js/dev/hashgrid.js' type='text/javascript'></script>
  
  <!-- Plugins -->

  </body>
</html>