<!DOCTYPE html>
<!-- paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/ -->
<!--[if lt IE 7]>
  <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en">
<![endif]-->
<!--[if IE 7]>
  <html class="no-js lt-ie9 lt-ie8" lang="en">
<![endif]-->
<!--[if IE 8]>
  <html class="no-js lt-ie9" lang="en">
<![endif]-->
<!--[if gt IE 8]>
  <!--> <html lang="en"> <!--
<![endif]-->
<head>
    <title>University of Arts London Beta</title>
    <meta charset='utf-8'>
    <meta content='user-scalable=no, width=device-width, initial-scale=1, maximum-scale=1' name='viewport' >
    <meta content='IE=edge,chrome=1' http-equiv='X-UA-Compatible"'>
    <meta content='on' http-equiv='cleartype'>
    <meta content='grid test' name='description'>
    <meta content='University of Arts London, Web Team' name='author'>

    <!-- For all browsers -->
    <!--
    <link rel='stylesheet' href='{{ site.url }}/assets/css/foundation.min.css'>
    <link rel='stylesheet' href='{{ site.url }}/assets/css/grid/gridset.css'>
  <link rel='stylesheet' href='{{ site.url }}/assets/css/screen.css'>
  -->
   <script>
  /* grunticon Stylesheet Loader | https://github.com/filamentgroup/grunticon | (c) 2012 Scott Jehl, Filament Group, Inc. | MIT license. */
window.grunticon=function(e){if(e&&3===e.length){var t=window,n=!!t.document.createElementNS&&!!t.document.createElementNS("http://www.w3.org/2000/svg","svg").createSVGRect&&!!document.implementation.hasFeature("http://www.w3.org/TR/SVG11/feature#Image","1.1"),A=function(A){var o=t.document.createElement("link"),r=t.document.getElementsByTagName("script")[0];o.rel="stylesheet",o.href=e[A&&n?0:A?1:2],r.parentNode.insertBefore(o,r)},o=new t.Image;o.onerror=function(){A(!1)},o.onload=function(){A(1===o.width&&1===o.height)},o.src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///ywAAAAAAQABAAACAUwAOw=="}};
grunticon( [ "{{ site.url }}/assets/css/logos/logos.data.svg.css", "{{ site.url }}/assets/css/logos/logos.data.png.css", "{{ site.url }}/assets/css/logos/logos.fallback.css" ] );
    </script>
  <noscript><link href="{{ site.url }}/assets/img/css/logos.fallback.css" rel="stylesheet"></noscript>

  <!-- screen.css live on beta.arts.ac.uk -->
  <!-- <link rel='stylesheet' href='http://beta.arts.ac.uk/media/beta/beta-assets/css/screen.css'> -->

  <!-- link to local github version of screen.css -->
  <link rel='stylesheet' href='http://artslondon.github.io/beta/media/beta/beta-assets/css/screen.css'>

  <link rel='stylesheet' href='{{ site.url }}/assets/css/debug.css'>

   



  <!--[if (lt IE 9) & (!IEMobile)]>
  // selectivizr is a JavaScript utility that emulates CSS3 pseudo-classes and attribute selectors in Internet Explorer 6-8 //
  <script src='{{ site.url }}/assets/js/libs/selectivizr-min.js'></script>
  <script src="{{ site.url }}/assets/js/libs/html5shiv.js"></script>
  <link rel='stylesheet' href='{{ site.url }}/assets/styles/gridset-ie-lte8.css'>
  <![endif]-->
  <!-- JavaScript -->
  <!--Modernizr is a JavaScript library that detects HTML5 and CSS3 features in the user’s browser--> 
  <script src='{{ site.url }}/assets/js/libs/modernizr.dev.js'></script>
  <!-- Detectizr is a Modernizr extension to detect devices -->
  <script src='{{ site.url }}/assets/js/libs/detectizr.min.js'></script>
  <link rel="shortcut icon" href="{{ site.url }}/assets/img/favicon.ico">
  <link rel="shortcut icon" href="{{ site.url }}/assets/img/favicon.png">
  <!-- <link rel="apple-touch-icon-precomposed" href="{{ site.url }}/assets/img/l/apple-touch-icon-precomposed.png"> -->
  <!-- <link rel="apple-touch-icon-precomposed" sizes="72x72" href="{{ site.url }}/assets/img/m/apple-touch-icon-72x72-precomposed.png"> -->
  <!-- <link rel="apple-touch-icon-precomposed" sizes="114x114" href="{{ site.url }}/assets/img/h/apple-touch-icon-114x114-precomposed.png"> -->
  <!-- <link rel="apple-touch-icon-precomposed" sizes="144x144" href="{{ site.url }}/assets/img/h/apple-touch-icon-144x144-precomposed.png"> -->
      <!--iOS -->
  <!-- <meta name="apple-mobile-web-app-title" content="Rock Hammer"> -->
  <!-- <meta name="viewport" content="initial-scale=1.0"> (Use if apple-mobile-web-app-capable below is set to yes) -->
  <!-- <meta name="apple-mobile-web-app-capable" content="yes"> -->
  <!-- <meta name="apple-mobile-web-app-status-bar-style" content="black"> -->
      <!-- Startup images -->
  <!-- <link rel="apple-touch-startup-image" href="{{ site.url }}/assets/img/startup/startup-320x460.png" media="screen and (max-device-width:320px)"> -->
  <!-- <link rel="apple-touch-startup-image" href="{{ site.url }}/assets/img/startup/startup-640x920.png" media="(max-device-width:480px) and (-webkit-min-device-pixel-ratio:2)"> -->
  <!-- <link rel="apple-touch-startup-image" href="{{ site.url }}/assets/img/startup/startup-640x1096.png" media="(max-device-width:548px) and (-webkit-min-device-pixel-ratio:2)"> -->
  <!-- <link rel="apple-touch-startup-image" sizes="1024x748" href="{{ site.url }}/assets/img/startup/startup-1024x748.png" media="screen and (min-device-width:481px) and (max-device-width:1024px) and (orientation:landscape)"> -->
  <!-- <link rel="apple-touch-startup-image" sizes="768x1004" href="{{ site.url }}/assets/img/startup/startup-768x1004.png" media="screen and (min-device-width:481px) and (max-device-width:1024px) and (orientation:portrait)"> -->
  <!-- Windows 8 / RT -->
  <meta content='&lt;!-- @path apple-touch-icon-144x144-precomposed.png --&gt;' name='msapplication-TileImage'>
  <meta content='#000' name='msapplication-TileColor'>


  <script>
    Modernizr.Detectizr.detect({detectScreen:false});
  </script>
</head>


  <body class='{{ page.college }} {{ page.section }}'>
{% if page.template == true %}


<header class="ual-header row">
<div class="header-wrapper">
  <div class="row">  
    <div class="ual-banner-menu">
      <h1 class="hide-text">UAL: University of the Arts London</h1>
      <a href="#skip-to-home" id="skip-link" class="skip-to-content" title="skip to main page content">Skip to main page content</a>
      <div class="ual-logo-desktop">
        {% case page.college %}
        {% when "csm" %}
          <div class="logo-ual-csm"></div>
        {% when "lcc" %}
          <div class="logo-ual-lcc"></div>
        {% when "lcf" %}
          <div class="logo-ual-lcf"></div>
        {% when "chelsea" %}
          <div class="logo-ual-chelsea"></div>
        {% when "camberwell" %}
          <div class="logo-ual-camberwell"></div>
        {% when "wimbledon" %}
          <div class="logo-ual-wimbledon"></div>
        {% else %}
          <div class="logo-ual"></div>
        {% endcase %}
      </div> 
    </div> 
      {% if page.class-home != "docs" %} 
        <nav class="college-link-menu">
          <ul>
            <li class="col-link-ual"><a href="/">UAL</a></li>
              <li class="col-link-camberwell"><a href="{{ site.url }}content/colleges/camberwell/">Camberwell</a></li>
              <li class="col-link-csm"><a href="{{ site.url }}content/colleges/csm/">CSM</a></li>
              <li class="col-link-chelsea"><a href="{{ site.url }}content/colleges/chelsea/">Chelsea</a></li>
              <li class="col-link-lcc"><a href="{{ site.url }}content/colleges/lcc/">LCC</a></li>
              <li class="col-link-lcf"><a href="{{ site.url }}content/colleges/lcf/">LCF</a></li>
              <li class="col-link-wimbledon"><a href="{{ site.url }}content/colleges/wimbledon/">Wimbledon</a></li>
          </ul>
        </nav>
      {% endif %}
  </div>
  <div class="row">
  {% include header.html %}
  </div>
</div>
</header> <!-- end .ual-header -->

  {% if page.section != "course finder" and page.section != "home" %}
    
    <div class="header-panel bg-gray-bg">
      <div class="header-wrapper">
          <div class="row">
            <!-- breadcrumbs -->
            {% if page.college == "lcf" %}
              {% include _lcf_breadcrumb.html %}
            {% else if page.college == "lcc" %}
              {% include _lcc_breadcrumb.html %}
            {% else if page.college == "ual" %}
              {% include _breadcrumb.html %}
            {% endif %} 
          </div>
          <div class="row"> 

            {% if page.section != "graduate-school" %}
                <!-- main page title -->
                <h1>{{ page.title }}</h1>
            {% endif %}
          </div>
      </div>    
    </div><!-- .header-panel -->
  {% endif %}

{% endif %}
{{ content }}
 
 {% case page.college %}
    {% when "csm" %}
      {% include _csm_footer.html %}
    {% when "lcc" %}
      {% include _lcc_footer.html %}
    {% when "lcf" %}
      {% include _lcf_footer.html %}
    {% when "chelsea" %}
      {% include _chelsea_footer.html %}
    {% when "camberwell" %}
      {% include _camberwell_footer.html %}
    {% when "wimbledon" %}
      {% include _wimbledon_footer.html %}
    {% else %}
     
  {% endcase %}

  {% if page.template == true %}
      {% include _global_footer.html %}
  {% endif %}


  <!-- 
  To be added to the layout in Site Manager
  <script src="//use.resrc.it"></script> 
  -->


  <!-- Development scripts, not for production -->
  <script src='{{ site.url }}/assets/js/dev/gridset-overlay.js' type='text/javascript'></script>

  <!--<script src='{{ site.url }}/assets/js/dev/hashgrid.js' type='text/javascript'></script>-->


  <script src='{{ site.url }}/assets/js/dev/hashgrid.js' type='text/javascript'></script>

  <script src="http://code.jquery.com/jquery-1.9.1.js"></script>

  <script src="http://code.jquery.com/jquery-migrate-1.2.1.js"></script>

  <script src='{{ site.url }}/assets/js/dev/debug.js' type='text/javascript'></script>

  <script src='{{ site.url }}/assets/js/dev/debug.rwd.js' type='text/javascript'></script>


  <!-- Background video 
  <script src='{{ site.url }}/assets/js/libs/bg-video.js'></script>-->

  
  <!-- fastClick -->
  <script src='{{ site.url }}/assets/js/libs/fastclick.js' type='text/javascript'></script>

  <!-- FitText -->
  <script src='{{ site.url }}/assets/js/libs/jquery.fittext.js' type='text/javascript'></script>

  <script src='{{ site.url }}assets/js/script.js' type='text/javascript'></script>



  <script type="text/javascript" src="http://artslondon.github.io/beta/assets/js/libs/megamenu_plugins.js"></script><!-- Mega Menu Plugins -->
  <script type="text/javascript" src="http://artslondon.github.io/beta/assets/js/libs/megamenu.js"></script><!-- Mega Menu Script -->
  <script>
  $(document).ready(function($){
      $('.megamenu').megaMenuCompleteSet({
          menu_effect : 'open_close_slide', // Drop down effect, choose between 'hover_fade', 'hover_slide', etc.
          menu_click_outside : 1, // Clicks outside the drop down close it (1 = true, 0 = false)
          menu_show_onload : 0, // Drop down to show on page load (type the number of the drop down, 0 for none)
          menu_responsive:1 // 1 = Responsive, 0 = Not responsive
      });
      $('body').addClass('menu-loaded');
  });
</script>  
  </body>


</html>