<!DOCTYPE html>
<!-- HTML5 Mobile Boilerplate -->
<!--[if IEMobile 7]><html class="no-js iem7"><![endif]-->
<!--[if (gt IEMobile 7)|!(IEMobile)]><!--><html class="no-js" lang="en"><!--<![endif]-->

<!-- HTML5 Boilerplate -->
<!--[if lt IE 7]><html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if (IE 7)&!(IEMobile)]><html class="no-js lt-ie9 lt-ie8" lang="en"><![endif]-->
<!--[if (IE 8)&!(IEMobile)]><html class="no-js lt-ie9" lang="en"><![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"><!--<![endif]-->

<!-- Basic Page Needs
================================================= -->
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<title>{{ page.title }}</title>

<meta name="description" content="">
<meta name="author" content="">

<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

<!-- Place favicon.ico and apple-touch-icon.png in the root directory -->

{% include _html.head.tpl.html %}

<body>
<!--[if lt IE 7]>
<p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> to improve your experience.</p>
<![endif]-->

<!-- Begin adding your site or application content here -->

<!-- Container <div class="container"> -->

<!-- This is the header information. You can add things like logos and navigation here. -->

<header>
<!-- Header --> {% include _header.1.html %} <!-- End of Header -->
</header>

<!-- The Main content area can be used to create lots of different block areas. 
As Jeffery Zeldman once said, "Content precedes design. Design in the absence 
of content is not design, it's decoration." -->
<div class="clearfix"></div>

<!-- Breadcrumb --> {% include components/HF03v1.breadcrumb.html %} <!-- End of Breadcrumb -->

<!-- Content --> {{content}} <!-- End of Content --> 

<footer>
<!-- Footer --> {% include _footer.tpl.html %} <!-- End of Footer -->
</footer>

<!-- </div> End Of Container -->

{% include _html.footer.tpl.html %}	

</body>
</html>