{% include _head.html %}

  <body class='style {{ page.college }} {{ page.section }}'>

{% if page.template == true %}

  {% include _global_banner.html %}
  {% include _new_header.html %}
  
  {% if page.college == "lcf" %}
    {% include _lcf_breadcrumb.html %}
  {% else if page.college == "ual" %}
    {% include _breadcrumb.html %}
  {% endif %}

{% endif %}

{% if page.section != "home" and page.section != "graduate-school" %}
    <div class="header-panel bg-gray-bg">
      <div class="content-wrapper">
          <h1>{{ page.title }}</h1>
      </div>
    </div>
{% endif %}

{{ content }}

{% if page.college %}
  {% include _college_footer.html %}
{% endif %}


  {% if page.template == true %}
      {% include _footer_journeys.html %}
      {% include _global_footer.html %}
  {% endif %}

  <script>
    Modernizr.Detectizr.detect({detectScreen:false});
  </script>

  <script>
    if (typeof jQuery == 'undefined') {
        document.write(unescape("%3Cscript src='{{ site.url }}/assets/js/libs/jquery-1.8.2.min.js' type='text/javascript'%3E%3C/script%3E"));
    }
  </script>

  <!-- load in jQuery Mobile 
  <script src="http://code.jquery.com/mobile/1.2.1/jquery.mobile-1.2.1.min.js"></script>-->
  

  <!-- /%script{:type => "text/javascript", :src  => "{{ site.url }}/assets/js/libs/jquery.jpanelmenu.min.js"} -->
  
  <!-- Development scripts, not for production -->
  <script src='{{ site.url }}/assets/js/dev/gridset-overlay.js' type='text/javascript'></script>
  <script src='{{ site.url }}/assets/js/dev/hashgrid.js' type='text/javascript'></script>

  <!-- Add Media Queries support for IE 6-8 -->
  <script src='{{ site.url }}/assets/js/libs/respond.min.js' type='text/javascript'></script>
  <script src='{{ site.url }}/assets/js/libs/jquery.lettering.js' type='text/javascript'></script>
  <script src='{{ site.url }}/assets/js/libs/responsive.text.js' type='text/javascript'></script>
  <script src='{{ site.url }}/assets/js/libs/picturefill.js' type='text/javascript'></script>
  <script src='{{ site.url }}/assets/js/libs/hoverintent.js' type='text/javascript'></script>
  
  <script src='{{ site.url }}/assets/js/libs/jquery.fitvids.js' type='text/javascript'></script>
  <script src='{{ site.url }}/assets/js/libs/jquery.expandable.js' type='text/javascript'></script>
  <script src='{{ site.url }}/assets/js/components/jquery.bxslider.js'></script>
  <script src='{{ site.url }}/assets/js/libs/magnific-lightbox.js'></script> 

  <script src='{{ site.url }}/assets/js/libs/jquery.fittext.js' type='text/javascript'></script>
  <script src='{{ site.url }}/assets/js/dev/debug.js' type='text/javascript'></script>

  <script src='{{ site.url }}/assets/js/dev/debug.rwd.js' type='text/javascript'></script>

  
  <script src='{{ site.url }}/assets/js/foundation/zepto.min.js' type='text/javascript'></script>
  <script src='{{ site.url }}/assets/js/foundation/foundation.min.js' type='text/javascript'></script> 
  <script src='{{ site.url }}/assets/js/foundation/foundation.interchange.js' type='text/javascript'></script>

  <!-- fastClicks script - improve click speed on mobile -->
  <script src='{{ site.url }}/assets/js/libs/jquery.fastClick.js' type='text/javascript'></script>

  <!-- Scripts -->
  <script src='{{ site.url }}/assets/js/script.js' type='text/javascript'></script>


  {% if page.college == "lcf" %}
    {% include _ual_scripts.html %}
  {% else if page.college == "ual" %}
    {% include _ual_scripts.html %}
  {% else if page.college == "lcc" %}
    {% include _lcc_scripts.html %}
  {% else if page.college == "csm" %}
    {% include _csm_scripts.html %}
  {% else if page.college == "ccw" %}
    {% include _ccw_scripts.html %}
  {% else if page.college == "camberwell" %}
    {% include _ual_scripts.html %}
  {% else if page.college == "chelsea" %}
    {% include _chelsea_scripts.html %}
  {% else if page.college == "wimbledon" %}
    {% include _wimbledon_scripts.html %}
  {% else %}

  {% endif %}
  
  {% if page.content-type == "course-finder-results" %}
     {% include _course-finder-scripts.html %}
  {% endif %}

  </body>


</html>