extends ../../_layout/_base
block vars
	- var bodyClass = "lcf";
	- var Title = "lcf-four-up-gallery";
	- var Sidebar = true;
	- var Banner = true;
block content
	.row
		.__gallery.four-up
			ul
				li(data-tag='', style='min-height: 138px;')
					a.no-border(href='/fashion/people/student-voices/alejandra-cecilia-teran-amozorrutia/', title='')
						figure
							img.m-hide(src='http://app.resrc.it/o=60/http://www.arts.ac.uk/media/arts/colleges/lcf/images/placeholder-lcf-580-4.jpg', alt='Placeholder image')
							.credits Katarina Voloder
					h3.size-h5
						a(href='/fashion/people/student-voices/alejandra-cecilia-teran-amozorrutia/', title='') Alejandra Cecilia Teran Amozorrutia
					p MSc Cosmetic Science
				li(data-tag='', style='min-height: 138px;')
					a.no-border(href='/fashion/people/student-voices/amaya-ducru-clothier/', title='')
						figure
							img.m-hide.resrc(data-src='http://app.resrc.it/C=SQ/C=W75P,H75P,XOF50,YOF20/S=W300/http://www.arts.ac.uk/media/arts/colleges/lcf/lcf-people/students/img/amaya-ducru-clouthier1306-653.jpg', alt='', data-resrc-width='369', src='http://app.resrc.it/c=sq/c=w75p,h75p,xof50,yof20/s=w370,pd1/http://www.arts.ac.uk/media/arts/colleges/lcf/lcf-people/students/img/amaya-ducru-clouthier1306-653.jpg')
					h3.size-h5
						a(href='/fashion/people/student-voices/amaya-ducru-clothier/', title='') Amaya Ducru Clothier
					p BA (Hons) Fashion Styling and Production
				li(data-tag='', style='min-height: 138px;')
					a.no-border(href='/fashion/people/student-voices/amber-jane-butchart/', title='')
						figure
							img.m-hide.resrc(data-src='http://app.resrc.it/http://www.arts.ac.uk/media/arts/colleges/lcf/lcf-people/alumni/amber-jane-butchart420.jpg', alt='', data-resrc-width='369', src='http://app.resrc.it/s=w370,pd1/http://www.arts.ac.uk/media/arts/colleges/lcf/lcf-people/alumni/amber-jane-butchart420.jpg')
					h3.size-h5
						a(href='/fashion/people/student-voices/amber-jane-butchart/', title='') Amber Jane Butchart
					p MA History and Culture of Fashion
				li(data-tag='', style='min-height: 138px;')
					a.no-border(href='/fashion/people/student-voices/ane-lynge-jorlen/', title='')
						figure
							img.m-hide.resrc(data-src='http://app.resrc.it/http://www.arts.ac.uk/media/arts/colleges/lcf/lcf-people/alumni/ane-lynge-jorlen210.jpg', alt='', data-resrc-width='369', src='http://app.resrc.it/s=w370,pd1/http://www.arts.ac.uk/media/arts/colleges/lcf/lcf-people/alumni/ane-lynge-jorlen210.jpg')
					h3.size-h5
						a(href='/fashion/people/student-voices/ane-lynge-jorlen/', title='') Ane Lynge Jorlen
					p MA History and Culture of Fashion
