extends ../../_layout/_base
block vars
	- var bodyClass = "ual";
	- var Title = "homepage-events";
	- var Sidebar = false;
	- var Banner = false;
block content
	.panel.ual-white-bg
		.content-wrapper
			.row.fe
				.l-content-full-width.block.__media.four-up-full
					h2
						| Upcoming UAL events -
						a(href='http://ual.force.com/apex/eventpage', title='View all events') View all events
					ul
						li(style='min-height: 593px;')
							figure.feature
								a(href='http://events.arts.ac.uk/apex/EventFormPage?id=a0RD000000ABP8eMAH&book=true', title='Where We Stand')
									img(src='http://app.resrc.it/o=60/http://www.arts.ac.uk/media/arts/homepage-images/events/LCC_MA_Photojournalism.jpg', alt='Where We Stand')
							.nopadding
								h3
									a(href='http://events.arts.ac.uk/apex/EventFormPage?id=a0RD000000ABP8eMAH&book=true', title='Where We Stand') Where We Stand
								p MA Photojournalism & Documentary Photography (online mode) final show at LCC
						li(style='min-height: 591px;')
							figure.feature
								a(href='http://ual.force.com/apex/EventFormPage?id=a0RD000000ABiPgMAL&book=true', title='Jean Paul Gaultier: Be My Guest')
									img(src='http://app.resrc.it/o=60/http://www.arts.ac.uk/media/arts/homepage-images/events/Jean_Paul_Gaultier.jpg', alt='Jean Paul Gaultier: Be My Guest')
								.credits
									| Ad campaign for the Tribute to Frida Kahlo collection, Women's prêt-à-porter spring/summer 1998; illustration by Fred Langlais and art direction by Jean Paul Gaultier
							.nopadding
								h3
									a(href='http://ual.force.com/apex/EventFormPage?id=a0RD000000ABiPgMAL&book=true', title='Jean Paul Gaultier: Be My Guest') Jean Paul Gaultier: Be My Guest
								p
									span
										| Experience Jean Paul Gaultier’s graphic design work, from advertising to haute couture, at the Fashion Space Gallery.
						li(style='min-height: 591px;')
							figure.feature
								a(href='http://events.arts.ac.uk/apex/EventFormPage?id=a0RD000000ABapTMAT&book=true', title='Made in Arts London: Bigger, Brighter, Bolder')
									img(src='http://app.resrc.it/o=60/http://www.arts.ac.uk/media/arts/homepage-images/events/MIAL.JPG', alt='Made in Arts London: Bigger, Brighter, Bolder')
								.credits Pastures Hokaido, Jessica Windhorst, CSM, 2014,
							.nopadding
								h3
									a(href='http://events.arts.ac.uk/apex/EventFormPage?id=a0RD000000ABapTMAT&book=true', title='Made in Arts London: Bigger, Brighter, Bolder') Made in Arts London: Bigger, Brighter, Bolder
								p
									span
										span Exhibition launching the spring collection by MiAL artists
						li(style='min-height: 591px;')
							figure.feature
								a(href='http://ual.force.com/apex/EventFormPage?id=a0RD000000ABRamMAH&book=true', title='UAL Foundation Shows 2014')
									img(src='http://app.resrc.it/o=60/http://www.arts.ac.uk/media/arts/homepage-images/events/CCW-Foundation-Shows-2014.jpg', alt='UAL Foundation Shows 2014')
							.nopadding
								h3
									a(href='http://ual.force.com/apex/EventFormPage?id=a0RD000000ABRamMAH&book=true', title='UAL Foundation Shows 2014') UAL Foundation Shows 2014
								p
									span
										span See the future of Art and Design at our Foundation Shows 2014 across UAL
