extends _layout/_base
block vars
    - var bodyClass = 'my-page';
    - var Title = 'page title';
    - var Sidebar = true;
    - var Banner = true;
block content
        p Hello, World!!! testing pete edit 2 again
