// Camberwell College Blue

.blue {
	a:link{
		color:$camberwell-college-blue;
		text-decoration:underline;
	} 
}

.purple {
	h1,h2,h3,h4,h5,h6 {
		color: $fashion-college-purple;
		a:link{
			text-decoration:underline;
		}
	}	 
}

.gold {
	h1,h2,h3,h4,h5,h6, a {
		color: $wimbledon-college-gold;
		a:link{
			text-decoration:underline;
		}
	}	 
}

