/* Flexible Carousel
/*-----------------------------------------------------------------------------------*/


.es-carousel-wrapper {
  padding: 0px 0px 0 0px;
  position: relative;
  clear: both;
  margin-left:-20px; }

.es-carousel {
  overflow: hidden;
  ul {
    display: none;
    padding: 0px;
    margin: 0px;
    li {
      height: 100%;
      float: left;
      display: block;
      position: relative;
      span.carousel_caption {
        position: absolute;
        bottom: 10px;
        left: 10px;
        background: image-url("slider_caption_bg.png") repeat;
        color: #fff;
        padding: 5px; }
      b {
        position: absolute;
        right: 0px;
        top: -20px;
       background: image-url("slider_caption_bg.png") repeat;
        color: #fff;
        padding: 3px 5px; }
      a {
        display: block;
        img {
          display: block;
          border: none;
          max-height: 100%;
          max-width: 100%;
          padding: 0px;
          margin: 0px; } } } } }

.es-nav span {
  position: absolute;
  text-indent: -9000px;
  cursor: pointer;
  top: -10px;
  &.es-nav-next {
    right: 45px;
    width: 60px;
    height: 27px;
    background: transparent image-url("c_next.gif") no-repeat top left; }
  &.es-nav-prev {
    left: 45px;
    width: 60px;
    height: 27px;
    background: transparent image-url("c_prev.gif") no-repeat top left; }
  &.es-nav-next:hover {
    background: transparent image-url("c_next_a.gif") no-repeat top left; }
  &.es-nav-prev:hover {
    background: transparent image-url("c_prev_a.gif") no-repeat top left; } }

img.left_icon {
  float: left;
  background: none;
  margin: 0 20px 0 0; }

