#nav-inpage {

    list-style-type: none;
    margin-left:0px;

    ul.multilevel-linkul-0 {
      margin-left:15px;
    }

     li {
border-bottom: 1px solid #C9C9C9;
line-height: 18px;
font-size: 12px;
color: black;
list-style:none;

    &:last-child {
        border-bottom:0px;
    }
    }

    .currentbranch0 {
    font-weight: bold;
    }

    ul.multilevel-linkul-0 a {
   // padding-left: 1em;
    }
      a {
    text-decoration: none;
    font-size: 12px ;
    line-height: 18px;
    padding: 1px 0px;
    display:block;
    }

    a:hover {
text-decoration: none;
background-color: #C9C9C9;

    }
}