#rss-feeds > h3 {
    color: black;
    font-family: arial;
    line-height: 34px;
    text-indent: 5px;
}

#rss-feeds > #nav-inpage > li  {
    border-top: 1px solid $university-slate-light;
    margin-left: 5px;
    // padding-bottom: 3px;
    // padding-top: 3px;
}

#rss-feeds > #nav-inpage > li > a {
	color: rgba(0, 0, 0, 0.8);
	background: $white;
	font-family: arial, helvetica, san-serif;
	line-height:18px;
    padding-top:5px;
    padding-bottom:5px;

}


#rss-feeds > #nav-inpage > li > a:hover {
	color: rgb(75, 109, 129);
	background: $white;
}

