// THUMBNAILS
// ----------

.thumbnails {
  margin-left: -20px;
  list-style: none;
  @include  clearfix;

  div.caption {
    padding-bottom: 10px;
  }

}
.thumbnails > li {
  float: left;
  margin: 0 0 $baseLineHeight 20px; 
  border-top:2px solid rgb(212, 218, 221);

     div.thumbnail {
         padding-top:5px;
     }

}

.thumbnails > li.thumbnail-110 {
          margin-bottom:5px;
        }


.thum
.thumbnail {
  display: block;
  //padding: 4px;
  line-height: 1;
  //border: 1px solid #ddd;
  //@include  border-radius(4px);
  //@include  box-shadow(0 1px 1px rgba(0,0,0,.075));


}
// Add a hover state for linked versions only
a.thumbnail:hover {
  //border-color: $linkColor;
  //@include  box-shadow(0 1px 4px rgba(0,105,214,.25));
  //background-color:$university-slate-blue-light;
  text-decoration: none;
}

a.thumbnail div.thumbnail:hover {
  background-color:$university-slate-light;
}

// Images and captions
.thumbnail > img {
  display: block;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
}
.thumbnail .caption {
  //padding: 9px;
}

.thumbnail {
 
    &.thumbnail-110 > img {
    float:left;
    margin-right:10px;
  }

}