// Main UAl tabbed object
/* --------------------------------------------------
UAL Fourbox teaser
-------------------------------------------------- */

ul.slide-teasers {
	margin-left:0px;
	margin-top:20px;

	> li {
		list-style:none;
		position:relative;

		h3 {
			font-size:12.8px;
		}

		.slide-up {
	    background:image-url('http://www.arts.ac.uk/css/bootstrap/images/slide-down.png');
	    height: 90px;
	    padding-left: 10px;
	    padding-top: 20px;
	    width: 210px;

	     a {
	    	color:$white;
	    	}
		}

		.ie7 .slideup {
	    	background:black;
	    }

	}
}

.slide-up-active {
	position:absolute;
	bottom:5px;
	left:0px;
}