/* Slider
/*-----------------------------------------------------------------------------------*/



.caption_title_line {
  width: auto;
  padding: 0 0 0 25px;
  height: 100px;
  line-height: 69px;
  // background: url(../images/slider_caption_bg.png) repeat;
  color: #fff; }

.flex-caption  {
display:block;
position:absolute;
}

.flex-caption h2 {
  float: left;
  color: #FFFFFF;
  font-size: 26px;
  padding: 0 10px 0 0; }

.flexslider {
  .ual h1, .lcc h1 {
    color: white;
    font-style: italic;
    font-weight: normal;
    margin-bottom: 0;
    font-family: Georgia, Times, 'Times New Roman', serif;
    font-size: 30px; }
  .camberwell {
    h1 {
      color: white;
      font-style: italic;
      font-weight: normal;
      margin-bottom: 0;
      font-family: Georgia, Times, 'Times New Roman', serif;
      font-size: 30px;
      text-indent: -99999px;
      background: image-url("camberwell-h1.png", false) no-repeat;
      width: 379px;
      height: 127px; }
    .flex-caption {
      position: absolute;
      right: 75px;
      bottom: 110px; } }

  .chelsea {
    h1 {
      color: white;
      font-style: italic;
      font-weight: normal;
      margin-bottom: 0;
      font-family: Georgia, Times, 'Times New Roman', serif;
      font-size: 30px;
      text-indent: -99999px;
      background: image-url("chelsea-h1.png",false) no-repeat;
      width: 390px;
      height: 127px; }
    .flex-caption {
        position: absolute;
      left: 44px;
      bottom: 110px; } }
  
    .wimbledon {
    h1 {
      color: white;
      font-style: italic;
      font-weight: normal;
      margin-bottom: 0;
      font-family: Georgia, Times, 'Times New Roman', serif;
      font-size: 30px;
      text-indent: -99999px;
      background: image-url("wimbledon-h1.png", false) no-repeat;
      width: 390px;
      height: 127px; }
    .flex-caption {
        position: absolute;
      left: 44px;
      bottom: 110px; } }

  .ual p, .lcc p  {
    color: white;
    font-style: italic;
    font-weight: normal;
    font-family: Georgia, Times, 'Times New Roman', serif;
    font-size: 16px; } }

   .ual .flex-caption{
  position: absolute;
  left: 0px;
bottom: 0px;
  }

  ul.custom-controls {

    position: absolute;
    bottom:18px;
    left: -25px;

    li {
      float:left;
      width:14.44%;
      height:58px;
      padding-top:20px;
      padding-left:10px;
      padding-right:10px;
      list-style: none;
      display:inline;
      border-right:1px solid $white;
      @include translucent-background($black, .4);

      &:last-child {
        border-right:none;
      }

        a {
          text-decoration: none;
          color:$white;
        }

          &.ual {
      //display:none;
    }

    }
    

  }

   .ual  .flex-caption {
     background: image-url('slider_caption_bg.png') repeat;
    bottom: 0;
    display: block;
    left: 0;
    position: absolute;
    width: 100%;

    h2 {
    font-family: Georgia;
    font-size: 36px;
    font-style: italic;
    line-height: 3.2;
      
    }
}