// UTILITY CLASSES
// Now more useful - see https://gist.github.com/3082457
// ---------------

// Positioning
.relative {
  position: relative;
}

// Quick floats
.pull-right, .alignright {
  float: right;
}
.pull-left, .alignleft {
  float: left;
}
.full-width {
  float: left;
  width: 100%;
}

// Centering text and center-aligning elements
.centered {
  text-align: center;
}
.aligncenter {
  margin: 0 auto;
}

// Quick margins
.add-top {
  margin-top: 20px;
}
.half-top {
	margin-top: 10px;
}
.add-bottom {
  margin-bottom: 20px;
}
.half-bottom {
	margin-bottom: 10px;
}

// Toggling content
.hide {
  display: none;
}
.show {
  display: block;
}

// Visibility
.invisible {
  visibility: hidden;
}