/* Wayfinder */
#wayfinder {
    float: right;
    width: 227px;
    height: 101px;
	position: relative;
}
#wayfinder ul.thumbs {
    float: right;
    clear: both;
    margin: 0;
    padding: 0;
    list-style-type: none;
    position: relative;
    right: 0;
    width: 227px;
}
#wayfinder li {
    display: block;
    float: right;
    margin: 0 0 9px 9px;
    width: 50px;
    height: 50px;
    border-bottom: 2px solid #000;
}
#wayfinder li a {
    background-color: #fff;
}
#wayfinder img {
    border: 0;
    width: 100%;
    width: 100%;
    display: block;
}
#wayfinder .blue { border-color: #3771d3; }
#wayfinder .red { border-color: #fd2939; }
#wayfinder .orange { border-color: #ff7800; }
#wayfinder .green { border-color: #4fad26; }
#wayfinder .purple { border-color: #C51B8A; }
#wayfinder .gold { border-color: #ce8e00; }
#wayfinder .large { width: 111px; height: 111px; }
#wayfinder-caption { position: absolute; top: 169px; margin-left: 9px; }
