// CCW Styles - for Summershows and World Map Project

aside.ccw-summershows {
	font-family: "Arial", Helvetica,  sans-serif;
	line-height:16px;
	p {
	font-size:12px;
	padding: 7px 0 7px 0;
	}
	.summer-shows-title{
		font-size:16px;
		padding: 7px 0 0 0;
		font-weight: bold;
		margin:0px;
	}
	span {
		font-size:12px;
		padding: 7px 0 7px 0;
		font-style:italic;
	}
}

/* Lists */
.inline {
	margin-left: 0;
	li {
		list-style: none;
		float: left;
	}
}

.social {
	li {
		margin-right: 8px;
			&:last-child {
				margin-right: 0;
			}
	}	
}

.markers {

	li {
		padding: 8px 10px 8px 30px;
		background: url('<t4 type="media" id="153024" />') 0 0 no-repeat;
		&.red {
			background-position: 0 -42px;
		}
		&.green {
			background-position: 0 -84px;
		}
	}
	 
}