// CLEARING 2012
// ---------

$red: #b71f1f;
$white: #fff;
$size: 21px;

// Parent container
#clearing { 
	position: absolute;
	top: 100px;
	text-align: left;
	font-family: arial;
	z-index: 99;
	p {
		display: inline-block;
		background: $red;
		color: $white;
		font-size: $size;
		padding: 6px;
		margin-bottom: 4px;
		a {
			color: $white;
			text-decoration: underline;
			background: #B71F1F;
		}
	}
}