/* Custom styles for LCF templates */

@import "variables.scss"; // Modify this for custom colors, font-sizes, etc
@import "mixins.scss";

/* Full width window */
.full-width-window {
	padding-top: 10px;
	padding-bottom: 0;
}

.full-width-window .window-large {
	width: 470px;
}

.full-width-window .window-small {
	width: 225px;
	margin-left: 10px;
	p {
		margin-bottom: 10px;
	}
}

/* Borders */
.border-top {
	border-top: 1px solid $gray;
}

.border-bottom {
	border-bottom: 1px solid $gray;
}

.border-top-light {
	border-top: 1px solid $grayLighter;
}

@mixin border-top-light {
	border-top: 1px solid $grayLighter;
}

.border-bottom-light {
	border-bottom: 1px solid $grayLighter;
}

@mixin border-bottom-light {
	border-bottom: 1px solid $grayLighter;
}

/* Text treatments */
.landing-page-intro h1 {
	margin-bottom: 0.5em;
}

.standfirst { // could introduce mixins here
	font-size: $superBaseFontSize;
	line-height: 22px;
} 

.sub-size {
	font-size: $subBaseFontSize;
}

.italic {
	font-style: italic;
}

/* Block lists */
.block-list-item {
	height: 120px;
	padding: 10px 0;
	@include border-top-light;
}


/* Big caption for Showcase video */
.tint {
	background-color: $grayLightTint;
	padding: $gridGutterWidth;
}

.up-caption {
	margin-top: -25px;
}

/* Showtime & Flickr JSON feed */
.thumb-list {
	margin-left: 0;
}

.thumb-list .thumb {
	list-style: none;
	display: inline-block;
	margin: 0 10px 10px 0;
	.thumb-image img {
		max-height: 51px;
	}
}

.showtime-json .thumb {
	width: 51px;
	height: 51px;
}

.loader {
	background: url('<t4 type="media" id="146220" />') top left no-repeat;
	width: 51px;
	height: 51px;
}


/* Tooltips */
.jqt-tooltip {
  display:none;
	background: #fff;
	border: 2px solid #D4DADD;
  height:163px;
  padding:20px;
  width:300px;
  font-size:11px;
  z-index: $zindexTooltip;
  &.in     { @include opacity(80); }
  &.top    { margin-top:  -6px; }
  &.right  { margin-left:  2px; }
  &.bottom { margin-top:   2px; }
  &.left   { margin-left: -2px; }
  &.top .arrow    {  
		@include top(); 
		position: absolute;
		bottom: -5px;
	  width: 0;
	  height: 0;
		border-top-color: $grayLighter;
	}
  &.left .arrow   {  @include  left(); }
  &.bottom .arrow {   @include  bottom(); }
  &.right .arrow  {  @include  right(); }
	h4 {
		margin-bottom: 1em;
	}
}

.jqt-tooltip-inner {
  padding: 3px 8px;
  text-decoration: none;
}

.jqt-tooltip-thumb {
	max-width: 160px;
  float: left;
	margin-right: 9px;
}


/* Columns */
h3.border {
	border-bottom: 2px solid $grayLighter;
	margin-bottom: $gridGutterWidth/2;
}

.feature-block {
	margin-bottom: $gridGutterWidth;
	a:hover {
		text-decoration: none;
	}
	h3 {
		line-height: 22px;
	}	
}

.column {
	ul li {
		border-bottom: 1px dotted $grayLighter;
		padding: 4px 0;
	}
	img {
		margin-bottom: 10px;
	}
}

/* Mega blockquotes */
.full-width-quote {
	padding: 20px 0 30px;	
	blockquote {
		margin: 0;
		padding: 0;
		border: 0 none;
		p {
			font-weight: bold;
			font-style: italic;
			font-size: 48px;
			line-height: 58px;
			color: $black;
			margin-bottom: 20px;
		}
		footer {
			font-size: 26px;
		}
	}
}

/* EMBA call to action */
.emba #call-to-action {
	position: absolute;
	bottom: 22px;
	right: 0;
}

/* EMBA blacks */
.emba {
	background-color: $black;
	color: $white;
}
.emba h1, .emba h3 {
	color: $white !important;
}
.emba #ual-header nav a, .emba .full-width-quote blockquote p {
	color: $white;
}

/* Extra utilities, for possible inclusion in utilities.scss */
.pad-top {
	padding-top: 20px;
}
.pad-bottom {
	padding-bottom: 20px;
}

/* Well-like things */
.well .nav, .nav-container .nav {
	margin-bottom: 0;
}


.nav-container {
	min-height: 20px;
  padding: 19px;
  background-color: $grayLightTint;
}


.inner.border-left {
	padding-left: 20px;
	border-left: 1px solid $hrColor;
}

/* Maps */
#full-width-window .map {
	height: 400px;
}

#map_canvas {
	img {
		max-width: none; // fixes bug in Google maps
	}
	p img {
		float: left;
		margin-right: 10px;
	}
}

#map-key {
	background-color: #fff;
	div {
		float: left;
		width: 30%;
		text-align: center;
		margin-right: 1%;
		font-size: 0.85em;
	}
}	

#welcome-window {
	line-height: 1.3em;
}
