#creditfooter {
	display: none;
}

#annoucements {
	h2 {
		font-size: 24px;
		margin-bottom: 14px;
	}
	ul {
		margin: 0;
		padding: 0;
	}
	li {
		list-style-type: none;
		padding-bottom: 10px;
	}
}

#news {
	h2 {
		font-size: 24px;
		margin-bottom: 14px;
	}
	ul {
		margin: 0;
		padding: 0;
	}
	li {
		list-style-type: none;
		padding-bottom: 10px;
		div p {
			background: #000;
		}
	}
}

#events	 {

}