.button-link {
	display: inline-block;
  background: $primary;
  color: $ual-white;
	margin: rhythm(4, 16px) 0 rhythm(3, 16px) 0; 	
	padding: rhythm(4, 16px) rhythm(3, 16px) rhythm(3, 16px) rhythm(3, 16px); 	
  -webkit-transition-duration: 0.2s;
  -moz-transition-duration: 0.2s;
  transition-duration: 0.2s;
  -webkit-user-select:none;
  -moz-user-select:none;
  -ms-user-select:none;
  user-select:none;
  border-bottom: none;
}
.button-link:hover {
  background: $aaa-gray;
  color: $ual-white;
  text-decoration: none;
  border-bottom: none;
}
.button-link:active {
  background: #2E5481;
  border: solid 1px #203E5F;
}
