// .footer {
// 	font-size: emCalc(16px);

// 	ul li {
// 		display: inline;
// 	}
// 	.primary, .secondary {
// 		@include gs-media(t,min-max) {
// 			@include gs-span(t,all);
// 		}
// 		@include gs-media(d,min-max) {
// 			@include gs-span(d,all);
// 		}
// 		ul {
// 			float: left;
// 		}
// 		p {
// 			float: right;
// 		}
// 	}
// 	.primary {
// 		background: $primary;
// 		a {
// 			color: $ual-white;
// 			border-bottom: 1px dotted $ual-white;
// 			&:hover {
// 				border-bottom: 1px solid $ual-white;
// 			}
// 		}
// 	}
// }

footer {
	margin-top: 0 !important;
	margin-bottom: 0 !important;
	@include padding-leader(4);

	.copyright {
		font-size: 12px;
		font-weight: 300;
	}
}


.primary-links {
	li {
		display: inline;
		font-weight: 300;
		padding-right: rhythm(2,16px);
		border-bottom: 0;
		&:last-child {

			@include gs-media(d, min-max) {
				@include gs-span(d, 15, 16);
			}
			
			padding-right: 0;
		}
		
	}

	a {
		color: $ual-white;
		border-bottom: 1px dotted $ual-white;
		font-weight: 300;
		font-size: 13px;
		&:hover {
			border-bottom: 1px solid $ual-white;
		}
	}
}

.secondary-links {
	li {
		display: inline;
		padding-right: rhythm(2,16px);
		font-weight: 300;
		border-bottom: 0;
		&:last-child {
			@include gs-media(d, min-max) {
				@include gs-span(d, 15, 16);
			}
			
			padding-right: 0;
		}
	}

	a { 
		color: $ual-white;
		border-bottom: 1px dotted $ual-white;
		font-weight: 300;
		font-size: 13px;
		&:hover {
			border-bottom: 1px solid $ual-white;
		}
	}
}

.footer-journeys-panel {
	background-color: $dark-gray;
	display: none;
}

.footer-journeys {
	> li {
		border-bottom: 1px solid black;
		h3 {
			color: white;
			font-size: 24px; 
			font-weight: 300;
		}
	}

	> li:last-child {
		border-bottom: none;
	}
}

.journey-breadcrumb {
	width: 100%;
  	margin-bottom: 0;
    padding-bottom:12px;
    padding-top:12px;

    li { 
    	display: inline-block; 
    	background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAASCAYAAABit09LAAAAX0lEQVR42qXSMRHAIBBEUQRQICECERA5kYKEnKLjfpWO3ZkUfwvmDQ20iFjVk5ntFHBUr8KMhRkLMxZmLMxYmJG46hye8FVldTs3UnfQ4MxCZCESSLz1v9+j0QenQrQBXBAW7noKn+MAAAAASUVORK5CYII=);
      	background-repeat: no-repeat;
      	background-position: right 12px; 
      	padding-right: 24px;
      	margin-left: 12px;
      	margin-bottom: 12px;
      	border-bottom: 0;

      	&:first-child {
      		margin-left: 12px;
      	}
    }
    
    a {
      display: inline-block;
      padding-left: 18px;
      
      color: $ual-white;
      font-size: 13px;
      line-height: 18px;
      font-weight: 300;
      border-bottom: 1px dotted $light-gray;
		
	  &:hover {
	  	border-bottom: 1px solid $light-gray;
	  }
      &:first-child {
        padding-left:0px;
      }

    }
}

// the back to top button which appears 
// after scrolling down the page
.back-to-top {
	display: none;
	position: fixed;
	right: 1em;
	bottom: 1em;
	padding: 0.5em 0.5em 1px 0.5em;
	font-size: 12px;
	font-weight: 300;
	border-bottom: 1px dotted $light-gray;
	
	&:hover {
	  border-bottom: 1px solid black;
	}
}
