.hero-unit {
	// padding: rhythm(2, 16px) 0 rhythm(5, 16px) 0; 	
	.page-title {

		@include gs-media(t,min-max) {
			@include gs-span(t,all);
			color: $primary;
		}
		@include gs-media(d,min-max) {
			@include gs-span(d,1,12);
			color: $primary;
		}
	}
	.feature-text {
		padding-bottom: rhythm(1, 16px); 	

		@include gs-media(t,min-max) {
			@include gs-span(t,all);
			color: $primary;
			font-size: emCalc(18px);
			padding-bottom: rhythm(3, 18px); 	
		}
		@include gs-media(d) {
			@include gs-span(d,9,16);
			color: $primary;
			font-size: emCalc(24px);
			padding-top: rhythm(6, 24px); 	
		}
	}
}