// image block
.image-block {
	@include gray-dotted-border-bottom;

	@include gs-media(t,min-max) {
		@include gs-span(t,2,7);
	}
	@include gs-media(d,min-max) {
			@include gs-span(d, 5, 12, (5, 16));
	}

	figure {
		figcaption {
			font-size: emCalc(14px);
		}
	}
}

// image block with aside 
.image-block-aside {
	@include gs-media(t,min-max) {
		@include gs-span(t,2,7);
	}
	.heading {
		@include gs-media(d,min-max) {
			@include gs-span(d, 5, 12, (5, 16));
		}
	}
	.image {

		aside {
			@include gray-dotted-border-bottom;

			@include gs-media(d) {
				@include gs-span(d,13,16);
				font-size: emCalc(14px);
				border: none;

			}
			@media screen and (min-width: 75em) {
				font-size: emCalc(16px); 
			}
		}
		figure {

			@include gs-media(d) {
			@include gs-span(d, 5, 12, (5, 16));
				border-bottom: 1px dotted $light-gray;
				padding-bottom: rhythm(7, 16px);
				margin-bottom: rhythm(6, 16px);
			}
			figcaption {
				font-size: emCalc(14px);
			}
		}	
	}

	
}


// image block with text & aside 
.image-block-text-and-aside {
	
	@extend .image-block-aside;
	
	.image {

		figure {
			border-bottom: 0;

			@include gs-media(d) {
				padding-bottom: 0;
			}
		}
		
		
		figcaption {
			font-size: emCalc(14px);
		}

	}

	.text { 
		@include gs-span(d,5,12);
		@include gray-dotted-border-bottom;
		clear: left; 
		@include gs-media(d,min-max) {
			padding-bottom: rhythm(7, 16px);
			margin-bottom: rhythm(6, 16px); 
		}
	}

	
	

	
	
}

// image block with introduction
.image-block-with-intro {
	@include gray-dotted-border-bottom;

	@include gs-media(t,min-max) {
		@include gs-span(t,2,7);
	}
	@include gs-media(d,min-max) {
			@include gs-span(d, 5, 12, (5, 16));
	}
}

// image block with leading introduction
.image-block-with-leading-intro {
	
	@include gray-dotted-border-bottom;

	@include gs-media(m,min-max) {
		ul {
			li {
				min-height: 80px;
			}
			figure {
				@include gs-span(m,1,1);
			}
			.text {
				@include gs-span(m,2,4);
			}
		}
	}

	@include gs-media(t,min-max) {
		@include gs-span(t,2,7);
		ul {
			li {
				width: gs-width(t, 2, 4, (2,7), true);
				@include gs-float(t, left, (2,7));
			}
			li:last-child {
				margin-right: 0;
			}
		}
	}

	@include gs-media(d) {
			@include gs-span(d, 5, 12, (5, 16));
		ul {
			figure {
				width: gs-width(d, 5, 8, (5,12), true);
				@include gs-float(d, left, (5,12));
			}
			.text {
				width: gs-width(d, 9, 12, (5,12), true);
				@include gs-float(d, left, (5,12));
				margin-right: 0;
			}
		}
	}
}

