// image lists with text
.image-list-with-text {
	@include gray-dotted-border-bottom;
	ul {
		padding-top: 0;
	}
	figure {
		a {
			@include no-border;
		}
	}
	.title {
		font-weight: 500;
	}

	@include gs-media(t,min-max) {
		@include gs-span (t,2,7);
		figure {
			width: gs-width(t, 2, 3, (2,7), true);
			@include gs-float(t, left, (2,7));
			padding-top: rhythm(2,16px);
		}
		.text {
			width: gs-width(t, 4, 7, (2,7), true);
			@include gs-float(t, left, (2,7));
			margin-right: 0;
			padding-bottom: rhythm(4,16px);
		}
	}

	@include gs-media(d,min-max) {
		@include gs-span (d,5,16);
		figure {
			width: gs-width(d, 5, 8, (5,16), true);
			@include gs-float(d, left, (5,16));
			padding-top: rhythm(2,16px);

		}
		.text {
			width: gs-width(d, 9, 16, (5,16), true);
			@include gs-float(d, left, (5,16));
			margin-right: 0;
			padding-bottom: rhythm(4,16px);	
		}
	}
}