.panel {
	width: 100%;
	float: left;
	display: block;
	// margin-top: rhythm(4, 16px);
	// margin-bottom: rhythm(4, 16px);
	padding-bottom: rhythm(4, 16px);
}

.header-panel {
	width: 100%;
	float: left;
	display: block;
	padding-bottom: rhythm(4, 16px);
	margin-bottom: 6px;
	border-left: 6px solid $ual-black;
	h1 {
		color: $dark-gray;
	}
	// custom variation for colleges namespace
	.camberwell & {
		border-left: 6px solid $logo-gray;
	}
	.csm & {
		border-left: 6px solid $logo-gray;
	}
	.chelsea & {
		border-left: 6px solid $logo-gray;
	}
	.lcc & {
		border-left: 6px solid $logo-gray;
	}
	.lcf & {
		border-left: 6px solid $logo-gray;
	}
	.wimbledon & {
		border-left: 6px solid $logo-gray;
	}
}

.footer-panel {
	width: 100%;
	float: left;
	display: block;
	margin-top: rhythm(4, 16px);
	margin-bottom: rhythm(4, 16px);
}

