.panel {
	width: 100%;
	float: left;
	display: block;
	// margin-top: rhythm(4, 16px);
	// margin-bottom: rhythm(4, 16px);
	padding-bottom: rhythm(4, 16px);
}

.header-panel {
	width: 100%;
	float: left;
	display: block;
	padding-bottom: rhythm(4, 16px);
	margin-bottom: rhythm(4, 16px);
	h1 {
		color: $dark-gray;
	}
}

.footer-panel {
	width: 100%;
	float: left;
	display: block;
	margin-top: rhythm(4, 16px);
	margin-bottom: rhythm(4, 16px);
}

