// text block

.text-block {
	@include component-spacing-bottom;

	@include gs-media(t,min-max) {
	@include gs-span(t,2,7);
	}
	@include gs-media(d) {
		// @include gs-span(d,5,12);
		@include gs-span(d, 5, 12, (5, 16));
	}

	p.leader {
		font-size: emCalc(18px);
		@include gs-media(t,min-max) {
			font-size: emCalc(18px);
		}
		@include gs-media(d) {
			font-size: emCalc(24px);
		}
	}
}

// text block with aside

.text-block-aside {
	@include gs-media(t,min-max) {
		 @include gs-span(t,2,7);

	}
	.text {
		@include gs-media(d) {
			// @include gs-span(d,5,12);
			@include gs-span(d, 5, 12, (5, 16));
			@include component-spacing-bottom;
		}
		p.leader {
			font-size: emCalc(18px);
			@include gs-media(t,min-max) {
				font-size: emCalc(18px);
			}
			@include gs-media(d) {
				font-size: emCalc(24px);
			}
		}
	}
	aside {

		@include component-spacing-bottom;

		@include gs-media(d) {
						@include gs-span(d, 14, 16, (5, 16));
			font-size: emCalc(14px);
			border: none;
		}
	}
}

.text-block, .text-block-aside {
	ul {
		li {
			list-style-type: none;
			background: url('http://artslondon.github.io/beta/assets/img/new/ul-bullet.png') no-repeat top left;
			padding: rhythm(1, 16px) 0 rhythm(1, 16px) rhythm(4, 16px); 	
		}
	}
}



