.top-stories {
	background: $bg-gray;
	padding: 24px;
	h2 {
		padding: 0;
	}
	.date {
		font-size: 36px;
		font-weight: bold;
		padding-bottom: 0;	
	}
	@include gs-media(t,min-max) {
		@include gs-span(t,2,7);
	}
	@include gs-media(d) {
		@include gs-span(d, 13, 16, (5, 16));
	}	
}
