---
layout: style-guide.tpl
title: University of the Arts London - Website Style Guide
class-home: docs
---

<div class="row">
  {% include _global_banner.html %}
  {% include _new_header.html %}

</div> <!-- end .row -->

<div class="row">
	<ul class="slider bxslider">
	  <li><img src="../assets/img/placeholders/home_car_test1.jpg" alt=""></li>
	  <li><img src="../assets/img/placeholders/home_car_test3.jpg" alt=""></li>
	  <li><img src="../assets/img/placeholders/home_car_test2.jpg" alt=""></li>
	</ul>
</div>


<p>Test to see if updating locally</p>