// $visual-grid: false !default; // Display the base grid
$visual-grid: true; // Display the base grid
$visual-grid-color: #FFFF00 !default;
// $visual-grid-index: back !default; // Show grid behind content (back) or overlay it over the content (front)
$visual-grid-index: back; // Show grid behind content (back) or overlay it over the content (front)
$visual-grid-opacity: 0.2 !default;
$visual-grid-breakpoints: () !default;
