.montage { background: url('montage.png') no-repeat; width: 16px; height: 16px; }
.montage.checkbox\-checked\-disabled { background-position: 0px 0px; }
.montage.checkbox\-checked { background-position: -16px 0px; }
.montage.checkbox\-un\-checked\-disabled { background-position: -32px 0px; }
.montage.checkbox\-un\-checked { background-position: -48px 0px; }
.montage.quote_marks { background-position: 0px -16px; }
.montage.quote_marks_big { background-position: -16px -16px; }
.montage.radio\-selected\-disabled { background-position: -32px -16px; }
.montage.radio\-selected { background-position: -48px -16px; }
.montage.radio\-un\-selected\-disabled { background-position: 0px -32px; }
.montage.radio\-un\-selected { background-position: -16px -32px; }
